<div ng-controller="Tasks.WorkflowOverviewController">
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">{{'tasks.comp.workflow.title' | translate}}
                <div class="pull-right">
                    <span class=""><i class='fa fa-plus' ng-click='addNew()'></i></span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <!--<div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination ui-grid-edit-->
            <!--adjust-table-height="gridOptions.data.length" class="grid"></div>-->
        </div>
    </div>
</div>
