<div ng-controller="Tasks.InfoController">
    <div class="clearfix">
        <div class="row">
            <div class="col-xs-6">
                <h4><a href="#" editable-text="taskInfo.title" onaftersave="updateTitle()">{{taskInfo.title ||
                    "Unknown"}}</a></h4>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-text="taskInfo.percentComplete" onaftersave="updatePercentage()">
                        {{taskInfo.percentComplete || 'Unknown'}}</a>
                </div>
                <small class="text-muted">"% of Completion"</small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-select="assignee" onaftersave="updateAssignee()"
                       e-ng-options="a.object_id_s as a.name for a in assignableUsers">{{assignee || 'Unknown'}}</a>

                    <!--<a href="#" editable-select="assignee" onaftersave="updateAssignee()"-->
                    <!--e-ng-options="a.object_id_s as a.name for a in assignableUsers">{{assignee |-->
                    <!--mapKeyValue: assignableUsers:'object_id_s':'name' || 'Unknown'}}</a>-->

                </div>
                <small class="text-muted">Assignee</small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-select="taskInfo.priority" onaftersave="updatePriority()"
                       e-ng-options="p.value as p.text for p in priorities">{{ taskInfo.priority ||
                        'Unknown'}}</a>
                </div>
                <small class="text-muted">Priority</small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-date="taskInfo.taskStartDate" onaftersave="updateStartDate()">{{
                        taskInfo.dueDate |
                        date: "MM/dd/yyyy" || 'Unknown' }}</a>
                </div>
                <small class="text-muted">Start Date</small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-date="taskInfo.dueDate" onaftersave="updateDueDate()">{{ taskInfo.dueDate |
                        date: "MM/dd/yyyy" || 'Unknown' }}</a>
                </div>
                <small class="text-muted">Due Date</small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">{{taskInfo.status || 'Unknown'}}</div>
                <small class="text-muted">State</small>
            </div>

        </div>
        <!--<div class="row">-->
        <!--<div class="col-xs-12 col-md-4">-->
        <!--<div class="h4 font-bold">-->
        <!--<a href="#" editable-select="owningGroup" onaftersave="updateOwningGroup()"-->
        <!--e-ng-options="o.value as o.text for o in owningGroups"> {{owningGroup || 'Unknown'}}</a>-->
        <!--</div>-->
        <!--<small class="text-muted">Owning Group</small>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
