<form>
    <div class="form-group">
        <label>
            <span translate>dashboard.widgets.casesByStatus.timePeriod.label</span>
        </label>
        <select class="form-control" ng-model="config.period">
            <option value="all" translate>dashboard.widgets.casesByStatus.timePeriod.all</option>
            <option value="lastWeek" translate>dashboard.widgets.casesByStatus.timePeriod.lastWeek</option>
            <option value="lastMonth" translate>dashboard.widgets.casesByStatus.timePeriod.lastMonth</option>
            <option value="lastYear" translate>dashboard.widgets.casesByStatus.timePeriod.lastYear</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">
            <span translate>dashboard.widgets.casesByStatus.configDescription</span>
        </label>
        <input type="text" class="form-control" id="description" ng-model="config.description"
               placeholder="{{'dashboard.widgets.casesByStatus.configDescriptionPlaceholder' | translate}}">
    </div>

</form>