<div>
    <div ng-if="cost.showChart">
        <div class="panel-body">
            </br>
            <div class="chart-container">
                <canvas id="bar" class="chart chart-bar" chart-data="cost.data"
                        chart-labels="cost.labels"
                        chart-series="cost.series"
                        chart-responsive="true"
                        chart-legend="true"></canvas>
            </div>
        </div>
    </div>
    <div class="alert" ng-if="!cost.showChart">
        <p class="text-center">
            <span translate>dashboard.widgets.cost.noDataMessage</span>
        </p>
    </div>
</div>