<div>
    <div ng-if="docsUnderReview.showChart">
        <div class="panel-body">
            </br>
            <div class="chart-container">
                <canvas id="bar" class="chart chart-bar" chart-data="docsUnderReview.data" chart-labels="docsUnderReview.labels"
                        chart-series="docsUnderReview.series" chart-responsive="true" chart-legend="true"></canvas>
            </div>
        </div>
    </div>
    <div class="alert" ng-if="!docsUnderReview.showChart">
        <p class="text-center">
            <span translate>dashboard.widgets.docsUnderReview.noDataMessage</span>
        </p>
    </div>
</div>