<div>
    <div ng-if="documents.showChart">
        <div class="panel-body">
            </br>
            <div class="chart-container">
                <canvas id="bar" class="chart chart-bar" chart-data="documents.data"
                        chart-labels="documents.labels"
                        chart-series="documents.series"
                        chart-responsive="true"
                        chart-legend="true"></canvas>
            </div>
        </div>
    </div>
    <div class="alert" ng-if="!documents.showChart">
        <p class="text-center">
            <span translate>dashboard.widgets.documents.noDataMessage</span>
        </p>
    </div>
</div>