<div>
    <div ng-if="hoursSummary.showChart">
        <div class="panel-body">
            </br>
            <div class="chart-container">
                <canvas id="bar" class="chart chart-bar" chart-data="hoursSummary.data"
                        chart-labels="hoursSummary.labels"
                        chart-series="hoursSummary.series"
                        chart-responsive="true"
                        chart-legend="true"></canvas>
            </div>
        </div>
    </div>
    <div class="alert" ng-if="!hoursSummary.showChart">
        <p class="text-center">
            <span translate>dashboard.widgets.hoursSummary.noDataMessage</span>
        </p>
    </div>
</div>