<div>
    <div ng-if="hoursSummary.showChart">
        <div class="panel-body">
            </br>
            <div class="chart-container">
                <canvas id="bar" class="chart chart-bar" chart-data="hourssummery.data"
                        chart-labels="hourssummery.labels"
                        chart-series="hourssummery.series"
                        chart-responsive="true"
                        chart-legend="true"></canvas>
            </div>
        </div>
    </div>
    <div class="alert" ng-if="!hourssummery.showChart">
        <p class="text-center">
            <span translate>dashboard.widgets.hourssummery.noDataMessage</span>
        </p>
    </div>
</div>