<div>
    <div ng-if="newComplaints.showChart">
        <div class="panel-body">
            </br>
            <div class="chart-container">
                <canvas id="line" class="chart chart-line" chart-data="newComplaints.data"
                        chart-labels="newComplaints.labels"
                        chart-series="newComplaints.series"
                        chart-responsive="true"
                        chart-legend="true"></canvas>
            </div>
        </div>
    </div>
    <div class="alert" ng-if="!newComplaints.showChart">
        <p class="text-center">
            <span translate>dashboard.widgets.newComplaints.noDataMessage</span>
        </p>
    </div>
</div>