<form>
    <div class="form-group">
        <label>
            <span translate>dashboard.widgets.teamWorkload.dueDate.label</span>
        </label>
        <select class="form-control" ng-model="config.due">
            <option value="all" translate>dashboard.widgets.teamWorkload.dueDate.all</option>
            <option value="pastDue" translate>dashboard.widgets.teamWorkload.dueDate.pastDue</option>
            <option value="dueTomorrow" translate>dashboard.widgets.teamWorkload.dueDate.dueTomorrow</option>
            <option value="dueInAWeek" translate>dashboard.widgets.teamWorkload.dueDate.dueWeek</option>
            <option value="dueInAMonth" translate>dashboard.widgets.teamWorkload.dueDate.dueMonth</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">
            <span translate>dashboard.widgets.teamWorkload.label.widgetDescription</span>
        </label>
        <input type="text" class="form-control" id="description" ng-model="config.description"
               placeholder="{{'dashboard.widgets.teamWorkload.label.enterWidgetDescription' | translate}}">
    </div>
</form>