<div>
    <div ng-if="teamWorkload.showChart">
        <div class="panel-body">
            <div>
                <p class="text-center h2">{{teamWorkload.chartTitle}}</p>
            </div>
            <div class="chart-container">
                <canvas id="pie" class="chart chart-pie" chart-data="teamWorkload.data"
                        chart-labels="teamWorkload.labels" chart-responsive="true"
                        chart-legend="true"></canvas>
            </div>
        </div>
    </div>
    <div class="alert" ng-if="!teamWorkload.showChart">
        <p class="text-center">
            <span translate>dashboard.widgets.teamWorkload.noDataMessage</span>
        </p>
    </div>
</div>