<form role="form">
    <div class="form-group">
        <label for="location">
            <span translate>dashboard.widgets.weather.label.location</span>
        </label>
        <input type="location" class="form-control" id="location" ng-model="config.location"
               placeholder="{{'dashboard.widgets.weather.label.enterLocation' | translate}}">
    </div>
    <div class="form-group">
        <label for="description">
            <span translate>dashboard.widgets.weather.label.newsWidgetDescription</span>
        </label>
        <input type="location" class="form-control" id="description" ng-model="config.description"
               placeholder="{{'dashboard.widgets.weather.label.enterNewsWidgetDescription' | translate}}">
    </div>
</form>