<div class="text-center">
    <div class="alert" ng-if="!dashboardWeather.weather">
        <p class="text-center">
            <span translate>dashboard.widgets.weather.label.insertLocationInConfiguration</span>
        </p>
    </div>
    <div class="weather" ng-if="dashboardWeather.weather">
        <weather-icon id="{{ dashboardWeather.weather.imgId }}"></weather-icon>
        <h4>{{dashboardWeather.weather.location.city}} ({{dashboardWeather.weather.location.country}})</h4>
        <h3>
            <span translate>dashboard.widgets.weather.label.current</span>
             {{ dashboardWeather.weather.temp.current |
            temp:2:dashboardWeather.units
            }}</h3>
        min: {{ dashboardWeather.weather.temp.min | temp:2:dashboardWeather.units }}, max: {{
        dashboardWeather.weather.temp.max | temp:2:dashboardWeather.units }}
    </div>
</div>
