<div class="panel panel-success">
    <div class="panel-body">
        <div class="clearfix">
            <form>
                <div class="form-group">
                    <label class="control-label col-sm-8">
                        <span translate>dashboard.widgets.pagination.default.label</span>
                    </label>
                    <select class="form-control input-md" ng-model="config.paginationPageSize">
                        <option value=5 translate>dashboard.widgets.pagination.default.fiveRows</option>
                        <option value=10 translate>dashboard.widgets.pagination.default.tenRows</option>
                        <option value=25 translate>dashboard.widgets.pagination.default.twentyFiveRows</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>