<section ng-controller="AdminController">
    <div class="module-content">
        <div class="left-sidebar scroll-body" ng-slimscroll="">
            <div class="module-header">
                <h3>
                    <span translate>admin.title</span>
                </h3>
            </div>
            <div ng-include="'modules/admin/views/components/configurations-tree.client.view.html'" />
        </div>
        <section class="content-body">
        <div class="module-header"></div>
            <div class="well-sm">
                <div data-ui-view></div>
            </div>
        </section>
    </div>
</section>