<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">


    <!-- keeping this bean for now even though we are not using any properties yet.  -->
    <bean id="profilePluginProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="locations">
            <list>
                <value>file:${user.home}/.arkcase/acm/profilePlugin.properties</value>
                <value>file:${user.home}/.arkcase/acm/ecmFileService.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
                <prop key="user.profile.root.folder">/Sites/acm/documentLibrary/User Profile</prop>
                <prop key="ecm.defaultCmisId">alfresco</prop>
            </props>
        </property>
    </bean>

    <bean id="acmUserDao" class="com.armedia.acm.services.users.dao.ldap.UserDao"/>

    <bean id="acmUserOrgDao" class="com.armedia.acm.plugins.profile.dao.UserOrgDao"/>

    <bean id="acmUserOrgService" class="com.armedia.acm.plugins.profile.service.UserOrgServiceImpl">
        <property name="userOrgDao" ref="acmUserOrgDao"/>
        <property name="profileLocation" value="${user.profile.root.folder}"/>
        <property name="muleContextManager" ref="muleContextManager"/>
        <property name="userDao" ref="acmUserDao"/>
        <property name="organizationService" ref="organizationService"/>
        <property name="eventPublisher" ref="profileEventPublisher"/>
        <property name="groupDao" ref="groupDao"/>
        <property name="groupService" ref="groupService"/>
        <property name="defaultCmisId" value="${ecm.defaultCmisId}"/>
    </bean>

    <bean id="profilePlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Profile Plugin"/>
        <property name="pluginProperties" ref="profilePluginProperties"/>
    </bean>

    <bean id="profileEventPublisher" class="com.armedia.acm.plugins.profile.service.ProfileEventPublisher"/>

</beans>
