<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="acmUserOrgDao" class="com.armedia.acm.plugins.profile.dao.UserOrgDao"/>

    <bean id="acmUserOrgService" class="com.armedia.acm.plugins.profile.service.UserOrgServiceImpl">
        <property name="userOrgDao" ref="acmUserOrgDao"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="organizationService" ref="organizationService"/>
        <property name="eventPublisher" ref="profileEventPublisher"/>
        <property name="groupDao" ref="groupDao"/>
        <property name="groupService" ref="groupService"/>
        <property name="ecmFileConfig" ref="ecmFileConfig"/>
        <property name="profileConfig" ref="profileConfig"/>
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
        <property name="camelContextManager" ref="camelContextManager"/>
        <property name="springContextHolder" ref="acmContextHolder"/>
    </bean>

    <bean id="profilePlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Profile Plugin"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
    </bean>

    <bean id="profileEventPublisher" class="com.armedia.acm.plugins.profile.service.ProfileEventPublisher"/>

    <bean id="profileConfig" class="com.armedia.acm.plugins.profile.model.ProfileConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>
</beans>
