<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="setUserOrgInfo"  class="com.armedia.acm.plugins.profile.web.api.SetUserOrgInfoAPIController">
        <property name="userOrgDao" ref="acmUserOrgDao"/>
        <property name="userDao" ref="acmUserDao"/>
        <property name="organizationDao" ref="acmOrganizationDao"/>
        <property name="eventPublisher" ref="profileEventPublisher"/>
        <property name="saveUserOrgTransaction" ref="saveUserOrgTransaction"/>
    </bean>

    <bean id="getProfileInfo"  class="com.armedia.acm.plugins.profile.web.api.GetProfileInfoAPIController">
        <property name="userOrgDao" ref="acmUserOrgDao"/>
        <property name="userDao" ref="acmUserDao"/>
        <property name="eventPublisher" ref="profileEventPublisher"/>
        <property name="saveUserOrgTransaction" ref="saveUserOrgTransaction"/>
    </bean>

    <bean id="uploadProfileImg" class="com.armedia.acm.plugins.profile.web.api.UploadProfileImgAPIController">
        <property name="userOrgDao" ref="acmUserOrgDao"/>
        <property name="userDao" ref="acmUserDao"/>
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="saveUserOrgTransaction" ref="saveUserOrgTransaction"/>
    </bean>

</beans>