<form>
    <div class="form-group">
        <label>{{'dashboard.widgets.casesByStatus.timePeriod.label' | translate}}</label>
        <select class="form-control" ng-model="config.period">
            <option value="all">{{'dashboard.widgets.casesByStatus.timePeriod.all' | translate}}</option>
            <option value="lastWeek">{{'dashboard.widgets.casesByStatus.timePeriod.lastWeek' | translate}}</option>
            <option value="lastMonth">{{'dashboard.widgets.casesByStatus.timePeriod.lastMonth' | translate}}</option>
            <option value="lastYear">{{'dashboard.widgets.casesByStatus.timePeriod.lastYear' | translate}}</option>
        </select>
    </div>
</form>