<form>
    <div class="form-group">
        <label>{{'dashboard.widgets.newComplaints.dueDate.label' | translate}}</label>
        <select class="form-control">
            <option value="all">{{'dashboard.widgets.newComplaints.dueDate.all' | translate}}</option>
            <option value="pastDue">{{'dashboard.widgets.newComplaints.dueDate.pastDue' | translate}}</option>
            <option value="dueTomorrow">{{'dashboard.widgets.newComplaints.dueDate.dueTomorrow' | translate}}</option>
            <option value="dueInAWeek">{{'dashboard.widgets.newComplaints.dueDate.dueWeek' | translate}}</option>
            <option value="dueInAMonth">{{'dashboard.widgets.newComplaints.dueDate.dueMonth' | translate}}</option>
        </select>
    </div>
</form>