<form>
    <div class="form-group">
        <label>
            <span translate>dashboard.widgets.newComplaints.dueDate.label</span>
        </label>
        <select class="form-control">
            <option value="all" translate>dashboard.widgets.newComplaints.dueDate.all</option>
            <option value="pastDue" translate>dashboard.widgets.newComplaints.dueDate.pastDue</option>
            <option value="dueTomorrow" translate>dashboard.widgets.newComplaints.dueDate.dueTomorrow</option>
            <option value="dueInAWeek" translate>dashboard.widgets.newComplaints.dueDate.dueWeek</option>
            <option value="dueInAMonth" translate>dashboard.widgets.newComplaints.dueDate.dueMonth</option>
        </select>
    </div>
</form>