<div>
    <div ng-if="summary.showChart">
        <div class="panel-body">
            </br>
            <div class="chart-container">
                <canvas id="bar" class="chart chart-bar" chart-data="summary.data"
                        chart-labels="summary.labels"
                        chart-series="summary.series"
                        chart-responsive="true"
                        chart-legend="true"></canvas>
            </div>
        </div>
    </div>
    <div class="alert alert-info" ng-if="!summary.showChart">
        <p class="text-center">
            <span translate>dashboard.widgets.summary.noDataMessage</span>
        </p>
    </div>
</div>