<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="muleContextManager" class="com.armedia.acm.muletools.mulecontextmanager.MuleContextManager" destroy-method="shutdownBean">
        <property name="specificConfigFiles">
            <list>
                <value>/flows/MuleCmisConnectorFlow.xml</value>
                <value>/flows/MuleActiveMqConnectorFlow.xml</value>
                <value>/flows/ecmFileTestFlow.xml</value>
                <value>/flows/downloadFileFlow.xml</value>
            </list>
        </property>
        <property name="acmMuleConfig" ref="acmMuleConfig"/>
    </bean>

    <bean id="acmMuleConfig" class="com.armedia.acm.muletools.mulecontextmanager.AcmMuleConfig"/>

    <bean id="acmCamelConfig" class="com.armedia.acm.camelcontext.configuration.AcmCamelConfig"/>

    <bean id="camelConfigUtils" class="com.armedia.acm.camelcontext.configuration.CamelConfigUtils">
        <property name="propertyFileManager" ref="propertyFileManager"/>
        <property name="acmCamelConfig" ref="acmCamelConfig"/>
    </bean>

    <bean id="camelContextManager" class="com.armedia.acm.camelcontext.context.CamelContextManager"
          destroy-method="shutdownBeans">
        <property name="camelConfigUtils" ref="camelConfigUtils"/>
        <property name="encryptablePropertyUtils" ref="acmEncryptablePropertyUtils"/>
    </bean>

    <bean id="logoutUrl" class="java.lang.String" factory-method="valueOf">
        <constructor-arg value="logoutUrl"/>
    </bean>

    <bean id="acmApplication" class="com.armedia.acm.core.AcmApplication"/>

    <bean id="configList" class="java.util.ArrayList">
        <constructor-arg>
            <list/>
        </constructor-arg>
    </bean>

    <bean id="auditEventConfig" class="com.armedia.acm.audit.model.AuditEventConfig">
        <property name="jsonUnmarshaller" ref="jsonUnmarshaller"/>
    </bean>

    <bean id="captureConfig" class="com.armedia.acm.files.capture.CaptureConfig"/>

</beans>