html {
    background-color: #f2f4f8;
}

body {
    background-color: transparent;
    color: #788288;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh;
    position: relative;
}

.logo {
    text-align: center;
    width: 186px;
    position: relative;
    margin: 0 auto;
}

.login-wrapper {
    margin: 0 auto;
    padding-top: 50px;
    width: 330px;
}

.login-wrapper header {
    margin: 15px;
}

.no-border {
    border-color: transparent;
    border-width: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login-wrapper input [type="text"],
.login-wrapper input[type=password] {
    background-color: transparent;
    color: #555;
}

.login-wrapper button[type="submit"] {
    background-color: #126da7;
    color: #ffffff;
}

.text-center.padder p small a span {
    margin: 100px;
}

#footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
}

.modal-body {
    color: #000000;
    color: rgba(0, 0, 0, 0.7);
}

div.content-one {
    display: none;
}