<div class="modal fade in" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="sr-only">{{'profile.buttons.password'| translate}}</span></button>
                <h4 class="modal-title">{{'profile.buttons.password'| translate}}</h4>
            </div>
            <div class="modal-body">
                <section class="row">
                    <div class="col-sm-12">
                        <label for="newpass" class="label">{{'profile.buttons.message'| translate}}</label>
                        <input id="newpass" ng-model="newPassword" type="password" class="form-control" placeholder="{{'profile.buttons.message'| translate}}">
                        <br>
                        <label for="newpassagain" class="label">{{'profile.buttons.confirmation'| translate}}</label>
                        <input id="newpassagain"  ng-model="newPasswordAgain" type="password" class="form-control" placeholder="{{'profile.buttons.confirmation'| translate}}">
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">{{'profile.buttons.cancel'| translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="changePassword()">{{'profile.buttons.password'| translate}}</button>
            </div>
        </div>
    </div>
</div>