<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="wopiAcmService" class="com.armedia.acm.services.wopi.service.WopiAcmService">
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="fileTransaction" ref="ecmFileTransaction"/>
        <property name="permissionEvaluator" ref="arkPermissionEvaluator"/>
        <property name="objectLockingManager" ref="acmObjectLockingManager"/>
        <property name="objectLockService" ref="objectLockService"/>
        <property name="wopiConfig" ref="wopiConfig"/>
        <property name="tokenService" ref="authenticationTokenService"/>
    </bean>

    <bean id="wopiConfig" class="com.armedia.acm.services.wopi.model.WopiConfig">
        <property name="wopiHostUrl" value="${wopi.host.url}"/>
        <property name="wopiHostValidationUrl" value="${wopi.host.validation.url}"/>
        <property name="wopiTenantDomain" value="${wopi.tenant.domain}"/>
        <property name="wopiTenantContext" value="${wopi.tenant.context}"/>
        <property name="wopiTenantProtocol" value="${wopi.tenant.protocol}"/>
        <property name="wopiTenantPort" value="${wopi.tenant.port}"/>
        <property name="wopiTenantAccessTokenParamName" value="${wopi.tenant.accessTokenParamName}"/>
        <property name="wopiTenantFileIdParamName" value="${wopi.tenant.fileIdParamName}"/>
        <property name="wopiLockDuration" value="${wopi.lockDuration}"/>
    </bean>
</beans>