<div ng-controller="TimeTracking.ActionsController">
    <div class="col-md-12">
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-sm btn-default" ng-click="createNew()">
                    <i class="fa fa-edit"></i>
                    <span translate>timeTracking.comp.actions.new.button</span>
                </button>
                <button class="btn btn-sm btn-default" ng-click="edit(timesheetInfo)">
                    <i class="fa fa-edit"></i>
                    <span translate>timeTracking.comp.actions.edit.button</span>
                </button>
            </div>
        </div>
    </div>
</div>