<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <bean id="createWordDocumentAPIController"
          class="com.armedia.acm.plugins.personnelsecurity.correspondence.service.web.api.CreateWordDocumentAPIController">
        <property name="personAssociationDao" ref="personAssociationDao"/>
        <property name="caseFileDao" ref="caseFileDao"/>
        <property name="complaintDao" ref="complaintDao"/>
        <property name="taskDao" ref="taskDao" />
    </bean>

</beans>