<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="adminPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="Admin Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="adminPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege" depends-on="adminPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/admin"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/admin/locks"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/admin/dashboard"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/admin/template"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/admin/template"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/admin/template/list"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/admin/labelconfiguration/resource"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/plugin/admin/labelconfiguration/resource"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/admin/labelconfiguration/languages"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/admin/labelconfiguration/namespaces"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>