<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="socketsConfig" class="com.armedia.acm.websockets.WebSocketConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>

    <bean id="objectNotificationConfig" class="com.armedia.acm.websockets.ObjectNotificationsConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>
</beans>
