.navbar-arkcase {
    background-color: #f7f7fb;
    border-color: #f7f7fb;
    color: #aad7f4;
}

.navbar-arkcase .nav > li > a:hover, .navbar-arkcase .nav > li > a {
    color: #000;
    background-color: transparent;
}

.navbar-arkcase .navbar-header {
    background-color: #f7f8fb;
    color: #ffffff;
}

.navbar-arkcase .nav > li > a:hover, .navbar-arkcase .nav > li > a:focus {
    color: #000;
    background-color: #e9edf4;
}

.navbar-arkcase .nav .open > a,
.navbar-arkcase .nav .open > a:hover,
.navbar-arkcase .nav .open > a:focus {
    background-color: #e9edf4;
}

