html {
	background-color: #f2f4f8;
}
body {
	background-color: transparent;
	color: #788288;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.logo {
	text-align: center;
	width: 186px;
	position: relative;
	margin: 0 auto;
}
.login-wrapper {
	margin: 0 auto;
	padding-top: 50px;
	width: 330px;
}
.login-wrapper header {
	margin: 15px;
}
.no-border {
	border-color: transparent;
	border-width: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.login-wrapper input [type="text"],
.login-wrapper input[type=password] {
	background-color: transparent;
	color: #555;	
}
.login-wrapper button[type="submit"] {
	background-color: #126da7;
	color: #ffffff;
}
#footer .text-center.padder p {
	padding: 20px;
}
