# IDEA config file
ark-web.iml

# Node and npm folders
etc/
node/
node_modules/

# Bower vendor dependencies folder
src/main/webapp/resources/lib/

# Compiled JS and CSS files for production
src/main/webapp/resources/dist/

# Don't commit CSS. CSS should be produced rom SCSS files
src/main/webapp/resources/assets/css/
src/main/webapp/resources/modules/*/css/

# Don't include generated home html page
src/main/webapp/home.html