<div ng-controller="Audit.SelectionController">

    <div class="form-group">

        <label for="reportNameAudit" translate>audit.navigation.label.reportName</label>

        <select class="form-control" id="reportNameAudit" ng-model="auditReportName"
                ng-options="item.key as item.value | translate for item in auditReportNames" class="form-control input-sm">
        </select>

        <label for="selectIDAudit" translate>audit.navigation.label.inputID</label>

        <input class="form-control" id="selectIDAudit" ng-model="selectId" type="text"
                placeholder="{{'audit.navigation.placeholder.inputId' | translate}}">
    </div>
</div>