<div>
    <label for="dateFromAudit" translate>audit.navigation.label.dateFrom</label>
    <span class="required-asterisk">*</span>
    <date-time-picker data="dateFrom" property="dateFrom" date-picker-id="dateFrom" time-format-disabled="true"></date-time-picker>

    <label for="dateToAudit" translate>audit.navigation.label.dateTo</label>
    <span class="required-asterisk">*</span>
    <date-time-picker data="dateTo" property="dateTo" date-picker-id="dateTo" time-format-disabled="true"></date-time-picker>
</div>