<div ng-controller="Audit.DatepickersController">

    <label for="dateFromAudit" translate>audit.navigation.label.dateFrom</label>
    <div>

        <p class="input-group">
            <input type="text"
                   class="form-control"
                   id="dateFromAudit"
                   datepicker-popup="{{'common.defaultDatePickerFormat' | translate}}"
                   ng-model="dateFrom"
                   is-open="opened.openedStart"
                   close-on-date-selection="true"
                   show-button-bar="true"
                   on-open-focus="false"
                   close-text="{{'audit.datepickers.close' | translate}}"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="opened.openedStart = !opened.openedStart">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
        </p>
    </div>



    <label for="dateToAudit" translate>audit.navigation.label.dateTo</label>
    <div>
        <p class="input-group">
            <input type="text"
                   class="form-control"
                   id="dateToAudit"
                   datepicker-popup="{{'common.defaultDatePickerFormat' | translate}}"
                   ng-model="dateTo"
                   is-open="opened.openedEnd"
                   close-on-date-selection="true"
                   show-button-bar="true"
                   on-open-focus="false"
                   close-text="{{'audit.datepickers.close' | translate}}"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="opened.openedEnd = !opened.openedEnd">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
        </p>
    </div>

</div>