<div class="modal-header" ng-if="showHeaderFooter">
    {{header}}
</div>

<div class="modal-grid">
    <div class="modal-search">
        <div class="modal-search-header">
            <div class="input-group">
                <input class="form-control input-md"
                       autofocus
                       ng-keydown="keyUp($event)"
                       ng-model="searchQuery"
                       placeholder="{{searchPlaceholder}}"
                       ng-disabled="disableSearchControls"
                >
                    <span class="input-group-btn">
                        <button class="btn btn-md btn-primary"
                                type="button"
                                ng-click="queryExistingItems()"
                                ng-hide="hideSearchButton"
                                ng-disabled="disableSearchControls || (searchQuery.length < minSearchLength)">
                            {{search}}
                        </button>
                    </span>
            </div>
            <i ng-show="loadingResults" class="glyphicon glyphicon-refresh"></i>
        </div>

        <div class="modal-columns">
            <div ng-if="config.showFacets" class="modal-left">
                <ul class="list-unstyled">
                    <li ng-repeat="facet in facets"
                        ng-if="facet.fields.length && facet.name!='Object Sub Type' && facet.name!= 'Object Type'">
                        <strong>{{facet.name}}</strong>
                        <ul class="list-unstyled">
                            <li ng-repeat="field in facet.fields">
                                <div class="checkbox" ng-if="field.count > 0">
                                    <label><input type="checkbox"
                                                  ng-disabled="disableSearchControls"
                                                  ng-model="currentFacetSelection[field.name.nameValue + '|' + facet.name]"
                                                  ng-click="selectFacet($event.target.checked,facet.name,field.name.nameValue)"/>{{field.name.nameFiltered}}<span
                                            class="pull-right label label-info">{{field.count}}</span></label>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="modal-right well-sm">
                <div ui-grid="gridOptions"
                     ui-grid-resize-columns
                     ui-grid-pagination
                     ui-grid-selection
                     adjust-table-height="gridOptions.data.length"
                     ui-grid-auto-resize
                     class="grid">
                    <div ng-if="showNoData" style="text-align: center;">
                        {{onNoDataMessage}}
                    </div>
                    <div ng-if="!showNoData && gridOptions.data.length < 1">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer" ng-if="showHeaderFooter">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        {{cancel}}
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()"
            ng-disabled="selectedItems.length < 1">
        {{ok}}
    </button>
</div>
