<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	   
	 <bean id="acm-form-properties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="file:${user.home}/.acm/acm-forms.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
            </props>
        </property>    
    </bean>
	   
    <bean id="frevvoFormController" class="com.armedia.acm.service.frevvo.forms.web.api.FrevvoFormController">
		<property name="properties" ref="acm-form-properties" />
		<property name="authenticationTokenService" ref="authenticationTokenService" />
		<property name="acmPluginManager" ref="acmPluginManager"/>
		<property name="userDao" ref="userJpaDao" />
		<property name="userActionDao" ref="userActionDao" />
        <property name="userActionExecutor" ref="userActionExecutor"/>
		<property name="complaintDao" ref="acmComplaintDao" />
		<property name="caseFileDao" ref="caseFileDao" />
        <property name="saveComplaintTransaction" ref="saveComplaintTransaction"/>
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="closeComplaintRequestDao" ref="closeComplaintRequestDao"/>
        <property name="changeCaseStatusDao" ref="changeCaseStatusDao"/>
        <property name="personDao" ref="acmPersonDao"/>
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="muleClient" ref="muleClient"/>
        <property name="saveCaseService" ref="saveCaseService"/>
        <property name="acmHistoryDao" ref="acmHistoryDao"/>
        <property name="objectAssociationDao" ref="objectAssociationDao"/>
        <property name="personIdentificationDao" ref="acmPersonIdentificationDao"/>
        <property name="fileWorkflowBusinessRule" ref="fileWorkflowBusinessRule"/>
        <property name="activitiRuntimeService" ref="activitiRuntimeService"/>
        <property name="caseFileFactory" ref="caseFileFactory"/>
        <property name="caseFilePSFactory" ref="caseFilePSFactory"/>
        <property name="complaintEventPublisher" ref="complaintEventPublisher"/>
        <property name="timesheetService" ref="timesheetService" />
        <property name="acmTimesheetDao" ref="acmTimesheetDao"/>
        <property name="timeFactory" ref="timeFactory"/>
        <property name="costsheetService" ref="costsheetService" />
        <property name="acmCostsheetDao" ref="acmCostsheetDao"/>
        <property name="costFactory" ref="costFactory"/>
        <property name="searchResults" ref="searchResults"/>
	</bean>

</beans>