<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="frevvoApplicationEventPublisherAware"
          class="com.armedia.acm.service.frevvo.forms.publisher.FrevvoApplicationEventPublisherAware"/>
    <bean id="frevvoApplicationEventPublisher" factory-bean="frevvoApplicationEventPublisherAware"
          factory-method="getApplicationEventPublisher"/>

    <!-- TODO: So far, only CaseFileService is re-written on this way. On time, we should do for all other services -->
    <bean id="frevvoFormServices" class="java.util.HashMap" scope="prototype">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="com.armedia.acm.frevvo.config.FrevvoFormService">
                <entry key="case_file" value-ref="caseFileService"/>
                <entry key="complaint" value-ref="complaintService"/>
                <entry key="close_complaint" value-ref="closeComplaintService"/>
                <entry key="costsheet" value-ref="costService"/>
                <entry key="plain" value-ref="plainFormService"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="frevvoFormServiceFactory" class="com.armedia.acm.service.frevvo.forms.factory.FrevvoFormServiceFactory">
        <lookup-method name="getServices" bean="frevvoFormServices"/>
    </bean>

</beans>