<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	   
	 <bean id="acm-form-properties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="file:${user.home}/.acm/acm-forms.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
            </props>
        </property>    
    </bean>
	   
    <bean id="frevvoFormController" class="com.armedia.acm.service.frevvo.forms.web.api.FrevvoFormController">
		<property name="properties" ref="acm-form-properties" />
		<property name="authenticationTokenService" ref="authenticationTokenService" />
		<property name="acmPluginManager" ref="acmPluginManager"/>
		<property name="userDao" ref="userJpaDao" />
		<property name="complaintDao" ref="acmComplaintDao" />
		<property name="caseFileDao" ref="caseFileDao" />
        <property name="saveComplaintTransaction" ref="saveComplaintTransaction"/>
        <property name="ecmFileService" ref="ecmFileService"/>
	</bean>

</beans>