<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

     <bean id="acm-form-properties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="file:${user.home}/.acm/acm-forms.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
            </props>
        </property>    
    </bean>
    
    <bean id="plainFormProperties" class="com.armedia.acm.reloadproperties.beans.AcmReloadablePropertiesFactoryBean" >
        <property name="location" value="file:${user.home}/.acm/acm-forms-plain.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
            </props>
        </property>
    </bean>
    
    <bean id="plainFormPropertiesConfigurer" class="net.unicon.springframework.addons.properties.ReloadingPropertyPlaceholderConfigurer">
		<property name="properties" ref="plainFormProperties"/>
	</bean>

    <!-- TODO: So far, only CaseFileService is re-written on this way. On time, we should do for all other services -->
    <bean id="frevvoFormServices" class="java.util.HashMap">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="com.armedia.acm.frevvo.config.FrevvoFormService">
                <entry key="case_file" value-ref="caseFileService"/>
                <entry key="complaint" value-ref="complaintService"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="frevvoFormServiceFactory" class="com.armedia.acm.service.frevvo.forms.factory.FrevvoFormServiceFactory">
        <property name="services" ref="frevvoFormServices"/>
    </bean>

</beans>