<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="string-bean" class="java.lang.String">
        <constructor-arg value="Grateful Dead"/>
    </bean>
    <bean id="string-bean-2" class="java.lang.String">
        <constructor-arg value="Grateful Dead 2"/>
    </bean>
</beans>