<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="helloWorldPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="helloWorldPlugin"/>
        <property name="privileges">
            <list>
                <ref bean="helloWorldPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="helloWorldUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/sample/helloWorld"/>
                    <property name="requiredPrivilege" ref="helloWorldPrivilege"/>
                </bean>
            </list>
        </property>

    </bean>

    <bean id="helloWorldPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-hello-world"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

</beans>
