<div ng-controller="Cases.DocumentsController">
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>cases.comp.documents.title</span>

                <div class="pull-right">
                    <button class="btn btn-default btn-xs" ng-click="onClickRefresh()"><i
                            class="fa fa-lg fa-refresh"></i></button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <doc-tree object-type="objectType" object-id="objectId" tree-control="treeControl"
                      upload-form="uploadForm" tree-config="treeConfig"
                      object-info="objectInfo" on-init-tree="onInitTree" read-only="{{isReadOnly(objectInfo)}}"
                      ng-if="objectInfo && treeConfig">
            </doc-tree>
            <!--<doc-tree object-type="objectType" object-id="objectId" tree-control="treeControl" file-types="fileTypes"-->
                      <!--correspondence-forms="correspondenceForms" upload-form="uploadForm" tree-config="treeConfig"-->
                      <!--object-info="objectInfo" on-init-tree="onInitTree" read-only="{{isReadOnly(objectInfo)}}"-->
                      <!--ng-if="objectInfo && fileTypes && correspondenceForms && treeConfig">-->
            <!--</doc-tree>-->
        </div>
    </div>
</div>

