<div ng-controller="Cases.ActionsController" class="module-content">
    <div class="col-xs-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="restricted" ng-click="onClickRestrict($event)">
                <span translate>cases.comp.actions.restrict</span>
            </label>
        </div>
    </div>

    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-sm btn-default" ng-click="createNew()">
                <i class="fa fa-edit"></i>
                <span translate>cases.comp.actions.new.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="edit(objectInfo)">
                <i class="fa fa-edit"></i>
                <span translate>cases.comp.actions.edit.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="changeStatus(objectInfo)">
                <i class="fa fa-edit"></i>
                <span translate>cases.comp.actions.status.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="reinvestigate(objectInfo)">
                <i class="fa fa-reply"></i>
                <span translate>cases.comp.actions.reinvestigate.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-show="showBtnUnsubscribe" ng-click="unsubscribe(objectInfo)">
                <i class="fa fa-bullhorn"></i>
                <span translate>cases.comp.actions.unsubscribe.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-show="showBtnSubscribe" ng-click="subscribe(objectInfo)">
                <i class="fa fa-bullhorn"></i>
                <span translate>cases.comp.actions.subscribe.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="merge(objectInfo)">
                <i class="fa fa-random"></i>
                <span translate>cases.comp.actions.merge.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="split()">
                <i class="fa fa-code-fork"></i>
                <span translate>cases.comp.actions.split.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="refresh()">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
</div>