<div class="modal-header">
    <span translate>cases.comp.groupPickerModal.title</span>
</div>
<div class="modal-body">
    <form name="groupPickerForm">
        <div>
            <label for="groupName_{{::$id}}"><span translate>cases.comp.groupPickerModal.groupNamelabel</span>
                <span class="required-asterisk">*</span></label>
            <input id="groupName_{{::$id}}" class="form-control" type="text"
                   ng-model="participant.selectedAssigneeName"
                   ng-click="pickGroup()" required>

            </input>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        <span translate>cases.comp.groupPickerModal.btnCancelText</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()" ng-disabled="groupPickerForm.$invalid">
        <span translate>cases.comp.groupPickerModal.btnSaveText</span>
    </button>
</div>