<search-modal header="{{'cases.userOrGroupSearch.title' | translate}}"
              cancel="{{'cases.userOrGroupSearch.cancelButton' | translate}}"
              ok="{{'cases.userOrGroupSearch.confirmButton' | translate}}"
              search-placeholder="{{'cases.userOrGroupSearch.search.placeholder' | translate}}"
              search="{{'cases.userOrGroupSearch.search.btn' | translate}}"
              filter="{{filter}}"
              extra-filter="{{extraFilter}}"
              config="config"
              modal-instance="modalInstance"
/>
