<div ng-controller="Cases.OrganizationsController">
    <div class="panel panel-success panel-grid">
        <div class="row">
            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" ng-click="delete()">
                    <span translate>cases.comp.organizations.actions.delete</span>
                </button>
                <button class="btn btn-sm btn-default" ng-click="setPrimary()">
                    <span translate>cases.comp.organizations.actions.setPrimary</span>
                </button>
                <button class="btn btn-sm btn-default" ng-click="addExisting()">
                    <span translate>cases.comp.organizations.actions.addExisting</span>
                </button>
                <button class="btn btn-sm btn-default" ng-click="addNew()">
                    <span translate>cases.comp.organizations.actions.addNew</span>
                </button>
            </div>
        </div>
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>cases.comp.organizations.title</span>
            </div>
        </div>
        <div class="panel-body">
            <div ui-grid="gridOptions"
                 ui-grid-resize-columns
                 adjust-table-height="gridOptions.data.length"
                 ui-grid-auto-resize
                 ui-grid-pagination
                 ui-grid-selection
                 class="grid">
            </div>
        </div>
    </div>
</div>
</div>
