<div ng-controller="Cases.InfoController">
    <div class="clearfix">
        <div class="row">
            <div class="col-xs-6">
                <h4><a href="#" editable-text="objectInfo.title" onaftersave="saveCase()"
                       permission="editCase" permission-properties="objectInfo" permission-action="disable">
                    {{objectInfo.title || "Unknown"}}</a> ({{objectInfo.status}})</h4></div>
            <div class="col-xs-6  text-right">
                <h4>{{objectInfo.caseNumber}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-select="objectInfo.caseType" onaftersave="saveCase()"
                       permission="editCase" permission-properties="objectInfo" permission-action="disable"
                       e-ng-options="c.value as c.text for c in caseTypes">{{objectInfo.caseType ||
                        'Unknown'}}</a>
                </div>
                <small class="text-muted">Type</small>
            </div>
            <!--<b>Priority: </b><a href="#" editable-select="objectInfo.priority" e-ng-options="p as p for p in priorities">{{ objectInfo.priority  || 'Unknown'}}</a>-->
            <!--<select ng-model="myselect" ng-options="o as o for o in myoptions"></select>-->
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">{{objectInfo.created | date: ('common.defaultDateUIFormat' | translate)}}
                </div>
                <small class="text-muted">Created Date</small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-select="objectInfo.priority" onaftersave="saveCase()"
                       permission="editCase" permission-properties="objectInfo" permission-action="disable"
                       e-ng-options="p.value as p.text for p in priorities">{{ objectInfo.priority ||
                        'Unknown'}}</a>
                </div>
                <small class="text-muted">Priority</small>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="javascript:;" class="editable-click" ng-click="openModal()">{{assignee |
                        mapKeyValue: assignees:'id':'name' || 'Unknown'}}</a>
                </div>
                <small class="text-muted">Assigned To</small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-select="owningGroup" onaftersave="updateOwningGroup()"
                       permission="editCase" permission-properties="objectInfo" permission-action="disable"
                       e-ng-options="o.value as o.text for o in owningGroups"> {{owningGroup || 'Unknown'}}</a>
                </div>
                <small class="text-muted">Owning Group</small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-bsdate="dateInfo.dueDate"
                       e-datepicker-popup="{{defaultDatePickerFormat}}"
                       e-ng-click="onPickerClick()" e-is-open="picker.opened"
                       e-init-date="dateInfo.dueDate"
                       e-on-open-focus="false"
                       onaftersave="updateDueDate(dateInfo.dueDate)"
                       permission="editCase" permission-properties="objectInfo" permission-action="disable">
                        {{ (dateInfo.dueDate | date: ('common.defaultDateUIFormat' | translate)) || 'Unknown' }}</a>
                </div>
                <small class="text-muted">Due Date</small>
            </div>
        </div>
    </div>
</div>
