<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="alfrescoService" class="com.armedia.acm.plugins.alfrescorma.service.AlfrescoService" abstract="true">
        <property name="protocol" value="${alfresco_protocol}"/>
        <property name="host" value="${alfresco_host}"/>
        <property name="port" value="${alfresco_port}"/>
        <property name="contextRoot" value="${alfresco_contextRoot}"/>
    </bean>

    <bean id="alfrescoGetTicketService" class="com.armedia.acm.plugins.alfrescorma.service.AlfrescoGetTicketService"
          parent="alfrescoService">
        <property name="user" value="${alfresco_user}"/>
        <property name="password" value="${alfresco_password}"/>
    </bean>


</beans>