<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <bean id="acmComplaintFolderListener" class="com.armedia.acm.plugins.alfrescorma.service.AcmComplaintFolderListener">
        <lookup-method name="getMuleClient" bean="muleClient"/>
    </bean>

    <bean id="acmFileListener" class="com.armedia.acm.plugins.alfrescorma.service.AcmFileListener">
        <lookup-method name="getMuleClient" bean="muleClient"/>
    </bean>
    
    <bean id="acmComplaintCloseListener" class="com.armedia.acm.plugins.alfrescorma.service.AcmComplaintClosedListener">
        <lookup-method name="getMuleClient" bean="muleClient"/>
        <property name="ecmFileDao" ref="ecmFileDao"/>
    </bean>

</beans>