<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="findFolderService" class="com.armedia.acm.plugins.alfrescorma.service.FindFolderService" parent="alfrescoService">
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="rmaConfig" ref="rmaConfig"/>
    </bean>

    <bean id="createOrFindRecordFolderOrRecordCategoryService" class="com.armedia.acm.plugins.alfrescorma.service.CreateOrFindRecordFolderOrRecordCategoryService"
          parent="alfrescoService">
        <property name="ecmFileService" ref="ecmFileService"/>
    </bean>
</beans>