<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <bean id="alfrescoRmaPluginPropertiesForSpring"
                 class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.acm/alfrescoRmaPlugin.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
    </bean>

    <bean id="acmComplaintFolderListener" class="com.armedia.acm.plugins.alfrescorma.service.AcmComplaintFolderListener">
        <lookup-method name="getMuleClient" bean="muleClient"/>
    </bean>

    <bean id="acmFileListener" class="com.armedia.acm.plugins.alfrescorma.service.AcmFileListener">
        <lookup-method name="getMuleClient" bean="muleClient"/>
    </bean>

    <bean id="alfrescoRecordsService" class="com.armedia.acm.plugins.alfrescorma.service.AlfrescoRecordsService">
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="alfrescoRmaProperties" ref="alfrescoRmaPluginPropertiesForSpring"/>
        <lookup-method name="getMuleClient" bean="muleClient"/>
    </bean>
    
    <bean id="acmComplaintCloseListener" class="com.armedia.acm.plugins.alfrescorma.service.AcmComplaintClosedListener">
        <property name="alfrescoRecordsService" ref="alfrescoRecordsService"/>
    </bean>
    
    <bean id="acmCaseFileStatusChangedListener" class="com.armedia.acm.plugins.alfrescorma.service.AcmCaseFileStatusChangedListener">
        <property name="alfrescoRecordsService" ref="alfrescoRecordsService"/>
    </bean>

</beans>