<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="alfrescoService" class="com.armedia.acm.plugins.alfrescorma.service.AlfrescoService" abstract="true">
       <property name="alfrescoConfig" ref="alfrescoConfig"/>
    </bean>

    <bean id="declareRecordService" class="com.armedia.acm.plugins.alfrescorma.service.DeclareRecordService" parent="alfrescoService"/>

    <bean id="setRecordMetadataService" class="com.armedia.acm.plugins.alfrescorma.service.SetRecordMetadataService"
        parent="alfrescoService">
        <property name="alfrescoRmaModuleVersion" value="#{rmaConfig.moduleVersion}"/>
    </bean>

    <bean id="moveToRecordFolderService" class="com.armedia.acm.plugins.alfrescorma.service.MoveToRecordFolderService"
        parent="alfrescoService"/>

    <bean id="completeRecordService" class="com.armedia.acm.plugins.alfrescorma.service.CompleteRecordService" parent="alfrescoService"/>

    <bean id="alfrescoConfig" class="com.armedia.acm.plugins.alfrescorma.model.AlfrescoConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>
</beans>