<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">


    <bean id="alfrescoRmaPluginPropertiesForSpring"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.arkcase/acm/alfrescoRmaPlugin.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
    </bean>

    <bean id="acmComplaintFolderListener" class="com.armedia.acm.plugins.alfrescorma.service.AcmComplaintFolderListener">
        <property name="alfrescoRecordsService" ref="alfrescoRecordsService"/>
    </bean>

    <bean id="acmFileListener" class="com.armedia.acm.plugins.alfrescorma.service.AcmFileListener">
        <property name="alfrescoRecordsService" ref="alfrescoRecordsService"/>
    </bean>

    <bean id="alfrescoRecordsService" class="com.armedia.acm.plugins.alfrescorma.service.AlfrescoRecordsService">
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="alfrescoRmaProperties" ref="alfrescoRmaPluginPropertiesForSpring"/>
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="encryptablePropertyUtils" ref="acmEncryptablePropertyUtils"/>
        <property name="completeRecordService" ref="completeRecordService"/>
        <property name="moveToRecordFolderService" ref="moveToRecordFolderService"/>
        <property name="createOrFindRecordFolderService" ref="createOrFindRecordFolderService"/>
        <property name="declareRecordService" ref="declareRecordService"/>
        <property name="findFolderService" ref="findFolderService"/>
        <property name="setRecordMetadataService" ref="setRecordMetadataService"/>
    </bean>

    <bean id="acmComplaintCloseListener" class="com.armedia.acm.plugins.alfrescorma.service.AcmComplaintClosedListener">
        <property name="alfrescoRecordsService" ref="alfrescoRecordsService"/>
    </bean>

    <bean id="acmCaseFileStatusChangedListener"
          class="com.armedia.acm.plugins.alfrescorma.service.AcmCaseFileStatusChangedListener">
        <property name="alfrescoRecordsService" ref="alfrescoRecordsService"/>
    </bean>

    <bean id="acmFileDeclarationListener" class="com.armedia.acm.plugins.alfrescorma.service.AcmFileDeclareRequestListener">
        <property name="alfrescoRecordsService" ref="alfrescoRecordsService"/>
    </bean>

    <bean id="acmFolderDeclarationListener"
          class="com.armedia.acm.plugins.alfrescorma.service.AcmFolderDeclareRequestListener">
        <property name="alfrescoRecordsService" ref="alfrescoRecordsService"/>
        <property name="acmFolderDao" ref="acmFolderDao"/>
        <property name="acmFolderService" ref="acmFolderService"/>
    </bean>

</beans>