*.class
*.iml
.idea
.acm
.acm-ui
target
bin
atlassian-ide-plugin.xml

*.project
*.classpath
.settings/
.springBeans
.externalToolBuilders/
.checkstyle
.mule/
.configuration

# Package Files #
nbactions.xml
partition-descriptor
activemq-data
logs
${user.home}

# jrebel
rebel.xml
**/rebel.xml
