*.class
*.iml
.idea
target
atlassian-ide-plugin.xml

*.project
*.classpath
.settings/

# Package Files #
*.jar
*.war
*.ear
/acm-standard-applications/acm-law-enforcement/nbactions.xml
/activiti-tools/activiti-mule-listener/.mule/objectstore/d147d678-0c3a-11e4-8a7c-19f3ca42a692/partition-descriptor
/acm-standard-applications/acm-law-enforcement/src/main/webapp/META-INF/context.xml
acm-forms/acm-form-report-of-investigation/src/main/resources/rebel.xml
acm-plugins/acm-default-plugins/acm-report-plugin/src/main/resources/rebel.xml
acm-services/acm-service-authentication-token/src/main/resources/rebel.xml
acm-plugins/acm-extra-plugins/acm-alfresco-rma-integration/src/main/resources/rebel.xml
acm-services/acm-service-authentication-token/src/main/resources/rebel.xml
acm-plugins/acm-default-plugins/acm-report-plugin/src/main/resources/rebel.xml