*.class
*.iml
.idea
.acm
.acm-ui
target
bin
atlassian-ide-plugin.xml

*.project
*.classpath
*.tern-project
.settings/
.springBeans
.externalToolBuilders/
.checkstyle
.mule/
.configuration
.tern-project
.sts4-cache/

# Package Files #
nbactions.xml
partition-descriptor
activemq-data
logs
${user.home}

# jrebel
rebel.xml
**/rebel.xml
.rebel.xml.bak
/.derived

# VS Code
.factorypath
launch.test.json
*.code-workspace
.vscode/settings.json
