<app-config>
    <!-- copy this file to ${user.home}/.acm-ui/surf-config, and update the endpoint-url element -->

    <plug-ins>
        <element-readers>
            <element-reader element-name="server" class="org.springframework.extensions.config.ServerElementReader"/>
            <element-reader element-name="remote" class="org.springframework.extensions.config.RemoteConfigElementReader"/>
        </element-readers>
    </plug-ins>


    <config evaluator="string-compare" condition="Server">
        <server>
            <!--
            <scheme>http</scheme>
            <hostname>localhost</hostname>
            <port>8080</port>
            <path>acm</path>
            -->
        </server>
    </config>


    <config evaluator="string-compare" condition="Remote">
        <remote>

            <!-- Connector Implementations -->
            <connector>
                <id>http</id>
                <name>Simple Http Connector</name>
                <description>Simple HTTP Connector</description>
                <class>org.springframework.extensions.webscripts.connector.HttpConnector</class>
            </connector>

            <connector>
                <id>arkcase-connector</id>
                <name>ArkCase Connector</name>
                <description>Connects to an ArkCase instance using ticket-based authentication</description>
                <class>com.armedia.acm.userinterface.connector.ArkCaseConnector</class>
                <authenticator-id>arkcase-ticket</authenticator-id>
            </connector>

            <!-- Authenticator Implementations -->
            <authenticator>
                <id>arkcase-ticket</id>
                <name>ArkCase Authenticator</name>
                <description>ArkCase Authenticator</description>
                <class>com.armedia.acm.userinterface.connector.ArkCaseAuthenticator</class>
            </authenticator>

            <!-- Endpoints -->
            <!-- Example of a 'declared' identity endpoint configuration
            <endpoint>
                <id>arkcase</id>
                <name>ArkCase - System access</name>
                <description>System account access to ArkCase</description>
                <connector-id>http</connector-id>
                <endpoint-url>http://localhost:8080/acm</endpoint-url>
                <identity>declared</identity>
                <username>admin</username>
                <password>admin</password>
                <unsecure>true</unsecure>
            </endpoint> -->

            <endpoint>
                <id>arkcase</id>
                <name>ArkCase - System access</name>
                <description>System account access to ArkCase</description>
                <connector-id>arkcase-connector</connector-id>
                <endpoint-url>http://localhost:8080/acm</endpoint-url>
            </endpoint>

            <endpoint>
                <id>resources</id>
                <name>ArkCase - Unsecure access</name>
                <description>Request to resources not needed to be authenticated</description>
                <connector-id>http</connector-id>
                <endpoint-url>http://localhost:8080/acm</endpoint-url>
            </endpoint>

            <endpoint>
                <id>noauth</id>
                <name>ArkCase - External access</name>
                <description>Request to resources not needed to be authenticated</description>
                <connector-id>http</connector-id>
                <endpoint-url>http://localhost:8888/acm</endpoint-url>
            </endpoint>

            <!-- The default endpoint -->
            <default-endpoint-id>arkcase</default-endpoint-id>

        </remote>
    </config>

</app-config>
