<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd">

       <cache:annotation-driven cache-manager="cacheManager"/>
       <bean id="cacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager"/>

       <bean id="msOutlookIntegrationProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
              <property name="location" value="file:${user.home}/.acm/msOutlookIntegration.properties"/>
              <property name="ignoreResourceNotFound" value="true"/>
              <property name="fileEncoding" value="UTF_8"/>
              <property name="localOverride" value="false"/>
              <property name="properties">
                     <props>
                            <prop key="outlook.integration.enabled">true</prop>
                     </props>
              </property>
       </bean>

       <context:property-placeholder
              ignore-resource-not-found="true"
              local-override="false"
              order="389012"
              properties-ref="msOutlookIntegrationProperties"/>

       <bean id="exchangeWebServicesOutlookDao" class="com.armedia.acm.service.outlook.dao.impl.ExchangeWebServicesOutlookDao">
       </bean>
</beans>