<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="outlookSpringConfiguration" class="com.armedia.acm.service.outlook.config.OutlookSpringConfiguration"/>
    
    <bean id="outlookEventPublisher" class="com.armedia.acm.service.outlook.service.OutlookEventPublisher"/>

    <bean id="msOutlookIntegrationProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="file:${user.home}/.arkcase/acm/msOutlookIntegration.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
                <prop key="outlook.integration.enabled">true</prop>
                <prop key="outlook.exchange.server.version">Exchange2010_SP2</prop>
                <prop key="outlook.exchange.enable.autodiscovery">false</prop>
                <prop key="outlook.exchange.client-access-server">***REMOVED***</prop>
                <prop key="outlook.exchange.system_user_email">test@armedia.com</prop>
                <prop key="outlook.exchange.system_user_email_password">testPass</prop>
                <prop key="outlook.exchange.system_user_id">testId</prop>
                
            </props>
        </property>
    </bean>


    <bean id="outlookService" class="com.armedia.acm.service.outlook.service.impl.OutlookServiceImpl">
        <property name="dao" ref="exchangeWebServicesOutlookDao"/>
        <property name="acmContainerDao" ref="acmContainerFolderDao"/>
        <property name="ecmFileService" ref="ecmFileService" />
        <property name="outlookEventPublisher" ref="outlookEventPublisher" />
        <property name="sendFromSystemUser" value="${notification.send.from.system.user}" />
        <property name="systemUserEmail" value="${outlook.exchange.system_user_email}" />
        <property name="systemUserPass" value="${outlook.exchange.system_user_email_password}" />
        <property name="systemUserId" value="${outlook.exchange.system_user_id}" />
        <property name="authenticationTokenService" ref="authenticationTokenService" />
        <property name="authenticationTokenDao" ref="authenticationTokenDao" />
        <property name="acmCryptoUtils" ref="acmCryptoUtils"/>
        <property name="outlookPasswordDao" ref="outlookPasswordDao"/>
    </bean>

    <bean id="outlookCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="outlookUserConnectionEhCache"/>
    </bean>

    <bean id="outlookUserConnectionEhCache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:/ehcache/outlookUserConnectionCacheConfig.xml"/>
        <property name="cacheManagerName" value="acm-service-ms-outlook-integration"/>
        <property name="shared" value="true"/>
    </bean>

    <bean id="outlookUserConnectionCache" factory-bean="outlookCacheManager" factory-method="getCache">
        <constructor-arg value="outlook_user_connection_cache"/>
    </bean>

    <bean id="exchangeWebServicesOutlookDao"
          class="com.armedia.acm.service.outlook.dao.impl.ExchangeWebServicesOutlookDao">
        <property name="exchangeVersion" value="${outlook.exchange.server.version}"/>
        <property name="autodiscoveryEnabled" value="${outlook.exchange.enable.autodiscovery}"/>
        <property name="clientAccessServer" value="${outlook.exchange.client-access-server}"/>
        <property name="outlookUserConnectionCache" ref="outlookUserConnectionCache"/>
        <property name="defaultAccess" value="${outlook.exchange.default_access}"/>
        <property name="sortFields">
            <map>
                <entry key="subject" value-ref="propertyDefinitionSubject"/>
                <entry key="dateTimeCreated" value-ref="propertyDefinitionDateTimeCreated"/>
                <entry key="dateTimeReceived" value-ref="propertyDefinitionDateTimeReceived"/>
                <entry key="dateTimeSent" value-ref="propertyDefinitionDateTimeSent"/>
                <entry key="hasAttachments" value-ref="propertyDefinitionHasAttachments"/>
                <entry key="displayTo" value-ref="propertyDefinitionDisplayTo"/>
                <entry key="size" value-ref="propertyDefinitionSize"/>
                <entry key="dateTimeStart" value-ref="propertyDefinitionStart"/>
            </map>
        </property>
    </bean>

    <bean id="outlookPasswordDao" class="com.armedia.acm.service.outlook.dao.OutlookPasswordDao"/>

    <bean id="exchangeConfigurationService" class="com.armedia.acm.service.outlook.service.impl.ExchangeConfigurationService">
        <property name="exchangePropertiesResource" value="file:${user.home}/.arkcase/acm/msOutlookIntegration.properties"/>
    </bean>

    <util:constant id="propertyDefinitionSubject"
                   static-field="microsoft.exchange.webservices.data.core.service.schema.ItemSchema.Subject"/>
    <util:constant id="propertyDefinitionDateTimeCreated"
                   static-field="microsoft.exchange.webservices.data.core.service.schema.ItemSchema.DateTimeCreated"/>
    <util:constant id="propertyDefinitionDateTimeReceived"
                   static-field="microsoft.exchange.webservices.data.core.service.schema.ItemSchema.DateTimeReceived"/>
    <util:constant id="propertyDefinitionDateTimeSent"
                   static-field="microsoft.exchange.webservices.data.core.service.schema.ItemSchema.DateTimeSent"/>
    <util:constant id="propertyDefinitionHasAttachments"
                   static-field="microsoft.exchange.webservices.data.core.service.schema.ItemSchema.HasAttachments"/>
    <util:constant id="propertyDefinitionDisplayTo"
                   static-field="microsoft.exchange.webservices.data.core.service.schema.ItemSchema.DisplayTo"/>
    <util:constant id="propertyDefinitionSize"
                   static-field="microsoft.exchange.webservices.data.core.service.schema.ItemSchema.Size"/>
    <util:constant id="propertyDefinitionStart"
                   static-field="microsoft.exchange.webservices.data.core.service.schema.AppointmentSchema.Start"/>
</beans>