@import "variables";

.module-content {
  width: 100%;
  display: table;
  table-layout: fixed;

  .left-sidebar {
    display: table-cell;
    width: $left-sidebar-width;
  }

  .right-sidebar {
    display: table-cell;
    width: $right-sidebar-width;
  }


  .content-body{
    display: table-cell;
    width: 100%;
  }
}
