@import "../../base/variables";

$module-header-padding-left:    20px !default;

$left-sidebar-width:            200px !default;
$left-sidebar-bg:               $blue-lighter2 !default;
$left-sidebar-padding-left:     5px !default;
$left-sidebar-padding-right:    5px !default;
$right-sidebar-width:           500px !default;

$content-body-padding-left:     15px !default;
$content-body-padding-right:    15px !default;