<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">

	<import resource="file:${user.home}/.arkcase/acm/app-config.xml" />

	<!-- Rules definitions -->
	<bean id="assignRule"
		class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="sendExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
					SELECT 
					  	CONCAT('${objectTypeLabel}:', a.objectName, ' assigned to ', u.fullName) AS title,
					  	CONCAT('${objectTypeLabel}:', a.objectName, ' was assigned to ', u.fullName, '.  Click here to view: ${urlanchor}') AS note,
					  	'user' AS notificationType,
					  	a.objectId AS objectId,
					  	a.objectType AS objectType,
					  	a.objectName AS objectName,
					  	a.objectTitle AS objectTitle,
					  	NULL AS relatedObjectId,
					 	NULL AS relatedObjectType
					FROM 
						AcmAssignment a, AcmUser u 
					WHERE 
						a.newAssignee IS NOT NULL 
					AND
						a.newAssignee=u.userId 
					AND 
						a.created >= :lastRunDate
					ORDER BY 
						a.created
				]]>
			</value>
		</property>
	</bean>

	<bean id="unassignRule"
		class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="sendExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
					SELECT 	
						CONCAT('${objectTypeLabel}:', a.objectName, ' unassigned from ', u.fullName) AS title,
					 	CONCAT('${objectTypeLabel}:', a.objectName, ' was unassigned from ', u.fullName, '.  Click here to view: ${urlanchor}') AS note,
					 	'user' AS notificationType,
					  	a.objectId AS objectId,
					  	a.objectType AS objectType,
					  	a.objectName AS objectName,
					  	a.objectTitle AS objectTitle,
					  	NULL AS relatedObjectId,
					  	NULL AS relatedObjectType
					FROM 
						AcmAssignment a, AcmUser u 
					WHERE 
						a.oldAssignee IS NOT NULL
					AND
						a.oldAssignee=u.userId 
					AND 
						a.created >= :lastRunDate
					ORDER BY 
						a.created
				]]>
			</value>
		</property>
	</bean>

	<bean id="purgeRule"
		class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="SELECT" />
		<property name="executor" ref="purgeExecutor" />
		<property name="jpaQuery">
			<value>
				<![CDATA[
					SELECT 
					    notification
					FROM 
						Notification notification 
					WHERE 
						notification.status != 'DELETE' 
					AND
						notification.created <= :threshold
				]]>
			</value>
		</property>
	</bean>

	<bean id="documentCreatedRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true"/>
		<property name="queryType" value="CREATE"/>
		<property name="executor" ref="noopExecutor" />
		<property name="customTitleFormatter" ref="objectNameTitleFormatter"/>
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
					SELECT
					  	CONCAT('${objectTypeLabel}:', ecmf.fileName, ' uploaded in ${parentTypeLabel}:${nameLabel}') AS title,
					  	NULL AS note,
					  	'user' AS notificationType,
					  	a.objectId AS objectId,
					  	a.objectType AS objectType,
					  	ecmf.fileName AS objectName,
					  	ecmf.fileName AS objectTitle,
					  	a.parentObjectId AS relatedObjectId,
					  	a.parentObjectType AS relatedObjectType
					FROM
						AuditEvent a
					JOIN AcmUser u ON a.userId = u.userId
					JOIN EcmFile ecmf ON a.objectId = ecmf.fileId	
					WHERE
						a.userId = u.userId
					AND
						a.eventDate >= :lastRunDate
					AND
						a.fullEventType = 'com.armedia.acm.ecm.file.added'
					AND
						a.objectType = 'FILE'
					AND
                    	a.eventResult = 'success'	
					AND
						ecmf.fileType NOT LIKE '%\_xml' ESCAPE '\' 
					ORDER BY
						a.eventDate
				]]>
			</value>
		</property>
	</bean>
	
	<bean id="documentDeletedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="customTitleFormatter" ref="objectNameTitleFormatter"/>
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                  	SELECT
                    	'${objectTypeLabel} deleted in ${parentTypeLabel}:${nameLabel}' AS title,
                     	NULL AS note,
                      	'user' AS notificationType,
                      	a.objectId AS objectId,
                      	a.objectType AS objectType,
                      	'' AS objectName,
                      	'' AS objectTitle,
                      	a.parentObjectId AS relatedObjectId,
					  	a.parentObjectType AS relatedObjectType
                    FROM
                    	AuditEvent a
                    JOIN AcmUser u ON a.userId = u.userId    
                    WHERE
                    	a.eventDate >= :lastRunDate
                    AND
                    	a.fullEventType = 'com.armedia.acm.file.deleted'
                    AND
                    	a.objectType = 'FILE'
                    AND
                    	a.eventResult = 'success'	
                    ORDER BY
                        a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="documentReplacedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                    SELECT
                      	CONCAT('${objectTypeLabel}:', ecmf.fileName, ' replaced') AS title,
                      	CONCAT('${objectTypeLabel}:', ecmf.fileName, ' replaced', '.  Link: ${urlanchor}') AS note,
                      	'user' AS notificationType,
                      	a.objectId AS objectId,
                      	a.objectType AS objectType,
                      	ecmf.fileName AS objectName,
                      	ecmf.fileName AS objectTitle,
                      	a.parentObjectId AS relatedObjectId,
					  	a.parentObjectType AS relatedObjectType
                    FROM
                        AuditEvent a
                    JOIN AcmUser u ON a.userId = u.userId
                    JOIN EcmFile ecmf ON a.objectId = ecmf.fileId     
                    WHERE
                        a.eventDate >= :lastRunDate
                    AND
                        a.fullEventType = 'com.armedia.acm.ecm.file.replaced'
                    AND
                        a.objectType = 'FILE'
                    AND
                    	a.eventResult = 'success'    
                    ORDER BY
                        a.eventDate

                ]]>
			</value>
		</property>
	</bean>

	<bean id="documentVersionedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                    SELECT 
                    	CONCAT('${objectTypeLabel}:', ecmf.fileName, ' versioned') AS title,
                    	CONCAT('${objectTypeLabel}:', ecmf.fileName, ' versioned', '.  Link: ${urlanchor}') AS note,
                    	'user' AS notificationType,
                    	a.objectId AS objectId,
                    	a.objectType AS objectType,
                    	ecmf.fileName AS objectName,
                    	ecmf.fileName AS objectTitle,
                    	a.parentObjectId AS relatedObjectId,
						a.parentObjectType AS relatedObjectType
                    FROM
                    	AuditEvent a
                    JOIN AcmUser u ON a.userId = u.userId
                    JOIN EcmFile ecmf ON a.objectId = ecmf.fileId 
                    WHERE
                    	a.eventDate >= :lastRunDate
                    AND
                    	a.fullEventType = 'com.armedia.acm.file.version.set'
                    AND
                   	 a.objectType = 'FILE'
                    AND
                    	a.eventResult = 'success'
                    ORDER BY
                    	a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="complaintStatusChangedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                	SELECT 
  						CONCAT('${objectTypeLabel}:', c.complaintNumber, ' status changed') AS title,
  						CONCAT('${objectTypeLabel}:', c.complaintNumber, ' status changed', '.  Link: ${urlanchor}') AS note,
  						'user' AS notificationType,
  						a.objectId AS objectId,
  						a.objectType AS objectType,
  						c.complaintNumber AS objectName,
  						c.complaintTitle AS objectTitle,
  						a.parentObjectId AS relatedObjectId,
			    		a.parentObjectType AS relatedObjectType
					FROM
  						AuditEvent a
  					JOIN AcmUser u ON a.userId = u.userId
  					JOIN Complaint c ON a.objectId = c.complaintId
					WHERE
  						a.eventDate >= :lastRunDate
  					AND
  						a.fullEventType = 'com.armedia.acm.complaint.status.changed'
					ORDER BY
  						a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="caseStatusChangedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                	SELECT
       					CONCAT('${objectTypeLabel}:', c.caseNumber, ' status changed') AS title,
       					CONCAT('${objectTypeLabel}:', c.caseNumber, ' status changed', '.  Link: ${urlanchor}') AS note,
       					'user' AS notificationType,
       					a.objectId AS objectId,
       					a.objectType AS objectType,
       					c.caseNumber AS objectName,
       					c.title AS objectTitle,
       					a.parentObjectId AS relatedObjectId,
						a.parentObjectType AS relatedObjectType
					FROM
						AuditEvent a
					JOIN AcmUser u ON a.userId = u.userId
					JOIN CaseFile c ON a.objectId = c.id
					WHERE
						a.eventDate >= :lastRunDate
					AND
						a.fullEventType = 'com.armedia.acm.casefile.status.changed'
					ORDER BY
						a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="noteAddedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="customTitleFormatter" ref="objectNameTitleFormatter"/>
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                   	SELECT 
       					'${objectTypeLabel} added in ${parentTypeLabel}:${nameLabel}' AS title,
				    	NULL AS note,
				    	'user' AS notificationType,
				    	a.objectId AS objectId,
       			    	a.objectType AS objectType,
				    	CONCAT(a.objectType, "_", a.objectId) AS objectName,
				    	CONCAT(a.objectType, "_", a.objectId) AS objectTitle,
				    	a.parentObjectId AS relatedObjectId,
						a.parentObjectType AS relatedObjectType
					FROM
				  		AuditEvent a
				 	JOIN AcmUser u ON a.userId = u.userId
					WHERE
				  		a.eventDate >= :lastRunDate
				  	AND
				  		a.fullEventType = 'com.armedia.acm.app.note.added'
					ORDER BY
				  		a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="complaintPriorityChangedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                    SELECT 
  						CONCAT('${objectTypeLabel}:', c.complaintNumber, ' priority changed') AS title,
  						CONCAT('${objectTypeLabel}:', c.complaintNumber, ' priority changed', '.  Link: ${urlanchor}') AS note,
  						'user' AS notificationType,
  						a.objectId AS objectId,
  						a.objectType AS objectType,
  						c.complaintNumber AS objectName,
  						c.complaintTitle AS objectTitle,
  						a.parentObjectId AS parentId,
			    		a.parentObjectType AS parentType
					FROM
  						AuditEvent a
  					JOIN AcmUser u ON a.userId = u.userId
  					JOIN Complaint c ON a.objectId = c.complaintId
					WHERE
  						a.eventDate >= :lastRunDate
  					AND
  						a.fullEventType = 'com.armedia.acm.complaint.priority.changed'
					ORDER BY
  						a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="complaintDetailsUpdatedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                    SELECT 
  						CONCAT('${objectTypeLabel}:', c.complaintNumber, ' details updated') AS title,
  						CONCAT('${objectTypeLabel}:', c.complaintNumber, ' details updated', '.  Link: ${urlanchor}') AS note,
  						'user' AS notificationType,
  						a.objectId AS objectId,
  						a.objectType AS objectType,
  						c.complaintNumber AS objectName,
  						c.complaintTitle AS objectTitle,
  						a.parentObjectId AS parentId,
						a.parentObjectType AS parentType
					FROM
  						AuditEvent a
  					JOIN AcmUser u ON a.userId = u.userId
  					JOIN Complaint c ON a.objectId = c.complaintId
					WHERE
  						a.eventDate >= :lastRunDate
  					AND
  						a.fullEventType = 'com.armedia.acm.complaint.details.changed'
					ORDER BY
  						a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="caseFilePriorityChangedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                    SELECT 
       					CONCAT('${objectTypeLabel}:', c.caseNumber, ' priority changed') AS title,
       					CONCAT('${objectTypeLabel}:', c.caseNumber, ' priority changed', '.  Link: ${urlanchor}') AS note,
       					'user' AS notificationType,
       					a.objectId AS objectId,
       					a.objectType AS objectType,
       					c.caseNumber AS objectName,
       					c.title AS objectTitle,
       					a.parentObjectId AS parentId,
						a.parentObjectType AS parentType
					FROM
						AuditEvent a
					JOIN AcmUser u ON a.userId = u.userId
					JOIN CaseFile c ON a.objectId = c.id
					WHERE
						a.eventDate >= :lastRunDate
					AND
						a.fullEventType = 'com.armedia.acm.casefile.priority.changed'
					ORDER BY
						a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="caseFileDetailsUpdatedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                    SELECT 
       					CONCAT('${objectTypeLabel}:', c.caseNumber, ' details updated') AS title,
       					CONCAT('${objectTypeLabel}:', c.caseNumber, ' details updated', '.  Link: ${urlanchor}') AS note,
       					'user' AS notificationType,
       					a.objectId AS objectId,
       					a.objectType AS objectType,
       					c.caseNumber AS objectName,
       					c.title AS objectTitle,
       					a.parentObjectId AS parentId,
						a.parentObjectType AS parentType
					FROM
						AuditEvent a
					JOIN AcmUser u ON a.userId = u.userId
					JOIN CaseFile c ON a.objectId = c.id
					WHERE
						a.eventDate >= :lastRunDate
					AND
						a.fullEventType = 'com.armedia.acm.casefile.details.changed'
					ORDER BY
						a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="taskDetailsUpdatedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="customTitleFormatter" ref="objectNameTitleFormatter"/>
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                    SELECT 
                    	'${objectTypeLabel}:${nameLabel} details updated' AS title,
                    	NULL AS note,
                    	'user' AS notificationType,
                    	a.objectId AS objectId,
                    	a.objectType AS objectType,
                    	CONCAT(a.objectType, '_', a.objectId) AS objectName,
                    	CONCAT(a.objectType, '_', a.objectId) AS objectTitle,
                    	NULL AS parentId,
						NULL AS parentType
                    FROM 
                    	AuditEvent a
                    JOIN AcmUser u ON a.userId = u.userId
                    WHERE
                    	a.eventDate >= :lastRunDate
                    AND
                    	a.fullEventType = 'com.armedia.acm.app.task.details.changed'
                    ORDER BY
                    	a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="taskPriorityChangedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="customTitleFormatter" ref="objectNameTitleFormatter"/>
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                    SELECT 
                    	'${objectTypeLabel}:${nameLabel} priority changed' AS title,
                    	NULL AS note,
                    	'user' AS notificationType,
                    	a.objectId AS objectId,
                    	a.objectType AS objectType,
                    	CONCAT(a.objectType, '_', a.objectId) AS objectName,
                    	CONCAT(a.objectType, '_', a.objectId) AS objectTitle,
                    	NULL AS parentId,
						NULL AS parentType
                    FROM
                    	AuditEvent a
                    JOIN AcmUser u ON a.userId = u.userId
                    WHERE
                    	a.eventDate >= :lastRunDate
                    AND
                    	a.fullEventType = 'com.armedia.acm.app.task.priority.changed'
                    ORDER BY
                    	a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="taskStatusChangedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="customTitleFormatter" ref="objectNameTitleFormatter"/>
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                    SELECT 
                    	'${objectTypeLabel}:${nameLabel} status changed' AS title,
                    	NULL AS note,
                    	'user' AS notificationType,
                    	a.objectId AS objectId,
                    	a.objectType AS objectType,
                    	CONCAT(a.objectType, '_', a.objectId) AS objectName,
                    	CONCAT(a.objectType, '_', a.objectId) AS objectTitle,
                    	NULL AS parentId,
						NULL AS parentType
                    FROM
                    	AuditEvent a
                    JOIN AcmUser u ON a.userId = u.userId
                    WHERE
                    	a.eventDate >= :lastRunDate
                    AND
                    	a.fullEventType = 'com.armedia.acm.app.task.status.changed'
                    ORDER BY
                    	a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="personAssociationAddedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="customTitleFormatter" ref="objectNameTitleFormatter"/>
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                    SELECT 
			    		'${objectTypeLabel} added in ${parentTypeLabel}:${nameLabel}' AS title,
			    		NULL as note,
			    		'user' AS notificationType,
			    		a.objectId AS objectId,
			    		a.objectType AS objectType,
			    		CONCAT(a.objectType, "_", a.objectId) AS objectName,
			    		CONCAT(a.objectType, "_", a.objectId) AS objectTitle,
			    		a.parentObjectId AS relatedObjectId,
						a.parentObjectType AS relatedObjectType
					FROM
			  			AuditEvent a
			  		JOIN AcmUser u ON a.userId = u.userId
					WHERE
			  			a.eventDate >= :lastRunDate
			  		AND
			  			a.fullEventType = 'com.armedia.acm.personAssociation.created'
					ORDER BY
			  			a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="personAssociationDeletedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="customTitleFormatter" ref="objectNameTitleFormatter"/>
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                  	SELECT
				    	'${objectTypeLabel} deleted in ${parentTypeLabel}:${nameLabel}' AS title,
				    	NULL AS note,
				    	'user' AS notificationType,
				    	a.objectId AS objectId,
				    	a.objectType AS objectType,
				    	'' AS objectName,
				    	'' AS objectTitle,
				    	a.parentObjectId AS relatedObjectId,
						a.parentObjectType AS relatedObjectType
					FROM
				  		AuditEvent a
				  	JOIN AcmUser u ON a.userId = u.userId
					WHERE
				  		a.eventDate >= :lastRunDate
				  	AND
				  		a.fullEventType = 'com.armedia.acm.personAssociation.deleted'
					ORDER BY
				  		a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="participantAddedInComplaintRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
	                SELECT 
				    	CONCAT('${objectTypeLabel} added in ${parentTypeLabel}:', c.complaintNumber) AS title,
						CONCAT('${objectTypeLabel} added in ${parentTypeLabel}:', c.complaintNumber, '.  Link: ${urlanchor}') AS note,
						'user' AS notificationType,
						a.objectId AS objectId,
				    	a.objectType AS objectType,
						CONCAT(a.objectType, '_', a.objectId) AS objectName,
						CONCAT(a.objectType, '_', a.objectId) AS objectTitle,
						a.parentObjectId AS relatedObjectId,
						a.parentObjectType AS relatedObjectType
					FROM
					  	AuditEvent a
					JOIN AcmUser u ON a.userId = u.userId
					JOIN Complaint c ON a.parentObjectId = c.complaintId
					WHERE
					  	a.eventDate >= :lastRunDate
					AND
					  	a.fullEventType = 'com.armedia.acm.complaint.participant.added'
					ORDER BY
					  	a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="participantDeletedInComplaintRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
	                SELECT 
				    	CONCAT('${objectTypeLabel} deleted in ${parentTypeLabel}:', c.complaintNumber) AS title,
						CONCAT('${objectTypeLabel} deleted in ${parentTypeLabel}:', c.complaintNumber, '. Link: ${urlanchor}') AS note,
						'user' AS notificationType,
						a.objectId AS objectId,
				    	a.objectType AS objectType,
						'' AS objectName,
						'' AS objectTitle,
						a.parentObjectId AS relatedObjectId,
						a.parentObjectType AS relatedObjectType
					FROM
					  	AuditEvent a
					JOIN AcmUser u ON a.userId = u.userId
					JOIN Complaint c ON a.parentObjectId = c.complaintId
					WHERE
					  	a.eventDate >= :lastRunDate
					AND
					  	a.fullEventType = 'com.armedia.acm.complaint.participant.deleted'
					ORDER BY
					  	a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="participantAddedInCaseFileRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
	                SELECT 
						CONCAT('${objectTypeLabel} added in ${parentTypeLabel}:', c.caseNumber) AS title,
						CONCAT('${objectTypeLabel} added in ${parentTypeLabel}:', c.caseNumber, '. Link: ${urlanchor}') AS note,
						'user' AS notificationType,
						a.objectId AS objectId,
				    	a.objectType AS objectType,
						CONCAT(a.objectType, '_', a.objectId) AS objectName,
						CONCAT(a.objectType, '_', a.objectId) AS objectTitle,
						a.parentObjectId AS relatedObjectId,
						a.parentObjectType AS relatedObjectType
					FROM
					  	AuditEvent a
					JOIN AcmUser u ON a.userId = u.userId
					JOIN CaseFile c ON a.parentObjectId = c.id
					WHERE
					  	a.eventDate >= :lastRunDate
					AND
					  	a.fullEventType = 'com.armedia.acm.casefile.participant.added'
					ORDER BY
					  	a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="participantDeletedInCaseFileRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
	                SELECT
						CONCAT('${objectTypeLabel} deleted in ${parentTypeLabel}:', c.caseNumber) AS title,
						CONCAT('${objectTypeLabel} deleted in ${parentTypeLabel}:', c.caseNumber, '. Link: ${urlanchor}') AS note,
						'user' AS notificationType,
						a.objectId AS objectId,
				    	a.objectType AS objectType,
						'' AS objectName,
						'' AS objectTitle,
						a.parentObjectId AS relatedObjectId,
						a.parentObjectType AS relatedObjectType
					FROM
					  	AuditEvent a
					JOIN AcmUser u ON a.userId = u.userId
					JOIN CaseFile c ON a.parentObjectId = c.id
					WHERE
					 	a.eventDate >= :lastRunDate
					AND
					 	a.fullEventType = 'com.armedia.acm.casefile.participant.deleted'
					ORDER BY
					  	a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="calendarEventAddedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                    SELECT
                    	'Calendar event added' AS title,
                    	CONCAT('Calendar event added', '. Link: ${urlanchor}') AS note,
                    	'user' AS notificationType,
                    	a.objectId AS objectId,
                    	a.objectType AS objectType,
                    	CONCAT('CALENDAR_EVENT_', a.objectId) AS objectName,
                    	CONCAT('CALENDAR_EVENT_', a.objectId) AS objectTitle,
                    	a.parentObjectId AS relatedObjectId,
						a.parentObjectType AS relatedObjectType
                    FROM
				 	 	AuditEvent a
					JOIN AcmUser u ON a.userId = u.userId
                    WHERE
                    	a.eventDate >= :lastRunDate
                    AND
                   		a.fullEventType = 'com.armedia.acm.outlook.calendar.event.added'
                    ORDER BY
                    	a.eventDate
                ]]>
			</value>
		</property>
	</bean>

	<bean id="correspondenceAddedRule"
		  class="com.armedia.acm.services.notification.model.BasicNotificationRule">
		<property name="globalRule" value="true" />
		<property name="queryType" value="CREATE" />
		<property name="executor" ref="noopExecutor" />
		<property name="customTitleFormatter" ref="objectNameTitleFormatter"/>
		<property name="usersNotified" ref="participantsNotified"/>
		<property name="jpaQuery">
			<value>
				<![CDATA[
                    SELECT
  						CONCAT('Correspondence ', ecmf.fileName, ' added in ${parentTypeLabel}:${nameLabel}') AS title,
  						NULL AS note,
  						'user' AS notificationType,
  						a.objectId AS objectId,
                    	a.objectType AS objectType,
  						ecmf.fileName AS objectName,
  						ecmf.fileName AS objectTitle,
  						a.parentObjectId AS relatedObjectId,
						a.parentObjectType AS relatedObjectType
					FROM
				 	 	AuditEvent a
					JOIN AcmUser u ON a.userId = u.userId
					JOIN EcmFile ecmf ON a.objectId = ecmf.fileId
					WHERE
  						a.eventDate >= :lastRunDate
  					AND
  						a.fullEventType = 'com.armedia.acm.correspondence.file.added'
  					AND
						ecmf.category = 'Correspondence'
					AND
                    	a.eventResult = 'success'
					ORDER BY
  						a.eventDate
  				]]>
			</value>
		</property>
	</bean>

	<!-- Senders Definition -->
	<bean id="notificationSenderFactory" class="com.armedia.acm.services.notification.service.NotificationSenderFactory"> 
            <property name="propertyFileManager" ref="propertyFileManager"/>
            <property name="notificationPropertyFileLocation" ref="notificationPropertyFileLocation" />
            <property name="smtpNotificationSender" ref="smtpNotificationSender"/>
            <property name="microsoftExchangeNotificationSender" ref="microsoftExchangeNotificationSender"/>
            <property name="notificationSenderMap">  
                <map>  
                    <entry key="smtp" value-ref="smtpNotificationSender"></entry>  
                    <entry key="outlook" value-ref="microsoftExchangeNotificationSender"></entry>  
                </map>  
            </property>
	</bean>

	<!-- Task Scheduler -->
	<task:scheduler id="notificationTaskScheduler"
		pool-size="1" />
	<task:scheduled-tasks scheduler="notificationTaskScheduler">
		<task:scheduled ref="notificationService" method="run"
			fixed-delay="300000" />
	</task:scheduled-tasks>

	<!-- Service Definition -->
	<bean id="notificationFormatter"
		class="com.armedia.acm.services.notification.service.NotificationFormatter">
		<property name="notificationProperties" ref="notificationProperties" />
		<property name="acmAppConfiguration" ref="acmApplication" />
	</bean>
	<bean id="notificationService"
		class="com.armedia.acm.services.notification.service.NotificationServiceImpl">
		<property name="batchRun" ref="notificationUserBatchRun" />
		<property name="batchSize" ref="notificationUserBatchSize" />
		<property name="purgeDays" ref="notificationPurgeDays" />
		<property name="propertyFileManager" ref="propertyFileManager"/>
		<property name="notificationPropertyFileLocation" ref="notificationPropertyFileLocation" />
		<property name="notificationDao" ref="notificationDao" />
		<property name="notificationEventPublisher" ref="notificationEventPublisher" />
		<property name="springContextHolder" ref="acmContextHolder" />
		<property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter" />
		<property name="notificationFormatter" ref="notificationFormatter" />
	</bean>

</beans>
