<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="timeFactory" class="com.armedia.acm.form.time.service.TimeFactory">
        <property name="acmTimeDao" ref="acmTimeDao"/>
        <property name="acmTimesheetDao" ref="acmTimesheetDao"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="acmParticipantDao" ref="acmParticipantDao"/>
        <property name="springContextHolder" ref="acmContextHolder"/>
    </bean>

    <bean id="timeService" class="com.armedia.acm.form.time.service.TimeService" parent="frevvoFormService" scope="prototype">
        <property name="timesheetService" ref="timesheetService"/>
        <property name="acmTimesheetDao" ref="acmTimesheetDao"/>
        <property name="timeFactory" ref="timeFactory"/>
        <property name="AcmContainerDao" ref="acmContainerFolderDao"/>
        <property name="timesheetEventPublisher" ref="timesheetEventPublisher"/>
        <property name="timesheetConfigurationService" ref="timesheetConfigurationService"/>
    </bean>

</beans>