<div ng-if="collapsible" class="panel panel-success panel-grid">
    <div class="panel-heading" ng-click="onCollapseIconClick($event)">
        {{header}}
        <div class="pull-right">
            <a class="collapse-icon" href="#">
                <span ng-class="collapsed ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-top'"></span>
            </a>
        </div>
    </div>
    <div class="panel-body" collapse="collapsed">
        <div ng-transclude></div>
    </div>
</div>

<div ng-if="!collapsible" class="panel panel-success panel-grid">
    <div class="panel-heading">
        {{header}}
    </div>
    <div class="panel-body">
        <div ng-transclude></div>
    </div>
</div>
