<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

    <task:scheduler id="ldapSyncTaskScheduler" pool-size="1"/>

    <bean id="springLdapDao" class="com.armedia.acm.services.users.dao.ldap.SpringLdapDao"/>

    <bean id="userJpaDao" class="com.armedia.acm.services.users.dao.ldap.UserDao"/>
    
    <bean id="userActionDao" class="com.armedia.acm.services.users.dao.ldap.UserActionDao"/>
    
    <bean id="groupDao" class="com.armedia.acm.services.users.dao.group.AcmGroupDao"/>
    
    <bean id="userActionExecutor" class="com.armedia.acm.services.users.service.ldap.AcmUserActionExecutor">
    	<property name="userActionDao" ref="userActionDao" />
    </bean>

    <bean id="userDatabaseHelper" class="com.armedia.acm.services.users.service.ldap.LdapSyncDatabaseHelper">
        <property name="userDao" ref="userJpaDao"/>
        <property name="groupDao" ref="groupDao"/>
    </bean>
    
    <bean id="acmLdapAuthenticateManager" class="com.armedia.acm.services.users.service.ldap.LdapAuthenticateManager">
    	<property name="springContextHolder" ref="acmContextHolder"/>
    </bean>

    <!-- NOTE: LDAP sync service beans (of class com.armedia.acm.services.users.service.ldap.LdapSyncService) should
         be defined in dynamically-loaded Spring config files, placed in the ACM spring configuration folder
         ($HOME/.acm/spring). -->
         
    <!-- NOTE: LdapAuthenticateService beans (of class com.armedia.acm.services.users.service.ldap.LdapAuthenticateService) should
         be defined in dynamically-loaded Spring config files, placed in the ACM spring configuration folder
         ($HOME/.acm/spring). -->
	<bean id="userToSolrTransformer" class="com.armedia.acm.services.users.service.ldap.UserToSolrTransformer">
	    <property name="userDao" ref="userJpaDao"/>
	</bean>
    
    <bean id="groupToSolrTransformer" class="com.armedia.acm.services.users.service.group.GroupToSolrTransformer">
    	<property name="groupDao" ref="groupDao"/>
    </bean>

</beans>