<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="findUsersWithPrivilegeAPIController" class="com.armedia.acm.services.users.web.api.FindUsersWithPrivilegeAPIController">
        <property name="pluginManager" ref="acmPluginManager"/>
        <property name="userDao" ref="userJpaDao"/>
    </bean>

    <bean id="findParticipantTypesForObjectTypeNameAPIController"
          class="com.armedia.acm.services.users.web.api.FindParticipantTypesForObjectTypeNameAPIController">
        <property name="acmApplication" ref="acmApplication"/>
    </bean>
    
    <bean id="getGroupAPIController" class="com.armedia.acm.services.users.web.api.group.GetGroupAPIController">
    	<property name="groupDao" ref="groupDao" />
    	<property name="muleClient" ref="muleClient" />
    </bean>
    
    <bean id="getGroupMembersAPIController" class="com.armedia.acm.services.users.web.api.group.GetGroupMembersAPIController">
    	<property name="groupDao" ref="groupDao" />
    	<property name="muleClient" ref="muleClient" />
    </bean>

    <bean id="saveGroupAPIController" class="com.armedia.acm.services.users.web.api.group.SaveGroupAPIController">
    	<property name="groupDao" ref="groupDao" />
    </bean>
    
    <bean id="removeGroupAPIController" class="com.armedia.acm.services.users.web.api.group.RemoveGroupAPIController">
    	<property name="groupDao" ref="groupDao" />
    </bean>
    
    <bean id="saveSupervisorsToGroupAPIController" class="com.armedia.acm.services.users.web.api.group.SaveSupervisorsToGroupAPIController">
    	<property name="groupDao" ref="groupDao" />
    </bean>
    
    <bean id="saveMembersToGroupAPIController" class="com.armedia.acm.services.users.web.api.group.SaveMembersToGroupAPIController">
    	<property name="groupDao" ref="groupDao" />
    </bean>
    
    <bean id="removeSupervisorsFromGroupAPIController" class="com.armedia.acm.services.users.web.api.group.RemoveSupervisorsFromGroupAPIController">
    	<property name="groupDao" ref="groupDao" />
    </bean>
    
    <bean id="removeMembersFromGroupAPIController" class="com.armedia.acm.services.users.web.api.group.RemoveMembersFromGroupAPIController">
    	<property name="groupDao" ref="groupDao" />
    </bean>

</beans>