<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="ldapBeanReload" class="com.armedia.acm.services.users.service.ldap.LdapBeanReloadEventListener">
        <property name="acmLdapRegistryService" ref="acmLdapBeanSyncService"/>
    </bean>

    <bean id="acmLdapBeanSyncService" class="com.armedia.acm.services.users.service.ldap.AcmLdapRegistryServiceImpl">
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
        <property name="acmLdapConfig" ref="acmSpringLdapConfig"/>
        <property name="collectionPropertiesConfigurationService" ref="collectionPropertiesConfigurationService"/>
    </bean>

</beans>