<div ng-controller="Organizations.ActionsController">
    <div class="col-xs-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="restricted" ng-click="onClickRestrict($event)"
                       permission="restrictOrganization" permission-object-type="ORGANIZATION"
                       permission-properties="objectInfo" permission-action="disabled">
                <span translate>organizations.comp.actions.restrict</span>
            </label>
        </div>
    </div>
    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-sm btn-default" ng-click="export()">
                <i class="fa fa-upload"></i>
                <span translate>organizations.comp.actions.export.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="import()">
                <i class="fa fa-download"></i>
                <span translate>organizations.comp.actions.import.button</span>
            </button>
            <button permission="editOrganization" permission-properties="objectInfo" permission-action="disable" class="btn btn-sm btn-default" ng-click="activate()" ng-hide="objectInfo.status == 'ACTIVE'">
                <i class="fa fa-play-circle"></i>
                <span translate>organizations.comp.actions.activate.button</span>
            </button>
            <button permission="editOrganization" permission-properties="objectInfo" permission-action="disable" class="btn btn-sm btn-default" ng-click="deactivate()" ng-hide="objectInfo.status != 'ACTIVE'">
                <i class="fa fa-stop"></i>
                <span translate>organizations.comp.actions.deactivate.button</span>
            </button>
            <button permission="editOrganization" permission-properties="objectInfo" permission-action="disable" class="btn btn-sm btn-default" ng-click="merge()">
                <i class="fa fa-code-fork"></i>
                <span translate>organizations.comp.actions.merge.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="refresh()">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
</div>
