<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>

    <!-- <cache:annotation-driven/> -->

    <bean id="portalInfoDAO" class="com.armedia.acm.portalgateway.service.PortalInfoDAO"/>

    <bean id="portalAdminService" class="com.armedia.acm.portalgateway.service.DefaultPortalAdminService">
        <property name="portalInfoDao" ref="portalInfoDAO"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="groupDao" ref="groupDao"/>
        <property name="acmContextHolder" ref="acmContextHolder"/>
        <property name="ldapUserService" ref="ldapUserService"/>
    </bean>

    <bean id="portalGatewayRequestService" class="com.armedia.acm.portalgateway.service.DefaultPluggablePortalRequestService">
        <property name="springContextHolder" ref="acmContextHolder"/>
    </bean>

    <bean id="portalUserService" class="com.armedia.acm.portalgateway.service.DefaultPluggablePortalUserService">
        <property name="springContextHolder" ref="acmContextHolder"/>
    </bean>

    <bean id="checkPortalUserService" class="com.armedia.acm.portalgateway.service.DefaultPortalCheckUserAssignementService">
        <property name="portalInfoDao" ref="portalInfoDAO"/>
    </bean>

    <bean id="checkPortalUserAssignementAspect" class="com.armedia.acm.portalgateway.service.CheckPortalUserAssignementAspect">
        <property name="checkUserAssignementService" ref="checkPortalUserService"/>
    </bean>

</beans>