<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="portalAdminAPIController" class="com.armedia.acm.portalgateway.web.api.ArkCasePortalAdminAPIController">
        <property name="portalAdminService" ref="portalAdminService"/>
        <property name="acmContextHolder" ref="acmContextHolder"/>
        <property name="portalConfigurationService" ref="portalConfigurationService"/>
    </bean>

    <bean id="portalUserAPIController" class="com.armedia.acm.portalgateway.web.api.ArkCasePortalUserAPIController">
        <property name="portalUserConfigurationService" ref="portalUserConfigurationService"/>
    </bean>

    <bean id="portalGatewayUserAPIController" class="com.armedia.acm.portalgateway.web.api.ArkCasePortalGatewayUserAPIController">
        <property name="portalUserService" ref="portalUserService"/>
    </bean>

    <bean id="portalGatewayRequestAPIController" class="com.armedia.acm.portalgateway.web.api.ArkCasePortalGatewayRequestAPIController">
        <property name="portalRequestService" ref="portalGatewayRequestService"/>
        <property name="executeSolrQuery" ref="executeSolrQuery"/>
        <property name="facetedSearchService" ref="facetedSearchService"/>
        <property name="userDao" ref="userJpaDao"/>
    </bean>

</beans>