<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="objectLockPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="Object Lock"/>
        <property name="privileges">
            <list>
                <ref bean="objectLockPrivilege"/>
                <ref bean="objectUnLockPrivilege"/>
                <ref bean="listLockedObjectsPrivilege"/>
                <ref bean="listLocksDetailsPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="objectLockUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/plugin/{objectType}/{objectId}/lock"/>
                    <property name="requiredPrivilege" ref="objectLockPrivilege"/>
                </bean>
                <bean id="objectUnLockUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/plugin/{objectType}/{objectId}/lock"/>
                    <property name="requiredPrivilege" ref="objectUnLockPrivilege"/>
                </bean>
                <bean id="objectsLockedUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/objects/{objectType}/locked"/>
                    <property name="requiredPrivilege" ref="listLockedObjectsPrivilege"/>
                </bean>
                <bean id="locksDetailsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/locks/{objectType}"/>
                    <property name="requiredPrivilege" ref="listLocksDetailsPrivilege"/>
                </bean>
                <bean id="releaseMultipleOrdersLockUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/plugin/locks/{objectType}/lock"/>
                    <property name="requiredPrivilege" ref="objectUnLockPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>
