<nav class="nav-primary hidden-xs" ng-controller="LeftNavigationController">

    <div ng-include="'modules/core/views/user-info.client.view.html'"></div>

    <div class="well-sm text-muted title">Navigation</div>
    <ul class="nav nav-main">
        <li ng-repeat="item in menu.items | orderBy: 'position' " ng-class="{ active: $state.includes(item.link)}">
            <a data-ui-sref="{{item.link}}" title="{{item.title}}" class="auto">
                <i ng-if="item.iconClass" class="navigation-icon {{item.iconClass}}"> </i><strong>{{item.title}}</strong>
            </a>
        </li>
    </ul>

    <footer class="hidden-xs">
        <button class="btn btn-icon" ng-hide="isCollapsed" ng-click="isCollapsed = true">
            <i class="fa fa-chevron-circle-left"></i>
        </button>
        <button class="btn btn-icon" ng-show="isCollapsed" ng-click="isCollapsed = false">
            <i class="fa fa-chevron-circle-right"></i>
        </button>
    </footer>

</nav>

