<div class="user-info well-sm" ng-controller="UserInfoController">
    <span>
        <img class="userpic" src="" width="50" height="57" />
    </span>
    <span>
        <strong>Ann Administrator</strong>
    </span>
    <div dropdown>
        <a href="#" dropdown-toggle >Executive Administrator</a>
        <div class="dropdown-menu">
            <li role="menuitem"><a href="#">Action</a></li>
            <li role="menuitem"><a href="#">Another action</a></li>
            <li role="menuitem"><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="#">Separated link</a></li>
        </div>
    </div>
</div>
