<div ng-controller="AdministrationController">
    <div class="well-sm module-header">
        <h3>Administration</h3>
    </div>
    <div class="clearfix">
        <div class="col-xs-3">
            <div class="scroll-body" slimscroll="{height: '800px'}" ng-include="'modules/administration/views/modules-list.client.view.html'">
            </div>
        </div>

        <div class="col-xs-9">
            <div ng-include="'modules/administration/views/module-info.client.view.html'">
            </div>
        </div>
    </div>
</div>