<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="ocrDao" class="com.armedia.acm.services.ocr.dao.OCRDao"/>

    <bean id="ocrConfigurationPropertiesService" class="com.armedia.acm.services.ocr.service.OCRConfigurationPropertiesService">
        <property name="propertyFileManager" ref="propertyFileManager"/>
    </bean>

    <bean id="arkCaseOCRService" class="com.armedia.acm.services.ocr.service.ArkCaseOCRServiceImpl">
        <property name="ocrConfigurationPropertiesService" ref="ocrConfigurationPropertiesService"/>
        <property name="mediaEngineConfigurationPropertiesService" ref="mediaEngineConfigurationPropertiesService"/>
        <property name="ocrDao" ref="ocrDao"/>
        <property name="ecmFileVersionDao" ref="ecmFileVersionDao"/>
        <property name="pipelineManager" ref="mediaEnginePipelineManager"/>
        <property name="mediaEngineEventPublisher" ref="mediaEngineEventPublisher"/>
        <property name="activitiRuntimeService" ref="activitiRuntimeService"/>
        <property name="ecmFileServiceProperties" ref="ecmFileServiceProperties"/>
        <property name="folderAndFilesUtils" ref="folderAndFilesUtils"/>
        <property name="springContextHolder" ref="acmContextHolder"/>
        <property name="processHandlerMap" ref="mediaEngineDrollsProcessRules"/>
        <property name="objectLockingManager" ref="acmObjectLockingManager"/>
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
        <property name="objectLockService" ref="objectLockService"/>
        <property name="mediaEngineIntegrationService" ref="mediaEngineToolsService"/>
        <property name="mediaEngineMapper" ref="mediaEngineMapper"/>
        <property name="mediaEngineServiceFactory" ref="mediaEngineServiceFactory"/>
        <property name="arkCaseBeanUtils" ref="mediaEngineArkCaseBeanUtils"/>
    </bean>
    <!--
        <lookup-method name="getEntity" bean="ocrEntity"/>
        <bean id="ocrEntity" class="com.armedia.acm.services.ocr.model.OCR" scope="prototype"/>
        -->
    <bean id="ocrQueueJob" class="com.armedia.acm.services.ocr.job.OCRQueueJob">
        <property name="arkCaseOCRService" ref="arkCaseOCRService"/>
        <property name="activitiRuntimeService" ref="activitiRuntimeService"/>
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
        <property name="objectLockService" ref="objectLockService"/>
        <property name="objectLockingManager" ref="acmObjectLockingManager"/>
        <property name="ocrConfigurationPropertiesService" ref="ocrConfigurationPropertiesService"/>
        <property name="mediaEngineIntegrationService" ref="mediaEngineToolsService"/>
        <property name="mediaEngineMapper" ref="mediaEngineMapper"/>
    </bean>

    <bean id="ocrBusinessRulesExecutor" class="com.armedia.acm.services.mediaengine.rules.MediaEngineBusinessRulesExecutor"
          parent="simpleStatelessSingleObjectRuleManager">
        <property name="ruleSpreadsheetFilename" value="drools-ocr-rules.xlsx"/>
    </bean>

    <bean id="ocrBusinessProcessRulesExecutor"
          class="com.armedia.acm.services.mediaengine.rules.MediaEngineBusinessProcessRulesExecutor"
          parent="simpleStatelessSingleObjectRuleManager">
        <property name="ruleSpreadsheetFilename" value="drools-ocr-business-process-rules.xlsx"/>
    </bean>

    <bean id="ocrDroolsRulesRegister" class="com.armedia.acm.services.mediaengine.pipline.MediaEngineDroolsRulesRegister"
          depends-on="mediaEngineDrollsRules">
        <property name="rules" ref="mediaEngineDrollsRules"/>
        <property name="key" value="OCR"/>
        <property name="value" ref="ocrBusinessRulesExecutor"/>
    </bean>

    <bean id="ocrDroolsProcessRulesRegister" class="com.armedia.acm.services.mediaengine.pipline.MediaEngineDroolsRulesRegister"
          depends-on="mediaEngineDrollsProcessRules">
        <property name="rules" ref="mediaEngineDrollsProcessRules"/>
        <property name="key" value="OCR"/>
        <property name="value" ref="ocrBusinessProcessRulesExecutor"/>
    </bean>
</beans>