<div data-ng-controller="Admin.SequenceManagement">
    <div class="well-sm">
        <div class="panel panel-success panel-grid">
            <div class="panel-heading">
                <div class="panel-title">
                    <span translate>admin.application.sequenceManagement.config.title</span>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs" ng-click="checkSequenceRegistry()">
                            <i class="fa fa-lg fa-table"></i><span translate> admin.application.sequenceManagement.config.registry</span></button>
                        <button class="btn btn-default btn-xs" ng-click="addNew()">
                            <i class="fa fa-lg fa-plus"></i></button>
                    </div>
                    <div class="pull-right well">
                        <a class="btn btn-xs btn-default" href="{{sequenceInstructionUrl}}" target="_blank">
                            <i class="fa fa-external-link-square"></i>
                            <span translate>admin.application.sequenceManagement.config.instructions</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination
                        adjust-table-height="gridOptions.data.length" class="grid"></div>
            </div>
        </div>

    </div>
</div>