<div class="modal-header">
    <h3>
        <span>{{'admin.application.lookups.config.addLookup' | translate}}</span>
    </h3>
</div>
<div class="modal-body">
    <form name="lookupEntryForm">
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>{{'admin.application.lookups.config.lookupName' | translate}}</label><span class="required-asterisk">*</span>
            <input id="lookupName" ng-model="entry.name" class="input-md form-control" ng-change="validateInput(entry.name)"
                    placeholder="{{ 'admin.application.lookups.config.placeholder' | translate }}" required>
            <span ng-if="showError" translate>admin.application.lookup.config.validationMessage</span>
        </div>
        <div class="col-sm-6 form-group">
            <label translate>{{'admin.application.lookups.config.label' | translate}}</label><span class="required-asterisk">*</span>
            <select id="lookupTypes" class="input-md form-control" ng-model="entry.lookupType" ng-change="validateInput(entry.name)" ng-options="item for item in lookupTypes" required>
            </select>
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        <span translate>admin.application.lookups.config.modal.btnCancel.text</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()" ng-disabled="lookupEntryForm.$invalid">
        <span translate>admin.application.lookups.config.btnSave.text</span>
    </button>
</div>