<div data-ng-controller="Admin.ResetConfigurationController">
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>admin.application.resetConfiguration.title</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8">
                    <button class="btn btn-primary" ng-click="resetConfigurationConfirm()" translate>admin.application.resetConfiguration.btnReset.title</button>
                </div>
            </div>
        </div>
    </div>
</div>