<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span translate>admin.application.userName.config.modal.title</span>
        </h4>
    </div>
    <div class="modal-body">
        <span translate>admin.application.userName.config.modal.info</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="close()">
            <span translate>admin.application.userName.config.modal.ok</span>
        </button>
    </div>
</div>