<div class="modal-header">
    <h3><span translate>admin.application.holiday.title</span></h3>
</div>
<div class="modal-body">
    <form name="holidayForm">
        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="holidayName" translate>admin.application.holiday.grid.holidayName</label><span
                    class="required-asterisk">*</span><br />
                <input type="text" id="holidayName" name="holidayName" ng-model="holidays.holidayName" class="input-md form-control"
                        placeholder="{{'admin.application.holiday.placeholder.name' | translate}}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <date-time-picker data="holidayDate"></date-time-picker>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="onClickCancel()" translate>
        admin.application.holiday.cancel
    </button>
    <button type="button" class="btn btn-primary" ng-click="onClickOk()" ng-disabled="holidayForm.$invalid">
        <span translate>admin.application.holiday.save</span>
    </button>
</div>

