<div ng-controller="Admin.OutgoingIncomingEmailConversionController">
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>admin.security.outgoingIncomingEmailConversion.title</span>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs" ng-click="save()">
                        <i class="fa fa-lg fa-save"></i>
                        <span translate>admin.security.documentUploadPolicy.save.button</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-model="outgoingIncomingEmailConversionConfig['convertEmailsToPDF.incomingEmailToPdf']">
                            <span translate>admin.security.outgoingIncomingEmailConversion.incomingEmailToPdf.checkbox</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-model="outgoingIncomingEmailConversionConfig['convertEmailsToPDF.outgoingEmailToPdf']">
                            <span translate>admin.security.outgoingIncomingEmailConversion.outgoingEmailToPdf.checkbox</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>