<div class="modal-header">
    <h3><span translate>admin.reports.schedule.title</span></h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-4 form-group">
            <div class="form-group">
                <label for="reportFile" translate>admin.reports.schedule.selectReportType</label>
                <select ng-model="reportSchedule.reportFile" ng-options="item.value as item.label for item in reportTypesList" size="10"
                        class="form-control" id="reportFile">
                </select>
            </div>
        </div>
        <!-- Details - recurrence, time, and start date -->
        <div class="col-lg-4">
            <div class="form-group">
                <label for="reportRecurrence" translate>admin.reports.schedule.recurrence</label><br>
                <select ng-model="reportSchedule.reportRecurrence" ng-options="item.value as item.label for item in reportRecurrenceList"
                        id="reportRecurrence">
                </select>
            </div>
            <div class="form-group">
                <label for="startDate" translate>admin.reports.schedule.startDate</label>
                <span class="required-asterisk">*</span>
                <date-time-picker data="reportSchedule.reportStartDate" show-time="true"></date-time-picker>
            </div>
            <div class="form-group">
                <label for="endDate" translate>admin.reports.schedule.endDate</label>
                <date-time-picker data="reportSchedule.reportEndDate" show-time="true"></date-time-picker>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="startDate" translate>admin.reports.schedule.filterStartDate</label>
                <span class="required-asterisk">*</span>
                <date-time-picker data="reportSchedule.filterStartDate"></date-time-picker>
            </div>
            <div class="form-group">
                <label for="endDate" translate>admin.reports.schedule.filterEndDate</label>
                <span class="required-asterisk">*</span>
                <date-time-picker data="reportSchedule.filterEndDate"></date-time-picker>
            </div>
            <div class="form-group">
                <label for="outputFormat" translate>admin.reports.schedule.outputFormat</label>
                <select ng-model="reportSchedule.outputFormat" ng-options="item.value as item.label for item in outputTypesList"
                        id="outputFormat">
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="emailAddresses" translate>admin.reports.schedule.emailAddress.title</label>
                <input type="text" ng-model="reportSchedule.reportEmailAddresses"
                        placeholder="{{'admin.reports.schedule.emailAddress.placeholder' | translate}}" class="form-control"
                        id="emailAddresses">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="onClickCancel()" translate>
            {{'admin.reports.schedule.cancel' | translate }}
        </button>
        <button type="button" class="btn btn-primary pull-right" ng-click="saveNewScheduledReport()" ng-disabled="isSubmitDisabled()">
            {{'admin.reports.schedule.submit' | translate }}
        </button>
    </div>
</div>

