<div ng-controller="Admin.SelectPrivilegesController">
    <div class="pull-right well">
        <div class="btn-group">
            <a class="btn btn-xs btn-link" href="http://www.arkcase.com/security-2/admin-privileges-description-business-2/" target="_blank" >
                <i class="fa fa-question-circle" />
                <span translate>admin.security.selectPrivileges.help</span>
            </a>
            <button class="btn btn-xs btn-link" ng-click="editRole()"><i class="fa fa-edit" />
                <span translate>admin.security.selectPrivileges.editRole</span>
            </button>
            <button class="btn btn-xs btn-link" ng-click="newRole()"><i class="fa fa-gears text" />
                <span translate>admin.security.selectPrivileges.createRole</span>
            </button>
        </div>
    </div>
    <panel-view header="{{'admin.security.selectPrivileges' | translate}}" collapsible="false">
        <div class="row">
            <object-authorization data="rolesData" object-display-name="name" on-object-selected="onObjSelect"
                    role-display-name="name" on-auth-role-change="onAuthRoleSelected"
                    object-title="{{'admin.security.selectPrivileges.applicationRole' | translate}}"
                    pagination-data-control="scrollLoadData" filter-data-control="filterData" selected-object="lastSelectedRole"
                    object-type="!role" />
        </div>
    </panel-view>
</div>