<div ng-controller="Admin.SecurityExchangeConfigurationController">
    <ng-form name="securityExchangeConfigurationForm">
        <div class="pull-right well">
            <div class="btn-group">
                <button class="btn btn-xs btn-link" ng-click="save()">
                    <i class="fa fa-save"></i>
                    <span translate>
                        admin.security.exchangeConfiguration.exchangeConfigForm.save.button
                    </span>
                </button>
            </div>
        </div>
        <panel-view header="{{'admin.security.exchangeConfiguration.title' | translate}}" collapsible="false">
            <div class="row">
                <div class="col-lg-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="exchangeConfigDataModel.integrationEnabled">
                            <span translate>
                                admin.security.exchangeConfiguration.exchangeConfigForm.enableExchangeIntegration.checkbox
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label for="exchangeServerVersion" translate>
                        admin.security.exchangeConfiguration.exchangeConfigForm.exchangeServerVersion.label
                    </label>
                    <select name="exchangeServerVersion" class="form-control" ng-model="exchangeConfigDataModel.serverVersion">
                        <option value="" disabled selected hidden translate>
                            admin.security.exchangeConfiguration.exchangeConfigForm.exchangeServerVersion.placeholder
                        </option>
                        <option ng-repeat="option in serverVersionSelectOptions" value="{{option.value}}" translate>
                            {{option.label}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="clientAccessServer" translate>
                        admin.security.exchangeConfiguration.exchangeConfigForm.clientAccessServer.label
                    </label>
                    <input name="clientAccessServer" type="text"
                            placeholder="{{'admin.security.exchangeConfiguration.exchangeConfigForm.clientAccessServer.placeholder' | translate}}"
                            ng-model="exchangeConfigDataModel.clientAccessServer" class="form-control" ng-required />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label for="exchangeDefaultAccess" translate>
                        admin.security.exchangeConfiguration.exchangeConfigForm.exchangeDefaultAccess.label
                    </label>
                    <select name="exchangeDefaultAccess" class="form-control" ng-model="exchangeConfigDataModel.defaultAccess"
                            title="{{ 'admin.security.exchangeConfiguration.exchangeConfigForm.clientAccessServer.description' | translate }}">
                        <option value="" disabled selected hidden translate>
                            admin.security.exchangeConfiguration.exchangeConfigForm.exchangeDefaultAccess.placeholder
                        </option>
                        <option ng-repeat="option in defaultAccessSelectOptions" value="{{option.value}}" translate>
                            {{option.label}}
                        </option>
                    </select>
                </div>
            </div>
        </panel-view>
    </ng-form>
</div>