<panel-view header="{{'admin.stateOfArkcase.title' | translate}}" collapsible="false">
    <div ng-controller="Admin.StateOfArkcaseController">
        <form name="stateForm">
                <span class="row">
                        <label><span translate>admin.stateOfArkcase.pickDate</span>
                            <span class="input-group col-md-12">
                                <date-time-picker data="date"></date-time-picker>
                            </span>
                        </label>
                    <span class="input-group col-md-2">
                        <button class="btn btn-sm btn-primary" ng-disabled="!date" ng-click="download()">
                            <i class="fa fa-file"></i>&nbsp;<span translate>admin.stateOfArkcase.btn.download</span>
                        </button>
                    </span>
            </span>
        </form>
    </div>
</panel-view>
