<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <!-- Map URLs to Controllers based on bean id -->
    <bean id="beanNameUrlHandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>

    <bean id="/VirtualViewerJavaHTML5/**" class="org.springframework.web.servlet.mvc.ServletWrappingController">
        <property name="servletClass" value="com.armedia.acm.proxy.http.ProxyServlet"/>
        <property name="servletName" value="snowbound"/>
        <property name="initParameters">
            <props>
                <!-- TODO: parameterize the URLs -->
                <prop key="targetUri">https://acm-arkcase/</prop>
            </props>
        </property>
    </bean>

    <bean id="/pentaho/**" class="org.springframework.web.servlet.mvc.ServletWrappingController">
        <property name="servletClass" value="com.armedia.acm.proxy.http.ProxyServlet"/>
        <property name="servletName" value="pentaho"/>
        <property name="initParameters">
            <props>
                <!-- TODO: parameterize the URLs -->
                <prop key="targetUri">https://acm-arkcase/</prop>
            </props>
        </property>
    </bean>

    <bean id="/weather/**" class="org.springframework.web.servlet.mvc.ServletWrappingController">
        <property name="servletClass" value="com.armedia.acm.proxy.http.ProxyServlet"/>
        <property name="servletName" value="openweathermap"/>
        <property name="initParameters">
            <props>
                <!-- TODO: parameterize the URLs -->
                <prop key="targetUri">http://api.openweathermap.org/data/2.5</prop>
            </props>
        </property>
    </bean>
</beans>