<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="processMailService" class="com.armedia.acm.services.email.service.AcmProcessMailServiceImpl">
        <property name="acmFolderService" ref="acmFolderService"/>
        <property name="ecmFileService" ref="ecmFileService"/>
    </bean>

    <bean id="emailSenderConfigurationService" class="com.armedia.acm.services.email.sender.service.EmailSenderConfigurationServiceImpl">
        <property name="emailSenderConfig" ref="emailSenderConfig"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
    </bean>

    <bean id="emailReceiverConfigurationService"
          class="com.armedia.acm.services.email.receiver.service.EmailReceiverConfigurationServiceImpl">
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
        <property name="emailReceiverConfig" ref="emailReceiverConfig"/>
    </bean>

    <bean id="filesystemTemplateConfigurationService"
          class="com.armedia.acm.services.email.service.AcmFilesystemMailTemplateConfigurationService">
        <property name="templateConfigurations" value="file:${user.home}/.arkcase/acm/mailTemplatesConfiguration.json"/>
        <property name="templateFolderPath" value="${user.home}/.arkcase/acm/templates"/>
        <property name="objectConverter" ref="objectConverter"/>
    </bean>

    <bean id="configurableEmailSenderService" class="com.armedia.acm.services.email.service.AcmConfigurableEmailSenderService">
        <property name="emailSenderMap">
            <map>
                <entry key="smtp" value-ref="smtpService"></entry>
                <entry key="outlook" value-ref="outlookService"></entry>
            </map>
        </property>
        <property name="emailSenderConfigurationService" ref="emailSenderConfigurationService"/>
    </bean>

    <bean id="acmEmailContentGeneratorService" class="com.armedia.acm.services.email.service.AcmEmailContentGeneratorService">
        <property name="authenticationTokenService" ref="authenticationTokenService"/>
        <property name="authenticationTokenDao" ref="authenticationTokenDao"/>
        <property name="templatingEngine" ref="templatingEngine"/>
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="objectLabelConfig" ref="objectLabelConfig"/>
    </bean>

    <bean id="templatingEngine" class="com.armedia.acm.services.email.service.TemplatingEngine">
        <property name="applicationConfig" ref="applicationProperties"/>
    </bean>
</beans>