<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="createComplaintAPIController" class="com.armedia.acm.plugins.complaint.web.api.CreateComplaintAPIController">
        <property name="complaintTransaction" ref="saveComplaintTransaction"/>
        <property name="eventPublisher" ref="complaintEventPublisher"/>
        <property name="complaintDao" ref="acmComplaintDao"/>
    </bean>

    <bean id="getComplaintTypesAPIController" class="com.armedia.acm.plugins.complaint.web.api.GetComplaintListOfValuesAPIController">
        <property name="listOfValuesService" ref="listOfValuesService"/>
        <property name="priorityDescriptor" ref="complaintPriorityTable"/>
        <property name="typesDescriptor" ref="complaintTypeTable"/>
    </bean>

    <bean id="saveComplaintDetailsAPIController" class="com.armedia.acm.plugins.complaint.web.api.SaveComplaintDetailsAPIController">
        <property name="complaintDao" ref="acmComplaintDao"/>
        <property name="eventPublisher" ref="complaintEventPublisher"/>
        <property name="complaintTransaction" ref="saveComplaintTransaction"/>
    </bean>

    <bean id="addComplaintFileController" class="com.armedia.acm.plugins.complaint.web.api.AddFileAPIController">
        <property name="complaintDao" ref="acmComplaintDao"/>
        <property name="ecmFileService" ref="ecmFileService"/>
    </bean>

    <bean id="findComplaintAPIController" class="com.armedia.acm.plugins.complaint.web.api.FindComplaintAPIController">
        <property name="complaintDao" ref="acmComplaintDao"/>
        <property name="eventPublisher" ref="complaintEventPublisher"/>
    </bean>

    <bean id="complaintWorkflowAPIController" class="com.armedia.acm.plugins.complaint.web.api.ComplaintWorkflowAPIController">
        <property name="eventPublisher" ref="complaintEventPublisher"/>
    </bean>



</beans>