<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

  <!--  <bean id="complaintUiController" class="com.armedia.acm.plugins.complaint.web.ComplaintUiController">
        <property name="plugin" ref="complaintPlugin"/>
        <property name="authenticationTokenService" ref="authenticationTokenService"/>
        <property name="formUrl" ref="formResource"/>
        <property name="userActionDao" ref="userActionDao"/>
        <property name="formProperties" ref="acm-forms-properties"/>
        <property name="notificationProperties" ref="notificationProperties"/>
    </bean>-->

</beans>

