<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
       
 
     <!--<context:property-placeholder-->
            <!--properties-ref="_lawEnforcementAppProperties"-->
            <!--ignore-unresolvable="true"-->
            <!--local-override="false"-->
            <!--order="18372"/>-->

    <!--<bean id="_lawEnforcementAppProperties"-->
          <!--class="org.springframework.beans.factory.config.PropertiesFactoryBean" >-->
        <!--&lt;!&ndash; note: must leave "file:" at the start of the file name for spring-->
        <!--to be able to read the file; otherwise it will try to read from the-->
        <!--classpath &ndash;&gt;-->
        <!--<property name="location" value="file:${user.home}/.acm/lawEnforcementApp.properties"/>-->
        <!--<property name="ignoreResourceNotFound" value="true"/>-->
        <!--<property name="localOverride" value="false"/>-->
        <!--<property name="properties">-->
            <!--<props>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>  -->

       
    <bean id="complaintUiController" class="com.armedia.acm.plugins.complaint.web.ComplaintUiController">
        <property name="authenticationTokenService" ref="authenticationTokenService"/>
		<property name="formUrl" ref="formResource" />
		<property name="userActionDao" ref="userActionDao" />		
    </bean>
        
</beans>

