<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:property-placeholder
        properties-ref="complaintPluginProperties"
        ignore-unresolvable="true"
        local-override="false"
        order="1"/>


    <!-- keeping this bean for now even though we are not using any properties yet.  -->
    <bean id="complaintPluginProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.acm/complaintPlugin.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
            </props>
        </property>
    </bean>

    <!-- event handlers -->
    <bean id="startComplaintBusinessProcessAction" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.complaint.created"/>
        <property name="action" ref="startBusinessProcessAction"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map>
                <entry key="processDefinitionKey" value="cmComplaintWorkflow"/>
            </map>
        </property>
    </bean>

    <!-- lookup tables -->
    <bean id="complaintPriorityTable" class="com.armedia.acm.configuration.LookupTableDescriptor">
        <property name="tableName" value="acm_complaint_priority_lu"/>
        <property name="description" value="Valid complaint priorities."/>
    </bean>
    <bean id="complaintTypeTable" class="com.armedia.acm.configuration.LookupTableDescriptor">
        <property name="tableName" value="acm_complaint_type_lu"/>
        <property name="description" value="Valid complaint types."/>
    </bean>

    <bean id="acmComplaintDao" class="com.armedia.acm.plugins.complaint.dao.ComplaintDao"/>

    <bean id="saveComplaintTransaction" class="com.armedia.acm.plugins.complaint.service.SaveComplaintTransaction">
        <property name="muleClient" ref="muleClient"/>
    </bean>
    
    <bean id="complaintPlugin" class="com.armedia.acm.pluginmanager.AcmPlugin">
        <property name="enabled" value="true"/>
        <property name="homeUrl" value="/plugin/complaint"/>
        <property name="navigatorTab" value="true"/>
        <property name="navigatorTabName" value="Complaints"/>
        <property name="pluginName" value="Complaint Plugin"/>
        <property name="pluginProperties" ref="complaintPluginProperties"/>
        <property name="privileges">
            <list>
                <bean class="com.armedia.acm.pluginmanager.AcmPluginPrivilege">
                    <property name="privilegeName" value="acm-complaint-create"/>
                    <property name="applicationRolesWithPrivilege">
                        <list>
                            <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                            <value>ROLE_CALLCENTER</value>
                        </list>
                    </property>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.AcmPluginPrivilege">
                    <property name="privilegeName" value="acm-complaint-save"/>
                    <property name="applicationRolesWithPrivilege">
                        <list>
                            <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                            <value>ROLE_CALLCENTER</value>
                            <value>ROLE_INVESTIGATOR</value>
                        </list>
                    </property>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.AcmPluginPrivilege">
                    <property name="privilegeName" value="acm-complaint-list"/>
                    <property name="applicationRolesWithPrivilege">
                        <list>
                            <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                            <value>ROLE_CALLCENTER</value>
                            <value>ROLE_INVESTIGATOR</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="complaintEventPublisher" class="com.armedia.acm.plugins.complaint.service.SaveComplaintEventPublisher"/>

    <bean id="saveComplaintBusinessRule" class="com.armedia.acm.plugins.complaint.service.SaveComplaintBusinessRule">
        <property name="ruleSpreadsheetFilename" value="drools-complaint-number-rules.xlsx"/>
    </bean>

    <bean id="findComplaintService" class="com.armedia.acm.plugins.complaint.service.FindComplaintService">
    </bean>

</beans>