<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!-- Spring requires a property placeholder to resolve placeholders such as ${user.home} -->
    <context:property-placeholder />

    <bean id="userHomeFolder" class="java.io.File">
        <constructor-arg value="${user.home}"/>
    </bean>

    <bean id="vfsManager" class="org.apache.commons.vfs2.VFS" factory-method="getManager"/>

    <bean id="configFolder" factory-bean="vfsManager"  factory-method="resolveFile">
        <constructor-arg index="0" ref="userHomeFolder"/>
        <constructor-arg index="1" value=".acm"/>
    </bean>

    <bean id="configFileListener" class="com.armedia.acm.files.ConfigFileWatcher">
        <property name="baseFolder" ref="configFolder"/>
        <property name="ignoreFolders">
            <list>
                <value>${file.separator}activemq</value>
                <value>${file.separator}activiti${file.separator}/versions</value>
            </list>
        </property>
    </bean>

    <bean id="configFileMonitor" class="org.apache.commons.vfs2.impl.DefaultFileMonitor">
        <constructor-arg ref="configFileListener"/>
        <property name="recursive" value="true"/>
        <!--<property name="delay" value="3000"/>-->
    </bean>

    <bean id="configMonitorController" class="com.armedia.acm.files.ConfigFileController"
            init-method="initBean"
            destroy-method="stopBean"
            depends-on="activitiProcessEngineConfiguration,drlDeployer">
        <property name="configFolder" ref="configFolder"/>
        <property name="configFolderMonitor" ref="configFileMonitor"/>
    </bean>

</beans>