<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	   
    <bean id="orbeonFormController" class="com.armedia.acm.service.orbeon.forms.web.api.OrbeonFormController">
		<property name="marshaller" ref="castorMarshaller" />
		<property name="unmarshaller" ref="castorMarshaller" />
	</bean>
    
	<bean id="castorMarshaller" class="org.springframework.oxm.castor.CastorMarshaller">
		<property name="mappingLocation" value="classpath:orbeonFormXMLMapping.xml" />
	</bean>
            
    <bean id="orbeonPdfController" class="com.armedia.acm.service.orbeon.forms.web.api.OrbeonPdfController">
    </bean>
    
    <bean id="formTypeListOfValuesAPIController" class="com.armedia.acm.service.orbeon.forms.web.api.FormTypeListOfValuesAPIController">
        <property name="listOfValuesService" ref="listOfValuesService"/>
        <property name="typesDescriptor" ref="formTypeTable"/>
    </bean>

</beans>