<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

              
    <bean id="formTypeTable" class="com.armedia.acm.configuration.LookupTableDescriptor">
        <property name="tableName" value="acm_form_type_lu"/>
        <property name="description" value="Valid form types."/>
    </bean>
</beans>