<div class="modal-header">
    <h3>
        <span translate>documentDetails.comp.annotationTags.modal.title</span>
    </h3>

</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <object-authorization data="data" object-display-name="name" on-object-selected="init" role-display-name="name"
                    on-auth-role-change="onChange" object-title="{{'admin.security.functionalAccessControl.applicationRole' | translate}}"
                    object-type="!role" show-tooltip="true"/>
        </div>
        <br>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" ng-click="onClickCancel()">
            <span translate>documentDetails.comp.annotationTags.modal.buttons.cancel</span>
        </button>
        <button class="btn btn-primary" ng-click="onClickOk()">
            <span translate>documentDetails.comp.annotationTags.modal.buttons.ok</span>
        </button>
    </div>
</div>
