<div>
    <div>
        <label>
            <span translate>documentDetails.userSearch.dropdownLabel</span>
        </label>
        <select class="form-control"  ng-model="participantType"
                ng-options="option.type as option.name for option in participantTypes">
        </select>
    </div>
    <div>
        <search-modal header="{{'documentDetails.userSearch.title' | translate}}"
                      cancel="{{'documentDetails.userSearch.cancelButton' | translate}}"
                      ok="{{'documentDetails.userSearch.confirmButton' | translate}}"
                      search-placeholder="{{'documentDetails.userSearch.search.placeholder' | translate}}"
                      search="{{'documentDetails.userSearch.search.btn' | translate}}"
                      filter="{{filter}}"
                      config="userSearchConfig"
                      modal-instance="modalInstance"
                />
    </div>

</div>