<div class="modal-header">
    <h3>
        <span translate>documentDetails.comp.participants.role.title</span>
    </h3>

</div>

<div class="modal-body">
    <div>
        <label>
            <span translate>documentDetails.comp.participants.role.dropdownLabel</span>
        </label>
        <select class="form-control" ng-model="participantRole"
                ng-options="option.type as option.name for option in participantTypes">
        </select>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="cancel()">
        <span translate>documentDetails.comp.participants.role.buttons.cancel</span>
    </button>
    <button class="btn btn-default" ng-click="ok()" ng-disabled="ldapConfigForm.$invalid">
        <span translate>documentDetails.comp.participants.role.buttons.ok</span>
    </button>
</div>


