<table class="table table-striped th-sortable table-hover">
    <thead>
    <tr>
        <th id="name" width="40%">Name</th>
        <th id="type" width="20%">Type</th>
        <th id="supervisorName" width="20%">Supervisor Name</th>
        <th id="actions" width="20%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td headers="name"></td>
        <td headers="type"></td>
        <td headers="supervisorName"></td>
        <td headers="actions"></td>
    </tr>
    </tbody>
</table>
<div class="ui-grid-pager-panel">
    <div class="ui-grid-pager-container">
        <div class="ui-grid-pager-control">
            <pagination class="pagination-sm" total-items="totalGroups" items-per-page="pageSize" ng-model="currentPage"
                        boundary-links="true" ng-change="pageChanged()" style="margin:0px"></pagination>
        </div>
        <div class="ui-grid-pager-row-count-picker">
            <select ng-model="pageSize" ng-options="o as o for o in pages" ng-change="pageChanged()"></select>
            <span class="ui-grid-pager-row-count-label">&nbsp; items per page</span>
        </div>
    </div>
    <div class="ui-grid-pager-count-container">
        <div class="ui-grid-pager-count">
                <span ng-show="totalGroups > 0">
                    {{showingLow}} - {{showingHigh}} of {{totalGroups}} items
                </span>
        </div>
    </div>
</div>
