<section ng-controller="ProfileController" class="well-sm">
    <header>
        <div class="pull-right inline">
            <div>
                <button class="btn btn-default btn-sm" data-title="Change Password" data-toggle="modal" data-target="#changePassword"><i class="fa fa-key"></i> {{'profile.buttons.password' | translate}}</button>
            <div class="scroll-body" slimscroll="{height: '800px'}" ng-include="'modules/profile/views/components/modalTemplates/profile-modal-changePassword.client.view.html'"></div>
            </div>
        </div>

        <h3> {{'profile.title' | translate}}</h3>
    </header>
    <div class="clearfix">
        <div class="col-xs-6" >
            <div class="scroll-body" slimscroll="{height: '800px'}" ng-include="'modules/profile/views/components/profile-pic.client.view.html'">
            </div>

            <div class="scroll-body" slimscroll="{height: '800px'}" ng-include="'modules/profile/views/components/profile-group.client.view.html'">
            </div>

            <div class="scroll-body" slimscroll="{height: '800px'}" ng-include="'modules/profile/views/components/profile-subscriptions.client.view.html'">
            </div>
        </div>


        <div class="col-xs-6">
            <div  class="scroll-body" slimscroll="{height: '800px'}" ng-include="'modules/profile/views/components/profile-contact.client.view.html'">
            </div>
            <div class="scroll-body" slimscroll="{height: '800px'}" ng-include="'modules/profile/views/components/profile-company.client.view.html'">
            </div>
        </div>

    </div>
</section>




