<section ng-controller="ProfileController" class="well-sm">
    <header>
        <div class="pull-right inline">
            <div>
                <button class="btn btn-default btn-sm" data-title="Change Password" data-toggle="modal" data-target="#changePassword"><i class="fa fa-key"></i> {{'profile.buttons.password' | translate}}</button>
                <div class="modal fade in" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span class="sr-only">{{'profile.buttons.password' | translate}}</span></button>
                                <h4 class="modal-title">{{'profile.buttons.password' | translate}}</h4>
                            </div>
                            <div class="modal-body">
                                <section class="row">
                                    <div class="col-sm-12">
                                        <label for="newpass" class="label">{{'profile.buttons.message' | translate}}</label>
                                        <input id="newpass" type="password" class="form-control" placeholder="{{'profile.buttons.password' | translate}}">
                                        <br>
                                        <label for="newpassagain" class="label">{{'profile.buttons.confirmation' | translate}}</label>
                                        <input id="newpassagain" type="password" class="form-control" placeholder="{{'profile.buttons.confirmation' | translate}}">
                                    </div>
                                </section>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{'profile.buttons.cancel' | translate}}</button>
                                <button type="button" class="btn btn-primary" ng-click="changePassword()">{{'profile.buttons.password' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3> {{'profile.title' | translate}}</h3>
    </header>
    <div class="clearfix">
        <div class="col-xs-6" >
            <div class="scroll-body" slimscroll="{height: '800px'}" ng-include="'modules/profile/views/components/profile-pic.client.view.html'">
            </div>

            <div class="scroll-body" slimscroll="{height: '800px'}" ng-include="'modules/profile/views/components/profile-group.client.view.html'">
            </div>

            <div class="scroll-body" slimscroll="{height: '800px'}" ng-include="'modules/profile/views/components/profile-subscriptions.client.view.html'">
            </div>
        </div>


        <div class="col-xs-6">
            <div  class="scroll-body" slimscroll="{height: '800px'}" ng-include="'modules/profile/views/components/profile-contact.client.view.html'">
            </div>
            <div class="scroll-body" slimscroll="{height: '800px'}" ng-include="'modules/profile/views/components/profile-company.client.view.html'">
            </div>
        </div>

    </div>
</section>




