<div ng-controller="CostTracking.ActionsController">
    <div class="pull-right">
        <div class="btn-group">
            <a class="btn btn-sm btn-default" ui-sref="frevvo.new-costsheet()">
                <i class="fa fa-edit"></i>
                <span translate>costTracking.comp.actions.new.button</span>
            </a>
            <a class="btn btn-sm btn-default" ui-sref="frevvo.edit-costsheet(editCostsheetParams)">
                <i class="fa fa-edit"></i>
                <span translate>costTracking.comp.actions.edit.button</span>
            </a>
            <button class="btn btn-sm btn-default" ng-click="refresh()">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
</div>