<div ng-controller="Complaints.ActionsController">
    <div class="col-xs-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="restricted" ng-click="onClickRestrict($event)">
                {{'complaints.comp.actions.restrict' | translate}}
            </label>
        </div>
    </div>

    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-sm btn-default" ng-click="createNew()"><i
                    class="fa fa-edit"></i> {{'complaints.comp.actions.new.button' | translate}}
            </button>
            <button class="btn btn-sm btn-default" ng-click="close()"><i class="fa fa-times"></i>
                {{'complaints.comp.actions.close.button' | translate}}
            </button>
            <button class="btn btn-sm btn-default" ng-show="showBtnUnsubscribe" ng-click="unsubscribe(caseInfo)"><i
                    class="fa fa-bullhorn"></i>
                {{'complaints.comp.actions.unsubscribe.button' | translate}}
            </button>
            <button class="btn btn-sm btn-default" ng-show="showBtnSubscribe" ng-click="subscribe(caseInfo)"><i
                    class="fa fa-bullhorn"></i>
                {{'complaints.comp.actions.subscribe.button' | translate}}
            </button>
        </div>
    </div>
</div>
