<section ng-controller="DocumentDetailsController">
    <div class="module-content">
        <div class="module-header">
            <div class="well-sm clearfix">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                    	<div class="h4 font-bold">{{ecmFile.fileName || 'Unknown'}}</div>
                    	<small class="text-muted" translate>documentDetails.name</small>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="h4 font-bold">{{::ecmFile.creator | mapKeyValue: userList:'object_id_s':'name' || 'Unknown'}}</div>
                        <small class="text-muted" translate>documentDetails.creator</small>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="h4 font-bold">{{::ecmFile.created | date : ('common.defaultDateUIFormat' | translate)  || 'Unknown'}}</div>
                        <small class="text-muted" translate>documentDetails.created</small>
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col-sm-3">
                        <div class="h4 font-bold">{{::assignee | mapKeyValue: userList:'object_id_s':'name' || 'Unknown'}}</div>
                        <small class="text-muted" translate>documentDetails.assignee</small>
                    </div>-->
                    <div class="col-sm-6 col-md-3">
                        <div class="h4 font-bold">{{fileType || 'Unknown'}}</div>
                        <small class="text-muted" translate>documentDetails.name</small>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="h4 font-bold">{{ecmFile.status || 'Unknown'}}</div>
                        <small class="text-muted" translate>documentDetails.status</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body well-sm">
            <div ng-include="'modules/document-details/views/document-viewer.client.view.html'"></div>
        </div>
        <div class="right-sidebar well-sm">
            <ng-form name="docDetails" novalidate>
                <tabset>
                    <tab heading="{{'documentDetails.comp.versionHistory.title' | translate}}">
                        <div ng-include="'modules/document-details/views/components/version-history.client.view.html'"></div>
                    </tab>

                    <tab heading="{{'documentDetails.comp.eventHistory.title' | translate}}">
                        <div ng-include="'modules/document-details/views/components/event-history.client.view.html'"></div>
                    </tab>

                    <tab heading="{{'documentDetails.comp.notes.title' | translate}}">
                        <div ng-include="'modules/document-details/views/components/notes.client.view.html'"></div>
                    </tab>

                    <tab heading="{{'documentDetails.comp.participants.title' | translate}}">
                        <div ng-include="'modules/document-details/views/components/participants.client.view.html'"></div>
                    </tab>

                    <tab heading="{{'documentDetails.comp.tags.title' | translate}}">
                        <div ng-include="'modules/document-details/views/components/tags.client.view.html'"></div>
                    </tab>

                </tabset>
            </ng-form>
        </div>
    </div>
</section>
