<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="exceptionResolver" class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver"/>

    <bean id="acmApplication" class="com.armedia.acm.core.AcmApplication"/>

    <bean id="emailSenderConfig" class="com.armedia.acm.email.model.EmailSenderConfig"/>

    <bean id="emailReceiverConfig" class="com.armedia.acm.email.model.EmailReceiverConfig"/>

    <bean id="phoneRegexConfig" class="com.armedia.acm.plugins.addressable.service.PhoneRegexConfig"/>


</beans>