<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="dataAccessPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Data Access Control Plugin"/>
    </bean>

    <bean id="acmAssignmentBusinessRule" class="com.armedia.acm.services.dataaccess.service.impl.AcmAssignedObjectBusinessRule">
        <property name="ruleSpreadsheetFilename" value="drools-assignment-rules.xlsx"/>
    </bean>

    <bean id="acmDataAccessControlBusinessRule" class="com.armedia.acm.services.dataaccess.service.impl.AcmAssignedObjectBusinessRule">
        <property name="ruleSpreadsheetFilename" value="drools-access-control-rules.xlsx"/>
    </bean>

    <bean id="dataAccessPrivilegeListener" class="com.armedia.acm.services.dataaccess.service.impl.DataAccessPrivilegeListener">
        <property name="assignmentBusinessRule" ref="acmAssignmentBusinessRule"/>
        <property name="accessControlBusinessRule" ref="acmDataAccessControlBusinessRule"/>
    </bean>

    <bean id="participantAccessChecker" class="com.armedia.acm.services.dataaccess.service.ParticipantAccessChecker"/>

    <bean id="searchAccessControlFields" class="com.armedia.acm.services.dataaccess.service.SearchAccessControlFields">
        <property name="participantAccessChecker" ref="participantAccessChecker"/>
    </bean>

    <bean id="arkPermissionEvaluator" class="com.armedia.acm.services.dataaccess.service.impl.ArkPermissionEvaluator">

    </bean>

</beans>