<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <bean id="ecmFilePluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="ECM File Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="filePrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="downloadUrlPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/ecm/download/{fileId}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="alfrescoDownloadUrlPrivilege"
                      class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/ecm/download/workspace:/SpacesStore/{fileId}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="alfrescoDownloadUrlPrivilege"
                      class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/ecm/download/byId/{ecmFileId}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="documentUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/document/{fileId}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="folderListUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/ecm/folder/{objectType}/{objectId}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="containerListUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/ecm/container/{objectType}/{objectId}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="uploadFilePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/service/ecm/upload"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="addNewFolder" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/service/ecm/folder/{parentFolderId}/{newFolderName}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="renameFolder" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/service/ecm/folder/{objectId}/{newName}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="renameFile" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/service/ecm/file/{objectId}/{newName}/{extension}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="deleteFile" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/service/ecm/id/{fileId}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="moveFile" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url"
                              value="/api/{version}/service/ecm/moveToAnotherContainer/{targetObjectType}/{targetObjectId}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="copyFile" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url"
                              value="/api/{version}/service/ecm/copyToAnotherContainer/{targetObjectType}/{targetObjectId}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="replaceFile" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/service/ecm/replace"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="deleteFolder" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/service/ecm/folder/{folderId}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
                <bean id="listSubFolder" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/ecm/folder/{objectType}/{objectId}/{folderId}"/>
                    <property name="requiredPrivilege" ref="filePrivilege"/>
                </bean>
            </list>
        </property>
    </bean>

</beans>