@import "variables";

.leftnav-menu {
  width: $leftnav-menu-width;
  display: table-cell;
  height: 100%;
  background-color: $leftnav-menu-bg;
  color: $leftnav-menu-color;
  border-right: $leftnav-menu-border;
  vertical-align: top;

  .title {
    font-size: $font-size-small;
    color: $gray-light;
    margin-top: $leftnav-menu-title-margin-top;
    margin-left: $leftnav-menu-title-margin-left;
  }

  a {
    color: $leftnav-menu-color;
    font-size: $leftnav-menu-font-size;
  }

  // active items color
  li.active {
    background-color: $leftnav-menu-active-bg;
    color: $leftnav-menu-active-color;
    a {
      color: $leftnav-menu-active-color;
    }
  }
  // hover item
   > li > a:hover, >li > a:focus {
    background-color: $leftnav-menu-hover-bg;
    color: $leftnav-menu-hover-color;
    a {
      color: $leftnav-menu-hover-color;
    }
  }

  .navigation-icon {
    padding-right: 15px;
  }
}