@import "variables";

.navbar-arkcase {
  background-color: $navbar-bg;
  border-color: $navbar-bg;
  border-radius: 0;
  margin-bottom: 0;
  min-height: $navbar-min-height;

  // text and links color
  color: $navbar-color;
  a {
    color: $navbar-color;
  }

  // Navigation items
  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: $navbar-menu-item-hover-bg;
    color: $navbar-menu-item-hover-color;
  }

  // Header
  .navbar-header {
    width: $navbar-header-width;
    background-color: $navbar-header-bg;
    min-height: $navbar-min-height;
    color: $navbar-header-color;
    a {
      color: $navbar-header-color;
      background-image: $navbar-logo-bg-img;
      background-size: $navbar-logo-bg-size;
      background-repeat: $navbar-logo-bg-repeat;
      background-position: $navbar-logo-bg-position;
      position: $navbar-logo-position;
      width: $navbar-logo-width;
      padding-left: $navbar-logo-padding-left;
      overflow: $navbar-logo-overflow;
    }
  }

  .navbar-form {
    margin-top: 15px;
  }
  .navbar-nav >li > a {
    padding: 20px;
    font-size: $font-size-small;
  }

  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background-color: $blue-darker;
  }
}