.user-info {
  height: 74px; //TODO Remove this dirty hack after demo
  background-color: $user-info-bg;

  .user-pic {
    height: 50px;
    width: 50px;
    background-color: $user-pic-bg;
    border-radius: 500px;
  }
}