@import "../../../scss/base/variables";
@import "../../../scss/modules/module/variables.scss";

// Left Navigation menu
$leftnav-menu-bg:               $white-dark !default;
$leftnav-menu-color:            $gray-darker !default;
$leftnav-menu-width:            200px !default;
$leftnav-menu-font-size:        $font-size-default !default;
$leftnav-menu-border:           1px solid #eaeef1 !default;
$leftnav-menu-title-margin-top: 5px !default;
$leftnav-menu-title-margin-left: 5px !default;


// User Info
$user-info-height:              $left-sidebar-height;
$user-info-bg:                  $blue-lighter2;
$user-pic-width:                50px;
$user-pic-height:               50px;
$user-pic-bg:                   #e0e6f0 !default;

// Active items
$leftnav-menu-active-bg:        $white-darker !default;
$leftnav-menu-active-color:     $gray-darker !default;


// Hover items
$leftnav-menu-hover-bg:         $white-darker !default;
$leftnav-menu-hover-color:      $gray-darker !default;


  // Navbar settings
$navbar-bg:                     $blue !default;
$navbar-color:                  $blue-lighter !default;
$navbar-header-bg:              $blue-dark !default;
$navbar-header-color:           $white !default;
$navbar-header-width:           $leftnav-menu-width;
$navbar-min-height:             60px !default;

$navbar-logo-bg-img: url('../../../assets/img/logo.png') !default;
$navbar-logo-bg-size: 145px !default;
$navbar-logo-bg-repeat: no-repeat !default;
$navbar-logo-bg-position: 25px 10px !default;
$navbar-logo-position: relative !default;
$navbar-logo-width: 100% !default;
$navbar-logo-overflow: hidden !default;

// Menu items
$navbar-menu-item-hover-bg:     $blue-dark !default;
$navbar-menu-item-hover-color:  $white !default;

// Page Content
$page-content-bg:               $white-dark2 !default;