<div ng-controller="CostTracking.ActionsController">
    <div class="col-md-12">
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-sm btn-default" ng-click="loadNewCostsheetFrevvoForm()"><i
                        class="fa fa-edit"></i> {{'costTracking.comp.actions.new.button' | translate}}
                </button>
                <button class="btn btn-sm btn-default" ng-click="loadExistingCostsheetFrevvoForm()"><i
                        class="fa fa-edit"></i> {{'costTracking.comp.actions.edit.button' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>