<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="labelManagementService" class="com.armedia.acm.services.labels.service.LabelManagementService">
        <property name="moduleConfigLocation"
            value="#{ systemProperties ['user.home'] }/.arkcase/custom/modules/%s/module_config/config.json"/>
        <property name="resourceFile" value="%s-%s.yaml"/>
        <property name="resourcesLocation" value="#{ systemProperties ['user.home'] }/.arkcase/acm/acm-config-server-repo/labels/"/>
        <property name="settingsFileLocation" value="#{ systemProperties ['user.home'] }/.arkcase/acm/resources/settings/settings.json"/>
        <property name="defaultLocale" value="en"/>
        <property name="defaultLocales">
            <map>
                <entry key="en" value="English"></entry>
            </map>
        </property>
        <!--<property name="labelsConfiguration" ref="labelsConfiguration"/>-->
    </bean>

    <bean id="translationService" class="com.armedia.acm.services.labels.service.TranslationService">
        <property name="userDao" ref="userJpaDao"/>
        <property name="labelManagementService" ref="labelManagementService"/>
    </bean>

    <bean id="labelCheckService" class="com.armedia.acm.services.labels.service.LabelCheckService">
        <property name="modulesLocation" value="#{ systemProperties ['user.home'] }/.arkcase/custom/modules/"/>
        <property name="resourcesLocation" value="#{ systemProperties ['user.home'] }/.arkcase/acm/resources/resources/"/>
    </bean>
</beans>