<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <beans:beans>

        <beans:bean id="foiaRequestBrokerConfig" class="gov.foia.model.FoiaRequestBrokerConfig"/>

        <!-- FOIA Request Broker -->
        <beans:bean id="connectionFactory" class="org.apache.activemq.ActiveMQSslConnectionFactory">
            <beans:property name="brokerURL"
                            value="#{foiaRequestBrokerConfig.url}?jms.blobTransferPolicy.uploadUrl=#{foiaRequestBrokerConfig.fileUploadUrl}"/>
            <beans:property name="keyStore" value="#{foiaRequestBrokerConfig.keystore}"/>
            <beans:property name="keyStorePassword" value="#{foiaRequestBrokerConfig.keystorePassword}"/>
            <beans:property name="trustStore" value="#{foiaRequestBrokerConfig.truststore}"/>
            <beans:property name="trustStorePassword" value="#{foiaRequestBrokerConfig.truststorePassword}"/>
        </beans:bean>

        <beans:bean id="portalEntity" class="gov.foia.model.PortalFOIARequest"/>

        <beans:bean id="foiaRequestBrokerClient" class="gov.foia.broker.FOIARequestBrokerClient">
            <beans:constructor-arg index="0" ref="connectionFactory"/>
            <beans:constructor-arg index="1" value="external-foia-requests-test"/>
            <beans:constructor-arg index="2" value="external-foia-requests-test"/>
            <beans:lookup-method name="getEntity" bean="portalEntity"/>
        </beans:bean>

        <beans:bean id="foiaRequestFileBrokerClient" class="gov.foia.broker.FOIARequestFileBrokerClient">
            <beans:constructor-arg index="0" ref="connectionFactory"/>
            <beans:constructor-arg index="1" value="foia-file-queue-test"/>
            <beans:constructor-arg index="2" value="foia-file-queue-test"/>
            <beans:property name="fileUploadUrl" value="#{foiaRequestBrokerConfig.fileUploadUrl}"/>
        </beans:bean>
    </beans:beans>
</beans:beans>