<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="protectedUrlDao" class="com.armedia.acm.services.protecturl.dao.ProtectedUrlDao"/>

    <bean id="protectUrlService" class="com.armedia.acm.services.protecturl.service.ProtectUrlServiceImpl">
        <property name="protectedUrlDao" ref="protectedUrlDao"/>
    </bean>

    <bean id="protectUrlSimpleJobDescriptor"
          class="com.armedia.acm.services.protecturl.service.ProtectUrlJobDescriptor" parent="acmJobDescriptor">
        <property name="protectUrlService" ref="protectUrlService"/>
    </bean>

</beans>