<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <bean id="protectUrlDao" class="com.armedia.acm.services.protecturl.dao.ProtectUrlDao"/>

    <bean id="protectUrlService" class="com.armedia.acm.services.protecturl.service.ProtectUrlServiceImpl">
        <property name="protectUrlDao" ref="protectUrlDao"/>
    </bean>

    <task:scheduled-tasks scheduler="deleteExpiredUrlsScheduler">
        <!-- checks and removes expired url from database on every 10 minutes = 1000 * 60 * 10 = 600000 milliseconds-->
        <task:scheduled ref="protectUrlService" method="removeExpired" fixed-delay="100000" initial-delay="100000"/>
    </task:scheduled-tasks>

    <task:scheduler id="deleteExpiredUrlsScheduler" pool-size="1"/>

</beans>