<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="muleContextManager" class="com.armedia.acm.muletools.mulecontextmanager.MuleContextManager">
        <property name="specificConfigFiles">
            <list>
                <value>/flows/MuleCmisConnectorFlow.xml</value>
                <value>/flows/getObjectByPathFlow.xml</value>
                <value>/flows/createFolderFlow.xml</value>
                <value>/flows/addFileFlow.xml</value>
            </list>
        </property>
    </bean>

</beans>