<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="logoutUrl" class="java.lang.String">
        <constructor-arg index="0" value="/logout"/>
    </bean>

    <import resource="file:${user.home}/.arkcase/acm/app-config.xml"/>

    <bean id="expiredUrl" class="java.lang.String">
        <constructor-arg value="/expiredUrl"/>
    </bean>

    <bean id="configList" class="java.util.ArrayList">
        <constructor-arg>
            <list/>
        </constructor-arg>
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="default"/>
                </bean>
            </set>
        </property>
    </bean>

    <bean id="alfrescoSyncConfig" class="com.armedia.acm.plugins.ecm.service.sync.AlfrescoSyncConfig"/>

    <bean id="rmaConfig" class="com.armedia.acm.plugins.alfrescorma.model.AlfrescoRmaConfig"/>

</beans>
