<div>
    <div ng-if="data.length > 0">
        <div class="panel-body">
            <div class="chart-container">
                <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination
                     adjust-table-height="gridOptions.data.length" class="grid"></div>
            </div>
        </div>
    </div>
    <div class="alert" ng-if="data.length == 0">
        <p class="text-center">
            <span translate>dashboard.widgets.expenses.noDataMessage</span>
        </p>
    </div>
</div>