<div>
    <div ui-grid="userWebsites.gridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination
         class="grid"></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-sm btn-primary pull-right" ng-click="userWebsites.addNew()">
                    <span translate>dashboard.widgets.userWebsites.modal.addWebsite</span>
                </button>
            </div>
        </div>
    </div>
</div>