<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="getAuditAPIController" class="com.armedia.acm.plugins.audit.web.api.GetAuditAPIController">
        <property name="auditDao" ref="auditDao"/>
    </bean>

    <bean id="getAuditByObjectTypeAndObjectIdAPIController"
        class="com.armedia.acm.plugins.audit.web.api.GetAuditByObjectTypeAndObjectIdAPIController">
        <property name="auditDao" ref="auditDao"/>
        <property name="replaceEventTypeNames" ref="replaceEventTypeNames"/>
        <property name="auditEventConfig" ref="auditEventConfig"/>
        <property name="auditConfig" ref="auditConfig"/>
    </bean>

    <bean id="postAuditEventAPIController" class="com.armedia.acm.plugins.audit.web.api.PostAuditEventAPIController">
        <property name="ecmFileDao" ref="ecmFileDao"/>
    </bean>

</beans>
