<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="caseFilePluginProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.acm/caseFilePlugin.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
                <prop key="casefile.case-types">Agricultural,Arson,Better Business Dispute,Domestic Dispute,Government,Local,Pollution</prop>
            </props>
        </property>
    </bean>

    <bean id="caseFileDao" class="com.armedia.acm.plugins.casefile.dao.CaseFileDao"/>  
    <bean id="changeCaseStatusDao" class="com.armedia.acm.plugins.casefile.dao.ChangeCaseStatusDao"/>
    <bean id="dispositionDao" class="com.armedia.acm.plugins.casefile.dao.DispositionDao"/>

    <bean id="caseFileEventUtility" class="com.armedia.acm.plugins.casefile.utility.CaseFileEventUtility"/>

    <bean id="changeCaseFileStateService" class="com.armedia.acm.plugins.casefile.service.ChangeCaseFileStateService">
        <property name="caseFileEventUtility" ref="caseFileEventUtility"/>
        <property name="dao" ref="caseFileDao"/>
        <property name="changeCaseStatusDao" ref="changeCaseStatusDao" />
    </bean>
    <bean id="caseFileToSolrTransformer" class="com.armedia.acm.plugins.casefile.service.CaseFileToSolrTransformer">
        <property name="userDao" ref="userJpaDao"/>
        <property name="caseFileDao" ref="caseFileDao"/>
        <property name="searchAccessControlFields" ref="searchAccessControlFields"/>
    </bean>
    <bean id="dispositionToSolrTransformer" class="com.armedia.acm.plugins.casefile.service.DispositionToSolrTransformer">
        <property name="dispositionDao" ref="dispositionDao"/>
    </bean>

    <bean id="acmCasePlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="ACM Case Files"/>
        <property name="pluginProperties" ref="caseFilePluginProperties"/>
        <property name="privileges">
            <list>
                <ref bean="caseFileListPrivilege"/>
                <ref bean="saveCasePrivilege"/>
                <ref bean="acmCaseApprovePrivilege"/>
                <ref bean="caseFileCreatePrivilege"/>
            </list>
        </property>
        <property name="suportedObjectTypesNames">
            <list>
                <value>CASE_FILE</value>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="caseTypes" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casefile/caseTypes"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean>
                <bean id="casefileLandingPage" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/casefile"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean>
                <bean id="listAllCasesUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casefile"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean>
                <bean id="getCaseUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/casefile/{caseId}"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean>
                <bean id="caseById" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casefile/byId/{id}"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean>
                <bean id="casesByStatusUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/casebystatus"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean>
                <bean id="changeCaseStatusUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/casefile/closeCase/{caseId}"/>
                    <property name="requiredPrivilege" ref="saveCasePrivilege"/>
                </bean>
                <bean id="saveCaseUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/casefile"/>
                    <property name="requiredPrivilege" ref="saveCasePrivilege"/>
                </bean>
                <bean id="listCaseEventsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casefile/events/{caseId}"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean>
                <bean id="getCasesByStatusUrlPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casebystatus/{timePeriod}"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean>
                <bean id="listAllCasesByUserUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casefile/forUser/{user}"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean>
                <bean id="getCaseFileStatusSummaryUrlPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casebystatus/summary"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean>
                <bean id="addFileToCase" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/casefile/file"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean>
                <bean id="caseFileCreateUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casefile/wizard"/>
                    <property name="requiredPrivilege" ref="caseFileCreatePrivilege"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="acmCaseApprovePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-case-approve"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <bean id="saveCasePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="fis-save-case"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
            </list>
        </property>
    </bean>

    <bean id="caseFileListPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="case-file-list"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    
    <bean id="caseFileCreatePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="case-file-create"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <bean id="saveCaseFileBusinessRule" class="com.armedia.acm.plugins.casefile.service.SaveCaseFileBusinessRule">
        <property name="ruleSpreadsheetFilename" value="drools-case-file-rules.xlsx"/>
    </bean>

    <bean id="saveCaseService" class="com.armedia.acm.plugins.casefile.service.SaveCaseService">
        <property name="caseFileDao" ref="caseFileDao"/>
        <property name="saveRule" ref="saveCaseFileBusinessRule"/>
        <property name="caseFileEventUtility" ref="caseFileEventUtility"/>
        <property name="muleClient" ref="muleClient"/>
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
    </bean>
    
    <bean id="changeCaseStatusProcessEndListener" class="com.armedia.acm.plugins.casefile.service.ChangeCaseStatusProcessEndListener">
    	<property name="changeCaseFileStateService" ref="changeCaseFileStateService" />
    </bean>
    
    <bean id="caseFileHistoryListener" class="com.armedia.acm.plugins.casefile.service.CaseFileHistoryListener">
    	<property name="acmObjectHistoryService" ref="acmObjectHistoryService" />
    </bean>
    
    <bean id="caseFileAssigneeChangeChecker" class="com.armedia.acm.plugins.casefile.service.CaseFileAssigneeChangeChecker">
    	<property name="acmObjectHistoryDao" ref="acmObjectHistoryDao" />
    	<property name="eventPublisher" ref="acmObjectHistoryEventPublisher" />
    	<property name="acmAssignmentDao" ref="acmAssignmentDao" />
    </bean>

    <bean id="caseFileDataAccessUpdateLocator" class="com.armedia.acm.plugins.casefile.service.CaseFileDataAccessUpdateLocator">
        <property name="caseFileDao" ref="caseFileDao"/>
    </bean>
    
</beans>