<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="caseFileQueueHandler" class="com.armedia.acm.plugins.casefile.pipeline.presave.CaseFileQueueHandler">
        <property name="acmQueueDao" ref="acmQueueDao"/>
    </bean>

    <bean id="queueCaseFilePipelineManager"
          class="com.armedia.acm.services.pipeline.PipelineManager">
        <property name="preSaveHandlers">
            <list>
                <ref bean="caseFileQueueHandler"/>
            </list>
        </property>
        <property name="postSaveHandlers">
            <list>
                <ref bean="caseFileRulesHandler"/>
            </list>
        </property>
    </bean>

    <bean id="queueCaseService" class="com.armedia.acm.plugins.casefile.service.QueueCaseServiceImpl">
        <property name="queuePipelineManager" ref="queueCaseFilePipelineManager"/>
        <property name="caseFileDao" ref="caseFileDao"/>
        <property name="userTrackerService" ref="userTrackerService"/>
        <property name="acmQueueDao" ref="acmQueueDao"/>
        <property name="rulesHandler" ref="caseFileRulesHandler"/>
    </bean>

</beans>