<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="saveCaseService"
          class="com.armedia.acm.plugins.casefile.service.SaveCaseServiceImpl">
        <property name="caseFileDao" ref="caseFileDao"/>
        <property name="pipelineManager" ref="caseFilePipelineManager"/>
    </bean>

    <bean id="caseFilePipelineManager" class="com.armedia.acm.services.pipeline.PipelineManager">
        <property name="preSaveHandlers">
            <list
                    value-type="com.armedia.acm.services.pipeline.handler.PipelineHandler">
                <ref bean="caseFileSetCreatorHandler"/>
                <ref bean="caseFileParticipantRulesHandler"/>
            </list>
        </property>
        <property name="postSaveHandlers">
            <list
                    value-type="com.armedia.acm.services.pipeline.handler.PipelineHandler">
                <ref bean="caseFileRulesHandler"/>
                <ref bean="caseFileContainerHandler"/>
                <ref bean="caseFileEcmFolderHandler"/>
                <ref bean="caseFileOutlookHandler"/>
                <ref bean="caseFileFolderStructureHandler"/>
                <ref bean="caseFileStartBusinessProcessIfNeededHandler"/>
            </list>
        </property>
    </bean>

    <!-- pre-save handlers -->
    <bean id="caseFileSetCreatorHandler"
          class="com.armedia.acm.plugins.casefile.pipeline.presave.CaseFileSetCreatorHandler"/>


    <bean id="caseFileContainerHandler"
          class="com.armedia.acm.plugins.casefile.pipeline.postsave.CaseFileContainerHandler"/>
    <bean id="caseFileEcmFolderHandler"
          class="com.armedia.acm.plugins.casefile.pipeline.postsave.CaseFileEcmFolderHandler">
        <property name="ecmFileService" ref="ecmFileService"/>
    </bean>
    <bean id="caseFileOutlookHandler"
          class="com.armedia.acm.plugins.casefile.pipeline.postsave.CaseFileOutlookHandler">
        <property name="autoCreateFolderForCaseFile"
                  value="${casefile.auto_create_calendar_folder}"/>
        <property name="outlookContainerCalendarService" ref="outlookContainerService"/>
    </bean>
    <bean id="caseFileFolderStructureHandler"
          class="com.armedia.acm.plugins.casefile.pipeline.postsave.CaseFileFolderStructureHandler">
        <property name="folderStructureAsString" value="${casefile.folder.structure}"/>
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="acmFolderService" ref="acmFolderService"/>
    </bean>
    <bean id="caseFileStartBusinessProcessIfNeededHandler"
          class="com.armedia.acm.plugins.casefile.pipeline.postsave.CaseFileStartBusinessProcessIfNeededHandler">
        <property name="startBusinessProcessBusinessRule"
                  ref="caseFileStartBusinessProcessBusinessRule"/>
        <property name="startBusinessProcessService" ref="startBusinessProcessService"/>
    </bean>

</beans>