<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="caseFileRulesHandler"
          class="com.armedia.acm.plugins.casefile.pipeline.postsave.CaseFileRulesHandler">
        <property name="saveRule" ref="saveCaseFileBusinessRule"/>
    </bean>

    <bean id="caseFileParticipantRulesHandler"
          class="com.armedia.acm.plugins.casefile.pipeline.presave.CaseFileParticipantRulesHandler">
        <property name="participantsRule" ref="participantsBusinessRule"/>
    </bean>

    <bean id="saveCaseFileBusinessRule"
          class="com.armedia.acm.plugins.casefile.service.SaveCaseFileBusinessRule"
          parent="simpleStatelessSingleObjectRuleManager">
        <property name="ruleSpreadsheetFilename" value="drools-case-file-rules.xlsx"/>
    </bean>

    <bean id="caseFileStartBusinessProcessBusinessRule"
          class="com.armedia.acm.plugins.casefile.service.CaseFileStartBusinessProcessBusinessRule"
          parent="simpleStatelessSingleObjectRuleManager">
        <property name="ruleSpreadsheetFilename" value="drools-start-business-process-rules.xlsx"/>
    </bean>

    <bean id="splitCaseFileBusinessRule"
          class="com.armedia.acm.plugins.casefile.service.SplitCaseFileBusinessRule"
          parent="simpleStatelessSingleObjectRuleManager">
        <property name="ruleSpreadsheetFilename" value="drools-split-case-file-rules.xlsx"/>
    </bean>

</beans>