<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


    <bean id="caseFileEntityHandler" class="com.armedia.acm.calendar.service.integration.exchange.CalendarEntityHandler">
        <property name="outlookDao" ref="exchangeWebServicesOutlookDao"/>
        <property name="entityType" value="CASE_FILE"/>
        <property name="entityTypeForQuery" value="CaseFile"/>
        <property name="containerEntityDao" ref="acmContainerFolderDao"/>
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
        <property name="entityIdForQuery" value="id"/>
        <property name="closedStates" value="#{caseConfig.statusClosed}"/>
        <property name="permissionEvaluator" ref="arkPermissionEvaluator"/>
        <property name="readPermission" value="viewCaseDetailsPage"/>
        <property name="writePermission" value="editCase"/>
        <property name="deletePermission" value="editCase"/>
        <property name="folderCreatorDao" ref="outlookFolderCreatorDao"/>
        <property name="acmObjectUtils" ref="acmObjectUtils"/>
    </bean>
</beans>