<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd"
       xmlns:int="http://www.springframework.org/schema/integration">

    <int:channel id="caseFileFilteredMailChannel"/>

    <bean id="caseFileMailFilter" class="com.armedia.acm.services.email.filter.AcmObjectPatternMailFilter">
        <constructor-arg index="0" value="${casefile.email.regex.case_number}"/>
        <constructor-arg index="1" value="${casefile.email.regex.object_type}"/>
    </bean>

    <bean id="caseFileMailHandler" class="com.armedia.acm.services.email.handler.AcmObjectMailHandler">
    	<constructor-arg index="0" ref="caseFileDao" />
		<constructor-arg index="1" value="findByCaseNumber" />
		<constructor-arg index="2" type="java.lang.Class" value="com.armedia.acm.plugins.casefile.model.CaseFile" />
        <property name="mailDirectory" value="${casefile.email.folder.relative.path}"/>
        <property name="enabled" value="${casefile.email.handler.enabled}"/>
        <property name="objectIdRegexPattern" value="${casefile.email.regex.case_number}"/>
        <property name="acmFolderService" ref="acmFolderService"/>
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
    </bean>

    <int:service-activator input-channel="caseFileFilteredMailChannel" ref="caseFileMailHandler" method="handle"/>

    <int:chain input-channel="mailChannel" output-channel="caseFileFilteredMailChannel">
        <int:filter ref="caseFileMailFilter" throw-exception-on-rejection="true" method="accept"/>
    </int:chain>
</beans>