<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="caseFilePluginProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.acm/caseFilePlugin.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
                <prop key="casefile.case-types">Agricultural,Arson,Better Business Dispute,Domestic Dispute,Government,Local,Pollution</prop>
            </props>
        </property>
    </bean>

    <bean id="caseFileDao" class="com.armedia.acm.plugins.casefile.dao.CaseFileDao"/>  
    <bean id="changeCaseStatusDao" class="com.armedia.acm.plugins.casefile.dao.ChangeCaseStatusDao"/>
    <bean id="dispositionDao" class="com.armedia.acm.plugins.casefile.dao.DispositionDao"/>

    <bean id="caseFileEventUtility" class="com.armedia.acm.plugins.casefile.utility.CaseFileEventUtility"/>

    <bean id="changeCaseFileStateService" class="com.armedia.acm.plugins.casefile.service.ChangeCaseFileStateService">
        <property name="caseFileEventUtility" ref="caseFileEventUtility"/>
        <property name="dao" ref="caseFileDao"/>
        <property name="changeCaseStatusDao" ref="changeCaseStatusDao" />
    </bean>
    <bean id="caseFileToSolrTransformer" class="com.armedia.acm.plugins.casefile.service.CaseFileToSolrTransformer">
        <property name="userDao" ref="userJpaDao"/>
        <property name="caseFileDao" ref="caseFileDao"/>
        <property name="searchAccessControlFields" ref="searchAccessControlFields"/>
    </bean>
    <bean id="dispositionToSolrTransformer" class="com.armedia.acm.plugins.casefile.service.DispositionToSolrTransformer">
        <property name="dispositionDao" ref="dispositionDao"/>
    </bean>

    <bean id="acmCasePlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="ACM Case Files"/>
        <property name="pluginProperties" ref="caseFilePluginProperties"/>
        <property name="suportedObjectTypesNames">
            <list>
                <value>CASE_FILE</value>
            </list>
        </property>
    </bean>

    <bean id="saveCaseFileBusinessRule" class="com.armedia.acm.plugins.casefile.service.SaveCaseFileBusinessRule">
        <property name="ruleSpreadsheetFilename" value="drools-case-file-rules.xlsx"/>
    </bean>

    <bean id="saveCaseService" class="com.armedia.acm.plugins.casefile.service.SaveCaseServiceImpl">
        <property name="caseFileDao" ref="caseFileDao"/>
        <property name="saveRule" ref="saveCaseFileBusinessRule"/>
        <property name="caseFileEventUtility" ref="caseFileEventUtility"/>
        <lookup-method name="getMuleClient" bean="muleClient"/>
        <!--<property name="muleClient" ref="muleClient"/>-->
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
    </bean>
    
    <bean id="changeCaseStatusProcessEndListener" class="com.armedia.acm.plugins.casefile.service.ChangeCaseStatusProcessEndListener">
    	<property name="changeCaseFileStateService" ref="changeCaseFileStateService" />
    </bean>
    
    <bean id="caseFileHistoryListener" class="com.armedia.acm.plugins.casefile.service.CaseFileHistoryListener">
    	<property name="acmObjectHistoryService" ref="acmObjectHistoryService" />
        <property name="nonHistoryGeneratingEvents">
            <list>
                <value>com.armedia.acm.casefile.event.search</value>
            </list>
        </property>
    </bean>
    
    <bean id="caseFileAssigneeChangeChecker" class="com.armedia.acm.plugins.casefile.service.CaseFileAssigneeChangeChecker">
    	<property name="acmObjectHistoryDao" ref="acmObjectHistoryDao" />
    	<property name="eventPublisher" ref="acmObjectHistoryEventPublisher" />
    	<property name="acmAssignmentDao" ref="acmAssignmentDao" />
    </bean>

    <bean id="caseFileDataAccessUpdateLocator" class="com.armedia.acm.plugins.casefile.service.CaseFileDataAccessUpdateLocator">
        <property name="caseFileDao" ref="caseFileDao"/>
    </bean>
    
</beans>
