<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="mergeCaseService"
          class="com.armedia.acm.plugins.casefile.service.MergeCaseServiceImpl">
        <property name="saveCaseService" ref="saveCaseService"/>
        <property name="caseFileDao" ref="caseFileDao"/>
        <property name="acmFolderDao" ref="acmFolderDao"/>
        <property name="acmFolderService" ref="acmFolderService"/>
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="acmContainerDao" ref="acmContainerFolderDao"/>
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="acmParticipantService" ref="acmParticipantService"/>
        <property name="excludeDocumentTypes"
                  value="${casefile.merge.exclude_document_types}"/>
    </bean>

    <bean id="splitCaseService"
          class="com.armedia.acm.plugins.casefile.service.SplitCaseServiceImpl">
        <property name="saveCaseService" ref="saveCaseService"/>
        <property name="caseFileDao" ref="caseFileDao"/>
        <property name="acmTaskService" ref="acmTaskService"/>
        <property name="acmFolderService" ref="acmFolderService"/>
        <property name="typesToCopy" value="${casefile.split.typesToCopy}"/>
        <property name="splitCaseFileBusinessRule" ref="splitCaseFileBusinessRule"/>
    </bean>
</beans>