<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="saveCaseFileAPIController" class="com.armedia.acm.plugins.casefile.web.api.SaveCaseFileAPIController">
        <property name="saveCaseService" ref="saveCaseService"/>
    </bean>

    <bean id="findCaseByIdAPIController" class="com.armedia.acm.plugins.casefile.web.api.FindCaseByIdAPIController">
        <property name="caseFileDao" ref="caseFileDao"/>
        <property name="changeCaseStatusDao" ref="changeCaseStatusDao" />
    </bean>

    <bean id="getCasesByStatusAPIController" class="com.armedia.acm.plugins.casefile.web.api.GetCasesByStatusAPIController">
        <property name="caseFileDao" ref="caseFileDao"/>
    </bean>

    <bean id="listCaseFilesByUserAPIController" class="com.armedia.acm.plugins.casefile.web.api.ListCaseFilesByUserAPIController">
        <property name="caseFileDao" ref="caseFileDao"/>
        <property name="caseFileEventUtility" ref="caseFileEventUtility"/>
    </bean>

    <bean id="getCaseFileStatusSummaryAPIController" class="com.armedia.acm.plugins.casefile.web.api.GetCaseFileStatusSummaryAPIController">
        <property name="caseFileDao" ref="caseFileDao"/>
        <property name="caseFileEventUtility" ref="caseFileEventUtility"/>
    </bean>

    <bean id="getCaseTypesAPIController" class="com.armedia.acm.plugins.casefile.web.api.GetCaseTypesAPIController">
        <property name="caseFileProperties" ref="caseFilePluginProperties"/>
    </bean>
    
    <bean id="findCaseFileEventsByIdAPIController" class="com.armedia.acm.plugins.casefile.web.api.FindCaseFileEventsByIdAPIController">
        <property name="auditDao" ref="auditDao"/>
    </bean>
</beans>