<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="saveCaseFileAPIController" class="com.armedia.acm.plugins.casefile.web.api.SaveCaseFileAPIController">
        <property name="saveCaseService" ref="saveCaseService"/>
    </bean>

    <bean id="listCaseFilesAPIController" class="com.armedia.acm.plugins.casefile.web.api.ListCaseFilesAPIController">
        <property name="caseFileDao" ref="caseFileDao"/>
    </bean>

    <bean id="findCaseByIdAPIController" class="com.armedia.acm.plugins.casefile.web.api.FindCaseByIdAPIController">
        <property name="caseFileDao" ref="caseFileDao"/>
    </bean>

    <bean id="getCasesByStatusAPIController" class="com.armedia.acm.plugins.casefile.web.api.GetCasesByStatusAPIController">
        <property name="caseFileDao" ref="caseFileDao"/>
    </bean>

    <bean id="closeCaseAPIController" class="com.armedia.acm.plugins.casefile.web.api.CloseCaseAPIController">
        <property name="changeCaseFileStateService" ref="changeCaseFileStateService"/>
    </bean>

    <bean id="findCaseFileEventsAPIController" class="com.armedia.acm.plugins.casefile.web.api.FindCaseFileEventsAPIController">
        <property name="dao" ref="auditDao"/>
    </bean>
</beans>