<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="objectAssociationDao" class="com.armedia.acm.plugins.objectassociation.dao.ObjectAssociationDao"/>

    <bean id="objectAssociationService"
          class="com.armedia.acm.plugins.objectassociation.service.ObjectAssociationServiceImpl">
        <property name="springContextHolder" ref="acmContextHolder"/>
        <property name="objectAssociationDao" ref="objectAssociationDao"/>
    </bean>

    <bean id="objectAssociationEventPublisher"
          class="com.armedia.acm.plugins.objectassociation.service.ObjectAssociationEventPublisher"/>

</beans>