<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="tagPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="Tag Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="tagPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="tagUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/tag"/>
                    <property name="requiredPrivilege" ref="tagPrivilege"/>
                </bean>
                <bean id="addNewTag" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/service/tag"/>
                    <property name="requiredPrivilege" ref="tagPrivilege"/>
                </bean>
                <bean id="associateTag" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/service/tag/{objectId}/{objectType}/{tagId}"/>
                    <property name="requiredPrivilege" ref="tagPrivilege"/>
                </bean>
                <bean id="listAllTags" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/tag"/>
                    <property name="requiredPrivilege" ref="tagPrivilege"/>
                </bean>
                <bean id="listAssociatedTagsByObjectTypeAndId"
                      class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/tag/{objectId}/{objectType}"/>
                    <property name="requiredPrivilege" ref="tagPrivilege"/>
                </bean>
                <bean id="removeTag" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/service/tag/{tagId}"/>
                    <property name="requiredPrivilege" ref="tagPrivilege"/>
                </bean>
                <bean id="removeTagAssociation" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/service/tag/{objectId}/{objectType}/{tagId}"/>
                    <property name="requiredPrivilege" ref="tagPrivilege"/>
                </bean>
                <bean id="updateTag" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/service/tag"/>
                    <property name="requiredPrivilege" ref="tagPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>

</beans>