<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="billingInvoiceDocumentGenerator"
        class="com.armedia.acm.plugins.billing.service.BillingInvoiceDocumentGenerator">
        <property name="billingService" ref="billingService"/>
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="billingInvoiceDao" ref="billingInvoiceDao"/>
        <property name="pdfService" ref="pdfService"/>
    </bean>

    <bean id="billingInvoiceEmailSenderService"
        class="com.armedia.acm.plugins.billing.service.BillingInvoiceEmailSenderService">
        <property name="billingService" ref="billingService"/>
        <property name="notificationSender" ref="notificationSender"/>
        <property name="notificationDao" ref="notificationDao"/>
        <property name="fileService" ref="ecmFileService"/>
    </bean>

</beans>