<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="listNotificationsAPIController" class="com.armedia.acm.services.notification.web.api.ListAllNotificationsAPIController">
        <property name="notificationDao" ref="notificationDao"/>
    </bean>
    
    <bean id="getUnreadPopupNotificationsForUserAPIController" class="com.armedia.acm.services.notification.web.api.GetUnreadPopupNotificationsForUserAPIController">
        <property name="notificationDao" ref="notificationDao"/>
        <property name="executeSolrQuery" ref="executeSolrQuery"/>
    </bean>

    <bean id="deleteNotificationByNotificationId" class="com.armedia.acm.services.notification.web.api.DeleteNotificationByIdAPIController">
        <property name="notificationDao" ref="notificationDao"/>
    </bean>

    <bean id="saveNotification" class="com.armedia.acm.services.notification.web.api.SaveNotificationAPIController">
        <property name="notificationDao" ref="notificationDao"/>
        <property name="notificationEventPublisher" ref="notificationEventPublisher"/>
    </bean>

    <bean id="sendEmailWithAttachmentsAPIController"
          class="com.armedia.acm.services.notification.web.api.SendEmailWithAttachmentsAPIController">
        <property name="notificationSender" ref="notificationSender"/>
    </bean>
    
    <bean id="sendEmailWithEmbeddedLinksAPIController"
          class="com.armedia.acm.services.notification.web.api.SendEmailWithEmbeddedLinksAPIController">
        <property name="notificationSender" ref="notificationSender"/>
    </bean>

    <bean id="notificationUiController" class="com.armedia.acm.services.notification.web.NotificationUiController">
        <property name="pluginProperties" ref="notificationProperties"/>
    </bean>
    
</beans>