<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="notificationService" class="com.armedia.acm.services.notification.service.NotificationServiceImpl">
        <property name="notificationDao" ref="notificationDao"/>
        <property name="notificationEventPublisher" ref="notificationEventPublisher"/>
        <property name="springContextHolder" ref="acmContextHolder"/>
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
        <property name="notificationFormatter" ref="notificationFormatter"/>
        <property name="notificationConfig" ref="notificationConfig"/>
    </bean>

    <bean id="notificationDao" class="com.armedia.acm.services.notification.dao.NotificationDao">
        <property name="notificationUtils" ref="notificationUtils"/>
    </bean>

    <bean id="notificationJobDescriptor" class="com.armedia.acm.services.notification.service.NotificationJobDescriptor"
          parent="acmJobDescriptor">
        <property name="notificationService" ref="notificationService"/>
    </bean>

    <bean id="participantsNotified" class="com.armedia.acm.services.notification.service.ParticipantsNotified">
        <property name="userDao" ref="userJpaDao"/>
        <property name="groupDao" ref="groupDao"/>
        <property name="acmDataService" ref="acmDataService"/>
    </bean>

    <bean id="assigneeNotified" class="com.armedia.acm.services.notification.service.AssigneeNotified">
        <property name="userDao" ref="userJpaDao"/>
    </bean>

    <bean id="assigneeDueDateNotifier" class="com.armedia.acm.services.notification.service.AssigneeDueDateNotifier">
        <property name="userDao" ref="userJpaDao"/>
        <property name="holidayConfigurationService" ref="holidayConfigurationService"/>
    </bean>

    <bean id="notificationEventPublisher" class="com.armedia.acm.services.notification.service.NotificationEventPublisher"/>

    <bean id="notificationToSolrTransformer" class="com.armedia.acm.services.notification.service.NotificationToSolrTransformer">
        <property name="notificationDao" ref="notificationDao"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="notificationUtils" ref="notificationUtils"/>
    </bean>

    <!-- Executors -->
    <bean id="acmEntityTemplateModelProvider" class="com.armedia.acm.services.notification.service.provider.AcmEntityTemplateModelProvider">
        <property name="dataService" ref="acmDataService"/>
    </bean>

    <bean id="acmEntityTemplateNoUserPrefixModelProvider" class="com.armedia.acm.services.notification.service.provider.AcmEntityTemplateNoUserPrefixModelProvider">
        <property name="dataService" ref="acmDataService"/>
        <property name="userInfoHelper" ref="userInfoHelper"/>
    </bean>

    <bean id="acmUserTemplateModelProvider" class="com.armedia.acm.services.notification.service.provider.AcmUserTemplateModelProvider">
        <property name="userDao" ref="userJpaDao"/>
    </bean>

    <bean id="forgotUserNameTamplateModelProvider"
        class="com.armedia.acm.services.notification.service.provider.ForgotUsernameTemplateModelProvider">
        <property name="userDao" ref="userJpaDao"/>
    </bean>

    <bean id="notificationTemplateModelProvider"
          class="com.armedia.acm.services.notification.service.provider.NotificationTemplateModelProvider">
        <property name="notificationUtils" ref="notificationUtils"/>
    </bean>

    <bean id="notificationGroupTemplateModelProvider"
          class="com.armedia.acm.services.notification.service.provider.NotificationGroupTemplateModelProvider">
        <property name="dataService" ref="acmDataService"/>
        <property name="userInfoHelper" ref="userInfoHelper"/>
    </bean>

    <bean id="dueDateReminderModelProvider" class="com.armedia.acm.services.notification.service.provider.DueDateReminderModelProvider">
    </bean>

    <bean id="requestDownloadedModelProvider" class="com.armedia.acm.services.notification.service.provider.RequestDownloadedModelProvider">
    </bean>

    <bean id="acmEntitySendExecutor" class="com.armedia.acm.services.notification.service.SendExecutor">
        <property name="springContextHolder" ref="acmContextHolder"/>
        <property name="templateModelProvider" ref="acmEntityTemplateModelProvider"/>
    </bean>

    <bean id="acmEntitySendExecutorNoUserPrefix" class="com.armedia.acm.services.notification.service.SendExecutor">
        <property name="springContextHolder" ref="acmContextHolder"/>
        <property name="templateModelProvider" ref="acmEntityTemplateNoUserPrefixModelProvider"/>
    </bean>

    <bean id="notificationSendExecutor" class="com.armedia.acm.services.notification.service.SendExecutor">
        <property name="springContextHolder" ref="acmContextHolder"/>
        <property name="templateModelProvider" ref="notificationTemplateModelProvider"/>
    </bean>

    <bean id="notificationGroupSendExecutor" class="com.armedia.acm.services.notification.service.SendExecutor">
        <property name="springContextHolder" ref="acmContextHolder"/>
        <property name="templateModelProvider" ref="notificationGroupTemplateModelProvider"/>
    </bean>

    <bean id="forgotUsernameSendExecutor" class="com.armedia.acm.services.notification.service.SendExecutor">
        <property name="springContextHolder" ref="acmContextHolder"/>
        <property name="templateModelProvider" ref="forgotUserNameTamplateModelProvider"/>
    </bean>

    <bean id="userSendExecutor" class="com.armedia.acm.services.notification.service.SendExecutor">
        <property name="springContextHolder" ref="acmContextHolder"/>
        <property name="templateModelProvider" ref="acmUserTemplateModelProvider"/>
    </bean>

    <bean id="dueDateReminderExecutor" class="com.armedia.acm.services.notification.service.SendExecutor">
        <property name="springContextHolder" ref="acmContextHolder"/>
        <property name="templateModelProvider" ref="dueDateReminderModelProvider"/>
    </bean>

    <bean id="requestDownloadedExecutor" class="com.armedia.acm.services.notification.service.SendExecutor">
        <property name="springContextHolder" ref="acmContextHolder"/>
        <property name="templateModelProvider" ref="requestDownloadedModelProvider"/>
    </bean>

    <bean id="purgeExecutor" class="com.armedia.acm.services.notification.service.PurgeExecutor">
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
    </bean>
    <bean id="noopExecutor" class="com.armedia.acm.services.notification.service.NoopExecutor"/>

    <bean id="objectNameTitleFormatter" class="com.armedia.acm.services.notification.service.ObjectNameTitleFormatter">
        <property name="notificationUtils" ref="notificationUtils"/>
    </bean>

    <bean id="acmNotificationPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Save Notification Service Plugin"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
    </bean>

    <!-- Senders Definition -->

    <!--<bean id="authenticationTokenDao" class="com.armedia.acm.services.authenticationtoken.dao.AuthenticationTokenDao"/>-->

    <!--     <bean id="emailNotificationSender" class="com.armedia.acm.services.notification.service.EmailNotificationSender">
            <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
            <property name="propertyFileManager" ref="propertyFileManager" />
            <property name="notificationPropertyFileLocation" ref="notificationPropertyFileLocation"/>
            <property name="muleContextManager" ref="muleContextManager"/>
            <property name="authenticationTokenService" ref="authenticationTokenService"/>
            <property name="authenticationTokenDao" ref="authenticationTokenDao"/>
        </bean> -->

    <bean id="baseNotificationSender" class="com.armedia.acm.services.notification.service.NotificationSender" abstract="true">
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
        <property name="notificationUtils" ref="notificationUtils"/>
        <property name="notificationTemplate" value="file:#{notificationConfig.emailTemplatePath}"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="dataService" ref="acmDataService"/>
        <property name="templatingEngine" ref="templatingEngine"/>
        <property name="templateService" ref="filesystemTemplateConfigurationService"/>
    </bean>

    <bean id="smtpNotificationSender" class="com.armedia.acm.services.notification.service.SmtpNotificationSender"
        parent="baseNotificationSender">
        <property name="emailSenderService" ref="smtpService"/>
    </bean>

    <bean id="microsoftExchangeNotificationSender" class="com.armedia.acm.services.notification.service.MicrosoftExchangeNotificationSender"
        parent="baseNotificationSender">
        <property name="emailSenderService" ref="outlookService"/>
    </bean>

    <bean id="notificationSenderFactory" class="com.armedia.acm.services.notification.service.NotificationSenderFactory">
        <property name="notificationSenderMap">
            <map>
                <entry key="smtp" value-ref="smtpNotificationSender"/>
                <entry key="outlook" value-ref="microsoftExchangeNotificationSender"/>
            </map>
        </property>
        <property name="emailSenderConfig" ref="emailSenderConfig"/>
    </bean>

    <bean id="notificationSender" factory-bean="notificationSenderFactory" factory-method="getNotificationSender"/>

    <bean id="notificationUtils" class="com.armedia.acm.services.notification.service.NotificationUtils">
        <property name="acmAppConfiguration" ref="acmApplication"/>
        <property name="acmDataService" ref="acmDataService"/>
        <property name="notificationConfig" ref="notificationConfig"/>
    </bean>

    <bean id="notificationFormatter" class="com.armedia.acm.services.notification.service.NotificationFormatter">
        <property name="notificationConfig" ref="notificationConfig"/>
    </bean>

    <bean id="notificationConfig" class="com.armedia.acm.services.notification.model.NotificationConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>

    <bean id="onForgotPassword" class="com.armedia.acm.services.notification.service.OnForgotPassword">
        <property name="resetPasswordService" ref="resetPassword"/>
    </bean>

    <bean id="onSetPassword" class="com.armedia.acm.services.notification.service.OnSetPasswordEmail">
        <property name="resetPasswordService" ref="resetPassword"/>
    </bean>

    <bean id="resetPassword" class="com.armedia.acm.services.notification.service.ResetPasswordService">
        <property name="notificationDao" ref="notificationDao"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="acmSpringActiveProfile" ref="acmSpringActiveProfile"/>
    </bean>

    <bean id="onForgotUsername" class="com.armedia.acm.services.notification.service.OnForgotUsername">
        <property name="notificationDao" ref="notificationDao"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="acmSpringActiveProfile" ref="acmSpringActiveProfile"/>
    </bean>

    <bean id="onLoginCheckPasswordExpiration" class="com.armedia.acm.services.notification.service.OnLoginCheckPasswordExpiration">
        <property name="resetPasswordService" ref="resetPassword"/>
        <property name="userDao" ref="userJpaDao"/>
    </bean>

    <bean id="acmEmailMentionsService" class="com.armedia.acm.services.notification.service.AcmEmailMentionsService">
        <property name="acmAppConfiguration" ref="acmApplication"/>
        <property name="templatingEngine" ref="templatingEngine"/>
        <property name="notificationDao" ref="notificationDao"/>
        <property name="applicationConfig" ref="applicationProperties"/>
    </bean>

    <bean id="userInfoHelper" class="com.armedia.acm.services.notification.helper.UserInfoHelper">
        <property name="userDao" ref="userJpaDao"/>
        <property name="contextHolder" ref="acmContextHolder"/>
    </bean>
</beans>