<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
        >

    <bean id="caseFileMailHandler" class="com.armedia.acm.plugins.casefile.handler.CaseFileMailHandler">
        <property name="mailDirectory" value="${casefile.email.folder.relative.path}"/>
        <property name="enabled" value="${casefile.email.handler.enabled}"/>
        <property name="caseNumberRegexPattern" value="${casefile.email.regex.case_number}"/>
    </bean>

    <bean id="caseFileMailFilter" class="com.armedia.acm.plugins.casefile.filter.CaseFileMailFilter">
        <property name="caseNumberRegexPattern" value="${casefile.email.regex.case_number}"/>
    </bean>
</beans>