<section ng-controller="SubscriptionsController">
	 <div class="module-content">
        <div class="left-sidebar">
            <div class="module-header">
                <h3>Subscriptions</h3>
            </div>
            <div class="scroll-body"
                 ng-include="'modules/subscriptions/views/components/subscriptions-facets.client.view.html'">
            </div>
        </div>
        <div class="content-body">
            <div class="module-header">
                <div ng-include="'modules/subscriptions/views/components/subscriptions-input.client.view.html'"></div>
            </div>
            <div class="well-sm" ng-include="'modules/subscriptions/views/components/subscriptions-results.client.view.html'"></div>
        </div>
    </div>
</section>
