<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="msOutlookPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Microsoft Outlook Plugin"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
        <property name="suportedObjectTypesNames">
            <list/>
        </property>
    </bean>

    <bean id="outlookContainerService" class="com.armedia.acm.plugins.outlook.service.impl.OutlookContainerCalendarServiceImpl">
        <property name="userDao" ref="userJpaDao"/>
        <property name="acmContainerDao" ref="acmContainerFolderDao"/>
        <property name="outlookFolderService" ref="outlookService"/>
        <property name="userOrgService" ref="acmUserOrgService"/>
        <property name="outlookService" ref="outlookService"/>
        <property name="outlookConfig" ref="outlookConfig"/>
    </bean>

</beans>