<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="holidayConfigurationAPIController"
          class="com.armedia.acm.services.holiday.service.web.api.HolidayConfigurationAPIController">
        <property name="holidayConfigurationService" ref="holidayConfigurationService"/>
    </bean>

    <bean id="businessHoursConfigurationAPIController"
          class="com.armedia.acm.services.holiday.service.web.api.BusinessHoursConfigurationAPIController">
        <property name="businessHoursConfigurationService" ref="businessHoursConfigurationService"/>
    </bean>

</beans>
