<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="holidayConfigurationService" class="com.armedia.acm.services.holiday.service.HolidayConfigurationService">
        <property name="holidayConfigurationProps" ref="holidayConfigurationProps"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
        <property name="businessHoursConfig" ref="businessHoursConfig"/>
        <property name="applicationConfig" ref="applicationProperties"/>
    </bean>

    <bean id="holidayConfigurationProps" class="com.armedia.acm.services.holiday.model.HolidayConfigurationProps" scope="refresh">
        <aop:scoped-proxy/>
    </bean>

    <bean id="businessHoursConfig" class="com.armedia.acm.services.holiday.model.BusinessHoursConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>

    <bean id="businessHoursConfigurationService" class="com.armedia.acm.services.holiday.service.BusinessHoursConfigurationService">
        <property name="businessHoursConfig" ref="businessHoursConfig"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
    </bean>

</beans>