<nav class="nav-primary hidden-xs" ng-controller="LeftNavigationController">

    <div ng-include="'modules/core/views/user-info.client.view.html'">
    </div>

    <div class="text-muted text-sm">Navigation</div>
    <ul class="nav nav-main">
        <li ng-repeat="item in menu.items | orderBy: 'position' " ng-class="{ active: $state.includes(item.link)}">
            <a  href="/#!/{{item.link}}" title="{{item.title}}" class="auto">
                <i class="i i-statistics icon"> </i>
                <strong>{{item.title}}</strong>
            </a>
        </li>
    </ul>
</nav>