<div class="modal-header">
    <h3>
        <span translate>common.directive.coreCalendar.addEventModal.title</span>
    </h3>
</div>
<div class="modal-body">
    <form name="addEventForm">
        <div class="row">
            <label class="col-sm-12" for="subject">
                <span translate>common.directive.coreCalendar.addEventModal.form.lblSubject</span>
                <span class="required-asterisk">*</span>
            </label>
            <div name="subject" class="col-sm-12">
                <input type="text" class="form-control" ng-model="eventDataModel.subject" required>
            </div>
        </div>
        <br>
        <div class="row">
            <label class="col-sm-12" for="startDateTime">
                <span translate>common.directive.coreCalendar.addEventModal.form.lblStartDate</span>
                <span class="required-asterisk">*</span>
            </label>
            <fieldset class="col-sm-12" name="startDateTime">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   datepicker-popup="{{'common.defaultDatePickerFormat' | translate}}"
                                   ng-model="eventDataModel.startDate"
                                   is-open="openedStartDate.openedEnd" close-on-date-selection="true" show-button-bar="true"
                                   on-open-focus="false"
                                   ng-change="startDateChanged(startDate)"
                                   close-text="{{ 'common.directive.coreCalendar.addEventModal.form.btnDatePickerClose' | translate }}"
                                   min-date="minStartDate"
                                   required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openedStartDate.openedEnd = !openedStartDate.openedEnd">
                                        <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div timepicker ng-model="eventDataModel.startDate" ng-change="startTimeChanged(startTime)" hour-step="1" minute-step="1" show-meridian="true" show-spinners="false"></div>
                    </div>
                    <div class="col-sm-2 checkbox">
                        <label>
                            <input type="checkbox" ng-model="eventDataModel.allDayEvent">
                            <span translate>
                                common.directive.coreCalendar.addEventModal.form.lblAllDayEvent
                            </span>
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <br>
        <div class="row">
            <label class="col-sm-12" for="endDateTime">
                <span translate>common.directive.coreCalendar.addEventModal.form.lblEndDate</span>
                <span ng-if="!eventDataModel.allDayEvent" class="required-asterisk">*</span>
            </label>
            <fieldset name="endDateTime" ng-disabled="eventDataModel.allDayEvent" class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   datepicker-popup="{{'common.defaultDatePickerFormat' | translate}}"
                                   ng-model="eventDataModel.endDate"
                                   is-open="openedEndDate.openedEnd" close-on-date-selection="true" show-button-bar="true"
                                   on-open-focus="false"
                                   ng-change="endDateChanged(endDate)"
                                   close-text="{{ 'common.directive.coreCalendar.addEventModal.form.btnDatePickerClose' | translate }}"
                                   min-date="minEndDate"
                                   ng-required="!eventDataModel.allDayEvent"/>
                            <span class="input-group-btn">
                               <button type="button" class="btn btn-default" ng-click="openedEndDate.openedEnd = !openedEndDate.openedEnd" ng-disabled="eventDataModel.allDayEvent">
                                       <i class="fa fa-calendar"></i>
                               </button>
                           </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div timepicker ng-model="eventDataModel.endDate" ng-change="endTimeChanged(endTime)" hour-step="1" minute-step="1" show-meridian="true" show-spinners="false"></div>
                    </div>
                </div>
            </fieldset>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <textarea class="form-control" ng-model="eventDataModel.information"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="cancel()">
        <span translate>common.directive.coreCalendar.addEventModal.btnCancel</span>
    </button>
    <button class="btn btn-primary" ng-click="addEvent()" ng-disabled="addEventForm.$invalid">
        <span translate>common.directive.coreCalendar.addEventModal.btnAdd</span>
    </button>
</div>