<div class="modal-header">
    <h3>
        <span translate>common.directive.coreCalendar.addNewEventDialog.title</span>
    </h3>
</div>
<div class="modal-body">
    <h3 translate>{{formTitle}}</h3>
    <ng-form name="addEventForm">
        <div ng-if="formStep === 1" class="well-sm" ng-include="'directives/core-calendar/new-event-form-step-one.client.view.html'">
        </div>
        <div ng-if="formStep === 2" class="well-sm" ng-include="'directives/core-calendar/new-event-form-step-two.client.view.html'">
        </div>
        <div ng-if="formStep === 3" class="well-sm" ng-include="'directives/core-calendar/new-event-form-step-three.client.view.html'">
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary pull-left" ng-click="cancel()">
        <span translate>common.directive.coreCalendar.addNewEventDialog.cancel.button</span>
    </button>
    <button ng-if="formStep !== 1" class="btn btn-secondary" ng-click="previousFormStep()" ng-disabled="addEventForm.$invalid">
        <span translate>common.directive.coreCalendar.addNewEventDialog.previous.button</span>
    </button>
    <button ng-if="formStep !== 3" class="btn btn-primary" ng-click="nextFormStep()" ng-disabled="addEventForm.$invalid">
        <span translate>common.directive.coreCalendar.addNewEventDialog.next.button</span>
    </button>
    <button ng-if="formStep === 3" class="btn btn-primary" ng-click="addEvent()" ng-disabled="addEventForm.$invalid">
        <span translate>common.directive.coreCalendar.addNewEventDialog.add.button</span>
    </button>
</div>