<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <bean id="acmGetConfigPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="Get Config Service Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="acmGlobalAllowPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/config/{name}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>

</beans>