<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    

    <bean id="formResource" class="com.armedia.acm.frevvo.config.FrevvoFormUrl">
        <property name="properties" ref="acm-forms-properties"/>
        <property name="authenticationTokenService" ref="authenticationTokenService"/>
    </bean>

	<!-- 
	<bean id="formResource" class="com.armedia.acm.orbeon.config.OrbeonFormUrl">
        <property name="formProperties" ref="acm-forms-properties"/>
    </bean>
     -->
    
    <bean id="acm-forms-properties" class="net.unicon.springframework.addons.properties.ReloadablePropertiesFactoryBean">
		<property name="location" value="file:${user.home}/.acm/acm-forms.properties"/>
	</bean>
	
	<bean id="formsPropertyConfigurer" class="net.unicon.springframework.addons.properties.ReloadingPropertyPlaceholderConfigurer">
		<property name="properties" ref="acm-forms-properties"/>
	</bean>
    
</beans>