<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <!--Audit Plugin-->
    <bean id="auditPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-audit"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    <bean id="auditReadEventsForObjectPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-audit-read-events-for-object"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--Correspondence Generation Plugin-->
    <bean id="acmGenerateCorrespondencePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-generate-correspondence"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>

    <!--Dashboard Plugin-->
    <bean id="dashboardPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-dashboard"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>


    <!--ECM File Plugin-->
    <bean id="filePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-file-download"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>

    <!--Participant Plugin-->
    <bean id="participantPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-participant"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--armediaBlogPlugin-->
    <bean id="blogPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-blog"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--helloWorldPlugin-->
    <bean id="helloWorldPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-hello-world"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--Profile Plugin-->
    <bean id="profilePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-profile"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--Report Plugin-->
    <bean id="reportPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-report"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--Cost Tracking Service Plugin-->
    <bean id="costsheetCreatePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-costsheet-create"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    <bean id="costsheetApprovePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-costsheet-approve"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    <bean id="costsheetPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-costsheet"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--Time Tracking Service Plugin-->
    <bean id="timesheetCreatePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-timesheet-create"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    <bean id="timesheetApprovePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-timesheet-approve"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    <bean id="timesheetPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-timesheet"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--Tag Plugin-->
    <bean id="tagPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-tag"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--Task Plugin-->
    <bean id="acmTaskListPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-task-list"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>
    <bean id="acmTaskSavePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-task-save"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>
    <bean id="acmTaskCreatePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-task-create"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_INVESTIGATOR</value>
            </list>
        </property>
    </bean>
    <bean id="acmTaskCompletePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-task-complete"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_INVESTIGATOR</value>
            </list>
        </property>
    </bean>
    <bean id="acmTaskDeletePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-task-delete"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_INVESTIGATOR</value>
            </list>
        </property>
    </bean>

    <!--Save Notification Service Plugin-->
    <bean id="acmNotificationPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-notification"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>

    <!--Subscription Plugin-->
    <bean id="subscribePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-subscription"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--Complaint Plugin-->
    <bean id="acmComplaintListPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-complaint-list"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    <bean id="acmComplaintSavePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-complaint-save"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    <bean id="acmComplaintCreatePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-complaint-create"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    <bean id="acmComplaintApprovePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-complaint-approve"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    <bean id="acmSearchPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-search"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--Search Plugin-->
    <bean id="searchPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-search"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--ACM Case Files-->
    <bean id="acmCaseApprovePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-case-approve"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    <bean id="saveCasePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="fis-save-case"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
            </list>
        </property>
    </bean>
    <bean id="caseFileListPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="case-file-list"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    <bean id="caseFileCreatePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="case-file-create"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--Milestone Plugin-->
    <bean id="listMilestonesGroupedByDate" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-milestone-service"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>

    <!--Signature Confirm Service Plugin-->
    <bean id="acmSignatureConfirmPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-signature-confirm"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>
    <bean id="acmSignatureFindPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-signature-find"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>

    <!--Person Plugin-->
    <bean id="acmPersonSavePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-person-save"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_INVESTIGATOR</value>
            </list>
        </property>
    </bean>
    <bean id="acmPersonFindPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-person-find"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>
    <bean id="acmPersonDeletePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-person-delete"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_INVESTIGATOR</value>
            </list>
        </property>
    </bean>
    <bean id="acmPersonAssociationDeletePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-person-association-delete"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_INVESTIGATOR</value>
            </list>
        </property>
    </bean>
    <bean id="acmPersonListPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-person-List"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>
    <bean id="acmPersonTypesPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-person-values"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>
    <bean id="acmPersonAssociationSavePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-personAssociation-save"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_INVESTIGATOR</value>
            </list>
        </property>
    </bean>

    <!--Admin Plugin-->
    <bean id="adminPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-admin"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <!--Save Note Service Plugin-->
    <bean id="acmSaveNotePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-save-note"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>
    <bean id="acmDeleteNoteByIdPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-note-delete"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_INVESTIGATOR</value>
            </list>
        </property>
    </bean>
    <bean id="acmListNotesPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-note-delete"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_INVESTIGATOR</value>
            </list>
        </property>
    </bean>

</beans>