<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

   <bean id="documentRepositoryAPIController" class="com.armedia.acm.plugins.documentrepository.web.DocumentRepositoryAPIController">
       <property name="documentRepositoryService" ref="documentRepositoryServiceImpl"/>
   </bean>

</beans>