<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="documentRepositoryRulesHandler"
          class="com.armedia.acm.plugins.documentrepository.pipeline.postsave.DocumentRepositoryRulesHandler">
        <property name="saveRule" ref="documentRepositoryBusinessRule"/>
    </bean>


    <bean id="documentRepositoryBusinessRule"
          class="com.armedia.acm.plugins.documentrepository.service.SaveDocumentRepositoryBusinessRule">
        <property name="ruleSpreadsheetFilename" value="drools-document-repository-rules.xlsx"/>
    </bean>

</beans>