<div ng-controller="Admin.ComponentsListController">
        <div class="panel panel-default" ng-repeat="component in components">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{component.id}}" ng-click="toggleComponent($event, component)">
                        {{component.title}}
                    </a>
                    <div class="pull-right">
                        <span ng-if="!component.enabled" class="label label-warning" ng-click="enableComponent($event, component, true)">Disabled</span>
                        <span ng-if="component.enabled" class="label label-success" ng-click="enableComponent($event, component, false)">Enabled</span>
                    </div>
                </h4>
            </div>
            <div id="{{component.id}}" class="panel-collapse collapse in" collapse="component.isCollapsed">
                <div class="panel-body">
                    <form
                            name="componentForm"
                            sf-schema="schemas[component.type]"
                            sf-form="formData"
                            sf-model="component"
                            ng-submit="submitForm()">
                    </form>
                </div>
            </div>
        </div>

</div>
