<div ng-controller="Admin.ModuleConfigController">

    <panel-view header="{{'admin.application.module.config.title' | translate}}" collapsible="false">
        <div class="left-sidebar">
            <div class="scroll-body" ng-include="'modules/admin/views/components/application.module.config.modules-list.client.view.html'">
            </div>
        </div>

        <div class="content-body">
            <div class="module-header"></div>
            <div class="well-sm">
                <div ng-include="'modules/admin/views/components/application.module.config.module-info.client.view.html'">
                </div>
            </div>
        </div>
    </panel-view>
</div>