<div ng-controller="Admin.FormWorkflowsLinkController">
    <panel-view header="{{'admin.formWorkflows.link' | translate}}" collapsible="false">
        <div class="row">

            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-sm btn-default" ng-click="undoChanges()"><i
                            class="fa fa-undo"/>
                        {{'admin.formWorkflows.link.undo' |
                        translate}}
                    </button>
                    <button class="btn btn-sm btn-default" ng-click="saveChanges()"><i
                            class="fa fa-save"/>
                        {{'admin.formWorkflows.link.saveChanges' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <hot-table
                    hot-id="formWorkflowsLink"
                    col-widths="columnsWidths"
                    col-headers="true"
                    row-headers="true"
                    fill-handle="false"
                    context-meny="false"
                    manual-column-resize="true"
                    datarows="tableValues"
                    cells="cells"
                    height="750"
                    >
            </hot-table>
        </div>
    </panel-view>
</div>