<div>
    <div class="modal-header">
        <h4 class="modal-title">{{'admin.security.select-privileges.create-role'| translate}}</h4>
    </div>
    <div class="modal-body">
        {{'admin.security.select-privileges.enter-role-name'| translate}}

        <label for="dialogRoleName" class="label">{{'admin.security.select-privileges.name'| translate}}</label>
        <input id="dialogRoleName" type="text" ng-model="roleName" class="form-control" required
               placeholder="{{'admin.security.select-privileges.name'| translate}}">

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">
                {{'admin.security.select-privileges.cancel'|
                translate}}
            </button>
            <button type="button" class="btn btn-default" ng-click="ok()" ng-disabled="inputValid">
                {{saveBtnText}}
            </button>
        </div>
    </div>
</div>