<panel-view header="{{'admin.security.organizationalHierarchy.title' | translate}}" collapsible="false">
    <div ng-controller="Admin.OrganizationalHierarchyController">
        <button class="btn btn-default" ng-click="createGroup()">{{'admin.security.organizationalHierarchy.title' |
            translate}}
        </button>
        <tree-table-view tree-data="data" on-lazy-load="onLazyLoad" config="cfg" on-add-members="onAddMembers"
                         on-delete-group="onDeleteGroup" on-delete-members="onDeleteMembers" on-add-sub-group="onAddSubGroup" on-set-supervisor="onSetSupervisor"/>
    </div>
</panel-view>