<div ng-controller="Admin.WorkflowsConfigController">
    <panel-view header="{{'admin.workflows.config' | translate}}" collapsible="false">
        <div class="row">

            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-sm btn-default" ng-click="editRole()" ng-disabled="editBtnDisabled"><i
                            class="fa fa-sitemap"/>
                        {{'admin.workflows.config.btn.createNew' |
                        translate}}
                    </button>
                    <button class="btn btn-sm btn-default" ngf-select="uploadDefinition($file)" ng-disabled="uploadingInProgress"
                            data-ng-model="selectedBPMNFile" accept="application/xml"><i
                            class="fa fa-cloud-upload text"/>
                        {{'admin.workflows.config.btn.uploadNew' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div ui-grid="gridOptions"
                 ui-grid-resize-columns
                 adjust-table-height="gridOptions.data.length"
                 ui-grid-auto-resize
                 class="grid">
            </div>
        </div>
    </panel-view>
</div>