<div>
    <div class="panel panel-grid">
        <div class="modal-header">
            <span translate>cases.comp.split.title</span>
        </div>
        <div class="panel-body ui-grid-viewport ui-grid-render-container-body">
            <doc-tree read-only="true" object-type="objectType" object-id="objectId" tree-control="treeControl"
                    tree-config="treeConfig"></doc-tree>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-default pull-left" ng-click="close()">
            <span translate> cases.comp.split.cancel </span>
        </button>
        <button class="btn btn-sm btn-primary pull-right" ng-click="splitCase()">
            <span translate> cases.comp.split.split</span>
        </button>
    </div>
</div>