<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="authenticationTokenDao" class="com.armedia.acm.services.authenticationtoken.dao.AuthenticationTokenDao"/>

    <bean id="acmAuthenticationCache" factory-bean="cacheManager" factory-method="getCache">
        <constructor-arg value="authentication-cache"/>
    </bean>

    <bean id="authenticationTokenService" class="com.armedia.acm.services.authenticationtoken.service.AuthenticationTokenService">
        <property name="authenticationTokenCache" ref="acmAuthenticationCache"/>
        <property name="authenticationTokenDao" ref="authenticationTokenDao"/>
    </bean>

</beans>