<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="reportResource" class="com.armedia.acm.pentaho.config.PentahoReportUrl">
        <property name="reportsProperties" ref="acm-reports-properties"/>
        <property name="reportServerConfigurationProperties" ref="reportServerConfigurationProperties"/>
    </bean>

    <bean id="acm-reports-properties" class="com.armedia.acm.reloadproperties.beans.AcmReloadablePropertiesFactoryBean">
        <property name="location" value="file:${user.home}/.arkcase/acm/acm-reports.properties"/>
    </bean>

</beans>