<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="reportResource" class="com.armedia.acm.pentaho.config.PentahoReportUrl">
        <property name="reportsConfig" ref="pentahoReportsConfig"/>
    </bean>

    <bean id="reportsParametersJsonConfig" class="org.apache.commons.io.IOUtils" factory-method="toString">
        <constructor-arg type="java.io.InputStream">
            <bean class="java.io.FileInputStream" destroy-method="close">
                <constructor-arg type="java.io.File" value="${user.home}/.arkcase/acm/acm-reports-parameters.json"/>
            </bean>
        </constructor-arg>
        <constructor-arg value="UTF-8"/>
    </bean>

    <bean id="pentahoReportsConfig" class="com.armedia.acm.pentaho.config.PentahoReportsConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>

    <bean id="reportsToRolesConfig" class="com.armedia.acm.report.config.ReportsToRolesConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>
</beans>