<div class="modal-header">
    <h3>
        <span translate>consultations.comp.billing.modal.title</span>
    </h3>
</div>
<div class="modal-body">
    <form name="billingForm">
        <div class="row">
            <div class="col-sm-3 form-group">
                <label><span translate>consultations.comp.billing.table.columns.item</span></label>
            </div>
            <div class="col-sm-6 form-group">
                <label><span translate>consultations.comp.billing.table.columns.description</span>
                    <span class="required-asterisk">*</span></label>
            </div>
            <div class="col-sm-3 form-group">
                <label><span translate>consultations.comp.billing.table.columns.amount</span>
                    <span class="required-asterisk">*</span></label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 form-group">
                <input type="number" class="input-md form-control" id="item" ng-model="objectDataModel.itemNumber" reguired ng-disabled="true">
            </div>
            <div class="col-sm-6 form-group">
                <textarea rows="5" class="form-control col-lg-12" id="description" ng-model="objectDataModel.itemDescription" required
                        title="{{'consultations.comp.billing.description.title' | translate}}"></textarea>
            </div>
            <div class="col-sm-3 form-group">
                <input type="text" format-currency is-valid-amount="item" amount="objectDataModel.itemAmount" class="input-md form-control" id="amount" ng-model="amount" autocomplete="off" required ng-class="{'invalid-billing-amount': objectDataModel.itemAmount == 0 || !item}"
                        title="{{'consultations.comp.billing.amount.title' | translate}}">
                <input type="text" class="input-md form-control hidden" id="amount-hidden" ng-model="objectDataModel.itemAmount" autocomplete="off" required>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="cancel()">
        <span translate>consultations.comp.billing.modal.cancel.btn</span>
    </button>
    <button class="btn btn-primary" ng-click="save()" ng-disabled="billingForm.$invalid || objectDataModel.itemAmount == 0 || !item">
        <span translate>consultations.comp.billing.modal.save.btn</span>
    </button>
</div>