<div ng-controller="Consultations.ApprovalRoutingController">
    <div class="clearfix">
        <div class="row">
            <div class="col-xs-6">
                <h4><a ng-click="onClickTitle()">{{objectInfo.title || 'common.value.unknown' | translate}}</a>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 col-md-3">
                <div class="h4 font-bold no-margin">
                    <user-full-name userId="objectInfo.assignee" fallback="{{'consultations.comp.approvalRouting.assigne.none' | translate}}" />
                </div>
                <small class="text-muted"><span translate>consultations.comp.approvalRouting.assignee.label</span></small>
            </div>
            <div class="col-xs-9 col-md-3">
                <div class="h4 font-bold no-margin">{{owningGroup || 'common.value.unknown' | translate}}</div>
                <small class="text-muted"><span translate>consultations.comp.approvalRouting.owningGroup.label</span></small>
            </div>
            <div class="col-xs-9 col-md-3">
                <div class="h4 font-bold no-margin">{{ objectInfo.priority || 'common.value.unknown' | translate}}</div>
                <small class="text-muted"><span translate>consultations.comp.approvalRouting.priority.label</span></small>
            </div>
            <div class="col-xs-9 col-md-3">
                <div class="h4 font-bold no-margin">{{ (dateInfo.taskStartDate | date: 'shortDate') || 'common.value.unknown' | translate }}
                </div>
                <small class="text-muted"><span translate>consultations.comp.approvalRouting.startDate.label</span></small>
            </div>
            <div class="col-xs-9 col-md-3">
                <div class="h4 font-bold no-margin">{{ (dateInfo.dueDate | date: 'shortDate') || 'common.value.unknown' | translate }}
                </div>
                <small class="text-muted"><span translate>consultations.comp.approvalRouting.dueDate.label</span></small>
            </div>
            <div class="col-xs-9 col-md-3">
                <div class="h4 font-bold no-margin">{{objectInfo.status || 'common.value.unknown' | translate}}</div>
                <small class="text-muted"><span translate>consultations.comp.approvalRouting.state.label</span></small>
            </div>
        </div>
    </div>
    <div ng-include="'modules/consultations/views/components/consultation-future-approvals.client.view.html'"></div>
    <div ng-include="'modules/consultations/views/components/consultation-past-approvals.client.view.html'"></div>
</div>