<search-modal header="{{'consultations.userOrGroupSearch.title' | translate}}" cancel="{{'consultations.userOrGroupSearch.cancelButton' | translate}}"
        ok="{{'consultations.userOrGroupSearch.confirmButton' | translate}}"
        search-placeholder="{{'consultations.userOrGroupSearch.search.placeholder' | translate}}"
        search="{{'consultations.userOrGroupSearch.search.btn' | translate}}" filter="{{filter}}" extra-filter="{{extraFilter}}" config="config"
        modal-instance="modalInstance" second-grid="{{secondGrid}}" />