<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <beans:beans profile="extension-foia">

        <beans:bean id="request-assigned-assignee-template" class="org.apache.commons.io.IOUtils" factory-method="toString">
            <beans:constructor-arg value="file:${user.home}/.arkcase/acm/templates/request-assigned-assignee.html"
                type="java.io.InputStream"/>
        </beans:bean>

        <beans:bean id="request-unassigned-assignee-template" class="org.apache.commons.io.IOUtils" factory-method="toString">
            <beans:constructor-arg value="file:${user.home}/.arkcase/acm/templates/request-unassigned-assignee.html"
                type="java.io.InputStream"/>
        </beans:bean>

        <beans:bean id="task-assigned-assignee-template" class="org.apache.commons.io.IOUtils" factory-method="toString">
            <beans:constructor-arg value="file:${user.home}/.arkcase/acm/templates/task-assigned-assignee.html"
                type="java.io.InputStream"/>
        </beans:bean>

        <beans:bean id="task-unassigned-assignee-template" class="org.apache.commons.io.IOUtils" factory-method="toString">
            <beans:constructor-arg value="file:${user.home}/.arkcase/acm/templates/task-unassigned-assignee.html"
                type="java.io.InputStream"/>
        </beans:bean>
        
        <beans:bean id="baseNotificationSender" class="com.armedia.acm.services.notification.service.NotificationSender"
            abstract="true">
            <beans:property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
            <beans:property name="propertyFileManager" ref="propertyFileManager"/>
            <beans:property name="emailSenderPropertyFileLocation" ref="emailSenderPropertyFileLocation"/>
            <beans:property name="notificationUtils" ref="notificationUtils"/>
            <beans:property name="notificationTemplate" value="file:${notification.email.template.path}"/>
            <beans:property name="userDao" ref="userJpaDao"/>
            <beans:property name="dataService" ref="acmDataService"/>
            <beans:property name="templatingEngine" ref="templatingEngine"/>
            <beans:property name="notificationTemplates">
                <map>
                    <entry key="requestAssignedAssignee" value-ref="request-assigned-assignee-template"/>
                    <entry key="requestUnassignedAssignee" value-ref="request-unassigned-assignee-template"/>
                    <entry key="taskAssignedAssignee" value-ref="task-assigned-assignee-template"/>
                    <entry key="taskUnassignedAssignee" value-ref="task-unassigned-assignee-template"/>
                </map>
            </beans:property>
        </beans:bean>
    </beans:beans>
</beans:beans>