<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans:beans profile="extension-foia">
        <beans:bean id="foiaExemptionCodeAPIController" class="gov.foia.web.api.FOIAExemptionCodeAPIController">
            <beans:property name="foiaExemptionService" ref="foiaExemptionService"/>
        </beans:bean>

        <beans:bean id="foiaExemptionStatuteAPIController" class="gov.foia.web.api.FOIAExemptionStatuteAPIController">
            <beans:property name="foiaExemptionStatuteService" ref="foiaExemptionStatuteService"/>
        </beans:bean>

        <beans:bean id="printDocumentsAPIController" class="gov.foia.web.api.PrintDocumentsAPIController">
            <beans:property name="documentPrintingService" ref="foiaDocumentPrintService"/>
        </beans:bean>

        <beans:bean id="startWorkingOnRequestAPIController" class="gov.foia.web.api.StartWorkingOnRequestAPIController">
            <beans:property name="requestAssignmentService" ref="requestAssignmentService"/>
            <beans:property name="caseFileEventUtility" ref="caseFileEventUtility"/>
            <beans:property name="requestService" ref="foiaRequestService"/>
        </beans:bean>

        <beans:bean id="portalRequestAPIController" class="gov.foia.web.api.PortalRequestAPIController">
            <beans:property name="portalRequestService" ref="portalRequestService"/>
            <beans:property name="personService" ref="personService"/>
            <beans:property name="responseInstallmentDao" ref="responseInstallmentDao"/>
            <beans:property name="translationService" ref="translationService"/>
        </beans:bean>

        <beans:bean id="saveFOIARequestAPIController" class="gov.foia.web.api.SaveFOIARequestAPIController">
            <beans:property name="saveFOIARequestService" ref="saveFOIARequestService"/>
        </beans:bean>

        <beans:bean id="queuesTimeToCompleteAPIController" class="gov.foia.web.api.QueuesTimeToCompleteAPIController">
            <beans:property name="queuesTimeToCompleteService" ref="queuesTimeToCompleteService"/>
        </beans:bean>

        <beans:bean id="foiaConfigurationAPIController" class="gov.foia.web.api.FoiaConfigurationAPIController">
            <beans:property name="foiaConfigurationService" ref="foiaConfigurationService"/>
        </beans:bean>

        <beans:bean id="publicFlagAPIController" class="gov.foia.web.api.PublicFlagAPIController">
            <beans:property name="publicFlagService" ref="publicFlagService"/>
        </beans:bean>

        <beans:bean id="notificationGroupEmailSenderAPIController" class="gov.foia.web.api.NotificationGroupEmailSenderAPIController">
            <beans:property name="notificationGroupEmailSenderService" ref="notificationGroupEmailSenderService"/>
        </beans:bean>

        <beans:bean id="requestResponseFolderAPIController" class="gov.foia.web.api.RequestResponseFolderAPIController">
            <beans:property name="requestResponseFolderService" ref="requestResponseFolderService"/>
        </beans:bean>

        <beans:bean id="setReviewRedactionStatusAPIController" class="gov.foia.web.api.SetReviewRedactionStatusAPIController">
            <beans:property name="foiaEcmFileService" ref="ecmFileService"/>
        </beans:bean>

        <beans:bean id="requestFolderStructureAPIController" class="gov.foia.web.api.RequestFolderStructureAPIController">
            <beans:property name="requestFolderStructureService" ref="requestFolderStructureService"/>
        </beans:bean>

        <beans:bean id="getNextAvailableRequestAPIController" class="gov.foia.web.api.GetNextAvailableRequestAPIController">
            <beans:property name="foiaRequestService" ref="foiaRequestService"/>
        </beans:bean>

        <beans:bean id="exportPentahoAPIController" class="gov.foia.web.api.ExportPentahoReportsAPIController">
            <beans:property name="reportService" ref="reportService"/>
            <beans:property name="niemExportService" ref="niemExportService"/>
        </beans:bean>

        <beans:bean id="createZylabMatterFromRequestAPIController" class="gov.foia.web.api.CreateZylabMatterFromRequestAPIController">
            <beans:property name="foiaZylabMatterService" ref="foiaZylabMatterService"/>
        </beans:bean>

    </beans:beans>
</beans:beans>
