<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Armedia Case Management</display-name>

    <!--
		SPRING ROOT WEB APPLICATION CONTEXT
	-->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:/spring/spring-library-*.xml,
                     WEB-INF/spring/spring-security-*.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--
		SPRING SECURITY
	-->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <!--<servlet-name>Spring MVC Servlet</servlet-name>?    -->
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- this may be necessary for Tomcat 7 deployments -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/j_spring_security_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!--
		SPRING MVC is configured via the AcmWebAppInitializer class.  Do not add any
		Spring MVC initializers in web.xml.
	-->


    <!-- springsecurity.taglib.xml
  		Spring Security Facelets tag library declaration
  	-->

    <!--
        DEFAULT PAGE
    -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
