   <div class="modal-header">
        <h4 class="modal-title">
            <span translate>profile.buttons.password</span>
        </h4>
    </div>
    <div class="modal-body">
        <section class="row">
            <div class="col-sm-12">
                <label for="newpass">
                    <span translate>profile.buttons.message</span>
                </label>
                <input id="newpass" ng-model="newPassword" type="password" class="form-control" placeholder="{{'profile.buttons.message'| translate}}">
                <br>
                <label for="newpassagain">
                    <span translate>profile.buttons.confirmation</span>
                </label>
                <input id="newpassagain"  ng-model="newPasswordAgain" type="password" class="form-control" placeholder="{{'profile.buttons.confirmation'| translate}}">
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="cancel()">
            <span translate>profile.buttons.cancel</span>
        </button>
        <button type="button" class="btn btn-primary" ng-click="changePassword()">
            <span translate>profile.buttons.password</span>
        </button>
    </div>
