<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <import resource="file:${user.home}/.arkcase/acm/encryption/spring-properties-encryption.xml"/>

    <!-- property placeholder for all properties files -->
    <bean id="arkCasePropertyConfigurer"
          class="com.armedia.acm.crypto.properties.AcmEncryptablePropertySourcesPlaceholderConfigurer">
        <property name="encryptablePropertyUtils" ref="acmEncryptablePropertyUtils"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="order" value="42"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>file:${user.home}/.arkcase/acm/acmEmailReceiver.properties</value>
                <value>file:${user.home}/.arkcase/acm/alfrescoRmaPlugin.properties</value>
                <value>file:${user.home}/.arkcase/acm/acm-forms.properties</value>
                <value>file:${user.home}/.arkcase/acm/acm-reports.properties</value>
                <value>file:${user.home}/.arkcase/acm/activiti.properties</value>
                <value>file:${user.home}/.arkcase/acm/adminPlugin.properties</value>
                <value>file:${user.home}/.arkcase/acm/applicationRoleToUserGroup.properties</value>
                <value>file:${user.home}/.arkcase/acm/arkcase-activemq.properties</value>
                <value>file:${user.home}/.arkcase/acm/auditPlugin.properties</value>
                <value>file:${user.home}/.arkcase/acm/capture.properties</value>
                <value>file:${user.home}/.arkcase/acm/caseFilePlugin.properties</value>
                <value>file:${user.home}/.arkcase/acm/cmis.properties</value>
                <value>file:${user.home}/.arkcase/acm/complaintPlugin.properties</value>
                <value>file:${user.home}/.arkcase/acm/correspondencePlugin.properties</value>
                <value>file:${user.home}/.arkcase/acm/compressor.properties</value>
                <value>file:${user.home}/.arkcase/acm/dashboardPlugin.properties</value>
                <value>file:${user.home}/.arkcase/acm/dataAccessControl.properties</value>
                <value>file:${user.home}/.arkcase/acm/datasource.properties</value>
                <value>file:${user.home}/.arkcase/acm/dueTasksNotifier.properties</value>
                <value>file:${user.home}/.arkcase/acm/ecmFileProperties.properties</value>
                <value>file:${user.home}/.arkcase/acm/lawEnforcementApp.properties</value>
                <value>file:${user.home}/.arkcase/acm/msOutlookIntegration.properties</value>
                <value>file:${user.home}/.arkcase/acm/msOutlookPlugin.properties</value>
                <value>file:${user.home}/.arkcase/acm/notification.properties</value>
                <value>file:${user.home}/.arkcase/acm/profilePlugin.properties</value>
                <value>file:${user.home}/.arkcase/acm/solr.properties</value>
                <value>file:${user.home}/.arkcase/acm/sso/spring-config-armedia-sso.properties</value>
                <value>file:${user.home}/.arkcase/acm/subscriptionPlugin.properties</value>
                <value>file:${user.home}/.arkcase/acm/taskPlugin.properties</value>
                <value>file:${user.home}/.arkcase/acm/login.properties</value>
                <value>file:${user.home}/.arkcase/acm/websockets.properties</value>
                <value>file:${user.home}/.arkcase/acm/spring/spring-config-kerberos.properties</value>
                <value>file:${user.home}/.arkcase/acm/spring/spring-config-saml.properties</value>
                <value>file:${user.home}/.arkcase/acm/spring-security/sessionControl.properties</value>
            </list>
        </property>
    </bean>

    <bean id="propertyFileManager" class="com.armedia.acm.files.propertymanager.PropertyFileManager">
        <property name="encryptablePropertyUtils" ref="acmEncryptablePropertyUtils"/>
    </bean>
</beans>