<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- Object History DAO -->
    <bean id="acmObjectHistoryDao" class="com.armedia.acm.service.objecthistory.dao.AcmObjectHistoryDao"/>
    
    
	<!-- Object History Event Publisher -->
    <bean id="acmObjectHistoryEventPublisher" class="com.armedia.acm.service.objecthistory.service.AcmObjectHistoryEventPublisher"/>
   
   
    <!-- Object History Service -->
    <bean id="acmObjectHistoryService" class="com.armedia.acm.service.objecthistory.service.AcmObjectHistoryServiceImpl">
    	<property name="acmObjectHistoryDao" ref="acmObjectHistoryDao" />
    	<property name="acmObjectHistoryEventPublisher" ref="acmObjectHistoryEventPublisher" />
    </bean>
</beans>