<div ng-controller="AuditController">

    <div class="module-content">
        <div class="left-sidebar">
            <div class="module-header">
                <h3>
                    <span translate>audit.title</span>
                </h3>
            </div>
            <div class="well panel">
                <div class="panel-body">

                    <div ng-include="'modules/audit/views/components/audit-selection.client.view.html'"></div>

                    <div ng-include="'modules/audit/views/components/audit-datepickers.client.view.html'"></div>

                    <div>
                        <button class="btn btn-sm btn-primary" type="button" ng-click="showIframe()">
                            <span translate>audit.navigation.button.generateAuditReport.btn</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <iframe name="audit-iframe" class="audit-iframe" iframeborder="0" ng-src="{{auditReportUrl}}"></iframe>
        </div>
    </div>

</div>