<div class="input-group input-group-md"
     moment-picker="dateInPicker"
     format="{{format}}"
     disable="disable"
     min-date="minDate"
     max-date="maxDate"
     autoclose="onSelectClose"
     show-header="showHeader"
     change="onDateChange(newValue, oldValue)"
     selectable="selectable(date, type)"
     start-view="month"
     is-open="datepickerOptions.isOpen"
>
    <input class="form-control"
           placeholder="{{placeholder}}"
           ng-model="dateInPicker"
           ng-required="isRequired"
           ng-readonly="isReadonly"
           ng-blur="onBlur($event)"
    >
    <span class="input-group-addon">
          <i class="fa fa-calendar"></i>
    </span>
</div>
<p class="text-danger" ng-if="message" style="padding-top: 5px;">
    {{message}} <span ng-if="message === invalidFormatMessage"> Valid format: {{validFormat}}</span>
</p>
