<?xml version="1.0" encoding="UTF-8"?>
<beans

        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <beans profile="ssoSaml">
        <!-- Override Processing filter for WebSSO profile messages defined in $HOME/.arkcase/acm/spring-security/spring-security-config-saml.xml -->
        <bean id="samlWebSSOProcessingFilter" class="com.armedia.acm.auth.AcmSamlProcessingFilter">
            <property name="authenticationManager" ref="acmAuthenticationManager"/>
            <property name="authenticationSuccessHandler" ref="acmLoginSuccessHandler"/>
            <property name="authenticationFailureHandler" ref="failureRedirectHandler"/>
            <property name="authenticationDetailsSource" ref="acmAuthenticationDetailsFactory"/>
        </bean>
    </beans>
</beans>
