<section>
    <div class="well-small">
        <div ng-controller="Profile.PicController" class="row profile">
            <div class="col-xs-3 text-center">
                <div>
                    <img id="picLoading" class="img-circle img-responsive" ng-src="{{imgSrc}}"
                            fallback-err-src="modules/profile/img/arkcase_logo.png">
                    <div>
                        <a id="lnkChangePicture" data-ui-sref="profile" ng-click="changePic()"><u>
                            <span translate>profile.picture.title</span>
                        </u></a>
                    </div>
                    <button ngf-select ng-model="userPicture" id="file" ngf-pattern="'.jpg,.png,.gif,.svg'" ngf-accept=".jpg,.png,.gif,.svg"
                            class="btn btn-sm btn-default hidden" ngf-change="submit()"></button>
                </div>
            </div>

            <div class="col-xs-5">
                <h4 id="fullName">{{profilePicFullName || 'common.value.unknown' | translate}}</h4>
                <h4><a href="#" editable-text="profilePicTitle" onaftersave="update()">{{ profilePicTitle ||
                    'common.value.unknown' | translate}}</a></h4>
                <h4 id="email">{{ profilePicEmail || 'common.value.unknown' | translate}}</h4>
                <small>
                    <span translate>profile.picture.email</span>
                </small>
            </div>

            <div class="col-xs-4 text-center">
                <div>
                    <img id="signature" class="img-responsive" ng-src="{{imgSignatureSrc}}"
                            fallback-err-src="modules/profile/img/nosignature.png">
                    <div>
                        <a id="lnkChangeSignature" data-ui-sref="profile" ng-click="changeSignature()"><u>
                            <span translate>profile.signature.title</span>
                        </u></a>
                    </div>
                    <button ngf-select ng-model="userSignature" id="fileSignature" ngf-pattern="'image/*'" ngf-accept="'image/*'"
                            class="btn btn-sm btn-default hidden" ngf-change="submitSignature()"></button>
                </div>
            </div>
        </div>
    </div>
</section>
