<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="complaintExceptionResolver" class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver"/>

    <bean id="acmUserOrgDao" class="com.armedia.acm.plugins.profile.dao.UserOrgDao"/>

    <bean id="acmUserOrgService" class="com.armedia.acm.plugins.profile.service.UserOrgServiceImpl">
        <property name="userOrgDao" ref="acmUserOrgDao"/>
    </bean>

    <import resource="file:${user.home}/.arkcase/acm/encryption/spring-properties-encryption.xml"/>

    <import resource="file:${user.home}/.arkcase/acm/app-config.xml"/>

    <bean id="logoutUrl" class="java.lang.String">
        <constructor-arg value="/logout"/>
    </bean>

    <bean id="configList" class="java.util.ArrayList">
        <constructor-arg>
            <list/>
        </constructor-arg>
    </bean>

    <bean id="emailSenderConfig" class="com.armedia.acm.email.model.EmailSenderConfig"/>

    <bean id="emailReceiverConfig" class="com.armedia.acm.email.model.EmailReceiverConfig"/>

    <bean id="auditEventConfig" class="com.armedia.acm.audit.model.AuditEventConfig">
        <property name="jsonUnmarshaller" ref="jsonUnmarshaller"/>
    </bean>
</beans>