<div class="ui-grid-pager-panel">
    <div class="ui-grid-pager-container" role="navigation">
        <div class="ui-grid-pager-control">
            <button ng-disabled="pagerData.currentPage === 1" ng-click="pageChanged(1)" type="button" role="menuitem" class="ui-grid-pager-first">
                <div class="first-triangle">
                    <div class="first-bar"></div>
                </div>
            </button>
            <button ng-disabled="pagerData.currentPage === 1" ng-click="pageChanged(pagerData.currentPage-1)" type="button" role="menuitem"
                    class="ui-grid-pager-previous">
                <div class="first-triangle prev-triangle"></div>
            </button>

            <input type="number"
                    class="ui-grid-pager-control-input ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-max ng-valid-required"
                    ng-model="pagerData.currentPage" min="1" max="{{ totalPages }}" required="" ng-change="pageChanged(pagerData.currentPage)" />&nbsp;/ {{
            totalPages }}
            <button role="menuitem" type="button" class="ui-grid-pager-next" ng-disabled="pagerData.currentPage === totalPages"
                    ng-click="pageChanged(pagerData.currentPage+1)">
                <div class="last-triangle next-triangle"></div>
            </button>
            <button type="button" role="menuitem" class="ui-grid-pager-last" ng-disabled="pagerData.currentPage === totalPages"
                    ng-click="pageChanged(totalPages)">
                <div class="last-triangle">
                    <div class="last-bar"></div>
                </div>
            </button>
        </div>
        <div class="ui-grid-pager-row-count-picker">
            <select ng-model="pagerData.pageSize" ng-options="o as o for o in pagerData.pageSizes" ng-change="pageChanged()"></select>
            <span class="ui-grid-pager-row-count-label">&nbsp; {{'common.directive.simplePager.rowCountLabel' | translate}}</span>
        </div>
    </div>
    <div class="ui-grid-pager-count-container">
        <div class="ui-grid-pager-count">
                <span ng-show="pagerData.totalItems > 0">
                    {{'common.directive.simplePager.pagerCountLabel' | translate: {pageCount: currentItems, pageTotal: pagerData.totalItems} }}
                </span>
        </div>
    </div>
</div>