<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="helloWorldPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="helloWorldPlugin"/>
        <property name="privileges">
            <list>
                <ref bean="helloWorldPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="helloWorldUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/sample/helloWorld"/>
                    <property name="requiredPrivilege" ref="helloWorldPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>

</beans>
