<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


       <bean id="generateCorrespondenceAPIController" class="com.armedia.acm.correspondence.web.api.GenerateCorrespondenceAPIController">
              <property name="correspondenceService" ref="correspondenceService"/>
       </bean>

       <bean id="listCorrespondenceTemplatesAPIController" class="com.armedia.acm.correspondence.web.api.ListCorrespondenceTemplatesAPIController">
              <property name="contextHolder" ref="acmContextHolder"/>
       </bean>

</beans>