<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- keeping this bean for now even though we are not using any properties yet.  -->
    <bean id="correspondencePluginProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.acm/correspondencePlugin.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
            </props>
        </property>
    </bean>

    <bean id="acmGenerateCorrespondencePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-generate-correspondence"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>

    <bean id="acmGenerateCorrespondencePlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Correspondence Generation Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="acmGenerateCorrespondencePrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="acmPostCorrespondencePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/service/correspondence/{templateName}"/>
                    <property name="requiredPrivilege" ref="acmGenerateCorrespondencePrivilege"/>
                </bean>
                <bean id="acmListCorrespondenceTemplatesPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/correspondence/listTemplates"/>
                    <property name="requiredPrivilege" ref="acmGenerateCorrespondencePrivilege"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="poiWordGenerator" class="com.armedia.acm.correspondence.utils.ParagraphRunPoiWordGenerator"/>

    <bean id="correspondenceGenerator" class="com.armedia.acm.correspondence.service.CorrespondenceGenerator">
        <property name="wordGenerator" ref="poiWordGenerator"/>
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="correspondenceFolderName" value="${user.home}/.acm/correspondenceTemplates"/>
    </bean>

    <bean id="correspondenceService" class="com.armedia.acm.correspondence.service.CorrespondenceService">
        <property name="correspondenceGenerator" ref="correspondenceGenerator"/>
        <property name="springContextHolder" ref="acmContextHolder"/>
    </bean>


</beans>