<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

    <task:annotation-driven />

    <bean id="complaintClass" class="java.lang.Class" factory-method="forName">
        <constructor-arg index="0" value="com.armedia.acm.plugins.complaint.model.Complaint"/>
    </bean>

    <bean id="testComplaintQuicksearchGenerator"
          class="com.armedia.acm.services.search.service.AcmQuickSearchJpaSolrGenerator"
          init-method="initBean">
        <property name="lastUpdatedPropertyFileLocation" value="${user.home}/.acm/complaintSolrLastMod.properties"/>
        <property name="entityClass" ref="complaintClass"/>
        <property name="objectType" value="COMPLAINT"/>
        <property name="batchSize" value="50"/>
        <property name="idProperty" value="complaintId"/>
        <property name="lastModifiedProperty" value="modified"/>
        <property name="quickSearchFieldToEntityPropertyMap">
            <map>
                <entry key="title" value="complaintTitle"/>
                <entry key="object_id_s" value="complaintId"/>
                <entry key="last_modified_tdt" value="modified"/>
                <entry key="create_tdt" value="created"/>
                <entry key="name" value="complaintNumber"/>
                <entry key="status_s" value="status"/>
                <entry key="author_s" value="creator"/>
                <entry key="modifier_s" value="modifier"/>
            </map>
        </property>
        <property name="muleClient" ref="searchTestMuleClient"/>
        <property name="propertyFileManager">
            <bean class="com.armedia.acm.files.propertymanager.PropertyFileManager"/>
        </property>
    </bean>

    <bean id="searchTestMuleContextManager" class="com.armedia.acm.muletools.mulecontextmanager.MuleContextManager"
          destroy-method="shutdownBean">
        <property name="specificConfigFiles">
            <list>
                <value>/flows/quickSearchToSolrFlow.xml</value>
                <value>/flows/MuleActiveMqConnectorFlow.xml</value>
                <value>/flows/solrConfigurationFlow.xml</value>
                <value>/flows/quickSearchQueryFlow.xml</value>
            </list>
        </property>
    </bean>

    <bean id="searchTestMuleClient" factory-bean="searchTestMuleContextManager" factory-method="getMuleClient" scope="prototype"/>

</beans>