<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="reportUiController" class="com.armedia.acm.plugins.report.web.ReportUiController">
		<property name="reportUrl" ref="reportResource" />		
    </bean>
    
    <bean id="getPentahoReportsAPIController" class="com.armedia.acm.plugins.report.web.api.GetPentahoReportsAPIController">
    	<property name="reportService" ref="reportService"/>
    	<property name="propertyFileManager">
            <bean class="com.armedia.acm.files.propertymanager.PropertyFileManager"/>
        </property>
        <property name="reportsPropertyFileLocation" value="${user.home}/.acm/acm-reports.properties"/>
    </bean>
    
    <bean id="saveReportsAPIController" class="com.armedia.acm.plugins.report.web.api.SaveReportsAPIController">
    	<property name="reportService" ref="reportService"/>
    </bean>
    
</beans>

