<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:property-placeholder
        properties-ref="reportPluginProperties"
        ignore-unresolvable="true"
        local-override="false"
        order="1"/>


    <!-- keeping this bean for now even though we are not using any properties yet.  -->
    <bean id="reportPluginProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.acm/acm-reports.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
            </props>
        </property>
    </bean>

    <bean id="reportToGroupsMapProperties" class="net.unicon.springframework.addons.properties.ReloadablePropertiesFactoryBean" >

        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.acm/reportToGroupsMap.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
            </props>
        </property>
    </bean>

    
    <bean id="reportPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
         <property name="pluginName" value="Report Plugin"/>
        <property name="pluginProperties" ref="reportPluginProperties"/>
        <property name="privileges">
            <list>
                <ref bean="reportPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="reportUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/report"/>
                    <property name="requiredPrivilege" ref="reportPrivilege"/>
                </bean>
                <bean id="pentahoReportsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/report/get/pentaho"/>
                    <property name="requiredPrivilege" ref="reportPrivilege"/>
                </bean>
                <bean id="saveReportsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/report/save"/>
                    <property name="requiredPrivilege" ref="reportPrivilege"/>
                </bean>
                <bean id="reportsToGroupsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/report/reporttogroupsmap"/>
                    <property name="requiredPrivilege" ref="reportPrivilege"/>
                </bean>
                <bean id="saveReportsToGroupsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/report/reporttogroupsmap"/>
                    <property name="requiredPrivilege" ref="reportPrivilege"/>
                </bean>
            </list>
        </property>

    </bean>

    <bean id="reportPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-report"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
    
    
    <bean id="reportService" class="com.armedia.acm.plugins.report.service.ReportServiceImpl">
    	<property name="reportUrl" ref="reportResource"/>
    	<property name="muleClient" ref="muleClient" />
    	<property name="propertyFileManager">
            <bean class="com.armedia.acm.files.propertymanager.PropertyFileManager"/>
        </property>
        <property name="reportsPropertiesFileLocation" value="${user.home}/.acm/acm-reports.properties"/>
        <property name="reportToGroupsMapPropertiesFileLocation" value="${user.home}/.acm/reportToGroupsMap.properties"/>
        <property name="reportPluginProperties" ref="reportPluginProperties"/>
        <property name="reportToGroupsMapProperties" ref="reportToGroupsMapProperties"/>

    </bean>

</beans>