<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="reportUiController" class="com.armedia.acm.plugins.report.web.ReportUiController">
        <property name="reportService" ref="reportService"/>
    </bean>

    <bean id="getPentahoReportsAPIController" class="com.armedia.acm.plugins.report.web.api.GetPentahoReportsAPIController">
        <property name="pentahoFilePropertiesService" ref="pentahoFilePropertiesService"/>
    </bean>

    <bean id="saveReportsAPIController" class="com.armedia.acm.plugins.report.web.api.SaveReportsAPIController">
        <property name="reportService" ref="reportService"/>
    </bean>

    <bean id="getReportsToRolesAPIController" class="com.armedia.acm.plugins.report.web.api.GetReportToRolesMapAPIController">
        <property name="reportService" ref="reportService"/>
        <property name="executeSolrQuery" ref="executeSolrQuery"/>
    </bean>

    <bean id="saveReportsToRolesAPIController" class="com.armedia.acm.plugins.report.web.api.SaveReportToRolesMapAPIController">
        <property name="reportService" ref="reportService"/>
    </bean>

    <bean id="getAuthorizedReportsAPIController" class="com.armedia.acm.plugins.report.web.api.GetAuthorizedReportsAPIController">
        <property name="reportService" ref="reportService"/>
    </bean>

    <bean id="syncReportsAPIController" class="com.armedia.acm.plugins.report.web.api.SyncReportsAPIController">
        <property name="reportService" ref="reportService"/>
    </bean>

    <bean id="scheduleReportAPIController" class="com.armedia.acm.plugins.report.web.api.ScheduleReportAPIController">
        <property name="scheduleReportService" ref="scheduleReportRestService"/>
        <property name="pentahoReportsConfig" ref="pentahoReportsConfig"/>
    </bean>
</beans>

