@import "variables";

.btn {
  border-radius: $theme-radius;
}

.btn-default {
  color:              $theme-btn-default-color;
  background-color:   $theme-btn-default-bg;
  background-image:   $theme-btn-default-bg-img;
  border:             $theme-btn-default-border;
  border-bottom:      $theme-btn-default-border-bottom;

  -webkit-box-shadow: 0 1px 1px rgba(90,90,90,0.1);
  box-shadow: 0 1px 1px rgba(90,90,90,0.1);
}

.btn-default:hover {
  background-color:     $theme-btn-default-bg-hover;
  border:               $theme-btn-default-border-hover;
}