<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="outlookFolderCreatorPasswordMd5ToSha256UpdateExecutor"
        class="com.armedia.acm.services.dataupdate.service.OutlookFolderCreatorPasswordMd5ToSha256UpdateExecutor">
        <property name="cryptoProperties" ref="acmEncryptablePropertyEncryptionProperties"/>
        <property name="cryptoUtils" ref="acmCryptoUtils"/>
    </bean>

</beans>