<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="consultationRulesHandler" class="com.armedia.acm.plugins.consultation.pipeline.postsave.ConsultationRulesHandler">
        <property name="saveRule" ref="saveConsultationBusinessRule"/>
    </bean>

    <bean id="saveConsultationBusinessRule"
          class="com.armedia.acm.plugins.consultation.service.SaveConsultationBusinessRule"
          parent="simpleStatelessSingleObjectRuleManager">
        <property name="ruleSpreadsheetFilename" value="drools-consultation-rules.xlsx"/>
    </bean>

    <bean id="consultationStartBusinessProcessBusinessRule"
          class="com.armedia.acm.plugins.consultation.service.ConsultationStartBusinessProcessBusinessRule"
          parent="simpleStatelessSingleObjectRuleManager">
        <property name="ruleSpreadsheetFilename" value="drools-start-business-process-rules.xlsx"/>
    </bean>

</beans>