<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="acmQueueDao" class="com.armedia.acm.plugins.consultation.dao.AcmQueueDao"/>

    <bean id="consultationQueueHandler" class="com.armedia.acm.plugins.consultation.pipeline.presave.ConsultationQueueHandler">
        <property name="acmQueueDao" ref="acmQueueDao"/>
    </bean>

    <bean id="queueConsultationPipelineManager" class="com.armedia.acm.services.pipeline.PipelineManager">
        <property name="preSaveHandlers">
            <list>
                <ref bean="consultationQueueHandler"/>
            </list>
        </property>
        <property name="postSaveHandlers">
            <list>
                <ref bean="consultationRulesHandler"/>
            </list>
        </property>
    </bean>

    <bean id="queueCaseService" class="com.armedia.acm.plugins.consultation.service.QueueConsultationServiceImpl">
        <property name="queuePipelineManager" ref="queueConsultationPipelineManager"/>
        <property name="consultationDao" ref="consultationDao"/>
        <property name="userTrackerService" ref="userTrackerService"/>
        <property name="acmQueueDao" ref="acmQueueDao"/>
        <property name="rulesHandler" ref="consultationRulesHandler"/>
    </bean>

</beans>