<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="docxToPdfConverter" class="com.armedia.acm.convertfolder.DocxToPdfConverter">
        <property name="fileService" ref="ecmFileService"/>
    </bean>

    <bean id="imageToPdfConverter" class="com.armedia.acm.convertfolder.ImageToPdfConverter">
        <property name="fileService" ref="ecmFileService"/>
    </bean>

    <bean id="pptXToPdfConverter" class="com.armedia.acm.convertfolder.PptxToPdfConverter">
        <property name="fileService" ref="ecmFileService"/>
    </bean>

    <bean id="folderConverter" class="com.armedia.acm.convertfolder.DefaultFolderAndFileConverter">
        <constructor-arg>
            <list>
                <ref bean="docxToPdfConverter"/>
                <!--
                <ref bean="imageToPdfConverter"/>
                -->
                <ref bean="pptXToPdfConverter"/>
            </list>
        </constructor-arg>
        <property name="folderService" ref="acmFolderService"/>
        <property name="ecmFileDao" ref="ecmFileDao"/>
    </bean>

    <bean id="convertEcmFileEventListener" class="com.armedia.acm.convertfolder.listener.ConvertEcmFileEventListener">
        <property name="fileConverter" ref="folderConverter" />
    </bean>

</beans>
