<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="acmArkcaseIdentityService"
          class="com.armedia.acm.service.identity.service.AcmArkcaseIdentityServiceImpl">
        <property name="localIdentityDao" ref="localIdentityDao"/>
        <property name="globalIdentityDao" ref="globalIdentityDao"/>
    </bean>

    <bean id="localIdentityDao" class="com.armedia.acm.service.identity.dao.AcmArkcaseLocalIdentityDao">
        <property name="identityFilePath" value="${user.home}/.arkcase/acm/arkcase-instance-identity.properties"/>
    </bean>

    <bean id="globalIdentityDao" class="com.armedia.acm.service.identity.dao.AcmArkcaseGlobalIdentityDao"/>
    <bean class="com.armedia.acm.service.identity.state.AcmIdentityStateProvider" id="acmIdentityStateProvider">
        <property name="acmArkcaseIdentityService" ref="acmArkcaseIdentityService"/>
        <property name="applicationConfig" ref="applicationProperties"/>
    </bean>
</beans>
