<div class="modal-header">
    <h3 translate>common.directive.coreCalendar.recurrencePatternDialog.title</h3>
</div>

<div class="modal-body">
    <ng-form name="setRecurrenceForm">
        <!-- Event Time -->
        <div class="row">
            <div class="col-sm-4 form-group">
                <label for="startDate">
                    <span translate>common.directive.coreCalendar.addNewEventDialog.form.startDate.label</span>
                    <span class="required-asterisk">*</span>
                </label>
                <date-time-picker data="recurrenceTmpModel.start" show-time="true" is-required="true"></date-time-picker>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 form-group">
                <label for="endDate">
                    <span translate>common.directive.coreCalendar.addNewEventDialog.form.endDate.label</span>
                </label>
                <date-time-picker data="recurrenceTmpModel.end" show-time="true"></date-time-picker>
            </div>
            <div class="col-sm-12 form-group" ng-if="!validDuration">
                <p class="text-danger" translate>
                    common.directive.coreCalendar.recurrencePatternDialog.durationError.text </p>
            </div>
        </div>
        <!-- Recurrence Pattern -->
        <div class="row">
            <label class="col-sm-12" for="recurrencePattern">
                <span translate>common.directive.coreCalendar.recurrencePatternDialog.recurrencePattern.label</span>
            </label>
            <fieldset name="recurrencePattern" class="col-sm-12 form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="recurrenceType" ng-change="onRecurrenceTypeChange(recurrenceType)" required>
                            <option value="" disabled selected hidden translate>
                                common.directive.coreCalendar.recurrencePatternDialog.recurrencePattern.placeholder
                            </option>
                            <option ng-repeat="option in repeatsOptions" value="{{option.value}}" translate>
                                {{option.label}}
                            </option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <!-- Daily recurrence -->
            <div ng-if="recurrenceType === 'DAILY'">
                <div class="col-sm-12 form-group form-inline">
                    <label class="radio-inline">
                        <input type="radio" value="EVERY_DAY" ng-model="recurrenceTmpModel.recurrencePattern"
                                ng-change="onDailyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                        <span translate>
                    common.directive.coreCalendar.recurrencePatternDialog.dailyRecurrence.every.text
                </span>
                    </label>
                    <input type="number" class="form-control" ng-model="dailyRecurrence.interval" min="1" max="999"
                            ng-required="recurrenceTmpModel.recurrencePattern === 'EVERY_DAY' && recurrenceType === 'DAILY'"
                            ng-change="onDailyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                    <span translate>common.directive.coreCalendar.recurrencePatternDialog.dailyRecurrence.days.text</span>
                </div>
                <div class="col-sm-12 form-group form-inline">
                    <label class="radio-inline">
                        <input type="radio" value="EVERY_WEEKDAY" ng-model="recurrenceTmpModel.recurrencePattern"
                                ng-change="onDailyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                        <span translate>
                    common.directive.coreCalendar.recurrencePatternDialog.dailyRecurrence.everyWeekday.text
                </span>
                    </label>
                </div>
            </div>
            <!-- Weekly recurrence -->
            <div ng-if="recurrenceType === 'WEEKLY'">
                <div class="col-sm-12 form-group form-inline">
                    <span translate>common.directive.coreCalendar.recurrencePatternDialog.weeklyRecurrence.recurEvery.text</span>
                    <input type="number" name="" class="form-control" ng-model="weeklyRecurrence.interval"
                            ng-required="recurrenceTmpModel.recurrencePattern === 'WEEKLY' && recurrenceType === 'WEEKLY'" min="1" max="99"
                            ng-change="onWeeklyRecurrencePatternChange(day)">
                    <span translate>common.directive.coreCalendar.recurrencePatternDialog.weeklyRecurrence.weeksOn.text</span>
                </div>
                <div class="col-sm-12 form-group form-inline">
                    <label ng-repeat="day in daysOfTheWeekOptions" class="checkbox-inline">
                        <input type="checkbox" value="{{day.value}}" ng-click="onWeeklyRecurrencePatternChange(day)"
                                ng-checked="selectedDayOfTheWeek.indexOf(day.value) > -1">
                        <span translate>
                            {{day.label}}
                        </span>
                    </label>
                </div>
            </div>
            <!-- Monthly recurrence -->
            <div ng-if="recurrenceType === 'MONTHLY'">
                <div class="col-sm-12 form-group form-inline">
                    <label class="radio-inline">
                        <input type="radio" value="MONTHLY_ABSOLUTE" ng-model="recurrenceTmpModel.recurrencePattern"
                                ng-change="onMonthlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                        <span translate>
                    common.directive.coreCalendar.recurrencePatternDialog.monthlyRecurrence.day.text
                </span>
                    </label>
                    <input type="number" min="1" max="31" class="form-control" ng-model="absoluteMonthlyRecurrence.day"
                            ng-required="recurrenceTmpModel.recurrencePattern === 'MONTHLY_ABSOLUTE' && recurrenceType === 'MONTHLY'"
                            ng-change="onMonthlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                    <span translate>common.directive.coreCalendar.recurrencePatternDialog.monthlyRecurrence.ofEvery.text</span>
                    <input type="number" min="1" max="99" class="form-control" ng-model="absoluteMonthlyRecurrence.interval"
                            ng-required="recurrenceTmpModel.recurrencePattern === 'MONTHLY_ABSOLUTE' && recurrenceType === 'MONTHLY'"
                            ng-change="onMonthlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                    <span translate>common.directive.coreCalendar.recurrencePatternDialog.monthlyRecurrence.months.text</span>
                </div>
                <div class="col-sm-12 form-group form-inline">
                    <label class="radio-inline">
                        <input type="radio" value="MONTHLY_RELATIVE" ng-model="recurrenceTmpModel.recurrencePattern"
                                ng-change="onMonthlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                        <span translate>
                    common.directive.coreCalendar.recurrencePatternDialog.monthlyRecurrence.the.text
                </span>
                    </label>
                    <select class="form-control" ng-model="relativeMonthlyRecurrence.dayOuccurrenceInMonth"
                            ng-required="recurrenceTmpModel.recurrencePattern === 'MONTHLY_RELATIVE' && recurrenceType === 'MONTHLY'"
                            ng-change="onMonthlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                        <option ng-repeat="option in dayOuccurrenceInMonthOptions" value="{{option.value}}" translate>
                            {{option.label}}
                        </option>
                    </select>
                    <select class="form-control" ng-model="relativeMonthlyRecurrence.day"
                            ng-required="recurrenceTmpModel.recurrencePattern === 'MONTHLY_RELATIVE' && recurrenceType === 'MONTHLY'"
                            ng-change="onMonthlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                        <option ng-repeat="option in relativeDayOptions" value="{{option.value}}" translate>
                            {{option.label}}
                        </option>
                    </select>
                    <span translate>common.directive.coreCalendar.recurrencePatternDialog.monthlyRecurrence.ofEvery.text</span>
                    <input type="number" min="1" max="99" class="form-control" ng-model="relativeMonthlyRecurrence.interval"
                            ng-required="recurrenceTmpModel.recurrencePattern === 'MONTHLY_RELATIVE' && recurrenceType === 'MONTHLY'"
                            ng-change="onMonthlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                    <span translate>common.directive.coreCalendar.recurrencePatternDialog.monthlyRecurrence.months.text</span>
                </div>
            </div>
            <!-- Yearly recurrence -->
            <div ng-if="recurrenceType === 'YEARLY'">
                <div class="col-sm-12 form-group form-inline">
                    <span translate>common.directive.coreCalendar.recurrencePatternDialog.yearlyRecurrence.recurEvery.text</span>
                    <input type="number" min="1" max="99" class="form-control" ng-model="yearlyRecurrence.interval"
                            ng-required="recurrenceType === 'YEARLY'"
                            ng-change="onYearlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                    <span translate>common.directive.coreCalendar.recurrencePatternDialog.yearlyRecurrence.years.text</span>
                </div>
                <div class="col-sm-12 form-group form-inline">
                    <label class="radio-inline">
                        <input type="radio" value="YEARLY_ABSOLUTE" ng-model="recurrenceTmpModel.recurrencePattern"
                                ng-change="onYearlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                        <span translate>
                    common.directive.coreCalendar.recurrencePatternDialog.yearlyRecurrence.on.text
                </span>
                    </label>
                    <select class="form-control" ng-model="absoluteYearlyRecurrence.month"
                            ng-required="recurrenceTmpModel.recurrencePattern === 'YEARLY_ABSOLUTE' && recurrenceType === 'YEARLY'"
                            ng-change="onYearlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern, absoluteYearlyRecurrence.month)">
                        <option ng-repeat="option in monthsOptions" value="{{option.value}}" translate>
                            {{option.label}}
                        </option>
                    </select>
                    <input type="number" min="1" max="{{maxDaysInMonth}}" class="form-control" ng-model="absoluteYearlyRecurrence.day"
                            ng-required="recurrenceTmpModel.recurrencePattern === 'YEARLY_ABSOLUTE' && recurrenceType === 'YEARLY'"
                            ng-change="onYearlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                </div>
                <div class="col-sm-12 form-group form-inline">
                    <label class="radio-inline">
                        <input type="radio" value="YEARLY_RELATIVE" ng-model="recurrenceTmpModel.recurrencePattern"
                                ng-change="onYearlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                        <span translate>
                            common.directive.coreCalendar.recurrencePatternDialog.yearlyRecurrence.onThe.text
                        </span>
                    </label>
                    <select class="form-control" ng-model="relativeYearlyRecurrence.dayOuccurrenceInMonth"
                            ng-required="recurrenceTmpModel.recurrencePattern === 'YEARLY_RELATIVE' && recurrenceType === 'YEARLY'"
                            ng-change="onYearlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                        <option ng-repeat="option in dayOuccurrenceInMonthOptions" value="{{option.value}}" translate>
                            {{option.label}}
                        </option>
                    </select>
                    <select class="form-control" ng-model="relativeYearlyRecurrence.day"
                            ng-required="recurrenceTmpModel.recurrencePattern === 'YEARLY_RELATIVE' && recurrenceType === 'YEARLY'"
                            ng-change="onYearlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                        <option ng-repeat="option in relativeDayOptions" value="{{option.value}}" translate>
                            {{option.label}}
                        </option>
                    </select>
                    <span translate>common.directive.coreCalendar.recurrencePatternDialog.yearlyRecurrence.of.text</span>
                    <select class="form-control" ng-model="relativeYearlyRecurrence.month"
                            ng-required="recurrenceTmpModel.recurrencePattern === 'YEARLY_RELATIVE' && recurrenceType === 'YEARLY'"
                            ng-change="onYearlyRecurrencePatternChange(recurrenceTmpModel.recurrencePattern)">
                        <option ng-repeat="option in monthsOptions" value="{{option.value}}" translate>
                            {{option.label}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Recurrence Range -->
        <div class="row" ng-if="recurrenceType">
            <label class="col-sm-12" for="recurrenceRange">
                <span translate>common.directive.coreCalendar.recurrencePatternDialog.recurrenceRange.label</span>
            </label>
            <fieldset name="recurrenceRange" class="col-sm-12 form-group">
                <div class="row">
                    <div class="col-sm-12 form-inline form-group">
                        <label class="radio-inline">
                            <input type="radio" value="NO_END_DATE" ng-model="recurrenceTmpModel.recurrenceRangeType">
                            <span translate>
                        common.directive.coreCalendar.recurrencePatternDialog.recurrenceRange.noEndDate.text
                    </span>
                        </label>
                    </div>
                    <div class="col-sm-12 form-inline form-group">
                        <label class="radio-inline">
                            <input type="radio" value="END_AFTER" ng-model="recurrenceTmpModel.recurrenceRangeType">
                            <span translate>
                        common.directive.coreCalendar.recurrencePatternDialog.recurrenceRange.endAfter.text
                    </span>
                        </label>
                        <input type="number" min="1" max="999" class="form-control" ng-model="recurrenceTmpModel.endAfterOccurrances"
                                ng-change="onRecurrenceCountChange(recurrenceType, recurrenceTmpModel.recurrencePattern)">
                        <span translate>common.directive.coreCalendar.recurrencePatternDialog.recurrenceRange.occurrences.text</span>
                    </div>
                    <div class="col-sm-12 form-inline form-group">
                        <label class="radio-inline">
                            <input type="radio" value="END_BY" ng-model="recurrenceTmpModel.recurrenceRangeType">
                            <span translate>
                        common.directive.coreCalendar.recurrencePatternDialog.recurrenceRange.endBy.text
                    </span>
                        </label>
                        <date-time-picker data="recurrenceTmpModel.recurrenceEndBy"></date-time-picker>
                    </div>
                </div>
            </fieldset>
        </div>
    </ng-form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary pull-left" ng-click="cancel()" translate>
        common.directive.coreCalendar.recurrencePatternDialog.cancel.button
    </button>
    <button type="button" class="btn btn-secondary" ng-if="recurrentEvent" ng-click="removeCurrentRecurrence()" translate>
        common.directive.coreCalendar.recurrencePatternDialog.removeRecurrence.button
    </button>
    <button type="button" class="btn btn-primary" ng-click="setEventRecurrence()"
            ng-disabled="setRecurrenceForm.$invalid || (recurrenceType === 'WEEKLY' && selectedDayOfTheWeek.length === 0)" translate>
        common.directive.coreCalendar.recurrencePatternDialog.setRecurrence.button
    </button>
</div>
