<div class="modal-header">
    <h3 ng-hide="isEdit">
        <span translate>people.comp.emails.modal.addEmail</span>
    </h3>

    <h3 ng-show="isEdit">
        <span translate>people.comp.emails.modal.editEmail</span>
    </h3>
</div>
<div class="modal-body">
    <form name="emailForm">
        <div class="row">
            <div class="col-sm-6 form-group">

                <label for="emails" translate>people.comp.emails.modal.value.label</label><span class="required-asterisk">*</span>

                <input id="emails" class="input-md form-control" type="{{email.type}}" ng-model="email.value" required="required"
                        placeholder="{{ 'people.comp.emails.modal.value.placeholder' | translate }}"
                        ng-blur="checkExistingEmail(email.value)">

                <span class="text-danger" ng-if="isEmailTaken" translate>
                                people.comp.emails.modal.validation.emailTaken</span>

            </div>
            <div class="col-sm-6 form-group">

                <label for="emailTypes" translate>people.comp.emails.modal.type.label</label><span class="required-asterisk">*</span>
                <select id="emailTypes" class="input-md form-control" required="required" ng-model="email.subLookup"
                        ng-options="item.key as item.value | translate for item in emailTypes"></select>

            </div>
        </div>
        <div class="row" ng-if="!isPortalPerson">
            <div class="col-sm-12 form-group">

                <label translate>people.comp.emails.modal.setPrimary</label><span class="required-asterisk">*</span><br />
                <label>
                    <input type="radio" ng-model="isDefault" ng-value="true">
                    <translate>people.comp.emails.modal.yes</translate>
                </label>
                <label ng-hide="hideNoField">
                    <input type="radio" ng-model="isDefault" ng-value="false">
                    <translate>people.comp.emails.modal.no</translate>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label translate>people.comp.emails.modal.description</label>
                <mention-textarea ng-model="email.description" params="params"></mention-textarea>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        <span translate>people.comp.emails.modal.btnCancel.text</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()" ng-disabled="emailForm.$invalid || isEmailTaken">
        <span translate>people.comp.emails.modal.btnOk.text</span>
    </button>
</div>