<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="listNotesAPIController" class="com.armedia.acm.services.note.web.api.ListAllNotesAPIController">
        <property name="noteDao" ref="noteDao"/>
    </bean>

    <bean id="deleteNotesByNotesId" class="com.armedia.acm.services.note.web.api.DeleteNoteByIdAPIController">
        <property name="noteDao" ref="noteDao"/>
    </bean>

    <bean id="saveNote" class="com.armedia.acm.services.note.web.api.SaveNoteAPIController">
        <property name="noteDao" ref="noteDao"/>
        <property name="noteEventPublisher" ref="noteEventPublisher"/>
    </bean>
</beans>