<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="noteDao" class="com.armedia.acm.services.note.dao.NoteDao"/>
    <bean id="noteEventPublisher" class="com.armedia.acm.services.note.service.NoteEventPublisher"/>

    <bean id="acmSaveNotePlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Save Note Service Plugin"/>
    </bean>

    <bean id="acmDeleteNoteByIdPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Delete Note Service Plugin"/>
    </bean>

    <bean id="acmListNotesPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Delete Note Service Plugin"/>
    </bean>

</beans>