<div class="modal-header">
    <h3>
        <span translate>dashboard.widgets.savePromptModal.title</span>
    </h3>
</div>

<div class="modal-body">
    <div>
        <span translate>dashboard.widgets.savePromptModal.info</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        <span translate>dashboard.widgets.savePromptModal.cancel</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickDoNotSave()">
        <span translate>dashboard.widgets.savePromptModal.doNotSave</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickSave()">
        <span translate>dashboard.widgets.savePromptModal.save</span>
    </button>
</div>