<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="acmDiffBeanConfiguration" class="org.apache.commons.io.IOUtils" factory-method="toString">
        <constructor-arg type="java.io.InputStream" value="classpath:config/acmObjectDiffSettings.json"/>
    </bean>

    <bean id="objectConverter" class="com.armedia.acm.objectonverter.ObjectConverter" factory-method="createObjectConverterForTests"/>

    <bean id="acmDiffService" class="com.armedia.acm.objectdiff.service.AcmDiffService" init-method="initConfigurationMap">
        <property name="jsonConfiguration" ref="acmDiffBeanConfiguration"/>
        <property name="objectConverter" ref="objectConverter"/>
    </bean>
</beans>