<div ng-controller="Tasks.DetailsController">
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>tasks.comp.details.title</span>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs" ng-click="saveDetails()" permission="saveDetail" permission-object-type="TASK"
                            permission-properties="objectInfo" permission-action="disable"><i class="fa fa-lg fa-save"></i></button>
                </div>
            </div>
        </div>
        <div class="panel-body remove-margin-bottom-from-summernote">
            <summernote config="options" ng-model="objectInfo.details"></summernote>
        </div>
    </div>
</div>
