<div ng-controller="Tasks.ParentDocsController">
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>tasks.comp.parentdocs.title</span>
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="input-xs form-control" ng-model="filter" ng-keyup="onFilter()"
                                placeholder="{{ 'tasks.comp.parentdocs.filterInputPlaceholder' | translate }}">
                    </div>
                    <div class="col-md-3">
                        <form name="filesSearch" ng-submit="onSearch()">
                            <div class="input-group">
                                <input type="text" class="input-xs form-control" ng-model="searchFilter"
                                        placeholder="{{ 'tasks.comp.parentdocs.searchInputPlaceholder' | translate }}">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-xs" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <button class="btn btn-default btn-xs" ng-click="sendEmail()" ng-show="sendEmailEnabled
                            && parentObjectType">
                                    <span translate>
                                         tasks.comp.parentdocs.sendEmail
                                    </span>
                            </button>
                            <folder-actions></folder-actions>
                            <download-all-as-zip></download-all-as-zip>
                            <button type="button" class="btn btn-default btn-xs" ng-click="onClickRefresh()" ng-show="parentObjectType">
                                <i class="fa fa-lg fa-refresh"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body ui-grid-viewport ui-grid-render-container-body">
            <doc-tree object-type="parentObjectType" object-id="parentObjectId" tree-control="treeControl" upload-form="uploadForm"
                    tree-config="treeConfig" object-info="parentInfo" on-init-tree="onInitTree"
                    ng-if="objectInfo && parentInfo && treeConfig" read-only="{{isReadOnly}}"></doc-tree>
            <div class="alert" ng-if="!parentInfo">
                <p class="text-center">
                    <span translate>tasks.comp.parentdocs.noParentDataMessage</span>
                </p>
            </div>
        </div>
    </div>
</div>