<div ng-controller="Tasks.ActionsController">
    <div class="col-xs-4">
        <!--<div>-->
        <!--&lt;!&ndash; move title to info component &ndash;&gt;-->
        <!--</div>-->
    </div>

    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-sm btn-default" ng-click="diagram()" ng-show="showBtnDiagram">
                <i class="fa fa-sitemap"></i>
                <span translate>tasks.comp.actions.diagram.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="sign()" ng-show="showBtnSignature">
                <i class="fa fa-certificate"></i>
                <span translate>tasks.comp.actions.eSignature.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-show="showBtnSubscribe" ng-click="subscribe()">
                <i class="fa fa-bullhorn"></i>
                <span translate>tasks.comp.actions.subscribe.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-show="showBtnUnsubscribe" ng-click="unsubscribe()">
                <i class="fa fa-bullhorn"></i>
                <span translate>tasks.comp.actions.unsubscribe.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="deleteTaskAction()" ng-show="showBtnDelete">
                <i class="fa fa-times"></i>
                <span translate>tasks.comp.actions.delete.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="complete()" ng-show="showBtnComplete">
                <i class="fa fa-check"></i>
                <span translate>tasks.comp.actions.complete.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="complete()" ng-show="showBtnApprove">
                <i class="fa fa-check"></i>
                <span translate>tasks.comp.actions.approve.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="reject()" ng-show="showBtnReject">
                <i class="fa fa-hand-stop-o"></i>
                <span translate>tasks.comp.actions.reject.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="onClickOutcome(outcome.name)" ng-disabled="isClicked"
                    ng-repeat="outcome in objectInfo.availableOutcomes" ng-show="showBtnOutcomes">
                {{outcome.description | translateData: 'core.lookups.taskOutcomes' : lang}}
            </button>
            <button class="btn btn-sm btn-default" ng-click="claimTask()" ng-show="showClaimBtn()">
                <i class="fa fa-hand-paper-o"></i>
                <span translate>tasks.comp.actions.claim.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="unclaimTask()" ng-show="showUnclaimBtn()">
                <i class="fa fa-calendar-times-o"></i>
                <span translate>tasks.comp.actions.unclaim.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="refresh()">
                <i class="fa fa-refresh"></i>
            </button>
            <button class="btn btn-sm btn-default" ng-click="sendEmail()">
                <i class="fa fa-envelope"></i>
                <span translate>tasks.comp.actions.sendEmail.button</span>
            </button>
        </div>
    </div>
</div>


