<form name="task" ng-submit="saveNewTask()" editable-form>
    <div class="modal-header">
        <h3><span translate>tasks.newTask.title</span></h3>
    </div>
    <div class="modal-body">
        <div class="well-sm">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="assignee" translate> tasks.newTask.assignee.label </label>
                    <span class="required-asterisk">*</span>
                    <input type="text" id="assignee" ng-model="userOrGroupName" class="input-md form-control"
                           placeholder="{{ 'tasks.newTask.assignee.placeholder' | translate }}" id="assignee"
                           style="background-color: white;" ng-click="userOrGroupSearch()" readonly required>
                </div>

                <div class="col-sm-6 form-group">
                    <label for="candidateGroups" translate> tasks.newTask.candidateGroups.label </label>
                    <input type="text" id="candidateGroups" ng-disabled="true" ng-model="groupName" class="input-md form-control"
                           id="candidateGroups">
                </div>

                <div class="form-group col-sm-2">
                    <label class="control-label">{{ 'tasks.newTask.associateType.label' | translate }}

                    </label>
                    <select ng-model="config.data.attachedToObjectType" ng-change="updateAssocParentType()"
                            ng-options="option.key as (option.value | translate) for option in taskParentTypes"
                            class="form-control input-md" ng-click="inputClear()" ng-disabled="modalParams.parentType">
                    </select>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="associateNumber" translate> tasks.newTask.associateNumber.label </label>
                    <input type="text" id="associateNumber" ng-required="isAssocType" ng-model="config.data.attachedToObjectName"
                           class="input-md form-control" placeholder="{{ 'tasks.newTask.associateNumber.placeholder' | translate }}"
                           id="complaintId" ng-disabled="config.data.attachedToObjectType==='' || modalParams.parentObject"
                           ng-click="objectSearch()">
                </div>

                <div class="col-sm-6 form-group" ng-if="config.data.attachedToObjectType=='CASE_FILE'">
                    <label for="contactPersonAssociation" translate> tasks.newTask.contactPersonAssociation.label </label>
                    <input type="text" id="contactPersonAssociation" ng-model="contactPersonName"
                           placeholder="{{ 'tasks.newTask.contactPersonAssociation.placeholder' | translate }}"
                           class="input-md form-control" id="contactAssociation" ng-click="addPerson()">
                </div>

            </div>
            <div class="row">
                <div class="col-sm-8 form-group">
                    <label translate> tasks.newTask.subject.label </label>
                    <span class="required-asterisk">*</span>
                    <mention-input ng-model="config.data.title" params="params"
                                   placeholder="{{ 'tasks.newTask.subject.label' | translate }}"></mention-input>
                </div>
                <div class="form-group col-sm-4" ng-if="config.data.attachedToObjectType=='CASE_FILE'">
                    <label class="control-label">{{ 'tasks.newTask.caseTaskType.label' | translate }}</label>
                    <select ng-model="config.data.type"
                            ng-options="caseTaskType.key as caseTaskType.value | translate for caseTaskType in caseTaskTypes"
                            ng-change="updateDetailsFromTaskType()" class="form-control input-md">
                        <option value="" translate>tasks.newTask.caseTaskType.placeholder</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-group">
                    <label translate> tasks.newTask.taskStartDate.label </label>
                    <span class="required-asterisk">*</span>
                    <div style="margin-top: 10px;">
                        <date-time-picker data="config.data.taskStartDate" show-time="true" min-date="minStartDate" on-date-select="startDateChanged"></date-time-picker>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label translate> tasks.newTask.dueDate.label </label>
                    <span class="required-asterisk">*</span>
                    <div style="margin-top: 10px;">
                        <date-time-picker data="config.data.dueDate" show-time="true" min-date="minDueDate"></date-time-picker>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label">{{ 'tasks.newTask.priority.label' | translate }}
                    </label>
                    <div style="margin-top: 10px;">
                        <select ng-model="config.data.priority" ng-options="priority.id as priority.name for priority in config.priority"
                                class="form-control input-md">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="percentComplete" translate> tasks.newTask.percentComplete.label </label>
                    <input id="percentComplete" type="number" min="0" max="100" ng-model="config.data.percentComplete"
                           class="input-md form-control" name="percentComplete"
                           placeholder="{{ 'tasks.newTask.percentComplete.label' | translate }}" id="percentComplete">
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label">{{ 'tasks.newTask.businessProcessTypes.label' | translate }}</label>
                    <select ng-model="selectedBusinessProcessType" ng-change="updateBusinessProcessType(selectedBusinessProcessType)"
                            ng-options="businessProcessType.key as businessProcessType.value | translate for businessProcessType in businessProcessTypes"
                            class="form-control input-md">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="docsToReview">
                        <span translate>tasks.newTask.documentsToReview.label</span>
                    </label>
                    <div ng-if="taskType === 'REVIEW_DOCUMENT' && documentsToReview">
                        <fieldset id="docsToReview" class="well-sm">
                            <label ng-repeat="node in documentsToReview" class="checkbox-inline">
                                <input type="checkbox" value="{{node.data.objectId}}" ng-click="onSelectFile(node.data.objectId)"
                                       ng-checked="documentsToReviewIds.indexOf(node.data.objectId) > -1">
                                <span>
                              {{node.data.name + '' + node.data.ext}}
                          </span>
                            </label>
                        </fieldset>
                    </div>
                    <fieldset id="uploadDocs_docsToReview">
                        <a href="#" ngf-select="onFileUpload($files)" multiple>
                            <span translate>tasks.newTask.documentsToReview.uploadDocuments</span>
                        </a>
                        <label ng-repeat="file in filesToUpload">
                            <ul>
                                <li><input type="checkbox" value="{{file.name}}" ng-click="onSelectAttachment(file)" ng-checked="true"
                                           ng-model="opened.isFileAllowed">{{filesToUpload[$index].name}}
                                </li>
                            </ul>
                        </label>
                    </fieldset>
                    <span ng-if="(!documentsToReviewIds || documentsToReviewIds.length === 0) && filesToUpload.length === 0 && selectedBusinessProcessType != 'notDefinedWorkflow'"
                          class="text-danger" translate>
                          tasks.newTask.noSelectedReviewDocsErrorMsg
                        </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 remove-margin-bottom-from-summernote">
                    <label translate> tasks.newTask.notes.label </label>
                    <mention-summernote ng-model="config.data.details" params="paramsSummernote"></mention-summernote>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-title="Cancel" ng-click="cancelModal()">
            <span translate> tasks.newTask.cancelButton </span>
        </button>
        <button type="submit"
                ng-disabled="task.$invalid || saved || ((!documentsToReviewIds || documentsToReviewIds.length === 0) && filesToUpload.length === 0 && selectedBusinessProcessType != 'notDefinedWorkflow') "
                class="btn btn-primary btn-sm" data-toggle="tooltip" id="saveButton" data-title="Save">
            <i class="fa fa-floppy-o" ng-hide="loading"></i>
            <i class="fa fa-circle-o-notch fa-spin" ng-if="loading"></i>
            <span translate> tasks.newTask.saveButton </span>
        </button>
    </div>
</form>
