<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


    <bean id="acmApplication" class="com.armedia.acm.core.AcmApplication"/>

    <bean id="expiredUrl" class="java.lang.String">
        <constructor-arg value="/expiredUrl"/>
    </bean>

    <bean id="configList" class="java.util.ArrayList">
        <constructor-arg>
            <list/>
        </constructor-arg>
    </bean>

    <bean id="notificationService" class="com.armedia.acm.services.notification.service.NotificationServiceImpl"/>

    <bean id="notificationUtils" class="com.armedia.acm.services.notification.service.NotificationUtils">
        <property name="acmAppConfiguration" ref="acmApplication"/>
        <property name="acmDataService" ref="acmDataService"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="groupDao" ref="groupDao"/>
    </bean>

    <bean id="notificationDao" class="com.armedia.acm.services.notification.dao.NotificationDao">
        <property name="notificationUtils" ref="notificationUtils"/>
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="default"/>
                </bean>
            </set>
        </property>
    </bean>
</beans>
