<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="configFileEventListener" class="com.armedia.acm.files.ConfigurationFileEventListener"/>

    <!-- fake activitiProcessEngineConfiguration bean for testing.  Needed because the folder watcher has a
         depends-on reference to activitiProcessEngineConfiguration -->
    <bean id="activitiProcessEngineConfiguration" class="java.lang.String">
        <constructor-arg value="Not really an activiti bean"/>
    </bean>

    <!-- fake drlDeployer bean for testing.  Needed because the folder watcher has a
         depends-on reference to drlDeployer -->
    <bean id="drlDeployer" class="java.lang.String">
        <constructor-arg value="Not really a Drools bean"/>
    </bean>

    <!-- need a bean named "springEntityListenerConfigurer" but it doesn't have to be a real bean -->
    <bean id="springEntityListenerConfigurer" class="java.lang.String">
        <constructor-arg value="Not really a Spring listener bean"/>
    </bean>

</beans>