#%RAML 0.8
title: ACM 3.0 API
baseUri: http://armdec6acm1.armedia.com/acm/api/{version}
version: v1

securitySchemes:
  - spring_security_form_auth:
      description: ACM3 uses Spring Security form authentication for interactive users.
      type: x-Spring Security form authentication
  - spring_security_basic_auth:
      description: ACM3 uses Spring Security basic authentication for service users.    
      type: Basic Authentication  
  - acm_token_authentication:
      description: Acquire a token by calling /api/v1/authenticationtoken using Basic Authentication. 
        This will return a text/plain response with the token text.  Include this token in any other 
        service invocation by adding "acm_ticket=<token>" to the query string.
      type: x-Token Authentication

/plugin:
  /casefile:
    post:
      description: create a a new case file, or update an existing one.
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      body:
        application/json:
          example: |
            {
              "caseType": "Better Business Bureau",
              "title": "Dupree's Diamond Blues"
              // this request will create a case file since no id is specified.
              // to update a case file, include the id property, as shown in the 
              // example response.
            }
      responses:
        200:
          description: Case file successfully created or updated.
          body:
            application/json:
              example: |
                {
                  "id":508,
                  "caseNumber":"20141006_508",
                  "caseType":"Better Business Bureau",
                  "title":"Dupree's Diamond Blues",
                  "status":"DRAFT",
                  "created":"2014-10-06T20:28:42.080+0000",
                  "creator":"ebmillar",
                  "modified":"2014-10-06T20:28:42.080+0000",
                  "modifier":"ebmillar",
                  "closed":null,
                  "disposition":null,
                  "ecmFolderPath":"/Sites/acm/documentLibrary/Case Files/20141006_508",
                  "ecmFolderId":"workspace://SpacesStore/7c4c7c0c-b4dd-4e3d-aa8c-e6e4a9ea2e52",
                  "childObjects":[]
                }
  /complaint:
    post:
      description: Create a complaint based on the complaint originator's contact information
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      body: 
        application/json:
          example: |
            {
             "complaintId": null,      
             "complaintNumber": "20140806_193",
             "complaintType": "Agricultural",
             "priority": "Medium",
             "complaintTitle": "fire on the tree",
             "details": "Sample Detail", 
             "incidentDate": "2014-09-19T04:00:00.000+0000",
             "status":"DRAFT",
             "originator": {
                  "id": null,
                  "personType": "Initiator",
                  "personDescription": "Sample Description",
                  "notes":"sample note describing the person",
                  "tags": ["Grateful Dead", "Guitar" ],
                  "person": {
                        "id": null,
                        "title": "Mr.",
                        "givenName": "John",
                        "familyName": "Doe",
                        "company": "Contoso",
                        "weightInPounds": 189,
                        "addresses": [{
                              "type": "home",
                              "streetAddress": "123 Main St.",
                              "streetAddress2": null,
                              "city": "Peoria",
                              "state": "IL",
                              "zip": "12345"
                           }],
                         "contactMethods": [{
                                "type": "Mobile Phone",
                                "value": "123-456-7890"
                                  },
                                  {
                                "type": "Personal E-mail",
                                "value": "john.doe@gmail.com"
                                  }],
                        "securityTags": ["Anonymous",
                                       "Confidential",
                                       "Top Secret"],
                        "personAliases": [{
                             "id": null,
                              "aliasType": "Nick Name",
                              "aliasValue": "Nick"
                        }],
                        "organizations": [
                    {
                    "organizationId":null,
                    "organizationType": "sample",
                    "organizationValue": "tech net"
                          }
                    ]
                      }
                    },
                "personAssociations": [{
                  "id": null,
                  "personType": "Subject",
                  "personDescription": "Simple Description",
                  "tags": ["Contoso", "Illinois" ],
                  "person": {
                        "id": null,
                        "title": "Mr.",
                        "givenName": "John",
                        "familyName": "Doe",
                        "company": "Contoso",
                        "weightInPounds": 189,
                        "addresses": [{
                              "type": "home",
                              "streetAddress": "123 Main St.",
                              "streetAddress2": null,
                              "city": "Peoria",
                              "state": "IL",
                              "zip": "12345"
                           }],
                         "contactMethods": [{
                                "type": "Mobile Phone",
                                "value": "123-456-7890"
                                  },
                                  {
                                "type": "Personal E-mail",
                                "value": "john.doe@gmail.com"
                                  }],
                        "securityTags": ["Anonymous",
                                       "Confidential",
                                       "Top Secret"],
                        "personAliases": [{
                             "id": null,
                              "aliasType": "Nick Name",
                              "aliasValue": "Nick"
                        }],
                        "organizations": [
                    {
                    "organizationId":null,
                    "organizationType": "sample",
                    "organizationValue": "tech net"
                          }
                    ]
                      }
                }], 
                "dueDate": "2014-09-22T04:00:00.000+0000",
                "tag": "no tag",
                "frequency": "low",
                "location": "1234 straight line St, fallschurch va"        
            }
      responses:
        200:
          description: Normal response indicating the system created a new complaint
          body: 
            application/json:
              example: |
                {
                  "complaintId":2190,
                  "complaintNumber":"20140806_1938",
                  "complaintType":"Agricultural",
                  "priority":"Medium",
                  "complaintTitle":"fire on the tree",
                  "details":"Sample Detail",
                  "incidentDate":"2014-09-19T04:00:00.000+0000",
                  "created":"2014-09-22T20:06:52.018+0000",
                  "creator":"ann-acm",
                  "modified":"2014-09-22T20:06:52.018+0000",
                  "modifier":"ann-acm",
                  "status":"DRAFT",
                  "originator": {
                        "id":2191,
                        "parentId":2190,
                        "tags": ["Grateful Dead", "Guitar" ],
                        "person":{
                                "id":2192,
                                "title":"mr.",
                                "company":null,
                                "status":"ACTIVE",
                                "givenName":"Complaintant first",
                                "familyName":"Complaintant last",
                                "hairColor":null,
                                "eyeColor":null,
                                "heightInInches":null,
                                "weightInPounds":null,
                                "dateOfBirth":null,
                                "dateMarried":null,
                                "created":"2014-09-29T17:01:25.142+0000",
                                "creator":"anotherUser",
                                "modified":"2014-09-29T17:01:25.142+0000",
                                "modifier":"anotherUser",
                                "addresses":[],
                                "contactMethods":[],
                                "securityTags":[],
                                "personAliases":[ ],                                
                                "organizations":[]                          
                                 },
                        "personType":"Initiator",
                        "parentType":"COMPLAINT",
                        "personDescription":"Sample Description",
                        "created":"2014-09-22T20:06:52.018+0000",
                        "creator":"ann-acm",
                        "modified":"2014-09-22T20:06:52.018+0000",
                        "modifier":"ann-acm",
                        "notes":"sample note describing the person"
                  },
                  "ecmFolderPath":"/Sites/acm/documentLibrary/Complaints/20140922_2190",
                  "ecmFolderId":"workspace://SpacesStore/75ab1031-515a-4e82-ac58-fd9cf09e7119",
                  "childObjects": [],
                  "approvers": null,
                  "personAssociations": [{
                        "id":2194,
                        "parentId":2190,
                        "tags": ["Armedia", "Allman Brothers Band" ],
                        "person": {
                                  "id":2193,
                                  "title":"Mr.",
                                  "company":"Armedia",
                                  "status":"ACTIVE",
                                  "givenName":"Johnatan",
                                  "familyName":"Joe",
                                  "hairColor":"black",
                                  "eyeColor":null,
                                  "heightInInches":null,
                                  "weightInPounds":189,
                                  "dateOfBirth":null,
                                  "dateMarried":null,
                                  "created":"2014-09-29T19:08:06.006+0000",
                                  "creator":"ann-acm",
                                  "modified":"2014-09-29T19:08:06.006+0000",
                                  "modifier":"ann-acm",
                                  "addresses":[],
                                  "contactMethods":[],
                                  "securityTags":[],
                                  "personAliases":[ ],                                
                                  "organizations":[]                          
                                   },
                        "personType": "Subject",
                        "parentType": "COMPLAINT",
                        "personDescription": "Simple Description",
                        "created": "2014-09-02T18:09:49.140+0000",
                        "creator": "ann-acm",
                        "modified": "2014-09-02T18:09:49.141+0000",
                        "modifier": "ann-acm"
                      }],
                "dueDate":"2014-09-22T04:00:00.000+0000",
                "tag":"no tag",
                "frequency":"low",
                "location":"1234 straight line St, fallschurch va"  
                }                                  
      
        400:
          description: Usually means the request body was invalid (did not match the expected JSON format).  The response body will be empty.
    /types:
      description: Manage the list of complaint types.
      get:
        description: Retrieve array of valid complaint types.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            description: Expected response including the valid complaint types.
            body:
              application/json:
                example: |
                  [ "Domestic Dispute", "Arson", "Better Business Dispute", "Government", "Local", "Agricultural", "Pollution" ]
    /priorities:
      description: Manage the list of complaint priorities.
      get:
        description: Retrieve array of valid complaint priorities.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            description: Expected response including the valid complaint priorities.
            body:
              application/json:
                example: |
                  [ "Low", "Medium", "High" ]
                
          
    /file:
      description: Manage complaint files.
      post:
        description: Add a file to the complaint.  Submitted form must include a complaintId element, and a file[] element with the files to be uploaded.  Returns JSON suitable for consumption by the jQuery File Upload plugin.
          
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        body:
          multipart/form-data:
            
            
    /byId/{complaintId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Lookup complaint details by complaint ID.
        responses:
          200:
            description: expected response containing the desired complaint details
            body:
              application/json:
                example: |
                 {
                  "complaintId": 2190,
                  "complaintNumber": "20140806_1938",
                  "complaintType": "Agricultural",
                  "priority": "Medium",
                  "complaintTitle": "falling fire is coming  tree",
                  "details": "Sample Detail",
                  "incidentDate": "2014-09-19T04:00:00.000+0000",
                  "created": "2014-09-29T21:34:54.947+0000",
                  "creator": "ann-acm",
                  "modified": "2014-09-29T21:34:54.947+0000",
                  "modifier": "ann-acm",
                  "status": "DRAFT",
                  "originator": {
                        "id": 2191,
                        "tags": ["Grateful Dead", "Guitar" ],
                        "person": {
                            "id": 2192,
                            "title": null,
                            "company": null,
                            "status": "ACTIVE",
                            "givenName": null,
                            "familyName": null,
                            "hairColor": null,
                            "eyeColor": null,
                            "heightInInches": null,
                            "weightInPounds": null,
                            "dateOfBirth": null,
                            "dateMarried": null,
                            "created": "2014-09-22T20:06:52.021+0000",
                            "creator": "ann-acm",
                            "modified": "2014-09-22T20:06:52.021+0000",
                            "modifier": "ann-acm",
                            "addresses": [{
                                "id" : 1294,
                                "created" : "2014-10-15T13:47:41.313+0000",
                                "creator" : "anotherUser",
                                "modified" : "2014-10-15T18:22:03.648+0000",
                                "modifier" : "ebmillar",
                                "status" : "ACTIVE",
                                "type" : "type",
                                "types" : null,
                                "streetAddress" : "street address",
                                "streetAddress2" : "street address 2",
                                "city" : "city",
                                "state" : "state",
                                "zip" : "zip",
                                "country" : "country"
                              }
                            ],
                            "contactMethods": [{
                                "id" : 1295,
                                "created" : "2014-10-15T13:47:41.329+0000",
                                "creator" : "anotherUser",
                                "modified" : "2014-10-17T13:48:47.960+0000",
                                "modifier" : "ebmillar",
                                "status" : "ACTIVE",
                                "type" : "Office phone",
                                "types" : null,
                                "value" : "703-555-1212"
                              }
                            ],
                            "securityTags": [],
                            "personAliases": [{
                                "id" : 1297,
                                "aliasType" : "Nick Name",
                                "aliasTypes" : null,
                                "aliasValue" : "Complaintant alias",
                                "created" : "2014-10-15T13:47:41.347+0000",
                                "creator" : "anotherUser",
                                "modified" : "2014-10-15T18:22:03.674+0000",
                                "modifier" : "ebmillar"
                              }
                            ],
                            "organizations": [{
                              "organizationId" : 1296,
                              "organizationType" : "org type",
                              "organizationTypes" : null,
                              "organizationValue" : "org value",
                              "created" : "2014-10-15T13:47:41.338+0000",
                              "creator" : "anotherUser",
                              "modified" : "2014-10-15T18:22:03.670+0000",
                              "modifier" : "ebmillar"
                            }
                          ]
                        },
                        "parentId": 2190,
                        "personType": "Initiator",
                        "parentType": "COMPLAINT",
                        "personDescription": "Sample Description",
                        "created": "2014-09-22T20:06:52.018+0000",
                        "creator": "ann-acm",
                        "modified": "2014-09-29T21:34:54.971+0000",
                        "modifier": "ann-acm",
                        "notes": "sample note describing the person"
                  },
                  "ecmFolderPath": null,
                  "ecmFolderId": "workspace://SpacesStore/75ab1031-515a-4e82-ac58-fd9cf09e7119",
                  "childObjects": [],
                  "approvers": null,
                  "personAssociations": [{
                        "id": 2191,
                        "tags": ["Grateful Dead", "Guitar" ],
                        "person": {
                          "id": 2192,
                          "title": null,
                          "company": null,
                          "status": "ACTIVE",
                          "givenName": null,
                          "familyName": null,
                          "hairColor": null,
                          "eyeColor": null,
                          "heightInInches": null,
                          "weightInPounds": null,
                          "dateOfBirth": null,
                          "dateMarried": null,
                          "created": "2014-09-22T20:06:52.021+0000",
                          "creator": "ann-acm",
                          "modified": "2014-09-22T20:06:52.021+0000",
                          "modifier": "ann-acm",
                          "addresses": [],
                          "contactMethods": [],
                          "securityTags": [],
                          "personAliases": [],
                          "organizations": []
                        },
                        "parentId": 2190,
                        "personType": "Initiator",
                        "parentType": "COMPLAINT",
                        "personDescription": "Sample Description",
                        "created": "2014-09-22T20:06:52.018+0000",
                        "creator": "ann-acm",
                        "modified": "2014-09-29T21:34:54.971+0000",
                        "modifier": "ann-acm",
                        "notes": "sample note describing the person"
                      },
                      {
                        "id": 2194,
                        "person": {
                          "id": 2193,
                          "title": null,
                          "company": null,
                          "status": "ACTIVE",
                          "givenName": null,
                          "familyName": null,
                          "hairColor": null,
                          "eyeColor": null,
                          "heightInInches": null,
                          "weightInPounds": null,
                          "dateOfBirth": null,
                          "dateMarried": null,
                          "created": "2014-09-22T20:06:52.023+0000",
                          "creator": "ann-acm",
                          "modified": "2014-09-22T20:06:52.023+0000",
                          "modifier": "ann-acm",
                          "addresses": [],
                          "contactMethods": [],
                          "securityTags": [],
                          "personAliases": [],
                          "organizations": []
                        },
                        "parentId": 2190,
                        "personType": "Subject",
                        "parentType": "COMPLAINT",
                        "personDescription": "Simple Description",
                        "created": "2014-09-22T20:06:52.018+0000",
                        "creator": "ann-acm",
                        "modified": "2014-09-22T20:06:52.018+0000",
                        "modifier": "ann-acm",
                        "notes": null
                      }],
                  "dueDate": "2014-09-22T04:00:00.000+0000",
                  "tag": "no tag",
                  "frequency": "low",
                  "location": "1234 straight line St, fallschurch va"
                  }
          400:
            description: Usually means the requested complaint does not exist.
            body:
              text/plain:
                example: Complaint ID 2045 not found.
  /person:
    post:
      description: Create a person with all details
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      body: 
        application/json:
          example: |
            {
                "id": 1884,
                "title": "Mr.",
                "givenName": "John",
                "familyName": "Doe",
                "company": "Armedia",
                "hairColor":"white",
                "eyeColor":"gray",
                "heightInInches":1.9,
                "weightInPounds":180,
                "dateOfBirth":null,
                "dateMarried":null,
                "addresses": [{
                  "type": "home",
                  "streetAddress": "123 Main St.",
                  "streetAddress2": null,
                  "city": "Peoria",
                  "state": "IL",
                  "zip": "12345"
                }],
                "contactMethods": [{
                  "type": "Mobile Phone",
                  "value": "123-456-7890"
                },
                {
                  "type": "Personal E-mail",
                  "value": "john.doe@gmail.com"
                }],
                "securityTags": ["Anonymous",
                "Confidential",
                "Top Secret"],
                "personAliases": [{
                  "id": null,
                  "aliasType": "Nick Name",
                  "aliasValue": "Nick"
                }],
                "organizations": [{
                  "organizationId": null,
                  "organizationType": "sample",
                  "organizationValue": "tech net"
                }]
            }            
      responses:        
        200:
          description: Normal response indicating the system created a new person
          body: 
            application/json:
              example: | 
                {
                  "id":1884,
                  "title":"Mr.",
                  "company":"Armedia",
                  "status":null,
                  "givenName":"John",
                  "familyName":"Doe",
                  "hairColor":"white",
                  "eyeColor":"gray",
                  "heightInInches":1,
                  "weightInPounds":180,
                  "dateOfBirth":null,
                  "dateMarried":null,
                  "created":null,
                  "creator":"ann-acm",
                  "modified":"2014-09-23T19:27:53.466+0000",
                  "modifier":"ann-acm",
                  "addresses":[
                      {
                        "id":2283,
                        "created":"2014-09-23T19:27:53.319+0000",
                        "creator":"ann-acm",
                        "modified":"2014-09-23T19:27:53.319+0000",
                        "modifier":"ann-acm",
                        "status":"ACTIVE",
                        "type":"home",
                        "types":null,
                        "streetAddress":"123 Main St.",
                        "streetAddress2":null,
                        "city":"Peoria",
                        "state":"IL",
                        "zip":"12345",
                        "country":null
                        }
                        ],
                  "contactMethods":[
                    {
                      "id":2284,
                      "created":"2014-09-23T19:27:53.322+0000",
                      "creator":"ann-acm",
                      "modified":"2014-09-23T19:27:53.322+0000",
                      "modifier":"ann-acm",
                      "status":"ACTIVE",
                      "type":"Mobile Phone",
                      "types":null,
                      "value":"123-456-7890"
                      },
                      {
                      "id":2285,
                      "created":"2014-09-23T19:27:53.435+0000",
                      "creator":"ann-acm",
                      "modified":"2014-09-23T19:27:53.435+0000",
                      "modifier":"ann-acm",
                      "status":"ACTIVE",
                      "type":"Personal E-mail",
                      "types":null,
                      "value":"john.doe@gmail.com"
                      }
                      ],
                  "securityTags":[
                      "Anonymous",
                      "Confidential",
                      "Top Secret"
                      ],
                  "personAliases":[
                      {
                      "id":2287,
                      "aliasType":"Nick Name",
                      "aliasTypes":null,
                      "aliasValue":"Nick",
                      "created":"2014-09-23T19:27:53.448+0000",
                      "creator":"ann-acm",
                      "modified":"2014-09-23T19:27:53.448+0000",
                      "modifier":"ann-acm"
                      }
                      ],
                  "organizations":[
                      {
                      "organizationId":2286,
                      "organizationType":"sample",
                      "organizationTypes":null,
                      "organizationValue":"tech net",
                      "created":"2014-09-23T19:27:53.442+0000",
                      "creator":"ann-acm",
                      "modified":"2014-09-23T19:27:53.442+0000",
                      "modifier":"ann-acm"
                      }
                      ]
                  }
        400:
          description: Usually means the request body was invalid (did not match the expected JSON format).  The response body will be empty.
    /types:
      description: Manage the list of person types.
      get:
        description: Retrieve array of valid person types.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            description: Expected response including the valid person types.
            body:
              application/json:
                example: |
                   [
                      "Subject",
                      "Witness",
                      "SpouseCohab",
                      "Complaintant",
                      "Initiator",
                      "Wrongdoer"
                   ]
    /find?assocId:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Retrieve a person using personAssociation Id. pass assocId=2046 as a parameter
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            body:
              application/json:
                example: |
                  {                   
                      "id":2051,
                      "title":"mr",
                      "company":null,
                      "status":"ACTIVE",
                      "givenName":"king",
                      "familyName":"gregory",
                      "hairColor":null,
                      "eyeColor":null,
                      "heightInInches":null,
                      "weightInPounds":null,
                      "dateOfBirth":null,
                      "dateMarried":null,
                      "created":"2014-09-19T12:33:53.926+0000",
                      "creator":"ann-acm",
                      "modified":"2014-09-19T12:33:53.926+0000",
                      "modifier":"ann-acm",
                      "addresses":[
                          {
                            "id":2047,
                            "created":"2014-09-19T04:00:00.000+0000",
                            "creator":"Ann Administrator",
                            "modified":"2014-09-19T12:33:53.853+0000",
                            "modifier":"ann-acm",
                            "status":"ACTIVE",
                            "type":"Business",
                            "types":null,
                            "streetAddress":"90155 courthouse",
                            "streetAddress2":null,
                            "city":"vienna",
                            "state":"va",
                            "zip":null,
                            "country":null
                          }],
                      "contactMethods":[
                          {
                            "id":2048,
                            "created":"2014-09-19T04:00:00.000+0000",
                            "creator":"Ann Administrator",
                            "modified":"2014-09-19T12:33:53.902+0000",
                            "modifier":"ann-acm",
                            "status":"ACTIVE",
                            "type":"Home phone",
                            "types":null,
                            "value":"5555555555"
                          }],
                      "securityTags":[
                      ],
                      "personAliases":[
                          {
                            "id":2050,
                            "aliasType":"Married",
                            "aliasTypes":null,
                            "aliasValue":"king",
                            "created":"2014-09-19T04:00:00.000+0000",
                            "creator":"Ann Administrator",
                            "modified":"2014-09-19T12:33:53.915+0000",
                            "modifier":"ann-acm"
                          }],                      
                      "organizations":[
                           {
                            "organizationId":2049,
                            "organizationType":"Government",
                            "organizationTypes":null,
                            "organizationValue":"<>br<>",
                            "created":"2014-09-19T04:00:00.000+0000",
                            "creator":"Ann Administrator",
                            "modified":"2014-09-19T12:33:53.909+0000",
                            "modifier":"ann-acm"
                         }]
                                                             
                  }
          400:
            description: Usually means the requested person does not exist.
            body:
              text/plain:
                example: PersonAssociation ID 2046 not found.
    /list/{parentType}/{parentId}:
      get:
        description: Retrieve a person using parentType and parentId in the personAssociation
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                    "id":2051,
                    "title":"mr",
                    "company":null,
                    "status":"ACTIVE",
                    "givenName":"richard",
                    "familyName":"mao",
                    "hairColor":null,
                    "eyeColor":null,
                    "heightInInches":null,
                    "weightInPounds":null,
                    "dateOfBirth":null,
                    "dateMarried":null,
                    "created":"2014-09-19T12:33:53.926+0000",
                    "creator":"ann-acm",
                    "modified":"2014-09-19T12:33:53.926+0000",
                    "modifier":"ann-acm",
                    "addresses":[
                          {
                              "id":2047,
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.853+0000",
                              "modifier":"ann-acm",
                              "status":"ACTIVE",
                              "type":"Business",
                              "types":null,
                              "streetAddress":"90155 courthouse",
                              "streetAddress2":null,
                              "city":"vienna",
                              "state":"va",
                              "zip":null,
                              "country":null
                          }],
                    "contactMethods":[
                          {
                              "id":2048,
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.902+0000",
                              "modifier":"ann-acm",
                              "status":"ACTIVE",
                              "type":"Home phone",
                              "types":null,
                              "value":"5555555555"
                          }],
                    "securityTags":[
                    ],
                    "personAliases":[
                          {
                              "id":2050,
                              "aliasType":"Married",
                              "aliasTypes":null,
                              "aliasValue":"king",
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.915+0000",
                              "modifier":"ann-acm"
                          }],                    
                    "organizations":[
                          {
                              "organizationId":2049,
                              "organizationType":"Government",
                              "organizationTypes":null,
                              "organizationValue":"Sample org value",
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.909+0000",
                              "modifier":"ann-acm"
                          }
                          ]
                    },
                    {
                    "id":2056,
                    "title":"mr",
                    "company":null,
                    "status":"ACTIVE",
                    "givenName":"tim ",
                    "familyName":"howard ",
                    "hairColor":null,
                    "eyeColor":null,
                    "heightInInches":null,
                    "weightInPounds":null,
                    "dateOfBirth":null,
                    "dateMarried":null,
                    "created":"2014-09-19T12:33:53.968+0000",
                    "creator":"ann-acm",
                    "modified":"2014-09-19T12:33:53.968+0000",
                    "modifier":"ann-acm",
                    "addresses":[
                          {
                              "id":2052,
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.957+0000",
                              "modifier":"ann-acm",
                              "status":"ACTIVE",
                              "type":"Home",
                              "types":null,
                              "streetAddress":"2563 comeandgetit rd ",
                              "streetAddress2":null,
                              "city":"Alexandria",
                              "state":"va",
                              "zip":null,
                              "country":null
                          }],
                    "contactMethods":[
                          {
                              "id":2053,
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.959+0000",
                              "modifier":"ann-acm",
                              "status":"ACTIVE",
                              "type":"Home phone",
                              "types":null,
                              "value":"4444444444"
                          }],
                    "securityTags":[
                    ],
                    "personAliases":[
                          {
                              "id":2055,
                              "aliasType":"Married",
                              "aliasTypes":null,
                              "aliasValue":"kingofkings",
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.964+0000",
                              "modifier":"ann-acm"
                          }],                   
                    "organizations":[
                          {
                              "organizationId":2054,
                              "organizationType":"Non-profit",
                              "organizationTypes":null,
                              "organizationValue":"billboard",
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.962+0000",
                              "modifier":"ann-acm"
                          }]
                    }
          400:
            description: Usually means the requested person /persons does not exist.
            body:
              text/plain:
                  example: PersonAssociation  PARENTID OR PARENTTYPE are not found.
    /delete/{personId}:
      delete:
        description: Delete a person by personId
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            body:
              application/json:
                example:                 
                     " Deleting a person is successful  "     
                     
          400:
            description: Usually means the requested person does not exist.
            body:
              text/plain:
                example: person with Id 2046 not found.  
        
  /personAssociation:
    post:
      description: Create a personAssociation with all details
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      body: 
        application/json:
          example: |
            {
            "id": null,
            "personType": "Subject",
            "parentId":3022,
            "parentType":"COMPLAINT",
            "personDescription": "Sample Description",
            "notes":"sample note describing the person",  
            "tags": ["Grateful Dead", "Guitar" ],    
            "person": {
                  "id": null,
                  "title": "Mr.",
                  "givenName": "John",
                  "familyName": "Doe",
                  "company": "Contoso",
                  "weightInPounds": 189,
                  "addresses": [{
                        "type": "home",
                        "streetAddress": "123 Main St.",
                        "streetAddress2": null,
                        "city": "Peoria",
                        "state": "IL",
                        "zip": "12345"
                     }],
                   "contactMethods": [{
                          "type": "Mobile Phone",
                          "value": "123-456-7890"
                            },
                            {
                          "type": "Personal E-mail",
                          "value": "john.doe@gmail.com"
                            }],
                  "securityTags": ["Anonymous",
                                 "Confidential",
                                 "Top Secret"],
                  "personAliases": [{
                       "id": null,
                        "aliasType": "Nick Name",
                        "aliasValue": "Nick"
                  }],
                  "organizations": [
              {
              "organizationId":null,
              "organizationType": "sample",
              "organizationValue": "tech net"
                    }
              ]
                }
              }
   
            }
      responses:        
        200:
          description: Normal response indicating the system created a new personAssociation
          body: 
            application/json:
              example: | 
                { 	
                "id":3311,
                "tags": ["Grateful Dead", "Guitar" ],
                "person":{
                      "id":3317,
                      "title":"Mr.",
                      "company":"Contoso",
                      "status":"ACTIVE",
                      "givenName":"John",
                      "familyName":"Doe",
                      "hairColor":null,
                      "eyeColor":null,
                      "heightInInches":null,
                      "weightInPounds":189,
                      "dateOfBirth":null,
                      "dateMarried":null,
                      "created":"2014-09-29T21:53:57.735+0000",
                      "creator":"ann-acm",
                      "modified":"2014-09-29T21:53:57.735+0000",
                      "modifier":"ann-acm",
                      "addresses":[
                                {
                                "id":3312,
                                "created":"2014-09-29T21:53:57.725+0000",
                                "creator":"ann-acm",
                                "modified":"2014-09-29T21:53:57.725+0000",
                                "modifier":"ann-acm",
                                "status":"ACTIVE",
                                "type":"home",
                                "types":null,
                                "streetAddress":"123 Main St.",
                                "streetAddress2":null,
                                "city":"Peoria",
                                "state":"IL",
                                "zip":"12345",
                                "country":null
                                }
                               ],
                      "contactMethods":[
                                {
                                "id":3313,
                                "created":"2014-09-29T21:53:57.727+0000",
                                "creator":"ann-acm",
                                "modified":"2014-09-29T21:53:57.727+0000",
                                "modifier":"ann-acm",
                                "status":"ACTIVE",
                                "type":"Mobile Phone",
                                "types":null,
                                "value":"123-456-7890"
                                },
                                {
                                "id":3314,
                                "created":"2014-09-29T21:53:57.729+0000",
                                "creator":"ann-acm",
                                "modified":"2014-09-29T21:53:57.729+0000",
                                "modifier":"ann-acm",
                                "status":"ACTIVE",
                                "type":"Personal E-mail",
                                "types":null,
                                "value":"john.doe@gmail.com"
                                }
                                ],
                                "securityTags":[
                                "Anonymous",
                                "Confidential",
                                "Top Secret"
                                ],
                      "personAliases":[
                                {
                                "id":3316,
                                "aliasType":"Nick Name",
                                "aliasTypes":null,
                                "aliasValue":"Nick",
                                "created":"2014-09-29T21:53:57.733+0000",
                                "creator":"ann-acm",
                                "modified":"2014-09-29T21:53:57.733+0000",
                                "modifier":"ann-acm"
                                }
                                ],
                      "organizations":[
                                {
                                "organizationId":3315,
                                "organizationType":"sample",
                                "organizationTypes":null,
                                "organizationValue":"tech net",
                                "created":"2014-09-29T21:53:57.731+0000",
                                "creator":"ann-acm",
                                "modified":"2014-09-29T21:53:57.731+0000",
                                "modifier":"ann-acm"
                                }]
                      },
                "parentId":3022,
                "personType":"Subject",
                "parentType":"COMPLAINT",
                "personDescription":"Sample Description",
                "created":"2014-09-29T21:53:57.720+0000",
                "creator":"ann-acm",
                "modified":"2014-09-29T21:53:57.720+0000",
                "modifier":"ann-acm",
                "notes":"sample note describing the person"
                 }
        400:
            description: Usually means the request body was invalid (did not match the expected JSON format).  The response body    will be empty.  
                                                  
  /dataaccess:
    /accessControlDefaults:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Get a page of the default access controls.
        queryParameters:
          s:
            description: A property to sort by.  Must be one of the properties shown in the resultPage of the example response.  Multiple values are allowed.
            default: objectType,objectState,accessLevel,accessorType
          start:
            description: index of the first row to be returned.  The first page starts at row 0.
            default: 0
            type: integer
          n:
            description: maximum rows to be returned.
            default: 10
            type: integer
        responses:
          200:
            description: Normal response.  Includes integers for totalCount, startRow, and maxRows, and an array of default ACL objects.
            body:
              application/json:
                example: |
                  {
                    "totalCount" : 98,    // total number of default access controls
                    "startRow" : 0,       // start row (from the request)
                    "maxRows" : 1,        // max rows (from the request)
                    "resultPage" : [{     // array of default access control objects
                        "id" : 1861,      // default access ID
                        "objectType" : "Complaint",                     // type of the object to be protected
                        "objectState" : "DRAFT",                        // object state this default access applies to
                        "accessLevel" : "Add Document",                 // the action protected by this default access
                        "accessorType" : "Complaint Group",             // the type of participant to whom this access applies
                        "accessDecision" : "GRANT",                     // whether access is permitted (GRANT, DENY, MANDATORY_GRANT, MANDATORY_DENY)
                        "allowDiscretionaryUpdate" : true,              // whether this access can be updated at runtime for any given object
                        "created" : "2014-07-09T18:03:16.826+0000",     // when the default access was created
                        "creator" : "ACL_SYSTEM_USER",                  // user id that created the access
                        "modified" : "2014-07-09T18:03:16.826+0000",    // when the default access was last modified
                        "modifier" : "ACL_SYSTEM_USER"                  // user id that modified the default access
                      }
                    ]
                  }
          
          403:
            description: The user is not authorized to view the default access controls.
          500:
            description: Somehow the server was not able to deliver the requested default access controls.
            body:
              text/plain:
                example: |
                  Some error text will be returned.
    /default/{defaultAccessId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      post:
        description: Update the default access control with ID = the given defaultAccessId.  Only the accessDecision and the 
          allowDiscretionaryUpdate flag can be changed.  The other fields are read-only.  accessDecision can be GRANT, DENY, 
          MANDATORY_GRANT, or MANDATORY_DENY.
        body:
          application/json:
            example: |
              {
                "id" : 500,
                "objectType" : "Complaint",
                "objectState" : "DRAFT",
                "accessLevel" : "update",
                "accessorType" : "Supervisor",
                "accessDecision" : "GRANT",
                "allowDiscretionaryUpdate" : true,
              }
        responses:
          200:
            description: The default access control rule was updated successfully.
            body:
              application/json:
                example: |
                  {
                    "id" : 500,
                    "objectType" : "type",
                    "objectState" : "state",
                    "accessLevel" : "accessLevel",
                    "accessorType" : "accessor",
                    "accessDecision" : "GRANT",
                    "allowDiscretionaryUpdate" : true,
                    "created" : "2014-06-03T21:16:56.090+0000",
                    "creator" : "creator",
                    "modified" : "2014-07-24T21:16:56.090+0000",
                    "modifier" : "modifier"
                  }
          
          400:
            description: The requested default access control rule does not exist.
            body:
              text/plain:
                example: |
                  Could not update default access with ID = 500.
                  Server encountered exception: Default access with id '500' does not exist.
                  Exception type was: 'com.armedia.acm.core.exceptions.AcmUserActionFailedException'.
  /task:
    /forUser/{user}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Get a list of active tasks for the specified user.
        responses:
          200: 
            description: expected response containing a list of tasks.
            body:
              application/json:
                example: |
                 [
                   {
                     "taskId":500,
                     "priority":0,
                     "title":"Example Task Title",
                     "dueDate":"2014-06-03",
                     "attachedToObjectType":"COMPLAINT",
                     "attachedToObjectId":495, 
                     "assignee":"ann-acm",
                     "businessProcessName":"cmComplaintWorkflow",
                     "adhocTask":false
                   }
                  ]
    /completeTask/{taskId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      post:
        description: Complete a task.  Must be called by the task's current assignee.
        responses:
          200:
            description: Task was successfully completed.  JSON represents the historical task instance, with information as to when the task was started and completed.
            body:
              application/json:
                example: |
                  {
                  "taskId":500,
                  "priority":50,
                  "title":"The Task Title",
                  "dueDate":"2014-06-03",
                  "attachedToObjectType":"COMPLAINT",
                  "attachedToObjectId":250,
                  "assignee":"ann-acm",
                  "businessProcessName":"Complaint Approval",
                  "adhocTask":false,
                  "completed":true,
                  "taskStartDate":"2014-06-02",
                  "taskFinishedDate":"2014-06-03",
                  "taskDurationInMillis":298392
                  }
            
      
          400:
            description: The task could not be completed.  Either the task ID does not represent an active task (task does not exist or is already closed), or the authenticated user is not the task assignee.  T
            body:
              text/plain:
                example: |
                  Task '500' does not exist or has already been completed.
    /adHocTask:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      post:
        description: Create a standalone task (not tied to a workflow or business process)
        body:
          application/json:
            example: |
              {
                "priority" : "Low",  // can be Low, Medium, High, Expedite
                "title" : "Task Created on 9/9/2014",
                "dueDate" : "2014-09-12",
                "attachedToObjectType" : "COMPLAINT",
                "attachedToObjectId" : 2835,
                "assignee" : "samuel-acm",
                "status" : null,   // will be set to ASSIGNED if left null
                "percentComplete" : 10,
                "details" : "<strong>details</strong>",
                "taskStartDate" : "2014-09-10"
              }
        responses:
          200: 
            description: Task created successfully. The response includes the new tasks's ID.
            body:
              application/json:
                example: |
                  {
                    "taskId" : 17401,
                    "priority" : "Medium",
                    "title" : "Task Created on 9/10/2014",
                    "dueDate" : "2014-09-15T00:00:00.000+0000",
                    "attachedToObjectType" : "COMPLAINT",
                    "attachedToObjectId" : 2835,
                    "assignee" : "samuel-acm",
                    "businessProcessName" : null,
                    "adhocTask" : false,
                    "completed" : false,
                    "status" : null,
                    "percentComplete" : 0,
                    "details" : "<strong>details</strong>",
                    "taskStartDate" : "2014-09-10T00:00:00.000+0000",
                    "taskFinishedDate" : null,
                    "taskDurationInMillis" : null
                  }
          400:
            description: Task could not be created; perhaps the request body was invalid.
    /save/{taskId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      uriParameters:
        taskId:
          description: Task ID of the task to be updated.
          required: true
          type: number          
      post:
        description: POST request to save the task
        body:
          application/json:
            example: |
              {
                "taskId" : 17401,
                "priority" : "High",
                "title" : "Task Updated on 9/10/2014",
                "dueDate" : "2014-09-15T00:00:00.000+0000",
                "attachedToObjectType" : "COMPLAINT",
                "attachedToObjectId" : 2835,
                "assignee" : "samuel-acm",
                "businessProcessName" : null,
                "adhocTask" : false,
                "completed" : false,
                "status" : null,
                "percentComplete" : 20,
                "details" : "<strong>updated details</strong>",
                "taskStartDate" : "2014-09-10T00:00:00.000+0000",
                "taskFinishedDate" : null,
                "taskDurationInMillis" : null
              }
        responses:
          200: 
            description: Task updated successfully. The response is the updated task.
            body:
              application/json:
                example: |
                  {
                    "taskId" : 17401,
                    "priority" : "High",
                    "title" : "Task Updated on 9/10/2014",
                    "dueDate" : "2014-09-15T00:00:00.000+0000",
                    "attachedToObjectType" : "COMPLAINT",
                    "attachedToObjectId" : 2835,
                    "assignee" : "samuel-acm",
                    "businessProcessName" : null,
                    "adhocTask" : false,
                    "completed" : false,
                    "status" : null,
                    "percentComplete" : 20,
                    "details" : "<strong>updated details</strong>",
                    "taskStartDate" : "2014-09-10T00:00:00.000+0000",
                    "taskFinishedDate" : null,
                    "taskDurationInMillis" : null
                  }
    /byId/{taskId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Get task details by the task ID.
        responses:
          200:
            description: Normal response; body includes the task details.
            body:
              application/json:
                example: |
                  {
                    "taskId" : 17401,
                    "priority" : "High",
                    "title" : "Task Updated on 9/10/2014",
                    "dueDate" : "2014-09-15T00:00:00.000+0000",
                    "attachedToObjectType" : "COMPLAINT",
                    "attachedToObjectId" : 2835,
                    "assignee" : "samuel-acm",
                    "businessProcessName" : null,
                    "adhocTask" : true,
                    "completed" : false,
                    "status" : "ASSIGNED",
                    "percentComplete" : 20,
                    "details" : "<strong>updated details</strong>",
                    "taskStartDate" : "2014-09-10T00:00:00.000+0000",
                    "taskFinishedDate" : null,
                    "taskDurationInMillis" : null
                  }
          500:
            description: Could not get the task details; task does not exist, or an Activiti error
            body:
              text/plain:
                example: Task with ID '92838' does not exist.
  /search:
    /quickSearch:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Query the quickSearch search index.  The Quicksearch index contains only selected metadata and is smaller than the full index; so it should be faster to search.
        queryParameters:
          q:
            description: The query string; must be a valid Apache Solr query string.
            type: string
            required: true
          s:
            description: The sort order.  The sort key must be a field in the Solr quick search index.  The key must be followed by " asc" or " desc".  Optional; default null.
            type: string
            required: false
            example: last_modified asc
          start:
            description: The first matching result to be returned.  Useful for pagination.  Optional; default 0.
            type: number
            required: false
            default: 0
          n:
            description: Number of results to be returned.  Useful for pagination.  Optional; default 10.
            type: number
            required: false
            default: 10
        responses:
          200:
            description: Normal response; includes either search results or an error message from Apache Solr.  The example response below includes both a "response" JSON object and an "error" JSON object.  Real responses only have one or the other; a "response" object for a successful search, and an "error" object if SOLR could not process the search.  
            body:
              application/json:
                example: |
                  {
                    "responseHeader": {
                      // 0 == success; there will be a response object (see below).  Any other value 
                      // is an error (there will be an error object).
                      "status": 0,
                      "QTime": 0,
                      "params": {
                        "indent": "true",
                        "q": "*:*",
                        "_": "1403288137744",
                        "wt": "json",
                        "rows": "2"
                      }
                    },
                    // NOTE: "response" object only exists if the status was 0.
                    "response": {
                      "numFound": 61,
                      "start": 0,
                      "docs": [
                        {
                          "id": "12-Complaint",
                          "status_s": "DRAFT",
                          "author": "ann-acm",
                          "author_s": "ann-acm",
                          "modifier_s": "ann-acm",
                          "title": [
                            "Test 20140502_12"
                          ],
                          "last_modified": "2014-05-02T11:30:27Z",
                          "create_dt": "2014-05-02T11:30:27Z",
                          "name": "20140502_12",
                          "object_id_s": "12",
                          "object_type_s": "Complaint",
                          "_version_": 1471373882636107800
                        },
                        {
                          "id": "14-Complaint",
                          "status_s": "DRAFT",
                          "author": "ann-acm",
                          "author_s": "ann-acm",
                          "modifier_s": "ann-acm",
                          "title": [
                            "Test 20140502_14"
                          ],
                          "last_modified": "2014-05-02T11:39:21Z",
                          "create_dt": "2014-05-02T11:39:21Z",
                          "name": "20140502_14",
                          "object_id_s": "14",
                          "object_type_s": "Complaint",
                          "_version_": 1471373882844774400
                        }
                      ]
                    }
                    // NOTE: "error" object only exists if the status was NOT 0.
                    "error": {
                      "msg": "Can't determine a Sort Order (asc or desc) in sort spec 'sdf', pos=3",
                      "code": 400
                    }
                  }
          500:
            description: The server could not process the search request (Apache Solr is down, or some other error).
            body:
              text/plain:
                example:
                  Server encountered an exception.
/users:
  /withPrivilege/{privilege}:
    securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
    get:
      description: Get a list of users with the specified privilege.  Used to obtain a list of users who are authorized to perform a certain action.
      responses:
        200:
          description: expected response containing the list of users with the requested privilege.
          body:
            application/json: 
              example: |
                [{"userId":"OPIS_Admin","fullName":"OPIS Admin","firstName":"OPIS","lastName":"Admin"},
                 {"userId":"ann-acm","fullName":"Ann Administrator","firstName":"Ann","lastName":"Administrator"}]
  
  /participantTypesForObjectTypeName/{objectTypeName}:
    securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
    get:
      description: Retrieve the types of participants that can be assigned to a certain object type.  For 
        example, a Case could have a Case Agent, a Supervisor, and a list of Approvers.
      responses:
        200:
          description: Expected response; a JSON array of participant types.  The type property can be SINGLE_USER, 
            MULTIPLE_USERS, SINGLE_LDAP_GROUP, MULTIPLE_LDAP_GROUPS, SINGLE_APPLICATION_ROLE, or MULTIPLE_APPLICATION_ROLES.
          body:
            application/json:
              example: |
                [
                  {
                    "name" : "Complaint Owner",
                    "description" : "The user who is responsible for completing the complaint.",
                    "type" : "SINGLE_USER",
                    "requiredOnACL" : true
                  }, 
                  {
                    "name" : "Complaint Supervisor",
                    "description" : "The user who has oversight over how the complaint is completed.",
                    "type" : "SINGLE_USER",
                    "requiredOnACL" : false
                  },
                  {
                    "name" : "Complaint Group",
                    "description" : "The group responsible for this type of complaint.",
                    "type" : "SINGLE_LDAP_GROUP",
                    "requiredOnACL" : false
                  }, 
                  {
                    "name" : "Complaint Approver",
                    "description" : "The users allowed to approve the complaint.",
                    "type" : "MULTIPLE_USERS",
                    "requiredOnACL" : false
                  }
                ]
        500:
          description: The requested objectTypeName was not recognized.
          body:
            text/plain:
              example: |
                No such business object with name 'unrecognized'
/authenticationtoken:
  get:
    securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
    description: Retrieve an authentication token that may be appended to subsequent
      requests.  Such a token authenticates those future requests as the user that 
      generated the token.  
    responses:
      200:
        description: Successful response.  The body consists of the authentication 
          token.  Append it to future service requests, e.g., 
          /api/v1/<myservice>?acm_ticket=<token>
        body:
          text/plain:
            example: 2cf2ab49-9ce9-45bd-a307-a452b24dd789
              