#%RAML 0.8
title: ACM 3.0 API
baseUri: http://armdec6acm1.armedia.com/acm/api/{version}
version: v1

securitySchemes:
  - spring_security_form_auth:
      description: ACM3 uses Spring Security form authentication for interactive users.
      type: x-Spring Security form authentication
  - spring_security_basic_auth:
      description: ACM3 uses Spring Security basic authentication for service users.    
      type: Basic Authentication  
  - acm_token_authentication:
      description: Acquire a token by calling /api/v1/authenticationtoken using Basic Authentication. 
        This will return a text/plain response with the token text.  Include this token in any other 
        service invocation by adding "acm_ticket=<token>" to the query string.
      type: x-Token Authentication

/plugin:
  /admin:
    /labelconfiguration/resource:
      get:
        description: Get resources for specified language and namespace.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        queryParameters:
          lang:
            type: string
            description: Language identifier  of resourece.
            required: true
            example: en en-au ru de
          ns:
            type: string
            description: Resource namespace. Typically it is plugin name.
            required: true
            example: common dashboard
        responses:
          500:
            description: Resource file not found.
          200: 
            description: Resource file found.
            body:
              application/json:
                example: |
                  {
                    "title": "Complaints",
                    "table": {
                      "fields": {
                        "id": "ID",
                        "name": "User Name",
                        "dob": "Birthday Date
                      }
                    }
                  }
    /labelconfiguration/admin-resource:
      get:
        description: Get extended resource file that required for labels management.
        queryParameters:
          lang:
            type: string
            description: Language identifier  of resourece.
            required: true
            example: en au-en ru de
          ns:
            type: string
            description: Resource namespace. Typically it is plugin name.
            required: true
            example: common dashboard
        responses:
          500:
            description: Resource file not found.
          200: 
            description: Resource file found.
            body:
              application/json:
                example: |
                  [
                    {
                      "id":"plugins.news.label.enter-feed-url",
                      "defaultValue":"Enter Feed url",
                      "description":"",
                      "value":"Enter Feed url"
                    },{
                      "id":"plugins.news.label.description",
                      "defaultValue":"Displays a RSS/Atom feed",
                      "description":"",
                      "value":"Displays a RSS/Atom feed"
                      }
                  ]
      put:
        description: Update resource record value and description
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        queryParameters:
          lang:
            type: string
            description: Language identifier  of resourece.
            required: true
            example: en au-en ru de
          ns:
            type: string
            description: Resource namespace. Typically it is plugin name.
            required: true
            example: common dashboard
        body:
          application/json:
            example: |
              {
                id: "navigation.label.administration", 
                value: "New Administration",
                description: "New Description"
              }
        responses:
          500:
            description: Resource file was not updated successfully.
          200: 
            description: Resource file was updated successfully.
    /labelconfiguration/languages:
      get:
        description: Get list of available languages.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          500:
            description: Languages not found.
          200:
            description: Languages found.
            body:
              application/json:
                example: |
                  [
                    "en",
                    "en-au"
                  ]
              
    /labelconfiguration/namespaces:
      get: 
        description: Get list of available namespaces.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          500:
            description: Namespaces not found.
          200:
            description: Namespaces found.
            body:
              application/json:
                example: |
                  [
                    {
                        "id": "common",
                        "name": "Common"
                    },
                    {
                        "id": "complaint",
                        "name": "Complaints"
                    },
                    {
                        "id": "casefile",
                        "name": "Case Files"
                    },
                    {
                        "id": "dashboard",
                        "name": "Dashboard"
                    },
                    {
                        "id": "task",
                        "name": "Tasks"
                    },
                    {
                        "id": "search",
                        "name": "Search"
                    }
                  ]                  
                  
    /labelconfiguration/settings:
      get:        
        description: Get label configuration settings.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          500:
            description: Settings file not found.
          200:
            description: settings file  found.
            body:
              application/json:
                example: |
                  {
                      "defaultLang": "en"
                  }
      put: 
        description: Update settings label configuration file.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        body:
          application/json:
            example: |
              {
                defaultLang: "en-au"
              }
        responses:
          500:
            description: Settings file was not updated successfully.
          200: 
            description: Settings file was updated successfully.
      
    /labelconfiguration/admin-resource/reset:
      post:
        description: Reset values of resources to default values.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        body:
          application/json:
            example: |
              {
                lng: ["en", 'ru'], 
                ns: ["common", "dashboard"]
              }
        responses:
          500:
            description: Resource files were not updated successfully.
          200:
            description: Resource files were updated successfully.
    
    /ldapconfiguration/directories:
      get:
        description: Get LDAP directories list
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]  
        responses:
          500:
            description: Can't get LDAP directories information
          200:
            description: LDAP directories information retrieved
            body:
              application/json:
                example: |
                  [
                    {
                      "ldapConfig.id":"newldap",
                      "ldapConfig.name":"New LDAP configuration",
                      "ldapConfig.ldapUrl":"ldap://internaldc.armedia.com:389",
                      "ldapConfig.base":"dc=armedia,dc=com",
                      "ldapConfig.directoryName":"arm_ldap",
                      "ldapConfig.authUserDn":"CN=Ann Administrator,CN=Users,dc=armedia,dc=com",
                      "ldapConfig.authUserPassword":"Pa$$word",
                      "ldapConfig.userSearchBase":"CN=Users",
                      "ldapConfig.groupSearchBase":"OU=Groups,OU=ACM3,OU=Clients,DC=armedia,DC=com",
                      "ldapConfig.groupSearchBaseOU":"OU=Groups,OU=ACM3,OU=Clients",
                      "ldapConfig.userIdAttributeName":"samAccountName"                    
                    }
                  ]
      post:
        description: Create new LDAP directory
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]  
        body:
          application/json:
            example: |                  
              {              
                "ldapConfig.id":"newldap",
                "ldapConfig.name":"New LDAP configuration",
                "ldapConfig.ldapUrl":"ldap://internaldc.armedia.com:389",
                "ldapConfig.base":"dc=armedia,dc=com",
                "ldapConfig.directoryName":"arm_ldap",
                "ldapConfig.authUserDn":"CN=Ann Administrator,CN=Users,dc=armedia,dc=com",
                "ldapConfig.authUserPassword":"Pa$$word",
                "ldapConfig.userSearchBase":"CN=Users",
                "ldapConfig.groupSearchBase":"OU=Groups,OU=ACM3,OU=Clients,DC=armedia,DC=com",
                "ldapConfig.groupSearchBaseOU":"OU=Groups,OU=ACM3,OU=Clients",
                "ldapConfig.userIdAttributeName":"samAccountName"
              }
        responses:
          500:
            description: Error happend during new LDAP directoy creation
          200:
            description: New LDAP direcory created successfully
            body:
              application/json:
                example: |
                  {              
                    "ldapConfig.id":"newldap",
                    "ldapConfig.name":"New LDAP configuration",
                    "ldapConfig.ldapUrl":"ldap://internaldc.armedia.com:389",
                    "ldapConfig.base":"dc=armedia,dc=com",
                    "ldapConfig.directoryName":"arm_ldap",
                    "ldapConfig.authUserDn":"CN=Ann Administrator,CN=Users,dc=armedia,dc=com",
                    "ldapConfig.authUserPassword":"Pa$$word",
                    "ldapConfig.userSearchBase":"CN=Users",
                    "ldapConfig.groupSearchBase":"OU=Groups,OU=ACM3,OU=Clients,DC=armedia,DC=com",
                    "ldapConfig.groupSearchBaseOU":"OU=Groups,OU=ACM3,OU=Clients",
                    "ldapConfig.userIdAttributeName":"samAccountName"
                  }                
  /ldapconfiguration/directories/{directoryId}:
    uriParameters:
      directoryId:
        description: LDAP directory identifier
        example: newldapdir
        required: true
        type: string
    
    put:
      description: Modify LDAP properties
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]  
      body:
        application/json:
          example: |
            {              
              "ldapConfig.id":"newldap",
              "ldapConfig.name":"New LDAP configuration",
              "ldapConfig.ldapUrl":"ldap://internaldc.armedia.com:389",
              "ldapConfig.base":"dc=armedia,dc=com",
              "ldapConfig.directoryName":"arm_ldap",
              "ldapConfig.authUserDn":"CN=Ann Administrator,CN=Users,dc=armedia,dc=com",
              "ldapConfig.authUserPassword":"Pa$$word",
              "ldapConfig.userSearchBase":"CN=Users",
              "ldapConfig.groupSearchBase":"OU=Groups,OU=ACM3,OU=Clients,DC=armedia,DC=com",
              "ldapConfig.groupSearchBaseOU":"OU=Groups,OU=ACM3,OU=Clients",
              "ldapConfig.userIdAttributeName":"samAccountName"
            }                
      responses:
        500:
          description: Error happened durn LDAP directory modification
        200:
          description: LDAP directory was modified successfully
      
    delete:
      description: Delete LDAP directory
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]  
      responses:
        500:
          description: Can't delete LDAP directory
        200:
          description: LDAP directory was deleted successfully
  /rolesprivileges/roles:
    get:
      description: Return list of all roles
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]  
      responses:
        500:
          description: Can't retrieve roles list
        200:
          description: Roles list retrieved successfully
          body:
            application/json: 
              example: |
                [
                  "ROLE_INVESTIGATOR",
                  "ROLE_INVESTIGATOR_SUPERVISOR",
                  "ROLE_ANALYST",
                  "ROLE_CALLCENTER",
                  "ROLE_ADMINISTRATOR"
                ]       
    post:
      description: Create new role
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]  
      body:
        application/json: 
          example: |
            {
              roleName: "NEW_ROLE
            }
      responses:
        500:
          description: Can't create new role
        200:
          description: New role created successfully
  /rolesprivileges/roles/{roleName}/privileges:
    uriParameters:
      roleName:
        description: Role name
        example: ROLE_ADMINISTRATOR
        required: true
        type: string      
    get:
      description: Return information about role's privileges
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]  
      responses:
        500:
          description: Can't return role's privileges
        200:
          description: Object with role's privileges returned successfully
          body:
            application/json:
              example: |
                {
                  "dashboardPrivilege":"Dashboard Privilege",
                  "acmPersonListPrivilege":"Person List Privilege",
                  "reportPrivilege":"Report Privilege",
                  "auditPrivilege":"Audit Privilege",
                  "subscribePrivilege":"Subscribe Privilege",
                  "timesheetPrivilege":"Timesheet Privilege"
                }                
    put:
      description: Change privileges of role
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]  
      body:
        application/json:
          example: |
            {
              "privileges": 
                [
                  "subscribePrivilege",
                  "saveCasePrivilege",
                  "costsheetApprovePrivilege",
                  "tagPrivilege"
                ]
            }
      responses:
        500:
          description: Can't apply changes to role's privileges
        200:
          description: Changes applied successfully
      
  /rolesprivileges/privileges:
    get: 
      description: Return list of all available privileges
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      responses:
        500:
          description: Can't retrieve all privileges
        200:
          description: Privileges retrieved successfully
          body:
            application/json:
              example: |
                {
                  "dashboardPrivilege":"Dashboard Privilege",
                  "acmPersonListPrivilege":"Person List Privilege",
                  "acmCaseApprovePrivilege":"Case Approve Privilege",
                  "costsheetApprovePrivilege":"Costsheet Approve Privilege"
                }
  /workflowconfiguration/workflows:
    get:
      description: Return list of workflows
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      responses:
        500:
          description: Can't retrieve workflows list
        200:
          description: Workflows list  retrieved successfully
          body:
            application/json:
              example: |
                [
                  {
                    "id":168,
                    "description": "Description of workflow",
                    "name":"ACM Document Approval Process",
                    "version":1,
                    "key":"acmDocumentWorkflow",
                    "deploymentId":"1",
                    "fileName":"acmDocumentWorkflow_v1.bpmn20.xml",
                    "active":false,
                    "md5Hash":"4fed194d605a93eb5b219682785e3a17",
                    "created":"2015-04-21T06:23:29.395-0400",
                    "creator": "admin",
                    "modified":"2015-04-21T06:23:29.395-0400",
                    "modifier": "admin"
                  }
                ]

  /workflowconfiguration/files:
    post:
      description: Upload new workflow's BPNM file
      body:
        multipart/form-data:
      responses:
        500:
          description: Can't upload BPNM file
        200:
          description: New NPNM file uploaded successfully
  /workflowconfiguration/workflows/{key}/versions/{version}/history:
    uriParameters:
      key:
        description: Workflow key value
        example: acmDocumentWorkflow
        required: true
        type: string
      version:
        description: Workflow version number
        example: 3
        required: true
        type: integer
    get:
      description: Return list of workflow's history
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      responses:
        500:
          description: Can't retrieve workflow's history
        200:
          description: Workflow's history retrieved successfully
          body:
            application/json:
              example: |
                [
                  {
                    "id":168,
                    "description": "Description of workflow",
                    "name":"ACM Document Approval Process",
                    "version":1,
                    "key":"acmDocumentWorkflow",
                    "deploymentId":"1",
                    "fileName":"acmDocumentWorkflow_v1.bpmn20.xml",
                    "active":false,
                    "md5Hash":"4fed194d605a93eb5b219682785e3a17",
                    "created":"2015-04-21T06:23:29.395-0400",
                    "creator": "admin",
                    "modified":"2015-04-21T06:23:29.395-0400",
                    "modifier": "admin"
                  }
                ]
  /workflowconfiguration/workflows/{key}/versions/{version}/file:
    uriParameters:
      key:
        description: Workflow key value
        example: acmDocumentWorkflow
        required: true
        type: string
      version:
        description: Workflow version number
        example: 3
        required: true
        type: integer
    get:
      description: Return workflow's BPNM XML file
      responses:
        500:
          description: Can't retrive workflow's BPNM file
        200:
          description: Workflow's BPNM file retrieved successfully
          body:
            application/xml:
  /workflowconfiguration/workflows/{key}/versions/{version}/active:
    uriParameters:
      key:
        description: Workflow key value
        example: acmDocumentWorkflow
        required: true
        type: string
      version:
        description: Workflow version number
        example: 3
        required: true
        type: integer   
    put:
      description: Make workflow active
      responses:
        500:
          description: Can't make workflow active
        200:
          description: Workflow made acive successfully
  /casefile:
    post:
      description: create a new case file, or update an existing one.
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      body:
        application/json:
          example: |
            {
              "caseType": "Better Business Bureau",
              "title": "Dupree's Diamond Blues"
              // this request will create a case file since no id is specified.
              // to update a case file, include the id property, as shown in the 
              // example response.
            }
      responses:
        200:
          description: Case file successfully created or updated.
          body:
            application/json:
              example: |
                {
                  "id":508,
                  "caseNumber":"20141006_508",
                  "caseType":"Better Business Bureau",
                  "title":"Dupree's Diamond Blues",
                  "status":"DRAFT",
                  "details":null,
                  "created":"2014-10-06T20:28:42.080+0000",
                  "creator":"ebmillar",
                  "modified":"2014-10-06T20:28:42.080+0000",
                  "modifier":"ebmillar",
                  "closed":null,
                  "disposition":null,
                  "priority" : "High",
                  "participants" : [],
                  "dueDate" : null,
                  "approvers" : null,
                  "ecmFolderPath":"/Sites/acm/documentLibrary/Case Files/20141006_508",
                  "ecmFolderId":"workspace://SpacesStore/7c4c7c0c-b4dd-4e3d-aa8c-e6e4a9ea2e52",
                  "childObjects":[],
                  "associationsFromObjects":[]
                }
    /byId/{id}:
      description: Lookup a case file by ID.
      uriParameters:
        id:
          description: Numeric ID of the case file.  Usually obtained by a previous list case files request.
          example: 500
          required: true
          type: integer
      get:
        responses:
          200:
            description: Case file found.
            body:
              application/json:
                example: |
                  {
                    "id" : 4893,
                    "caseNumber" : "20141118_4893",
                    "caseType" : "Agricultural",
                    "title" : "August 1914",
                    "status" : "ACTIVE",
                    "details" : "This case file is based on Complaint '20141024_2892'.<p/>Complaint '20141024_2892' had these details: <p/><strong>A book by Aleksandr Solzhenitsyn</strong>",
                    "incidentDate" : null,
                    "created" : "2014-11-18T13:09:29.250+0000",
                    "creator" : "ebmillar",
                    "modified" : "2014-11-18T13:09:29.928+0000",
                    "modifier" : "ebmillar",
                    "closed" : null,
                    "disposition" : null,
                    "priority" : "High",
                    "participants" : [],
                    "dueDate" : null,
                    "approvers" : null,
                    "ecmFolderPath" : null,
                    "associationsFromObjects" : [{
                        "id" : 4900,
                        "person" : {
                          "id" : 2901,
                          "title" : "mr.",
                          "company" : null,
                          "status" : "ACTIVE",
                          "givenName" : "Witness first",
                          "familyName" : "Witness last",
                          "hairColor" : null,
                          "eyeColor" : null,
                          "heightInInches" : null,
                          "weightInPounds" : null,
                          "dateOfBirth" : null,
                          "dateMarried" : null,
                          "created" : "2014-10-24T23:14:24.342+0000",
                          "creator" : "anotherUser",
                          "modified" : "2014-11-18T13:09:29.929+0000",
                          "modifier" : "ebmillar",
                          "addresses" : [{
                              "id" : 2902,
                              "created" : "2014-10-24T23:14:24.345+0000",
                              "creator" : "anotherUser",
                              "modified" : "2014-11-18T13:03:13.882+0000",
                              "modifier" : "ecmillar",
                              "status" : "ACTIVE",
                              "type" : "type",
                              "types" : null,
                              "streetAddress" : "street address",
                              "streetAddress2" : "street address 2",
                              "city" : "city",
                              "state" : "state",
                              "zip" : "zip",
                              "country" : "country"
                            }
                          ],
                          "contactMethods" : [{
                              "id" : 2903,
                              "created" : "2014-10-24T23:14:24.347+0000",
                              "creator" : "anotherUser",
                              "modified" : "2014-11-18T13:03:13.882+0000",
                              "modifier" : "ecmillar",
                              "status" : "ACTIVE",
                              "type" : "contact type",
                              "types" : null,
                              "value" : "contact value"
                            }
                          ],
                          "securityTags" : [],
                          "personAliases" : [{
                              "id" : 2905,
                              "aliasType" : "Nick Name",
                              "aliasTypes" : null,
                              "aliasValue" : "Witness alias",
                              "created" : "2014-10-24T23:14:24.350+0000",
                              "creator" : "anotherUser",
                              "modified" : "2014-11-18T13:09:29.930+0000",
                              "modifier" : "ebmillar"
                            }
                          ],
                          "organizations" : [{
                              "organizationId" : 2904,
                              "organizationType" : "org type",
                              "organizationTypes" : null,
                              "organizationValue" : "org value",
                              "created" : "2014-10-24T23:14:24.349+0000",
                              "creator" : "anotherUser",
                              "modified" : "2014-11-18T13:03:13.876+0000",
                              "modifier" : "ecmillar"
                            }
                          ]
                        },
                        "parentId" : 4893,
                        "personType" : "Witness",
                        "parentType" : "CASE",
                        "personDescription" : "Witness Desc",
                        "created" : "2014-11-18T13:09:29.249+0000",
                        "creator" : "ebmillar",
                        "modified" : "2014-11-18T13:09:29.930+0000",
                        "modifier" : "ebmillar",
                        "notes" : null,
                        "tags" : ["Anonymous"]
                      }, {
                        "id" : 4899,
                        "person" : {
                          "id" : 2894,
                          "title" : "mr.",
                          "company" : null,
                          "status" : "ACTIVE",
                          "givenName" : "Complaintant first",
                          "familyName" : "Complaintant last",
                          "hairColor" : null,
                          "eyeColor" : null,
                          "heightInInches" : null,
                          "weightInPounds" : null,
                          "dateOfBirth" : null,
                          "dateMarried" : null,
                          "created" : "2014-10-24T23:14:24.266+0000",
                          "creator" : "anotherUser",
                          "modified" : "2014-11-18T13:09:29.928+0000",
                          "modifier" : "ebmillar",
                          "addresses" : [{
                              "id" : 2895,
                              "created" : "2014-10-24T23:14:24.291+0000",
                              "creator" : "anotherUser",
                              "modified" : "2014-11-18T13:03:13.876+0000",
                              "modifier" : "ecmillar",
                              "status" : "ACTIVE",
                              "type" : "type",
                              "types" : null,
                              "streetAddress" : "street address",
                              "streetAddress2" : "street address 2",
                              "city" : "city",
                              "state" : "state",
                              "zip" : "zip",
                              "country" : "country"
                            }
                          ],
                          "contactMethods" : [{
                              "id" : 2896,
                              "created" : "2014-10-24T23:14:24.308+0000",
                              "creator" : "anotherUser",
                              "modified" : "2014-11-18T13:03:13.877+0000",
                              "modifier" : "ecmillar",
                              "status" : "ACTIVE",
                              "type" : "contact type",
                              "types" : null,
                              "value" : "contact value"
                            }
                          ],
                          "securityTags" : [],
                          "personAliases" : [{
                              "id" : 2898,
                              "aliasType" : "Nick Name",
                              "aliasTypes" : null,
                              "aliasValue" : "Complaintant alias",
                              "created" : "2014-10-24T23:14:24.326+0000",
                              "creator" : "anotherUser",
                              "modified" : "2014-11-18T13:09:29.931+0000",
                              "modifier" : "ebmillar"
                            }
                          ],
                          "organizations" : [{
                              "organizationId" : 2897,
                              "organizationType" : "org type",
                              "organizationTypes" : null,
                              "organizationValue" : "org value",
                              "created" : "2014-10-24T23:14:24.318+0000",
                              "creator" : "anotherUser",
                              "modified" : "2014-11-18T13:03:13.879+0000",
                              "modifier" : "ecmillar"
                            }
                          ]
                        },
                        "parentId" : 4893,
                        "personType" : "Complaintant",
                        "parentType" : "CASE",
                        "personDescription" : "Complaintant Desc",
                        "created" : "2014-11-18T13:09:29.249+0000",
                        "creator" : "ebmillar",
                        "modified" : "2014-11-18T13:09:29.928+0000",
                        "modifier" : "ebmillar",
                        "notes" : null,
                        "tags" : ["Anonymous"]
                      }
                    ],
                    "originator" : null,
                    "ecmFolderId" : "workspace://SpacesStore/d261b278-54ae-444a-88c3-5665f0c4e8c1",
                    "childObjects" : [{
                        "associationId" : 4894,
                        "status" : "ACTIVE",
                        "parentName" : "20141118_4893",
                        "parentType" : "CASE",
                        "parentId" : 4893,
                        "targetName" : "20141024_2892",
                        "targetType" : "COMPLAINT",
                        "targetId" : 2892,
                        "created" : "2014-11-18T13:09:29.249+0000",
                        "creator" : "ebmillar",
                        "modified" : "2014-11-18T13:09:30.088+0000",
                        "modifier" : "ebmillar"
                      }, {
                        "associationId" : 4897,
                        "status" : "ACTIVE",
                        "parentName" : "20141118_4893",
                        "parentType" : "CASE",
                        "parentId" : 4893,
                        "targetName" : "form_close_complaint_18112014080842251.xml",
                        "targetType" : "FILE",
                        "targetId" : 4889,
                        "created" : "2014-11-18T13:09:29.243+0000",
                        "creator" : "ebmillar",
                        "modified" : "2014-11-18T13:09:30.116+0000",
                        "modifier" : "ebmillar"
                      }, {
                        "associationId" : 4895,
                        "status" : "ACTIVE",
                        "parentName" : "20141118_4893",
                        "parentType" : "CASE",
                        "parentId" : 4893,
                        "targetName" : "form_roi_18112014080731682.xml",
                        "targetType" : "FILE",
                        "targetId" : 4882,
                        "created" : "2014-11-18T13:09:29.248+0000",
                        "creator" : "ebmillar",
                        "modified" : "2014-11-18T13:09:30.099+0000",
                        "modifier" : "ebmillar"
                      }, {
                        "associationId" : 4896,
                        "status" : "ACTIVE",
                        "parentName" : "20141118_4893",
                        "parentType" : "CASE",
                        "parentId" : 4893,
                        "targetName" : "Report_of_Investigation_18112014080734502.pdf",
                        "targetType" : "FILE",
                        "targetId" : 4884,
                        "created" : "2014-11-18T13:09:29.249+0000",
                        "creator" : "ebmillar",
                        "modified" : "2014-11-18T13:09:30.105+0000",
                        "modifier" : "ebmillar"
                      }, {
                        "associationId" : 4898,
                        "status" : "ACTIVE",
                        "parentName" : "20141118_4893",
                        "parentType" : "CASE",
                        "parentId" : 4893,
                        "targetName" : "Close_Complaint_18112014080842880.pdf",
                        "targetType" : "FILE",
                        "targetId" : 4891,
                        "created" : "2014-11-18T13:09:29.248+0000",
                        "creator" : "ebmillar",
                        "modified" : "2014-11-18T13:09:30.118+0000",
                        "modifier" : "ebmillar"
                      }
                    ]
                  }
          
    /file:
      description: Manage case files.
      post:
        description: Add a file to the case.  Submitted form must include a caseId element, and a files[] element with the files to be uploaded.  Returns JSON suitable for consumption by the jQuery File Upload plugin.          
        securedBy: [ spring_security_form_auth, spring_security_basic_auth, acm_token_authentication ]
        body:
          multipart/form-data:
            example: |
              # send a standard multipart form request.
        responses:
          200:
            description: File(s) were successfully added.
            body:
              application/json:
                example: |
                  {
                    // NOTE: application/json is sent to all browsers EXCEPT Internet Explorer
                    "files":[
                      {
                        "name":"filename.txt",
                        "size":500,
                        "url":"/acm/link/to/download/filename.txt",
                        "thumbnailUrl":null,
                        "deleteUrl":"/acm/link/to/delete/filename.txt",
                        "deleteType":"DELETE",
                        "error":null                        
                      }
                    ]                    
                  }                          
              text/plain:
                example: |
                  {
                    // NOTE: text/plain is sent ONLY to Internet Explorer.  Same format as application/json.
                    "files":[
                      {
                        "name":"filename.txt",
                        "size":500,
                        "url":"/acm/link/to/download/filename.txt",
                        "thumbnailUrl":null,
                        "deleteUrl":"/acm/link/to/delete/filename.txt",
                        "deleteType":"DELETE",
                        "error":null                        
                      }
                    ]                    
                  }        
                
            
    /forUser/{user}:
      uriParameters:
        user:
          description: Case files created by this user will be included in the returned case file list.
          required: true
          example: ann-acm
          type: string
      get:
        description: Get the list of case files created by the given user.
        responses:
          200:
            body:
              application/json:
                example: |
                  [
                    {
                      "id" : 4491,
                      "caseNumber" : "20141114_4491",
                      "caseType" : "Agricultural",
                      "title" : "complaint title",
                      "status" : "ACTIVE",
                      "details" : "This case file is based on Complaint '20141007_531'.",
                      "incidentDate" : null,
                      "created" : "2014-11-14T19:39:19.088+0000",
                      "creator" : "ebmillar",
                      "modified" : "2014-11-14T19:39:19.088+0000",
                      "modifier" : "ebmillar",
                      "closed" : null,
                      "disposition" : null,
                      "priority" : "High",
                      "participants" : [],
                      "dueDate" : null,
                      "approvers" : null,
                      "ecmFolderPath" : null,
                      "associationsFromObjects" : [],
                      "originator" : null,
                      "ecmFolderId" : "workspace://SpacesStore/88286a52-f8e9-4c62-b894-98481733d44f",
                      "childObjects" : [{
                          "associationId" : 4492,
                          "status" : "ACTIVE",
                          "parentName" : "20141114_4491",
                          "parentType" : "CASE",
                          "parentId" : 4491,
                          "targetName" : "20141007_531",
                          "targetType" : "COMPLAINT",
                          "targetId" : 531,
                          "created" : "2014-11-14T19:39:19.088+0000",
                          "creator" : "ebmillar",
                          "modified" : "2014-11-14T19:39:19.088+0000",
                          "modifier" : "ebmillar"
                        }
                      ]
                    }
                  ]
  /casebystatus:
    /summary:
      get:
        description: Return a report of case file status counts for the last week, the last month, and the last year.
        responses:
          200:
            body:
              application/json:
                example: |
                  [
                    {
                      "timePeriod" : "one year",
                      "caseByStatusDtoList" : [{
                          "status" : "CLOSED",
                          "count" : 1
                        }, {
                          "status" : "DRAFT",
                          "count" : 2
                        }, {
                          "status" : "ACTIVE",
                          "count" : 5
                        }
                      ]
                    }, 
                    {
                      "timePeriod" : "seven days",
                      "caseByStatusDtoList" : [{
                          "status" : "ACTIVE",
                          "count" : 5
                        }
                      ]
                    }, 
                    {
                      "timePeriod" : "thirty days",
                      "caseByStatusDtoList" : [{
                          "status" : "ACTIVE",
                          "count" : 5
                        }
                      ]
                    }
                  ]

    /{timePeriod}:
      description: Get a list of case file status counts for a specific time period
      uriParameters:
        timePeriod:
          description: all, lastWeek, lastMonth, or lastYear.
          required: true
          example: lastYear
          type: string
      get:
        responses:
          200:
            body:
              application/json:
                example: |
                  [{
                      "status" : "CLOSED",
                      "count" : 1
                    }, {
                      "status" : "DRAFT",
                      "count" : 2
                    }, {
                      "status" : "ACTIVE",
                      "count" : 5
                    }
                  ]
  /complaint:
    post:
      description: Create a complaint based on the complaint originator's contact information
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      body: 
        application/json:
          example: |
            {
             "complaintId": null,      
             "complaintNumber": "20140806_193",
             "complaintType": "Agricultural",
             "priority": "Medium",
             "complaintTitle": "fire on the tree",
             "details": "Sample Detail", 
             "incidentDate": "2014-09-19T04:00:00.000+0000",
             "status":"DRAFT",
             "originator": {
                  "id": null,
                  "personType": "Initiator",
                  "personDescription": "Sample Description",
                  "notes":"sample note describing the person",
                  "tags": ["Grateful Dead", "Guitar" ],
                  "person": {
                        "id": null,
                        "title": "Mr.",
                        "givenName": "John",
                        "familyName": "Doe",
                        "company": "Contoso",
                        "weightInPounds": 189,
                        "addresses": [{
                              "type": "home",
                              "streetAddress": "123 Main St.",
                              "streetAddress2": null,
                              "city": "Peoria",
                              "state": "IL",
                              "zip": "12345"
                           }],
                         "contactMethods": [{
                                "type": "Mobile Phone",
                                "value": "123-456-7890"
                                  },
                                  {
                                "type": "Personal E-mail",
                                "value": "john.doe@gmail.com"
                                  }],
                        "securityTags": ["Anonymous",
                                       "Confidential",
                                       "Top Secret"],
                        "personAliases": [{
                             "id": null,
                              "aliasType": "Nick Name",
                              "aliasValue": "Nick"
                        }],
                        "organizations": [
                    {
                    "organizationId":null,
                    "organizationType": "sample",
                    "organizationValue": "tech net"
                          }
                    ]
                      }
                    },
                "associationsFromObjects": [{
                  "id": null,
                  "personType": "Subject",
                  "personDescription": "Simple Description",
                  "tags": ["Contoso", "Illinois" ],
                  "person": {
                        "id": null,
                        "title": "Mr.",
                        "givenName": "John",
                        "familyName": "Doe",
                        "company": "Contoso",
                        "weightInPounds": 189,
                        "addresses": [{
                              "type": "home",
                              "streetAddress": "123 Main St.",
                              "streetAddress2": null,
                              "city": "Peoria",
                              "state": "IL",
                              "zip": "12345"
                           }],
                         "contactMethods": [{
                                "type": "Mobile Phone",
                                "value": "123-456-7890"
                                  },
                                  {
                                "type": "Personal E-mail",
                                "value": "john.doe@gmail.com"
                                  }],
                        "securityTags": ["Anonymous",
                                       "Confidential",
                                       "Top Secret"],
                        "personAliases": [{
                             "id": null,
                              "aliasType": "Nick Name",
                              "aliasValue": "Nick"
                        }],
                        "organizations": [
                    {
                    "organizationId":null,
                    "organizationType": "sample",
                    "organizationValue": "tech net"
                          }
                    ]
                      }
                }], 
                "dueDate": "2014-09-22T04:00:00.000+0000",
                "tag": "no tag",
                "frequency": "low",
                "location": "1234 straight line St, fallschurch va"        
            }
      responses:
        200:
          description: Normal response indicating the system created a new complaint
          body: 
            application/json:
              example: |
                {
                  "complaintId":2190,
                  "complaintNumber":"20140806_1938",
                  "complaintType":"Agricultural",
                  "priority":"Medium",
                  "complaintTitle":"fire on the tree",
                  "details":"Sample Detail",
                  "incidentDate":"2014-09-19T04:00:00.000+0000",
                  "created":"2014-09-22T20:06:52.018+0000",
                  "creator":"ann-acm",
                  "modified":"2014-09-22T20:06:52.018+0000",
                  "modifier":"ann-acm",
                  "status":"DRAFT",
                  "originator": {
                        "id":2191,
                        "parentId":2190,
                        "tags": ["Grateful Dead", "Guitar" ],
                        "person":{
                                "id":2192,
                                "title":"mr.",
                                "company":null,
                                "status":"ACTIVE",
                                "givenName":"Complaintant first",
                                "familyName":"Complaintant last",
                                "hairColor":null,
                                "eyeColor":null,
                                "heightInInches":null,
                                "weightInPounds":null,
                                "dateOfBirth":null,
                                "dateMarried":null,
                                "created":"2014-09-29T17:01:25.142+0000",
                                "creator":"anotherUser",
                                "modified":"2014-09-29T17:01:25.142+0000",
                                "modifier":"anotherUser",
                                "addresses":[],
                                "contactMethods":[],
                                "securityTags":[],
                                "personAliases":[ ],                                
                                "organizations":[]                          
                                 },
                        "personType":"Initiator",
                        "parentType":"COMPLAINT",
                        "personDescription":"Sample Description",
                        "created":"2014-09-22T20:06:52.018+0000",
                        "creator":"ann-acm",
                        "modified":"2014-09-22T20:06:52.018+0000",
                        "modifier":"ann-acm",
                        "notes":"sample note describing the person"
                  },
                  "ecmFolderPath":"/Sites/acm/documentLibrary/Complaints/20140922_2190",
                  "ecmFolderId":"workspace://SpacesStore/75ab1031-515a-4e82-ac58-fd9cf09e7119",
                  "childObjects": [],
                  "approvers": null,
                  "associationsFromObjects": [{
                        "id":2194,
                        "parentId":2190,
                        "tags": ["Armedia", "Allman Brothers Band" ],
                        "person": {
                                  "id":2193,
                                  "title":"Mr.",
                                  "company":"Armedia",
                                  "status":"ACTIVE",
                                  "givenName":"Johnatan",
                                  "familyName":"Joe",
                                  "hairColor":"black",
                                  "eyeColor":null,
                                  "heightInInches":null,
                                  "weightInPounds":189,
                                  "dateOfBirth":null,
                                  "dateMarried":null,
                                  "created":"2014-09-29T19:08:06.006+0000",
                                  "creator":"ann-acm",
                                  "modified":"2014-09-29T19:08:06.006+0000",
                                  "modifier":"ann-acm",
                                  "addresses":[],
                                  "contactMethods":[],
                                  "securityTags":[],
                                  "personAliases":[ ],                                
                                  "organizations":[]                          
                                   },
                        "personType": "Subject",
                        "parentType": "COMPLAINT",
                        "personDescription": "Simple Description",
                        "created": "2014-09-02T18:09:49.140+0000",
                        "creator": "ann-acm",
                        "modified": "2014-09-02T18:09:49.141+0000",
                        "modifier": "ann-acm"
                      }],
                "dueDate":"2014-09-22T04:00:00.000+0000",
                "tag":"no tag",
                "frequency":"low",
                "location":"1234 straight line St, fallschurch va"  
                }                                  
      
        400:
          description: Usually means the request body was invalid (did not match the expected JSON format).  The response body will be empty.
    /types:
      description: Manage the list of complaint types.
      get:
        description: Retrieve array of valid complaint types.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            description: Expected response including the valid complaint types.
            body:
              application/json:
                example: |
                  [ "Domestic Dispute", "Arson", "Better Business Dispute", "Government", "Local", "Agricultural", "Pollution" ]
    /priorities:
      description: Manage the list of complaint priorities.
      get:
        description: Retrieve array of valid complaint priorities.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            description: Expected response including the valid complaint priorities.
            body:
              application/json:
                example: |
                  [ "Low", "Medium", "High" ]
                
          
    /file:
      description: Manage complaint files.
      post:
        description: Add a file to the complaint.  Submitted form must include a complaintId element, and a file[] element with the files to be uploaded.  Returns JSON suitable for consumption by the jQuery File Upload plugin.
          
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        body:
          multipart/form-data:
            
            
    /byId/{complaintId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Lookup complaint details by complaint ID.
        responses:
          200:
            description: expected response containing the desired complaint details
            body:
              application/json:
                example: |
                 {
                  "complaintId": 2190,
                  "complaintNumber": "20140806_1938",
                  "complaintType": "Agricultural",
                  "priority": "Medium",
                  "complaintTitle": "falling fire is coming  tree",
                  "details": "Sample Detail",
                  "incidentDate": "2014-09-19T04:00:00.000+0000",
                  "created": "2014-09-29T21:34:54.947+0000",
                  "creator": "ann-acm",
                  "modified": "2014-09-29T21:34:54.947+0000",
                  "modifier": "ann-acm",
                  "status": "DRAFT",
                  "originator": {
                        "id": 2191,
                        "tags": ["Grateful Dead", "Guitar" ],
                        "person": {
                            "id": 2192,
                            "title": null,
                            "company": null,
                            "status": "ACTIVE",
                            "givenName": null,
                            "familyName": null,
                            "hairColor": null,
                            "eyeColor": null,
                            "heightInInches": null,
                            "weightInPounds": null,
                            "dateOfBirth": null,
                            "dateMarried": null,
                            "created": "2014-09-22T20:06:52.021+0000",
                            "creator": "ann-acm",
                            "modified": "2014-09-22T20:06:52.021+0000",
                            "modifier": "ann-acm",
                            "addresses": [{
                                "id" : 1294,
                                "created" : "2014-10-15T13:47:41.313+0000",
                                "creator" : "anotherUser",
                                "modified" : "2014-10-15T18:22:03.648+0000",
                                "modifier" : "ebmillar",
                                "status" : "ACTIVE",
                                "type" : "type",
                                "types" : null,
                                "streetAddress" : "street address",
                                "streetAddress2" : "street address 2",
                                "city" : "city",
                                "state" : "state",
                                "zip" : "zip",
                                "country" : "country"
                              }
                            ],
                            "contactMethods": [{
                                "id" : 1295,
                                "created" : "2014-10-15T13:47:41.329+0000",
                                "creator" : "anotherUser",
                                "modified" : "2014-10-17T13:48:47.960+0000",
                                "modifier" : "ebmillar",
                                "status" : "ACTIVE",
                                "type" : "Office phone",
                                "types" : null,
                                "value" : "703-555-1212"
                              }
                            ],
                            "securityTags": [],
                            "personAliases": [{
                                "id" : 1297,
                                "aliasType" : "Nick Name",
                                "aliasTypes" : null,
                                "aliasValue" : "Complaintant alias",
                                "created" : "2014-10-15T13:47:41.347+0000",
                                "creator" : "anotherUser",
                                "modified" : "2014-10-15T18:22:03.674+0000",
                                "modifier" : "ebmillar"
                              }
                            ],
                            "organizations": [{
                              "organizationId" : 1296,
                              "organizationType" : "org type",
                              "organizationTypes" : null,
                              "organizationValue" : "org value",
                              "created" : "2014-10-15T13:47:41.338+0000",
                              "creator" : "anotherUser",
                              "modified" : "2014-10-15T18:22:03.670+0000",
                              "modifier" : "ebmillar"
                            }
                          ]
                        },
                        "parentId": 2190,
                        "personType": "Initiator",
                        "parentType": "COMPLAINT",
                        "personDescription": "Sample Description",
                        "created": "2014-09-22T20:06:52.018+0000",
                        "creator": "ann-acm",
                        "modified": "2014-09-29T21:34:54.971+0000",
                        "modifier": "ann-acm",
                        "notes": "sample note describing the person"
                  },
                  "ecmFolderPath": null,
                  "ecmFolderId": "workspace://SpacesStore/75ab1031-515a-4e82-ac58-fd9cf09e7119",
                  "childObjects": [],
                  "approvers": null,
                  "associationsFromObjects": [{
                        "id": 2191,
                        "tags": ["Grateful Dead", "Guitar" ],
                        "person": {
                          "id": 2192,
                          "title": null,
                          "company": null,
                          "status": "ACTIVE",
                          "givenName": null,
                          "familyName": null,
                          "hairColor": null,
                          "eyeColor": null,
                          "heightInInches": null,
                          "weightInPounds": null,
                          "dateOfBirth": null,
                          "dateMarried": null,
                          "created": "2014-09-22T20:06:52.021+0000",
                          "creator": "ann-acm",
                          "modified": "2014-09-22T20:06:52.021+0000",
                          "modifier": "ann-acm",
                          "addresses": [],
                          "contactMethods": [],
                          "securityTags": [],
                          "personAliases": [],
                          "organizations": []
                        },
                        "parentId": 2190,
                        "personType": "Initiator",
                        "parentType": "COMPLAINT",
                        "personDescription": "Sample Description",
                        "created": "2014-09-22T20:06:52.018+0000",
                        "creator": "ann-acm",
                        "modified": "2014-09-29T21:34:54.971+0000",
                        "modifier": "ann-acm",
                        "notes": "sample note describing the person"
                      },
                      {
                        "id": 2194,
                        "person": {
                          "id": 2193,
                          "title": null,
                          "company": null,
                          "status": "ACTIVE",
                          "givenName": null,
                          "familyName": null,
                          "hairColor": null,
                          "eyeColor": null,
                          "heightInInches": null,
                          "weightInPounds": null,
                          "dateOfBirth": null,
                          "dateMarried": null,
                          "created": "2014-09-22T20:06:52.023+0000",
                          "creator": "ann-acm",
                          "modified": "2014-09-22T20:06:52.023+0000",
                          "modifier": "ann-acm",
                          "addresses": [],
                          "contactMethods": [],
                          "securityTags": [],
                          "personAliases": [],
                          "organizations": []
                        },
                        "parentId": 2190,
                        "personType": "Subject",
                        "parentType": "COMPLAINT",
                        "personDescription": "Simple Description",
                        "created": "2014-09-22T20:06:52.018+0000",
                        "creator": "ann-acm",
                        "modified": "2014-09-22T20:06:52.018+0000",
                        "modifier": "ann-acm",
                        "notes": null
                      }],
                  "participants" : [{
                      "id" : 436,
                      "objectType" : "COMPLAINT",
                      "objectId" : 158,
                      "participantType" : "assignee",
                      "participantLdapId" : "ecmillar",
                      "created" : "2014-10-02T20:56:50.482+0000",
                      "creator" : "ecmillar",
                      "modified" : "2014-10-23T19:19:07.804+0000",
                      "modifier" : "ebmillar"
                    }
                  ],
                  "dueDate": "2014-09-22T04:00:00.000+0000",
                  "tag": "no tag",
                  "frequency": "low",
                  "location": "1234 straight line St, fallschurch va"
                  }
          400:
            description: Usually means the requested complaint does not exist.
            body:
              text/plain:
                example: Complaint ID 2045 not found.
  /person:
    post:
      description: Create a person with all details
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      body: 
        application/json:
          example: |
            {
                "id": 1884,
                "title": "Mr.",
                "givenName": "John",
                "familyName": "Doe",
                "company": "Armedia",
                "hairColor":"white",
                "eyeColor":"gray",
                "heightInInches":1.9,
                "weightInPounds":180,
                "dateOfBirth":null,
                "dateMarried":null,
                "addresses": [{
                  "type": "home",
                  "streetAddress": "123 Main St.",
                  "streetAddress2": null,
                  "city": "Peoria",
                  "state": "IL",
                  "zip": "12345"
                }],
                "contactMethods": [{
                  "type": "Mobile Phone",
                  "value": "123-456-7890"
                },
                {
                  "type": "Personal E-mail",
                  "value": "john.doe@gmail.com"
                }],
                "securityTags": ["Anonymous",
                "Confidential",
                "Top Secret"],
                "personAliases": [{
                  "id": null,
                  "aliasType": "Nick Name",
                  "aliasValue": "Nick"
                }],
                "organizations": [{
                  "organizationId": null,
                  "organizationType": "sample",
                  "organizationValue": "tech net"
                }]
            }            
      responses:        
        200:
          description: Normal response indicating the system created a new person
          body: 
            application/json:
              example: | 
                {
                  "id":1884,
                  "title":"Mr.",
                  "company":"Armedia",
                  "status":null,
                  "givenName":"John",
                  "familyName":"Doe",
                  "hairColor":"white",
                  "eyeColor":"gray",
                  "heightInInches":1,
                  "weightInPounds":180,
                  "dateOfBirth":null,
                  "dateMarried":null,
                  "created":null,
                  "creator":"ann-acm",
                  "modified":"2014-09-23T19:27:53.466+0000",
                  "modifier":"ann-acm",
                  "addresses":[
                      {
                        "id":2283,
                        "created":"2014-09-23T19:27:53.319+0000",
                        "creator":"ann-acm",
                        "modified":"2014-09-23T19:27:53.319+0000",
                        "modifier":"ann-acm",
                        "status":"ACTIVE",
                        "type":"home",
                        "types":null,
                        "streetAddress":"123 Main St.",
                        "streetAddress2":null,
                        "city":"Peoria",
                        "state":"IL",
                        "zip":"12345",
                        "country":null
                        }
                        ],
                  "contactMethods":[
                    {
                      "id":2284,
                      "created":"2014-09-23T19:27:53.322+0000",
                      "creator":"ann-acm",
                      "modified":"2014-09-23T19:27:53.322+0000",
                      "modifier":"ann-acm",
                      "status":"ACTIVE",
                      "type":"Mobile Phone",
                      "types":null,
                      "value":"123-456-7890"
                      },
                      {
                      "id":2285,
                      "created":"2014-09-23T19:27:53.435+0000",
                      "creator":"ann-acm",
                      "modified":"2014-09-23T19:27:53.435+0000",
                      "modifier":"ann-acm",
                      "status":"ACTIVE",
                      "type":"Personal E-mail",
                      "types":null,
                      "value":"john.doe@gmail.com"
                      }
                      ],
                  "securityTags":[
                      "Anonymous",
                      "Confidential",
                      "Top Secret"
                      ],
                  "personAliases":[
                      {
                      "id":2287,
                      "aliasType":"Nick Name",
                      "aliasTypes":null,
                      "aliasValue":"Nick",
                      "created":"2014-09-23T19:27:53.448+0000",
                      "creator":"ann-acm",
                      "modified":"2014-09-23T19:27:53.448+0000",
                      "modifier":"ann-acm"
                      }
                      ],
                  "organizations":[
                      {
                      "organizationId":2286,
                      "organizationType":"sample",
                      "organizationTypes":null,
                      "organizationValue":"tech net",
                      "created":"2014-09-23T19:27:53.442+0000",
                      "creator":"ann-acm",
                      "modified":"2014-09-23T19:27:53.442+0000",
                      "modifier":"ann-acm"
                      }
                      ]
                  }
        400:
          description: Usually means the request body was invalid (did not match the expected JSON format).  The response body will be empty.
    /types:
      description: Manage the list of person types.
      get:
        description: Retrieve array of valid person types.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            description: Expected response including the valid person types.
            body:
              application/json:
                example: |
                   [
                      "Subject",
                      "Witness",
                      "SpouseCohab",
                      "Complaintant",
                      "Initiator",
                      "Wrongdoer"
                   ]
    /find?assocId:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Retrieve a person using personAssociation Id. pass assocId=2046 as a parameter
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            body:
              application/json:
                example: |
                  {                   
                      "id":2051,
                      "title":"mr",
                      "company":null,
                      "status":"ACTIVE",
                      "givenName":"king",
                      "familyName":"gregory",
                      "hairColor":null,
                      "eyeColor":null,
                      "heightInInches":null,
                      "weightInPounds":null,
                      "dateOfBirth":null,
                      "dateMarried":null,
                      "created":"2014-09-19T12:33:53.926+0000",
                      "creator":"ann-acm",
                      "modified":"2014-09-19T12:33:53.926+0000",
                      "modifier":"ann-acm",
                      "addresses":[
                          {
                            "id":2047,
                            "created":"2014-09-19T04:00:00.000+0000",
                            "creator":"Ann Administrator",
                            "modified":"2014-09-19T12:33:53.853+0000",
                            "modifier":"ann-acm",
                            "status":"ACTIVE",
                            "type":"Business",
                            "types":null,
                            "streetAddress":"90155 courthouse",
                            "streetAddress2":null,
                            "city":"vienna",
                            "state":"va",
                            "zip":null,
                            "country":null
                          }],
                      "contactMethods":[
                          {
                            "id":2048,
                            "created":"2014-09-19T04:00:00.000+0000",
                            "creator":"Ann Administrator",
                            "modified":"2014-09-19T12:33:53.902+0000",
                            "modifier":"ann-acm",
                            "status":"ACTIVE",
                            "type":"Home phone",
                            "types":null,
                            "value":"5555555555"
                          }],
                      "securityTags":[
                      ],
                      "personAliases":[
                          {
                            "id":2050,
                            "aliasType":"Married",
                            "aliasTypes":null,
                            "aliasValue":"king",
                            "created":"2014-09-19T04:00:00.000+0000",
                            "creator":"Ann Administrator",
                            "modified":"2014-09-19T12:33:53.915+0000",
                            "modifier":"ann-acm"
                          }],                      
                      "organizations":[
                           {
                            "organizationId":2049,
                            "organizationType":"Government",
                            "organizationTypes":null,
                            "organizationValue":"<>br<>",
                            "created":"2014-09-19T04:00:00.000+0000",
                            "creator":"Ann Administrator",
                            "modified":"2014-09-19T12:33:53.909+0000",
                            "modifier":"ann-acm"
                         }]
                                                             
                  }
          400:
            description: Usually means the requested person does not exist.
            body:
              text/plain:
                example: PersonAssociation ID 2046 not found.
    /list/{parentType}/{parentId}:
      get:
        description: Retrieve a person using parentType and parentId in the personAssociation
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                    "id":2051,
                    "title":"mr",
                    "company":null,
                    "status":"ACTIVE",
                    "givenName":"richard",
                    "familyName":"mao",
                    "hairColor":null,
                    "eyeColor":null,
                    "heightInInches":null,
                    "weightInPounds":null,
                    "dateOfBirth":null,
                    "dateMarried":null,
                    "created":"2014-09-19T12:33:53.926+0000",
                    "creator":"ann-acm",
                    "modified":"2014-09-19T12:33:53.926+0000",
                    "modifier":"ann-acm",
                    "addresses":[
                          {
                              "id":2047,
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.853+0000",
                              "modifier":"ann-acm",
                              "status":"ACTIVE",
                              "type":"Business",
                              "types":null,
                              "streetAddress":"90155 courthouse",
                              "streetAddress2":null,
                              "city":"vienna",
                              "state":"va",
                              "zip":null,
                              "country":null
                          }],
                    "contactMethods":[
                          {
                              "id":2048,
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.902+0000",
                              "modifier":"ann-acm",
                              "status":"ACTIVE",
                              "type":"Home phone",
                              "types":null,
                              "value":"5555555555"
                          }],
                    "securityTags":[
                    ],
                    "personAliases":[
                          {
                              "id":2050,
                              "aliasType":"Married",
                              "aliasTypes":null,
                              "aliasValue":"king",
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.915+0000",
                              "modifier":"ann-acm"
                          }],                    
                    "organizations":[
                          {
                              "organizationId":2049,
                              "organizationType":"Government",
                              "organizationTypes":null,
                              "organizationValue":"Sample org value",
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.909+0000",
                              "modifier":"ann-acm"
                          }
                          ]
                    },
                    {
                    "id":2056,
                    "title":"mr",
                    "company":null,
                    "status":"ACTIVE",
                    "givenName":"tim ",
                    "familyName":"howard ",
                    "hairColor":null,
                    "eyeColor":null,
                    "heightInInches":null,
                    "weightInPounds":null,
                    "dateOfBirth":null,
                    "dateMarried":null,
                    "created":"2014-09-19T12:33:53.968+0000",
                    "creator":"ann-acm",
                    "modified":"2014-09-19T12:33:53.968+0000",
                    "modifier":"ann-acm",
                    "addresses":[
                          {
                              "id":2052,
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.957+0000",
                              "modifier":"ann-acm",
                              "status":"ACTIVE",
                              "type":"Home",
                              "types":null,
                              "streetAddress":"2563 comeandgetit rd ",
                              "streetAddress2":null,
                              "city":"Alexandria",
                              "state":"va",
                              "zip":null,
                              "country":null
                          }],
                    "contactMethods":[
                          {
                              "id":2053,
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.959+0000",
                              "modifier":"ann-acm",
                              "status":"ACTIVE",
                              "type":"Home phone",
                              "types":null,
                              "value":"4444444444"
                          }],
                    "securityTags":[
                    ],
                    "personAliases":[
                          {
                              "id":2055,
                              "aliasType":"Married",
                              "aliasTypes":null,
                              "aliasValue":"kingofkings",
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.964+0000",
                              "modifier":"ann-acm"
                          }],                   
                    "organizations":[
                          {
                              "organizationId":2054,
                              "organizationType":"Non-profit",
                              "organizationTypes":null,
                              "organizationValue":"billboard",
                              "created":"2014-09-19T04:00:00.000+0000",
                              "creator":"Ann Administrator",
                              "modified":"2014-09-19T12:33:53.962+0000",
                              "modifier":"ann-acm"
                          }]
                    }
          400:
            description: Usually means the requested person /persons does not exist.
            body:
              text/plain:
                  example: PersonAssociation  PARENTID OR PARENTTYPE are not found.
    /delete/{personId}:
      delete:
        description: Delete a person by personId
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            body:
              application/json:
                example:                 
                     " Deleting a person is successful  "     
                     
          400:
            description: Usually means the requested person does not exist.
            body:
              text/plain:
                example: person with Id 2046 not found.  
        
  /personAssociation:
    post:
      description: Create a personAssociation with all details
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      body: 
        application/json:
          example: |
            {
            "id": null,
            "personType": "Subject",
            "parentId":3022,
            "parentType":"COMPLAINT",
            "personDescription": "Sample Description",
            "notes":"sample note describing the person",  
            "tags": ["Grateful Dead", "Guitar" ],    
            "person": {
                  "id": null,
                  "title": "Mr.",
                  "givenName": "John",
                  "familyName": "Doe",
                  "company": "Contoso",
                  "weightInPounds": 189,
                  "addresses": [{
                        "type": "home",
                        "streetAddress": "123 Main St.",
                        "streetAddress2": null,
                        "city": "Peoria",
                        "state": "IL",
                        "zip": "12345"
                     }],
                   "contactMethods": [{
                          "type": "Mobile Phone",
                          "value": "123-456-7890"
                            },
                            {
                          "type": "Personal E-mail",
                          "value": "john.doe@gmail.com"
                            }],
                  "securityTags": ["Anonymous",
                                 "Confidential",
                                 "Top Secret"],
                  "personAliases": [{
                       "id": null,
                        "aliasType": "Nick Name",
                        "aliasValue": "Nick"
                  }],
                  "organizations": [
              {
              "organizationId":null,
              "organizationType": "sample",
              "organizationValue": "tech net"
                    }
              ]
                }
              }
   
            }
      responses:        
        200:
          description: Normal response indicating the system created a new personAssociation
          body: 
            application/json:
              example: | 
                { 	
                "id":3311,
                "tags": ["Grateful Dead", "Guitar" ],
                "person":{
                      "id":3317,
                      "title":"Mr.",
                      "company":"Contoso",
                      "status":"ACTIVE",
                      "givenName":"John",
                      "familyName":"Doe",
                      "hairColor":null,
                      "eyeColor":null,
                      "heightInInches":null,
                      "weightInPounds":189,
                      "dateOfBirth":null,
                      "dateMarried":null,
                      "created":"2014-09-29T21:53:57.735+0000",
                      "creator":"ann-acm",
                      "modified":"2014-09-29T21:53:57.735+0000",
                      "modifier":"ann-acm",
                      "addresses":[
                                {
                                "id":3312,
                                "created":"2014-09-29T21:53:57.725+0000",
                                "creator":"ann-acm",
                                "modified":"2014-09-29T21:53:57.725+0000",
                                "modifier":"ann-acm",
                                "status":"ACTIVE",
                                "type":"home",
                                "types":null,
                                "streetAddress":"123 Main St.",
                                "streetAddress2":null,
                                "city":"Peoria",
                                "state":"IL",
                                "zip":"12345",
                                "country":null
                                }
                               ],
                      "contactMethods":[
                                {
                                "id":3313,
                                "created":"2014-09-29T21:53:57.727+0000",
                                "creator":"ann-acm",
                                "modified":"2014-09-29T21:53:57.727+0000",
                                "modifier":"ann-acm",
                                "status":"ACTIVE",
                                "type":"Mobile Phone",
                                "types":null,
                                "value":"123-456-7890"
                                },
                                {
                                "id":3314,
                                "created":"2014-09-29T21:53:57.729+0000",
                                "creator":"ann-acm",
                                "modified":"2014-09-29T21:53:57.729+0000",
                                "modifier":"ann-acm",
                                "status":"ACTIVE",
                                "type":"Personal E-mail",
                                "types":null,
                                "value":"john.doe@gmail.com"
                                }
                                ],
                                "securityTags":[
                                "Anonymous",
                                "Confidential",
                                "Top Secret"
                                ],
                      "personAliases":[
                                {
                                "id":3316,
                                "aliasType":"Nick Name",
                                "aliasTypes":null,
                                "aliasValue":"Nick",
                                "created":"2014-09-29T21:53:57.733+0000",
                                "creator":"ann-acm",
                                "modified":"2014-09-29T21:53:57.733+0000",
                                "modifier":"ann-acm"
                                }
                                ],
                      "organizations":[
                                {
                                "organizationId":3315,
                                "organizationType":"sample",
                                "organizationTypes":null,
                                "organizationValue":"tech net",
                                "created":"2014-09-29T21:53:57.731+0000",
                                "creator":"ann-acm",
                                "modified":"2014-09-29T21:53:57.731+0000",
                                "modifier":"ann-acm"
                                }]
                      },
                "parentId":3022,
                "personType":"Subject",
                "parentType":"COMPLAINT",
                "personDescription":"Sample Description",
                "created":"2014-09-29T21:53:57.720+0000",
                "creator":"ann-acm",
                "modified":"2014-09-29T21:53:57.720+0000",
                "modifier":"ann-acm",
                "notes":"sample note describing the person"
                 }
        400:
            description: Usually means the request body was invalid (did not match the expected JSON format).  The response body    will be empty.  
                                                  
  /profile:
    /get/{userId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      uriParameters:
        userId:
          description: User login name of the user whose profile is desired.
          type: string
          required: true
      get:
        description: Get a user profile (User and Company) information's
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                    "userId":"ann-acm",
                    "companyName":"Armedia",
                    "firstAddress":"1234 Some Name",
                    "secondAddress":"Suite 123",
                    "mainOfficePhone":"111-111-1111",
                    "fax":"555-555-5555",
                    "city":"Vienna",
                    "state":"VA",
                    "zip":"12345",
                    "website":"www.armedia.com",
                    "location":"Pentagon",
                    "imAccount":"DMiler",
                    "imSystem":"Skype",
                    "officePhoneNumber":"555-555-5555",
                    "mobilePhoneNumber":"555-555-5555",
                    "fullName":"Ann Administrator",
                    "email":"acm@armedia.com",
                    "pictureUrl":"",
                    "groups":["ACM_ADMINISTRATOR_DEV"]
                  }
    /userOrgInfo:
      /set:
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        post:
          description: Update the user profile data (for the User and for the Company)
          body:
           application/json:
             example: |
               {
                "userId":"ann-acm",
                "companyName":"Armedia TEST",
                "firstAddress":"1234 NEW NAME",
                "secondAddress":"Suite 1234",
                "mainOfficePhone":"111-111-1111",
                "fax":"555-555-5555",
                "city":"Vienna",
                "state":"VA",
                "zip":"12345",
                "website":"www.armedia.org",
                "location":"Pentagon",
                "imAccount":"DMiler",
                "imSystem":"Skype",
                "officePhoneNumber":"555-555-5555",
                "mobilePhoneNumber":"555-555-5555",
                "fullName":"Ann Administrator",
                "email":"acm@armedia.com",
                "pictureUrl":"",
                "groups":["ACM_ADMINISTRATOR_DEV"]
               }
          responses:
            200:
              description: The same data that was sent for update in the POST.    
              body:                        
                application/json:
                  example: |
                    {
                      "userId":"ann-acm",
                      "companyName":"Armedia TEST",
                      "firstAddress":"1234 NEW NAME",
                      "secondAddress":"Suite 1234",
                      "mainOfficePhone":"111-111-1111",
                      "fax":"555-555-5555",
                      "city":"Vienna",
                      "state":"VA",
                      "zip":"12345",
                      "website":"www.armedia.org",
                      "location":"Pentagon",
                      "imAccount":"DMiler",
                      "imSystem":"Skype",
                      "officePhoneNumber":"555-555-5555",
                      "mobilePhoneNumber":"555-555-5555",
                      "fullName":"Ann Administrator",
                      "email":"acm@armedia.com",
                      "pictureUrl":"",
                      "groups":["ACM_ADMINISTRATOR_DEV"]
                     }
  /dataaccess:
    /accessControlDefaults:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Get a page of the default access controls.
        queryParameters:
          s:
            description: A property to sort by.  Must be one of the properties shown in the resultPage of the example response.  Multiple values are allowed.
            default: objectType,objectState,accessLevel,accessorType
          start:
            description: index of the first row to be returned.  The first page starts at row 0.
            default: 0
            type: integer
          n:
            description: maximum rows to be returned.
            default: 10
            type: integer
        responses:
          200:
            description: Normal response.  Includes integers for totalCount, startRow, and maxRows, and an array of default ACL objects.
            body:
              application/json:
                example: |
                  {
                    "totalCount" : 98,    // total number of default access controls
                    "startRow" : 0,       // start row (from the request)
                    "maxRows" : 1,        // max rows (from the request)
                    "resultPage" : [{     // array of default access control objects
                        "id" : 1861,      // default access ID
                        "objectType" : "Complaint",                     // type of the object to be protected
                        "objectState" : "DRAFT",                        // object state this default access applies to
                        "accessLevel" : "Add Document",                 // the action protected by this default access
                        "accessorType" : "Complaint Group",             // the type of participant to whom this access applies
                        "accessDecision" : "GRANT",                     // whether access is permitted (GRANT, DENY, MANDATORY_GRANT, MANDATORY_DENY)
                        "allowDiscretionaryUpdate" : true,              // whether this access can be updated at runtime for any given object
                        "created" : "2014-07-09T18:03:16.826+0000",     // when the default access was created
                        "creator" : "ACL_SYSTEM_USER",                  // user id that created the access
                        "modified" : "2014-07-09T18:03:16.826+0000",    // when the default access was last modified
                        "modifier" : "ACL_SYSTEM_USER"                  // user id that modified the default access
                      }
                    ]
                  }
          
          403:
            description: The user is not authorized to view the default access controls.
          500:
            description: Somehow the server was not able to deliver the requested default access controls.
            body:
              text/plain:
                example: |
                  Some error text will be returned.
    /default/{defaultAccessId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      post:
        description: Update the default access control with ID = the given defaultAccessId.  Only the accessDecision and the 
          allowDiscretionaryUpdate flag can be changed.  The other fields are read-only.  accessDecision can be GRANT, DENY, 
          MANDATORY_GRANT, or MANDATORY_DENY.
        body:
          application/json:
            example: |
              {
                "id" : 500,
                "objectType" : "Complaint",
                "objectState" : "DRAFT",
                "accessLevel" : "update",
                "accessorType" : "Supervisor",
                "accessDecision" : "GRANT",
                "allowDiscretionaryUpdate" : true,
              }
        responses:
          200:
            description: The default access control rule was updated successfully.
            body:
              application/json:
                example: |
                  {
                    "id" : 500,
                    "objectType" : "type",
                    "objectState" : "state",
                    "accessLevel" : "accessLevel",
                    "accessorType" : "accessor",
                    "accessDecision" : "GRANT",
                    "allowDiscretionaryUpdate" : true,
                    "created" : "2014-06-03T21:16:56.090+0000",
                    "creator" : "creator",
                    "modified" : "2014-07-24T21:16:56.090+0000",
                    "modifier" : "modifier"
                  }
          
          400:
            description: The requested default access control rule does not exist.
            body:
              text/plain:
                example: |
                  Could not update default access with ID = 500.
                  Server encountered exception: Default access with id '500' does not exist.
                  Exception type was: 'com.armedia.acm.core.exceptions.AcmUserActionFailedException'.
  /task:
    /forUser/{user}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Get a list of active tasks for the specified user.
        responses:
          200: 
            description: expected response containing a list of tasks.
            body:
              application/json:
                example: |
                 [
                   {
                     "taskId":500,
                     "priority":0,
                     "title":"Example Task Title",
                     "dueDate":"2014-06-03",
                     "attachedToObjectType":"COMPLAINT",
                     "attachedToObjectId":495, 
                     "assignee":"ann-acm",
                     "businessProcessName":"cmComplaintWorkflow",
                     "adhocTask":false
                   }
                  ]
    /completeTask/{taskId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      post:
        description: Complete a task.  Must be called by the task's current assignee.
        responses:
          200:
            description: Task was successfully completed.  JSON represents the historical task instance, with information as to when the task was started and completed.
            body:
              application/json:
                example: |
                  {
                  "taskId":500,
                  "priority":50,
                  "title":"The Task Title",
                  "dueDate":"2014-06-03",
                  "attachedToObjectType":"COMPLAINT",
                  "attachedToObjectId":250,
                  "assignee":"ann-acm",
                  "businessProcessName":"Complaint Approval",
                  "adhocTask":false,
                  "completed":true,
                  "taskStartDate":"2014-06-02",
                  "taskFinishedDate":"2014-06-03",
                  "taskDurationInMillis":298392
                  }
            
      
          400:
            description: The task could not be completed.  Either the task ID does not represent an active task (task does not exist or is already closed), or the authenticated user is not the task assignee.  T
            body:
              text/plain:
                example: |
                  Task '500' does not exist or has already been completed.
    /adHocTask:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      post:
        description: Create a standalone task (not tied to a workflow or business process)
        body:
          application/json:
            example: |
              {
                "priority" : "Low",  // can be Low, Medium, High, Expedite
                "title" : "Task Created on 9/9/2014",
[...]
