#%RAML 0.8
title: ACM 3.0 API
baseUri: http://armdec6acm1.armedia.com/acm/api/{version}
version: v1

securitySchemes:
  - spring_security_form_auth:
      description: ACM3 uses Spring Security form authentication for interactive users.
      type: x-Spring Security form authentication
  - spring_security_basic_auth:
      description: ACM3 uses Spring Security basic authentication for service users.    
      type: Basic Authentication  

/plugin:
  /complaint:
    post:
      description: Create a complaint based on the complaint originator's contact information
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      body: 
        application/json:
          example: |
            {
              "complaintId": null,
              "originator": {
                "id": null,
                "title": "Mr.",
                "givenName": "John",
                "familyName": "Doe",
                "company": "Contoso",
                "addresses": [
                  {
                    "type": "home",
                    "streetAddress": "123 Main St.",
                    "streetAddress2": null,
                    "city": "Peoria",
                    "state": "IL",
                    "zip": "12345"
                  }
                ],
                "contactMethods": [
                  {
                    "type": "Mobile Phone",
                    "value": "123-456-7890"
                  },
                  {
                    "type": "Personal E-mail",
                    "value": "john.doe@gmail.com"
                  }
                ],
                "securityTags": ["Anonymous", "Confidential", "Top Secret"]
              }
            }
      responses:
        200:
          description: Normal response indicating the system created a new complaint
          body: 
            application/json:
              example: |
                {
                  "complaintId": 555,
                  "complaintNumber": "20140424_555",
                  "complaintStatus": "DRAFT",
                  "originator": {
                    "id": 556,
                    "status": "ACTIVE",
                    "title": "Mr.",
                    "givenName": "John",
                    "familyName": "Doe",
                    "company": "Contoso",
                    "addresses": [
                      {
                        "id": 557,
                        "type": "home",
                        "streetAddress": "123 Main St.",
                        "streetAddress2": null,
                        "city": "Peoria",
                        "state": "IL",
                        "zip": "12345"
                      }
                    ],
                    "contactMethods": [
                      {
                        "id": 558,
                        "type": "Mobile Phone",
                        "value": "123-456-7890"
                      },
                      {
                        "id": 559,
                        "type": "Personal E-mail",
                        "value": "john.doe@gmail.com"
                      }
                    ],
                    "securityTags": ["Anonymous", "Confidential", "Top Secret"]
                  }
                }
                  
              
      
        400:
          description: Usually means the request body was invalid (did not match the expected JSON format).  The response body will be empty.
    /types:
      description: Manage the list of complaint types.
      get:
        description: Retrieve array of valid complaint types.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            description: Expected response including the valid complaint types.
            body:
              application/json:
                example: |
                  [ "Domestic Dispute", "Arson", "Better Business Dispute", "Government", "Local", "Agricultural", "Pollution" ]
    /priorities:
      description: Manage the list of complaint priorities.
      get:
        description: Retrieve array of valid complaint priorities.
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        responses:
          200:
            description: Expected response including the valid complaint priorities.
            body:
              application/json:
                example: |
                  [ "Low", "Medium", "High" ]
                
          
    /file:
      description: Manage complaint files.
      post:
        description: Add a file to the complaint.  Submitted form must include a complaintId element, and a file[] element with the files to be uploaded.  Returns JSON suitable for consumption by the jQuery File Upload plugin.
          
        securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
        body:
          multipart/form-data:
            
            
    /byId/{complaintId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Lookup complaint details by complaint ID.
        responses:
          200:
            description: expected response containing the desired complaint details
            body:
              application/json:
                example: |
                  {
                  "complaintId":739,
                  "complaintNumber":"20140603_739",
                  "complaintType":"Domestic Dispute",
                  "priority":"Medium",
                  "complaintTitle":null,
                  "details":"<p><br></p>",
                  "incidentDate":"2013-02-12T00:00:00.000+0000",
                  "created":"2014-06-03T21:16:56.090+0000",
                  "creator":"ebmillar",
                  "modified":"2014-06-03T21:17:05.315+0000",
                  "modifier":"ebmillar",
                  "status":"DRAFT",
                  "originator":{
                    "id":740,
                    "title":"Mr.",
                    "company":null,
                    "status":"ACTIVE",
                    "givenName":"Bob",
                    "familyName":"Weir",
                    "created":"2014-06-03T21:16:56.090+0000",
                    "creator":"ebmillar",
                    "modified":"2014-06-03T21:16:56.090+0000",
                    "modifier":"ebmillar",
                    "addresses":[],
                    "contactMethods":[],
                    "securityTags":[]
                  },
                  "ecmFolderPath":null,
                  "ecmFolderId":"workspace://SpacesStore/7d240f67-023a-4059-b653-6bc06b2d58ab",
                  "childObjects":[],
                  "approvers":null
                  }
          400:
            description: Usually means the requested complaint does not exist.
            body:
              text/plain:
                example: Complaint ID 2739 not found.
  /dataaccess:
    /accessControlDefaults:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Get a page of the default access controls.
        queryParameters:
          s:
            description: A property to sort by.  Must be one of the properties shown in the resultPage of the example response.  Multiple values are allowed.
            default: objectType,objectState,accessLevel,accessorType
          start:
            description: index of the first row to be returned.  The first page starts at row 0.
            default: 0
            type: integer
          n:
            description: maximum rows to be returned.
            default: 10
            type: integer
        responses:
          200:
            description: Normal response.  Includes integers for totalCount, startRow, and maxRows, and an array of default ACL objects.
            body:
              application/json:
                example: |
                  {
                    "totalCount" : 98,    // total number of default access controls
                    "startRow" : 0,       // start row (from the request)
                    "maxRows" : 1,        // max rows (from the request)
                    "resultPage" : [{     // array of default access control objects
                        "id" : 1861,      // default access ID
                        "objectType" : "Complaint",                     // type of the object to be protected
                        "objectState" : "DRAFT",                        // object state this default access applies to
                        "accessLevel" : "Add Document",                 // the action protected by this default access
                        "accessorType" : "Complaint Group",             // the type of participant to whom this access applies
                        "accessDecision" : "GRANT",                     // whether access is permitted (GRANT, DENY, MANDATORY_GRANT, MANDATORY_DENY)
                        "allowDiscretionaryUpdate" : true,              // whether this access can be updated at runtime for any given object
                        "created" : "2014-07-09T18:03:16.826+0000",     // when the default access was created
                        "creator" : "ACL_SYSTEM_USER",                  // user id that created the access
                        "modified" : "2014-07-09T18:03:16.826+0000",    // when the default access was last modified
                        "modifier" : "ACL_SYSTEM_USER"                  // user id that modified the default access
                      }
                    ]
                  }
          
          403:
            description: The user is not authorized to view the default access controls.
          500:
            description: Somehow the server was not able to deliver the requested default access controls.
            body:
              text/plain:
                example: |
                  Some error text will be returned.
    /default/{defaultAccessId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      post:
        description: Update the default access control with ID = the given defaultAccessId.  Only the accessDecision and the 
          allowDiscretionaryUpdate flag can be changed.  The other fields are read-only.  accessDecision can be GRANT, DENY, 
          MANDATORY_GRANT, or MANDATORY_DENY.
        body:
          application/json:
            example: |
              {
                "id" : 500,
                "objectType" : "Complaint",
                "objectState" : "DRAFT",
                "accessLevel" : "update",
                "accessorType" : "Supervisor",
                "accessDecision" : "GRANT",
                "allowDiscretionaryUpdate" : true,
              }
        responses:
          200:
            description: The default access control rule was updated successfully.
            body:
              application/json:
                example: |
                  {
                    "id" : 500,
                    "objectType" : "type",
                    "objectState" : "state",
                    "accessLevel" : "accessLevel",
                    "accessorType" : "accessor",
                    "accessDecision" : "GRANT",
                    "allowDiscretionaryUpdate" : true,
                    "created" : "2014-06-03T21:16:56.090+0000",
                    "creator" : "creator",
                    "modified" : "2014-07-24T21:16:56.090+0000",
                    "modifier" : "modifier"
                  }
          
          400:
            description: The requested default access control rule does not exist.
            body:
              text/plain:
                example: |
                  Could not update default access with ID = 500.
                  Server encountered exception: Default access with id '500' does not exist.
                  Exception type was: 'com.armedia.acm.core.exceptions.AcmUserActionFailedException'.
  /task:
    /forUser/{user}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Get a list of active tasks for the specified user.
        responses:
          200: 
            description: expected response containing a list of tasks.
            body:
              application/json:
                example: |
                 [
                   {
                     "taskId":500,
                     "priority":0,
                     "title":"Example Task Title",
                     "dueDate":"2014-06-03",
                     "attachedToObjectType":"COMPLAINT",
                     "attachedToObjectId":495, 
                     "assignee":"ann-acm",
                     "businessProcessName":"cmComplaintWorkflow",
                     "adhocTask":false
                   }
                  ]
    /completeTask/{taskId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      post:
        description: Complete a task.  Must be called by the task's current assignee.
        responses:
          200:
            description: Task was successfully completed.  JSON represents the historical task instance, with information as to when the task was started and completed.
            body:
              application/json:
                example: |
                  {
                  "taskId":500,
                  "priority":50,
                  "title":"The Task Title",
                  "dueDate":"2014-06-03",
                  "attachedToObjectType":"COMPLAINT",
                  "attachedToObjectId":250,
                  "assignee":"ann-acm",
                  "businessProcessName":"Complaint Approval",
                  "adhocTask":false,
                  "completed":true,
                  "taskStartDate":"2014-06-02",
                  "taskFinishedDate":"2014-06-03",
                  "taskDurationInMillis":298392
                  }
            
      
          400:
            description: The task could not be completed.  Either the task ID does not represent an active task (task does not exist or is already closed), or the authenticated user is not the task assignee.  T
            body:
              text/plain:
                example: |
                  Task '500' does not exist or has already been completed.
    /adHocTask:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      post:
        description: Create a standalone task (not tied to a workflow or business process)
        body:
          application/json:
            example: |
              {
                "priority":50,
                "title":"The Task Title",
                "dueDate":"2014-06-03",
                "assignee":"ebmillar",
              }
        responses:
          200: 
            description: Task created successfully. The response includes the new tasks's ID.
            body:
              application/json:
                example: |
                  {
                    "taskId":2801,
                    "priority":50,
                    "title":"The Task Title",
                    "dueDate":"2014-06-03T00:00:00.000+0000",
                    "attachedToObjectType":null,
                    "attachedToObjectId":null,
                    "assignee":"ebmillar",
                    "businessProcessName":null,
                    "adhocTask":false,
                    "completed":false,
                    "taskStartDate":null,
                    "taskFinishedDate":null,
                    "taskDurationInMillis":null
                  }
            
          
          400:
            description: Task could not be created; perhaps the request body was invalid.
    /byId/{taskId}:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Get task details by the task ID.
        responses:
          200:
            description: Normal response; body includes the task details.
            body:
              application/json:
                example: |
                  {
                    "taskId":2801,
                    "priority":50,
                    "title":"The Task Title",
                    "dueDate":"2014-06-03T00:00:00.000+0000",
                    "attachedToObjectType":null,
                    "attachedToObjectId":null,
                    "assignee":"ebmillar",
                    "businessProcessName":null,
                    "adhocTask":true,
                    "completed":true,
                    "taskStartDate":"2014-06-04T14:46:46.472+0000",
                    "taskFinishedDate":"2014-06-04T17:45:49.822+0000",
                    "taskDurationInMillis":10743350
                  }
          
          500:
            description: Could not get the task details; task does not exist, or an Activiti error
            body:
              text/plain:
                example: Task with ID '92838' does not exist.
  /search:
    /quickSearch:
      securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
      get:
        description: Query the quickSearch search index.  The Quicksearch index contains only selected metadata and is smaller than the full index; so it should be faster to search.
        queryParameters:
          q:
            description: The query string; must be a valid Apache Solr query string.
            type: string
            required: true
          s:
            description: The sort order.  The sort key must be a field in the Solr quick search index.  The key must be followed by " asc" or " desc".  Optional; default null.
            type: string
            required: false
            example: last_modified asc
          start:
            description: The first matching result to be returned.  Useful for pagination.  Optional; default 0.
            type: number
            required: false
            default: 0
          n:
            description: Number of results to be returned.  Useful for pagination.  Optional; default 10.
            type: number
            required: false
            default: 10
        responses:
          200:
            description: Normal response; includes either search results or an error message from Apache Solr.  The example response below includes both a "response" JSON object and an "error" JSON object.  Real responses only have one or the other; a "response" object for a successful search, and an "error" object if SOLR could not process the search.  
            body:
              application/json:
                example: |
                  {
                    "responseHeader": {
                      // 0 == success; there will be a response object (see below).  Any other value 
                      // is an error (there will be an error object).
                      "status": 0,
                      "QTime": 0,
                      "params": {
                        "indent": "true",
                        "q": "*:*",
                        "_": "1403288137744",
                        "wt": "json",
                        "rows": "2"
                      }
                    },
                    // NOTE: "response" object only exists if the status was 0.
                    "response": {
                      "numFound": 61,
                      "start": 0,
                      "docs": [
                        {
                          "id": "12-Complaint",
                          "status_s": "DRAFT",
                          "author": "ann-acm",
                          "author_s": "ann-acm",
                          "modifier_s": "ann-acm",
                          "title": [
                            "Test 20140502_12"
                          ],
                          "last_modified": "2014-05-02T11:30:27Z",
                          "create_dt": "2014-05-02T11:30:27Z",
                          "name": "20140502_12",
                          "object_id_s": "12",
                          "object_type_s": "Complaint",
                          "_version_": 1471373882636107800
                        },
                        {
                          "id": "14-Complaint",
                          "status_s": "DRAFT",
                          "author": "ann-acm",
                          "author_s": "ann-acm",
                          "modifier_s": "ann-acm",
                          "title": [
                            "Test 20140502_14"
                          ],
                          "last_modified": "2014-05-02T11:39:21Z",
                          "create_dt": "2014-05-02T11:39:21Z",
                          "name": "20140502_14",
                          "object_id_s": "14",
                          "object_type_s": "Complaint",
                          "_version_": 1471373882844774400
                        }
                      ]
                    }
                    // NOTE: "error" object only exists if the status was NOT 0.
                    "error": {
                      "msg": "Can't determine a Sort Order (asc or desc) in sort spec 'sdf', pos=3",
                      "code": 400
                    }
                  }
          500:
            description: The server could not process the search request (Apache Solr is down, or some other error).
            body:
              text/plain:
                example:
                  Server encountered an exception.
/users:
  /withPrivilege/{privilege}:
    securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
    get:
      description: Get a list of users with the specified privilege.  Used to obtain a list of users who are authorized to perform a certain action.
      responses:
        200:
          description: expected response containing the list of users with the requested privilege.
          body:
            application/json: 
              example: |
                [{"userId":"OPIS_Admin","fullName":"OPIS Admin","firstName":"OPIS","lastName":"Admin"},
                 {"userId":"ann-acm","fullName":"Ann Administrator","firstName":"Ann","lastName":"Administrator"}]
  
  /participantTypesForObjectTypeName/{objectTypeName}:
    securedBy: [ spring_security_form_auth, spring_security_basic_auth ]
    get:
      description: Retrieve the types of participants that can be assigned to a certain object type.  For 
        example, a Case could have a Case Agent, a Supervisor, and a list of Approvers.
      responses:
        200:
          description: Expected response; a JSON array of participant types.  The type property can be SINGLE_USER, 
            MULTIPLE_USERS, SINGLE_LDAP_GROUP, MULTIPLE_LDAP_GROUPS, SINGLE_APPLICATION_ROLE, or MULTIPLE_APPLICATION_ROLES.
          body:
            application/json:
              example: |
                [
                  {
                    "name" : "Complaint Owner",
                    "description" : "The user who is responsible for completing the complaint.",
                    "type" : "SINGLE_USER",
                    "requiredOnACL" : true
                  }, 
                  {
                    "name" : "Complaint Supervisor",
                    "description" : "The user who has oversight over how the complaint is completed.",
                    "type" : "SINGLE_USER",
                    "requiredOnACL" : false
                  },
                  {
                    "name" : "Complaint Group",
                    "description" : "The group responsible for this type of complaint.",
                    "type" : "SINGLE_LDAP_GROUP",
                    "requiredOnACL" : false
                  }, 
                  {
                    "name" : "Complaint Approver",
                    "description" : "The users allowed to approve the complaint.",
                    "type" : "MULTIPLE_USERS",
                    "requiredOnACL" : false
                  }
                ]
        500:
          description: The requested objectTypeName was not recognized.
          body:
            text/plain:
              example: |
                No such business object with name 'unrecognized'