<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>com.armedia.acm.snowbound.ArkCaseAjaxServlet</servlet-class>
        <init-param>
            <param-name>codebase</param-name>
            <param-value>http://repovm:8083/VirtualViewerJavaHTML5</param-value>
        </init-param>
        <!--Separate content server not available in evaluations -->
        <init-param>
            <param-name>servletURL</param-name>
            <param-value>http://repovm:8083/VirtualViewerJavaContentServer</param-value>
        </init-param>
        <init-param>
            <param-name>contentServerType</param-name>
            <param-value>integrated</param-value>
        </init-param>
        <!--Below parameters only used when contentServerType is set to "integrated"-->
        <!-- <init-param>
            <param-name>contentHandlerClass</param-name>
            <param-value>com.snowbound.snapserv.servlet.FileContentHandler</param-value>
        </init-param>
        <init-param>
            <param-name>filePath</param-name>
            <param-value>/home/armdev/sample-documents/</param-value>
        </init-param> -->
        <init-param>
            <param-name>baseURL</param-name>
            <param-value>http://devvm:8080/acm</param-value>
        </init-param>
        <init-param>
            <param-name>getFileService</param-name>
            <param-value>/api/v1/plugin/ecm/download?</param-value>
        </init-param>
        <init-param>
            <param-name>sendFileService</param-name>
            <param-value>/api/v1/service/ecm/replace/</param-value>
        </init-param>
        <init-param>
            <param-name>auditEventService</param-name>
            <param-value>/api/v1/plugin/audit/event</param-value>
        </init-param>
        <init-param>
            <param-name>uploadNewFileService</param-name>
            <param-value>/api/v1/service/ecm/upload</param-value>
        </init-param>
        <init-param>
            <param-name>contentHandlerClass</param-name>
            <param-value>com.armedia.acm.snowbound.ArkCaseContentHandler</param-value>
        </init-param>
        <init-param>
            <param-name>officeLicensePath</param-name>
            <!-- This is the evaluation license file, it expires after 30 days -->
            <param-value>/WEB-INF/lib/Aspose.Total.Product.Family.lic</param-value>

            <!--When you purchase VirtualViewer with the Office 2007-2013 option, place the Aspose.*.lic files you receive into the ./WEB-INF/lib folder, then use this value for officeLicensePath.-->
            <!--param-value>/WEB-INF/lib/Aspose.Cells.lic,/WEB-INF/lib/Aspose.Words.lic,/WEB-INF/lib/Aspose.Slides.lic</param-value-->
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>ALL</param-value>
        </init-param>
        <init-param>
            <param-name>pixelLimit</param-name>
            <param-value>4000x4000</param-value>
        </init-param>
        <init-param>
            <param-name>documentCacheSize</param-name>
            <param-value>1610612736</param-value>
        </init-param>
        <init-param>
            <param-name>thumbByteEstimate</param-name>
            <param-value>6000</param-value>
        </init-param>
        <init-param>
            <param-name>thumbnailDPI</param-name>
            <param-value>60</param-value>
        </init-param>
        <init-param>
            <param-name>tiffByteSize</param-name>
            <param-value>40000</param-value>
        </init-param>
        <init-param>
            <param-name>jpegByteSize</param-name>
            <param-value>600000</param-value>
        </init-param>
        <init-param>
            <param-name>defaultByteSize</param-name>
            <param-value>400000</param-value>
        </init-param>
        <init-param>
            <param-name>maxByteMultiplier</param-name>
            <param-value>20</param-value>
        </init-param>
        <init-param>
            <param-name>jpegQuality</param-name>
            <param-value>65</param-value>
        </init-param>
        <init-param>
            <param-name>pdfBitDepth</param-name>
            <param-value>24</param-value>
        </init-param>
        <init-param>
            <param-name>pdfDPI</param-name>
            <param-value>150</param-value>
        </init-param>
        <init-param>
            <param-name>pdfFormat</param-name>
            <param-value>TIFF_LZW</param-value>
        </init-param>
        <init-param>
            <param-name>docxBitDepth</param-name>
            <param-value>24</param-value>
        </init-param>
        <init-param>
            <param-name>docxDPI</param-name>
            <param-value>150</param-value>
        </init-param>
        <init-param>
            <param-name>docxFormat</param-name>
            <param-value>TIFF_LZW</param-value>
        </init-param>
        <init-param>
            <param-name>wordBitDepth</param-name>
            <param-value>24</param-value>
        </init-param>
        <init-param>
            <param-name>wordDPI</param-name>
            <param-value>150</param-value>
        </init-param>
        <init-param>
            <param-name>wordFormat</param-name>
            <param-value>TIFF_LZW</param-value>
        </init-param>
        <init-param>
            <param-name>xlsBitDepth</param-name>
            <param-value>24</param-value>
        </init-param>
        <init-param>
            <param-name>xlsDPI</param-name>
            <param-value>150</param-value>
        </init-param>
        <init-param>
            <param-name>xlsFormat</param-name>
            <param-value>TIFF_LZW</param-value>
        </init-param>
        <init-param>
            <param-name>xlsWidth</param-name>
            <param-value>14</param-value>
        </init-param>
        <init-param>
            <param-name>xlsHeight</param-name>
            <param-value>11</param-value>
        </init-param>
        <init-param>
            <param-name>xlsxWidth</param-name>
            <param-value>14</param-value>
        </init-param>
        <init-param>
            <param-name>xlsxHeight</param-name>
            <param-value>11</param-value>
        </init-param>
        <init-param>
            <param-name>vectorPDF</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>tmpDir</param-name>
            <param-value>/tmp/</param-value>
        </init-param>
        <init-param>
            <param-name>saveAnnotationsAsXml</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>clearCacheOnSave</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>annotationOutputFormat</param-name>
            <param-value>snowbound</param-value>
        </init-param>
        <init-param>
            <param-name>supportRedactions</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>svgExclusions</param-name>
            <param-value>ODT,PCL_1,PPTX,ASCII,PCL_5</param-value>
            <!-- a comma-separated list of format names. i.e. MODCA_IOCA,PDF -->
        </init-param>
        <init-param>
            <param-name>customImageRubberStamps</param-name>
            <param-value>Approved,Confidential,Denied,InitialHere,Pending,Received,SignHere,Urgent,DateTime
            </param-value>
        </init-param>
        <init-param>
            <param-name>Approved</param-name>
            <param-value>Approved,535,293,http://repovm:8083/VirtualViewerJavaHTML5/resources/stamps/Approved.png
            </param-value>
        </init-param>
        <init-param>
            <param-name>Confidential</param-name>
            <param-value>
                Confidential,593,285,http://repovm:8083/VirtualViewerJavaHTML5/resources/stamps/Confidential.png
            </param-value>
        </init-param>
        <init-param>
            <param-name>Denied</param-name>
            <param-value>Denied,448,287,http://repovm:8083/VirtualViewerJavaHTML5/resources/stamps/Denied.png
            </param-value>
        </init-param>
        <init-param>
            <param-name>InitialHere</param-name>
            <param-value>Initial
                Here,682,192,http://repovm:8083/VirtualViewerJavaHTML5/resources/stamps/InitialHere.png
            </param-value>
        </init-param>
        <init-param>
            <param-name>Pending</param-name>
            <param-value>Pending,675,282,http://repovm:8083/VirtualViewerJavaHTML5/resources/stamps/Pending.png
            </param-value>
        </init-param>
        <init-param>
            <param-name>Received</param-name>
            <param-value>Received,681,269,http://repovm:8083/VirtualViewerJavaHTML5/resources/stamps/Received.png
            </param-value>
        </init-param>
        <init-param>
            <param-name>SignHere</param-name>
            <param-value>Sign Here,584,292,http://repovm:8083/VirtualViewerJavaHTML5/resources/stamps/SignHere.png
            </param-value>
        </init-param>
        <init-param>
            <param-name>Urgent</param-name>
            <param-value>Urgent,589,274,http://repovm:8083/VirtualViewerJavaHTML5/resources/stamps/Urgent.png
            </param-value>
        </init-param>
        <init-param>
            <param-name>DateTime</param-name>
            <param-value>Current
                Date/Time,300,30,http://repovm:8083/VirtualViewerJavaHTML5/resources/stamps/DateTime.png
            </param-value>
        </init-param>
        <init-param>
            <param-name>validNetworkPrinters</param-name>
            <param-value></param-value>
        </init-param>
        <!--
        <init-param>
            <param-name>smtpServer</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>smtpUsername</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>smtpPassword</param-name>
            <param-value></param-value>
        </init-param>
        -->
        <!--
        <init-param>
            <param-name>Access-Control-Allow-Origin</param-name>
            <param-value>http://firstallowedhost.com:8080, http://secondallowedhost.com:8080</param-value>
        </init-param>

        <init-param>
            <param-name>Access-Control-Allow-Headers</param-name>
            <param-value>content-type, accept</param-value>
        </init-param>

        <init-param>
            <param-name>Access-Control-Allow-Credentials</param-name>
            <param-value>true</param-value>
        </init-param>
        -->
    </servlet>
    <!--end of integrated server parameters-->
    <servlet>
        <servlet-name>DateTimePngServlet</servlet-name>
        <servlet-class>com.armedia.acm.snowbound.DateTimePngServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/AjaxServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DateTimePngServlet</servlet-name>
        <url-pattern>/resources/stamps/DateTime.png</url-pattern>
    </servlet-mapping>

    <env-entry>
        <env-entry-name>snowboundLicensePath</env-entry-name>
        <env-entry-value>/opt/apache-tomcat-snowbound/webapps/VirtualViewerJavaHTML5/WEB-INF/lib/SnowboundLicense.jar
        </env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
</web-app>
