<div ng-controller="Cases.MainController">
    <div class="container-fluid">
        <adf-dashboard
                name="{{dashboard.name}}"
                collapsible="{{dashboard.collapsible}}"
                maximizable="{{dashboard.maximizable}}"
                structure="{{dashboard.structure}}"
                adf-model="dashboard.model"/>
    </div>
    <!--<div ng-repeat="component in components">-->
    <!--<div ng-if="component.enabled" ng-include="'modules/cases/views/components/case-'+ component.id  +'.client.view.html'"></div>-->
    <!--</div>-->

    <!--<div class="tab-content">-->

    <!--<div class="panel panel-success panel-grid">-->
    <!--<div class="panel-heading">-->
    <!--<div class="panel-title ng-binding">Locations-->
    <!--<div class="pull-right">-->
    <!--<span class=""><i class="fa fa-plus"></i></span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-body">{{caseInfo.details}}-->
    <!--</div>-->
    <!--</div>-->


    <!--<div class="panel panel-success panel-grid">-->
    <!--<div class="panel-heading">-->
    <!--<div class="panel-title ng-binding">People-->
    <!--<div class="pull-right">-->
    <!--<span class=""><i class="fa fa-plus"></i></span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-body">{{peopleNames}}-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
</div>