<div ng-controller="Cases.ActionsController">
    <div class="col-xs-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="restricted" ng-click="onClickRestrict($event)">
                {{'cases.comp.actions.restrict' | translate}}
            </label>
        </div>
    </div>

    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-sm btn-default" ng-click="createNew()"><i
                    class="fa fa-edit"></i> {{'cases.comp.actions.new.button' | translate}}
            </button>
            <button class="btn btn-sm btn-default" ng-click="edit(caseInfo)"><i class="fa fa-edit"></i>
                {{'cases.comp.actions.edit.button' |
                translate}}
            </button>
            <button class="btn btn-sm btn-default" ng-click="changeStatus(caseInfo)"><i
                    class="fa fa-edit"></i> {{'cases.comp.actions.status.button' | translate}}
            </button>
            <button class="btn btn-sm btn-default" ng-click="reinvestigate()"><i class="fa fa-reply"></i>
                {{'cases.comp.actions.reinvestigate.button' | translate}}
            </button>
            <button class="btn btn-sm btn-default" ng-show="showBtnUnsubscribe" ng-click="unsubscribe(caseInfo)"><i
                    class="fa fa-bullhorn"></i>
                {{'cases.comp.actions.unsubscribe.button' | translate}}
            </button>
            <button class="btn btn-sm btn-default" ng-show="showBtnSubscribe" ng-click="subscribe(caseInfo)"><i
                    class="fa fa-bullhorn"></i>
                {{'cases.comp.actions.subscribe.button' | translate}}
            </button>
            <button class="btn btn-sm btn-default" ng-click="merge()"><i class="fa fa-random"></i>
                {{'cases.comp.actions.merge.button' |
                translate}}
            </button>
            <button class="btn btn-sm btn-default" ng-click="split()"><i class="fa fa-code-fork"></i>
                {{'cases.comp.actions.split.button' |
                translate}}
            </button>
        </div>
    </div>
</div>