<div ng-controller="Cases.InfoController">
    <div class="clearfix">
        <div class="row">
            <div class="col-xs-6">
                <h4><a href="#" editable-text="caseInfo.title" onaftersave="updateTitle()">{{caseInfo.title || "Unknown"
                    }}</a> ({{caseInfo.status}})</h4></div>
            <div class="col-xs-6  text-right">
                <h4>{{caseInfo.caseNumber}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-select="caseInfo.caseType" onaftersave="updateCaseType()"
                       e-ng-options="c.value as c.text for c in caseTypes">{{caseInfo.caseType ||
                        'Unknown'}}</a>
                </div>
                <small class="text-muted">Case Type</small>
            </div>
		   <!--<b>Priority: </b><a href="#" editable-select="caseInfo.priority" e-ng-options="p as p for p in priorities">{{ caseInfo.priority  || 'Unknown'}}</a>-->
           <!--<select ng-model="myselect" ng-options="o as o for o in myoptions"></select>-->
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">{{caseInfo.created | date: "MM/dd/yyyy"}}</div>
                <small class="text-muted">Created Date</small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-select="caseInfo.priority" onaftersave="updatePriority()"
                       e-ng-options="p.value as p.text for p in priorities">{{ caseInfo.priority ||
                        'Unknown'}}</a>
                </div>
                <small class="text-muted">Priority</small>
            </div>
		  <!--<b>Due Date: </b><a href="#" editable-bsdate="caseInfo.dueDate" e-datepicker-popup="MM/dd/yyyy">{{ caseInfo.dueDate | date: "MM/dd/yyyy" || 'Unknown' }}</a>-->
		  <!--<div class="clearfix">-->
          <!--<div class="col-md-4"><b>{{'cases.comp.info.courtRoomName' | translate}}</b> {{caseInfo.courtroomName}}</div>-->
          <!--</div>-->
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-select="assignee" onaftersave="updateAssignee()"
                       e-ng-options="a.value as a.text for a in assignableUsers">{{assignee || 'Unknown'}}</a>
                </div>
                <small class="text-muted">Assigned To</small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-select="owningGroup" onaftersave="updateOwningGroup()"
                       e-ng-options="o.value as o.text for o in owningGroups"> {{owningGroup || 'Unknown'}}</a>
                </div>
                <small class="text-muted">Owning Group</small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    <a href="#" editable-date="caseInfo.dueDate" onaftersave="updateDueDate()">{{ caseInfo.dueDate |
                        date: "MM/dd/yyyy" || 'Unknown' }}</a>
                </div>
                <small class="text-muted">Due Date</small>
            </div>
        </div>
    </div>
</div>
