<div ng-controller="CaseInfoController">
    <div class="clearfix">
        <div class="col-sm-6">
            <h4 ng-cloak><a href="#" editable-text="caseInfo.title" onaftersave="updateTitle()">{{caseInfo.title || "Unknown" }}</a>({{caseInfo.status}})</h4>
        </div>
        <div class="col-sm-6">
            <!--<b>{{'cases.comp.info.caseId' | translate}}</b>{{kase.name}}-->
            <!--<b>{{'cases.comp.info.caseNumber' | translate}}</b>{{caseInfo.caseNumber}}-->
            <b>{{'cases.comp.info.caseId' | translate}}</b>{{caseInfo.caseNumber}}
        </div>

        <div class="col-sm-6">
            <b>Create Date: </b>{{caseInfo.created | date: "MM/dd/yyyy"}}
        </div>
        <div class="col-sm-6">
            <b>Priority: </b><a href="#" editable-select="caseInfo.priority" e-ng-options="p.value as p.text for p in priorities">{{ caseInfo.priority  || 'Unknown'}}</a>
        </div>
        <div class="col-sm-6">
            <b>Due Date: </b><a href="#" editable-date="caseInfo.dueDate">{{ caseInfo.dueDate | date: "MM/dd/yyyy" || 'Unknown' }}</a>
            <!--<b>Due Date: </b><a href="#" editable-bsdate="caseInfo.dueDate" e-datepicker-popup="MM/dd/yyyy">{{ caseInfo.dueDate | date: "MM/dd/yyyy" || 'Unknown' }}</a>-->
        </div>


    </div>

    <!--<div class="clearfix">-->
        <!--<div class="col-md-4"><b>{{'cases.comp.info.courtRoomName' | translate}}</b> {{caseInfo.courtroomName}}</div>-->
    <!--</div>-->
</div>