<div ng-controller="CaseParticipantsController">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">{{"cases.comp.participants.title" | translate}}</div>
        </div>
        <div class="panel-body">
            <!--<div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-auto-resize class="grid"></div>-->
            <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination ui-grid-edit class="grid"></div>
        </div>
    </div>

</div>