<div ng-controller="Cases.ViewerController">
    <section class="vbox">
        <section class="scrollable">
            <div class="wrapper bg-empty clearfix">
                <div class="row">
                    <div class="clearfix">
                        <div class="col-xs-2 b-r">
                            <div class="h4 font-bold">
                                <p>{{ecmFile.creator | mapKeyValue: userList:'object_id_s':'name' || 'Unknown'}}</p>
                            </div>
                            <small class="text-muted">Owner</small>
                        </div>
                        <div class="col-xs-2 b-r">
                            <div class="h4 font-bold">
                                <p>{{ecmFile.created | date: "MM/dd/yyyy" || 'Unknown'}}</p>
                            </div>
                            <small class="text-muted">Create Date</small>
                        </div>
                        <div class="col-xs-3 b-r">
                            <div class="h4 font-bold">
                                <p>{{assignee | mapKeyValue: userList:'object_id_s':'name' || 'Unknown'}}</p>
                            </div>
                            <small class="text-muted">Assigned To</small>
                        </div>
                        <div class="col-xs-3 b-r">
                            <div class="h4 font-bold">
                                <p>{{ecmFile.fileType || 'Unknown'}}</p>
                            </div>
                            <small class="text-muted">Type</small>
                        </div>
                        <div class="col-xs-2">
                            <div class="h4 font-bold">
                                <p>{{ecmFile.status || 'Unknown'}}</p>
                            </div>
                            <small class="text-muted">State</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <section class="panel b-a">
                            <div id="divDocViewer" style="width:100%">
                                <div id="divDocViewerHeader" style="width:100%">
                                    <p>Document Viewer</p>
                                </div>
                                <iframe ng-src="{{snowboundUrl}}" class="case-snowbound-iframe" allowfullscreen
                                        webkitallowfullscreen>
                                </iframe>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>