<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="acmPluginController" class="com.armedia.acm.pluginmanager.web.AcmPluginController">
        <property name="acmPluginManager" ref="acmPluginManager"/>
    </bean>

    <bean id="acmPluginRoleBasedAccessInterceptor" class="com.armedia.acm.pluginmanager.web.AcmPluginRoleBasedAccessInterceptor">
        <property name="acmPluginManager" ref="acmPluginManager"/>
    </bean>
</beans>
