<search-modal header="{{'complaints.userOrGroupSearch.title' | translate}}"
              cancel="{{'complaints.userOrGroupSearch.cancelButton' | translate}}"
              ok="{{'complaints.userOrGroupSearch.confirmButton' | translate}}"
              search-placeholder="{{'complaints.userOrGroupSearch.search.placeholder' | translate}}"
              search="{{'complaints.userOrGroupSearch.search.btn' | translate}}"
              filter="{{filter}}"
              extra-filter="{{extraFilter}}"
              config="config"
              modal-instance="modalInstance"
/>
