<div ng-controller="Complaints.MainController">
    <div class="container-fluid">
        <adf-dashboard
                name="{{dashboard.name}}"
                collapsible="{{dashboard.collapsible}}"
                maximizable="{{dashboard.maximizable}}"
                structure="{{dashboard.structure}}"
                adf-model="dashboard.model"/>
    </div>
    <!--<div ng-repeat="component in components">-->
    <!--<div ng-if="component.enabled"-->
    <!--ng-include="'modules/complaints/views/components/complaint-'+ component.id  +'.client.view.html'"></div>-->
    <!--</div>-->
</div>