<div class="modal-header">
    <h3 ng-hide="isEdit">
        <span translate>complaints.comp.locations.modal.addLocation</span>
    </h3>

    <h3 ng-show="isEdit">
        <span translate>complaints.comp.locations.modal.editLocation</span>
    </h3>

</div>
<div class="modal-body">
    <form name="locationForm">
        <div>
            <span translate>complaints.comp.locations.modal.type.label</span>
        </div>
        <select
                ng-model="location.type"
                ng-options="item.type as item.name for item in location.addressTypes"></select>

        <div>
            <span translate>complaints.comp.locations.modal.street.label</span>
        </div>
        <input type="text" ng-model="location.streetAddress">

        <div>
            <span translate>complaints.comp.locations.modal.city.label</span>
        </div>
        <input type="text" ng-model="location.city">

        <div>
            <span translate>complaints.comp.locations.modal.state.label</span>
        </div>
        <input type="text" ng-model="location.state">

        <div>
            <span translate>complaints.comp.locations.modal.zip.label</span>
        </div>
        <input type="text" ng-model="location.zip">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="onClickCancel()">
        <span translate>complaints.comp.locations.modal.btnCancel.text</span>
    </button>
    <button class="btn btn-default" ng-click="onClickOk()" ng-disabled="locationForm.$invalid">
        <span translate>complaints.comp.locations.modal.btnOk.text</span>
    </button>
</div>