<div class="modal-header">
    <h3 ng-hide="isEdit">
        <span translate>complaints.comp.locations.modal.addLocation</span>
    </h3>

    <h3 ng-show="isEdit">
        <span translate>complaints.comp.locations.modal.editLocation</span>
    </h3>

</div>
<div class="modal-body">
    <form name="locationForm">
        <div>
            <label for="location.type" translate>complaints.comp.locations.modal.type.label</label>
        </div>
        <select
                id="location.type"
                ng-model="location.type"
                ng-options="item.key as item.value | translate for item in addressTypes"></select>

        <div>
            <label for="location.streetAddress" translate>complaints.comp.locations.modal.street.label</label>
        </div>
        <input id="location.streetAddress" type="text" ng-model="location.streetAddress">

        <div>
            <label for="location.city" translate>complaints.comp.locations.modal.city.label</label>
        </div>
        <input id="location.city" type="text" ng-model="location.city">

        <div>
            <label for="location.state" translate>complaints.comp.locations.modal.state.label</label>
        </div>
        <input type="text" id="location.state" ng-model="location.state">

        <div>
            <label for="location.zip" translate>complaints.comp.locations.modal.zip.label</label>
        </div>
        <input id="location.zip" type="text" ng-model="location.zip">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        <span translate>complaints.comp.locations.modal.btnCancel.text</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()" ng-disabled="locationForm.$invalid">
        <span translate>complaints.comp.locations.modal.btnOk.text</span>
    </button>
</div>