<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    
    <bean id="caseFileFactory" class="com.armedia.acm.form.casefile.service.CaseFileFactory">
    	<property name="acmHistoryDao" ref="acmHistoryDao" />
    	<property name="objectAssociationDao" ref="objectAssociationDao" />
    	<property name="ecmFileDao" ref="ecmFileDao" />
    	<property name="ecmFileService" ref="ecmFileService" />    	
    </bean>
    
    <bean id="caseFileService" class="com.armedia.acm.form.casefile.service.CaseFileService">
    	<property name="caseFileFactory" ref="caseFileFactory"/>
    	<property name="objectAssociationDao" ref="objectAssociationDao" />
    	<property name="ecmFileDao" ref="ecmFileDao" />
    	<property name="ecmFileService" ref="ecmFileService" />
    </bean>
    
    <bean id="caseFilePSFactory" class="com.armedia.acm.form.casefile.service.CaseFilePSFactory">
    	<property name="acmHistoryDao" ref="acmHistoryDao" />
    	<property name="objectAssociationDao" ref="objectAssociationDao" />
    	<property name="ecmFileDao" ref="ecmFileDao" />
    	<property name="ecmFileService" ref="ecmFileService" />
        <property name="formService" ref="caseFilePSService"/>
    </bean>
    
    <bean id="caseFilePSService" class="com.armedia.acm.form.casefile.service.CaseFilePSService">
    	<property name="caseFilePSFactory" ref="caseFilePSFactory"/>
    	<property name="objectAssociationDao" ref="objectAssociationDao" />
    	<property name="ecmFileDao" ref="ecmFileDao" />
    	<property name="ecmFileService" ref="ecmFileService" />
    </bean>
    
    <bean id="caseFileUpdatedListener" class="com.armedia.acm.form.casefile.service.CaseFileUpdatedListener">
    	<property name="properties" ref="acm-forms-properties" />
    	<property name="caseFileService" ref="caseFileService" />
    	<property name="caseFilePSService" ref="caseFilePSService" />
    </bean>

</beans>