<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="exemptionCodeDao" class="com.armedia.acm.services.exemption.dao.ExemptionCodeDao"/>

    <bean id="exemptionStatuteDao" class="com.armedia.acm.services.exemption.dao.ExemptionStatuteDao"/>

    <bean id="exemptionService" class="com.armedia.acm.services.exemption.service.impl.ExemptionServiceImpl">
        <property name="exemptionCodeDao" ref="exemptionCodeDao"/>
        <property name="exemptionCodeAndStatuteEventPublisher" ref="exemptionCodeAndStatuteEventPublisher"/>
    </bean>

    <bean id="exemptionStatuteService" class="com.armedia.acm.services.exemption.service.impl.ExemptionStatuteServiceImpl">
        <property name="exemptionStatuteDao" ref="exemptionStatuteDao"/>
        <property name="exemptionCodeAndStatuteEventPublisher" ref="exemptionCodeAndStatuteEventPublisher"/>
        <property name="ecmFileDao" ref="ecmFileDao"/>
    </bean>

    <bean id="exemptionCodeAndStatuteEventPublisher" class="com.armedia.acm.services.exemption.model.ExemptionCodeAndStatuteEventPublisher"/>

    <bean id="documentRedactionEventPublisher" class="com.armedia.acm.services.exemption.model.DocumentRedactionEventPublisher"/>

    <bean id="documentExemptionService" class="com.armedia.acm.services.exemption.service.impl.DocumentExemptionServiceImpl">
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="exemptionCodeDao" ref="exemptionCodeDao"/>
        <property name="documentRedactionEventPublisher" ref="documentRedactionEventPublisher"/>
    </bean>

</beans>
