<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="wopiUsersApiController" class="com.armedia.acm.plugins.wopi.api.WopiUserApiController">
        <property name="wopiService" ref="wopiAcmService"/>
    </bean>

    <bean id="wopiFilesApiController" class="com.armedia.acm.plugins.wopi.api.WopiFilesApiController">
        <property name="wopiService" ref="wopiAcmService"/>
        <property name="permissionEvaluator" ref="arkPermissionEvaluator"/>
    </bean>

    <bean id="wopiUIController" class="com.armedia.acm.plugins.wopi.web.WopiHostUIController" scope="refresh">
        <aop:scoped-proxy/>
        <property name="wopiConfig" ref="wopiConfig"/>
        <property name="tokenService" ref="authenticationTokenService"/>
        <property name="applicationConfig" ref="applicationProperties"/>
    </bean>

</beans>
