<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="wopiAcmService" class="com.armedia.acm.plugins.wopi.service.WopiAcmService">
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="fileTransaction" ref="ecmFileTransaction"/>
        <property name="permissionEvaluator" ref="arkPermissionEvaluator"/>
        <property name="objectLockingManager" ref="acmObjectLockingManager"/>
        <property name="objectLockService" ref="objectLockService"/>
        <property name="wopiConfig" ref="wopiConfig"/>
        <property name="tokenService" ref="authenticationTokenService"/>
    </bean>

    <bean id="wopiConfig" class="com.armedia.acm.plugins.wopi.model.WopiConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>
</beans>