<div>
    <div class="module-content">
        <div class="content-body">
            <div class="module-header">
                <h3>
                    <span>{{dashboard.model.title}}</span>
                    {{widgetFilter}}
                </h3>
            </div>
            <div class="well-sm">
                <div class="container-fluid">
                    <adf-dashboard
                            name="{{dashboard.name}}"
                            collapsible="{{dashboard.collapsible}}"
                            maximizable="{{dashboard.maximizable}}"
                            structure="{{dashboard.structure}}"
                            adf-model="dashboard.model"
                            adf-widget-filter="widgetFilter"/>
                </div>
            </div>
        </div>
    </div>
</div>