<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <task:annotation-driven />

    <context:property-placeholder
            properties-ref="lawEnforcementAppProperties"
            ignore-unresolvable="true"
            local-override="false"
            order="18372"/>

    <bean id="lawEnforcementAppProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.acm/lawEnforcementApp.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
                <prop key="create.complaint.button.text">Complaint</prop>
                <prop key="complaint.navigator.tab.text">Complaints</prop>
                <prop key="complaint.list.page.title">Complaints | ACM | Armedia Case Management</prop>
                <prop key="complaint.list.page.short.text">Complaints</prop>
                <prop key="complaint.list.page.long.text">Complaints</prop>
                <prop key="complaint.wizard.page.title">Complaint | ACM | Armedia Case Management</prop>
                <prop key="complaint.wizard.page.short.text">New Complaint</prop>
                <prop key="complaint.wizard.page.long.text">New Complaint</prop>
                <prop key="create.casefile.button.text">Case File</prop>
            </props>
        </property>
    </bean>

    <import resource="file:${user.home}/.acm/app-config.xml"/>
    
    <!-- Reload .properties files -->
    <bean id="reloadPropertiesFiles" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<bean id="reloadProperties" class="org.springframework.scheduling.timer.ScheduledTimerTask">
				<property name="period" value="1000"/>
				<property name="runnable">
					<bean class="net.unicon.springframework.addons.properties.ReloadConfiguration">
						<property name="reconfigurableBeans">
							<list>
								<ref bean="acm-reports-properties"/>
							</list>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>


</beans>