<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <task:annotation-driven />

    <context:property-placeholder
            properties-ref="lawEnforcementAppProperties"
            ignore-unresolvable="true"
            local-override="false"
            order="18372"/>

    <bean id="lawEnforcementAppProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.acm/lawEnforcementApp.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
                <prop key="create.complaint.button.text">Complaint</prop>
                <prop key="complaint.navigator.tab.text">Complaints</prop>
                <prop key="complaint.list.page.title">Complaints | ACM | Armedia Case Management</prop>
                <prop key="complaint.list.page.short.text">Complaints</prop>
                <prop key="complaint.list.page.long.text">Complaints</prop>
                <prop key="complaint.wizard.page.title">Complaint | ACM | Armedia Case Management</prop>
                <prop key="complaint.wizard.page.short.text">New Complaint</prop>
                <prop key="complaint.wizard.page.long.text">New Complaint</prop>
            </props>
        </property>
    </bean>

    <bean id="acmApplication" class="com.armedia.acm.core.AcmApplication">
        <property name="applicationName" value="Law Enforcement Application"/>
        <property name="topbarActions">
            <list>
                <ref bean="createComplaintAction"/>
                <ref bean="createTaskAction"/>
            </list>
        </property>
        <property name="navigatorTabs">
            <list>
                <ref bean="dashboardNavigatorAction"/>
                <ref bean="complaintNavigatorAction"/>
                <ref bean="taskNavigatorAction"/>
                <ref bean="searchNavigatorAction"/>
                <ref bean="reportNavigatorAction"/>
                <ref bean="adminNavigatorAction"/>
            </list>
        </property>
        <property name="businessObjects">
            <list>
                <ref bean="complaintObjectType"/>
                <ref bean="taskObjectType"/>
            </list>
        </property>
    </bean>

    <!-- business objects -->
    <bean id="complaintObjectType" class="com.armedia.acm.core.AcmObjectType">
        <property name="name" value="Complaint"/>
        <property name="description" value="Documentation of an event that may need to be investigated."/>
        <property name="participantTypes">
            <list>
                <ref bean="complaintParticipantOwner"/>
                <ref bean="complaintParticipantSupervisor"/>
                <ref bean="complaintParticipantGroup"/>
                <ref bean="complaintParticipantApprover"/>
            </list>
        </property>
        <property name="states">
            <list>
                <ref bean="complaintDraftState"/>
                <ref bean="complaintReviewState"/>
                <ref bean="complaintActiveState"/>
            </list>
        </property>
    </bean>

    <bean id="taskObjectType" class="com.armedia.acm.core.AcmObjectType">
        <property name="name" value="Task"/>
        <property name="description" value="A unit of work that must be completed."/>
        <property name="participantTypes">
            <list>
                <ref bean="taskAssignee"/>
                <ref bean="taskOriginator"/>
            </list>
        </property>
        <property name="states">
            <list>
                <ref bean="taskAssignedState"/>
                <ref bean="taskCompletedState"/>
                <ref bean="taskUnassignedState"/>
            </list>
        </property>
    </bean>
    <!-- end of business objects -->

    <!-- complaint participants -->
    <bean id="complaintParticipantOwner" class="com.armedia.acm.core.AcmParticipantType">
        <property name="name" value="Complaint Owner"/>
        <property name="description" value="The user who is responsible for completing the complaint."/>
        <property name="type" value="SINGLE_USER"/>
        <property name="requiredOnACL" value="true"/>
    </bean>
    <bean id="complaintParticipantSupervisor" class="com.armedia.acm.core.AcmParticipantType">
        <property name="name" value="Complaint Supervisor"/>
        <property name="description" value="The user who has oversight over how the complaint is completed."/>
        <property name="type" value="SINGLE_USER"/>
        <property name="requiredOnACL" value="false"/>
    </bean>
    <bean id="complaintParticipantApprover" class="com.armedia.acm.core.AcmParticipantType">
        <property name="name" value="Complaint Approver"/>
        <property name="description" value="The users allowed to approve the complaint."/>
        <property name="type" value="MULTIPLE_USERS"/>
        <property name="requiredOnACL" value="false"/>
    </bean>
    <bean id="complaintParticipantGroup" class="com.armedia.acm.core.AcmParticipantType">
        <property name="name" value="Complaint Group"/>
        <property name="description" value="The group responsible for this type of complaint."/>
        <property name="type" value="SINGLE_LDAP_GROUP"/>
        <property name="requiredOnACL" value="false"/>
    </bean>
    <!-- end of complaint participants -->

    <!-- task participants -->
    <bean id="taskAssignee" class="com.armedia.acm.core.AcmParticipantType">
        <property name="name" value="Task Assignee"/>
        <property name="description" value="The user who must complete the task."/>
        <property name="type" value="SINGLE_USER"/>
        <property name="requiredOnACL" value="false"/>
    </bean>
    <bean id="taskOriginator" class="com.armedia.acm.core.AcmParticipantType">
        <property name="name" value="Task Originator"/>
        <property name="description" value="The user who created the task."/>
        <property name="type" value="SINGLE_USER"/>
        <property name="requiredOnACL" value="true"/>
    </bean>
    <!-- end of task participants -->


    <!-- complaint states -->
    <bean id="complaintDraftState" class="com.armedia.acm.core.AcmObjectState">
        <property name="name" value="DRAFT"/>
        <property name="description" value="A complaint that is still being written and has not been submitted for review."/>
        <property name="validActions">
            <list>
                <ref bean="saveComplaintAction"/>
                <ref bean="submitComplaintForApprovalAction"/>
                <ref bean="addDocumentToComplaintAction"/>
            </list>
        </property>
    </bean>
    <bean id="complaintReviewState" class="com.armedia.acm.core.AcmObjectState">
        <property name="name" value="IN APPROVAL"/>
        <property name="description" value="A complaint that is still being written and has not been submitted for review."/>
        <property name="validActions">
            <list>
                <ref bean="addDocumentToComplaintAction"/>
                <ref bean="approveComplaintAction"/>
            </list>
        </property>
    </bean>
    <bean id="complaintActiveState" class="com.armedia.acm.core.AcmObjectState">
        <property name="name" value="ACTIVE"/>
        <property name="description" value="A complaint that is actively being worked."/>
        <property name="validActions">
            <list>
                <ref bean="addDocumentToComplaintAction"/>
            </list>
        </property>
    </bean>
    <!-- end of complaint states -->

    <!-- task states -->
    <bean id="taskAssignedState" class="com.armedia.acm.core.AcmObjectState">
        <property name="name" value="ASSIGNED"/>
        <property name="description" value="A that is assigned to a user to complete."/>
        <property name="validActions">
            <list>
                <ref bean="taskCompleteAction"/>
            </list>
        </property>
    </bean>
    <bean id="taskUnassignedState" class="com.armedia.acm.core.AcmObjectState">
        <property name="name" value="UNASSIGNED"/>
        <property name="description" value="A task that is not assigned to any user."/>
        <property name="validActions">
            <list>
                <!-- note we have not implemented Assign Task yet -->
            </list>
        </property>
    </bean>
    <bean id="taskCompletedState" class="com.armedia.acm.core.AcmObjectState">
        <property name="name" value="COMPLETE"/>
        <property name="description" value="A task that has been completed"/>
        <property name="validActions">
            <list>
            </list>
        </property>
    </bean>

    <!-- end of task states -->


    <!-- task actions -->
    <bean id="createTaskAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Task"/>
        <property name="iconName" value="i-checkmark"/>
        <property name="url" value="/plugin/task/wizard"/>
        <property name="requiredPrivilege" value="acm-complaint-create"/>
    </bean>
    <bean id="taskNavigatorAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Tasks"/>
        <property name="iconName" value="i-checkmark"/>
        <property name="url" value="/plugin/task"/>
        <property name="requiredPrivilege" value="acm-complaint-list"/>
    </bean>
    <bean id="taskCompleteAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Complete"/>
        <property name="iconName" value="fa-check"/>
        <property name="url" value="/api/{version}/plugin/task/completeTask/{taskId}"/>
        <property name="requiredPrivilege" value="acm-task-complete"/>
    </bean>
    <bean id="taskSignAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Sign"/>
        <property name="iconName" value="fa-check"/>
        <property name="url" value="/api/{version}/plugin/task/signTask/{taskId}"/>
        <property name="requiredPrivilege" value="acm-task-sign"/>
    </bean>
    <!-- end of task actions -->
    
    
    <!-- Electronic Signature Actions -->
    <bean id="signatureConfirmAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Sign"/>
        <property name="iconName" value="fa-check"/>
        <property name="url" value="/api/{version}/plugin/signature/confirm/{objectType}/{objectId}"/>
        <property name="requiredPrivilege" value="acm-signature-confirm"/>
    </bean>

    <!-- Actions -->
    <bean id="createComplaintAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="${create.complaint.button.text}"/>
        <property name="iconName" value="i-notice"/>
        <property name="url" value="/plugin/complaint/wizard"/>
        <property name="requiredPrivilege" value="acm-complaint-create"/>
    </bean>
    <bean id="complaintNavigatorAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="${complaint.navigator.tab.text}"/>
        <property name="iconName" value="i-notice"/>
        <property name="url" value="/plugin/complaint"/>
        <property name="requiredPrivilege" value="acm-complaint-list"/>
    </bean>
    <bean id="complaintOldNavigatorAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="${complaint.navigator.tab.text}"/>
        <property name="iconName" value="i-notice"/>
        <property name="url" value="/plugin/complaint/old"/>
        <property name="requiredPrivilege" value="acm-complaint-list"/>
    </bean>
    <bean id="saveComplaintAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Save"/>
        <property name="iconName" value="fa-save"/>
        <property name="url" value="/api/{version}/plugin/complaint"/>
        <property name="requiredPrivilege" value="acm-complaint-create"/>
    </bean>
    <bean id="submitComplaintForApprovalAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Submit for Approval"/>
        <property name="iconName" value="fa-check"/>
        <property name="url" value="/api/{version}/plugin/complaint/workflow"/>
        <property name="requiredPrivilege" value="acm-complaint-create"/>
    </bean>
    <bean id="addDocumentToComplaintAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Add Document"/>
        <property name="url" value="/api/{version}/plugin/complaint/file"/>
        <property name="requiredPrivilege" value="acm-complaint-create"/>
    </bean>
    <bean id="approveComplaintAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Approve Complaint"/>
        <property name="requiredPrivilege" value="acm-complaint-approve"/>
    </bean>
    <bean id="searchNavigatorAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Search"/>
        <property name="iconName" value="i-search2"/>
        <property name="url" value="/plugin/search"/>
        <property name="requiredPrivilege" value="acm-search"/>
    </bean>

    <bean id="dashboardNavigatorAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Dashboard"/>
        <property name="iconName" value="i-statistics"/>
        <property name="url" value="/plugin/dashboard"/>
        <property name="requiredPrivilege" value="acm-dashboard"/>
    </bean>
    <bean id="reportNavigatorAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Report"/>
        <property name="iconName" value="i-stats"/>
        <property name="url" value="/plugin/report"/>
        <property name="requiredPrivilege" value="acm-report"/>
    </bean>
    <bean id="adminNavigatorAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Administration"/>
        <!--<property name="iconName" value="i-settings"/>-->
        <property name="iconName" value="fa-wrench"/>
        <property name="url" value="/plugin/admin"/>
        <property name="requiredPrivilege" value="acm-admin"/>
    </bean>
    <bean id="helloWorldNavigatorAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Hello World"/>
        <property name="iconName" value="i-world"/>
        <property name="url" value="/plugin/sample/helloWorld"/>
        <property name="requiredPrivilege" value="acm-hello-world"/>
    </bean>
    <bean id="armediaBlogNavigatorAction" class="com.armedia.acm.core.AcmUserAction">
        <property name="actionName" value="Armedia Blog"/>
        <property name="iconName" value="i-pencil"/>
        <property name="url" value="/plugin/sample/armediaBlog"/>
        <property name="requiredPrivilege" value="acm-blog"/>
    </bean>
    <!-- end of actions -->

    <!-- Page Descriptors -->
    <bean id="dashboardPageDescriptor" class="com.armedia.acm.web.AcmPageDescriptor">
        <property name="title" value="Dashboard | ACM | Armedia Case Management"/>
        <property name="descShort" value="Dashboard"/>
        <property name="descLong" value="Dashboard"/>
    </bean>
    <bean id="adminPageDescriptor" class="com.armedia.acm.web.AcmPageDescriptor">
        <property name="title" value="Admin | ACM | Armedia Case Management"/>
        <property name="descShort" value="Admin"/>
        <property name="descLong" value="Administration"/>
    </bean>
    <bean id="reportPageDescriptor" class="com.armedia.acm.web.AcmPageDescriptor">
        <property name="title" value="Report | ACM | Armedia Case Management"/>
        <property name="descShort" value="Report"/>
        <property name="descLong" value="Report"/>
    </bean>
    <bean id="searchPageDescriptor" class="com.armedia.acm.web.AcmPageDescriptor">
        <property name="title" value="Search | ACM | Armedia Case Management"/>
        <property name="descShort" value="Search"/>
        <property name="descLong" value="Search"/>
    </bean>


    <bean id="complaintPageDescriptor" class="com.armedia.acm.web.AcmPageDescriptor">
        <property name="title" value="${complaint.list.page.title}"/>
        <property name="descShort" value="${complaint.list.page.short.text}"/>
        <property name="descLong" value="${complaint.list.page.long.text}"/>
    </bean>
    <bean id="complaintListPageDescriptor" class="com.armedia.acm.web.AcmPageDescriptor">
        <property name="title" value="${complaint.list.page.title}"/>
        <property name="descShort" value="${complaint.list.page.short.text}"/>
        <property name="descLong" value="${complaint.list.page.long.text}"/>
    </bean>
    <bean id="complaintWizardPageDescriptor" class="com.armedia.acm.web.AcmPageDescriptor">
        <property name="title" value="${complaint.wizard.page.title}"/>
        <property name="descShort" value="${complaint.wizard.page.short.text}"/>
        <property name="descLong" value="${complaint.wizard.page.long.text}"/>
    </bean>

    <bean id="taskListPageDescriptor" class="com.armedia.acm.web.AcmPageDescriptor">
        <property name="title" value="Tasks | ACM | Armedia Case Management"/>
        <property name="descShort" value="Tasks"/>
        <property name="descLong" value="Tasks"/>
    </bean>
    <bean id="taskWizardPageDescriptor" class="com.armedia.acm.web.AcmPageDescriptor">
        <property name="title" value="Task | ACM | Armedia Case Management"/>
        <property name="descShort" value="New Task"/>
        <property name="descLong" value="New Task"/>
    </bean>

    <bean id="armediaBlogPageDescriptor" class="com.armedia.acm.web.AcmPageDescriptor">
        <property name="title" value="Armedia Blog | ACM | Armedia Case Management"/>
        <property name="descShort" value="Aremedia Blog"/>
        <property name="descLong" value="Aremedia Blog"/>
    </bean>
    <bean id="helloWorldPageDescriptor" class="com.armedia.acm.web.AcmPageDescriptor">
        <property name="title" value="Hello World | ACM | Armedia Case Management"/>
        <property name="descShort" value="Hello World"/>
        <property name="descLong" value="Hello World"/>
    </bean>
    <!-- end of Descriptors -->


    <!-- quick search configurations -->
    <bean id="complaintClass" class="java.lang.Class" factory-method="forName">
        <constructor-arg index="0" value="com.armedia.acm.plugins.complaint.model.Complaint"/>
    </bean>

    <bean id="complaintQuicksearchGenerator"
          class="com.armedia.acm.services.search.service.AcmQuickSearchJpaSolrGenerator"
          init-method="initBean">
        <property name="lastUpdatedPropertyFileLocation" value="${user.home}/.acm/complaintSolrLastMod.properties"/>
        <property name="entityClass" ref="complaintClass"/>
        <property name="objectType" value="Complaint"/>
        <property name="batchSize" value="50"/>
        <property name="idProperty" value="complaintId"/>
        <property name="ownerProperty" value="author"/>
        <property name="lastModifiedProperty" value="modified"/>
        <property name="quickSearchFieldToEntityPropertyMap">
            <map>
                <entry key="title_t" value="complaintTitle"/>
                <entry key="object_id_s" value="complaintId"/>
                <entry key="last_modified" value="modified"/>
                <entry key="create_dt" value="created"/>
                <entry key="name" value="complaintNumber"/>
                <entry key="status_s" value="status"/>
                <entry key="author" value="creator"/>
                <entry key="modifier_s" value="modifier"/>
            </map>
        </property>
        <property name="muleClient" ref="muleClient"/>
        <property name="dataAccessEntryService" ref="dataAccessEntryService"/>
        <property name="propertyFileManager">
            <bean class="com.armedia.acm.files.propertymanager.PropertyFileManager"/>
        </property>
    </bean>
</beans>