<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="calendarPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="Calendar Config Service"/>
        <property name="privileges">
            <list>
                <ref bean="acmEmailConfigurePrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>

                <!-- Administration API privileges. -->
                <bean id="emailConfigureTemplateUrlGet" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/email/configure/template"/>
                    <property name="requiredPrivilege" ref="acmEmailConfigurePrivilege"/>
                </bean>
                <bean id="emailConfigureTemplateUrlPut" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/service/email/configure/template"/>
                    <property name="requiredPrivilege" ref="acmEmailConfigurePrivilege"/>
                </bean>
                <bean id="emailConfigureTemplateUrlDelete" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/service/email/configure/template/{templateName}"/>
                    <property name="requiredPrivilege" ref="acmEmailConfigurePrivilege"/>
                </bean>

            </list>
        </property>
    </bean>

</beans>