<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    
    <bean id="acmTimesheetDao" class="com.armedia.acm.services.timesheet.dao.AcmTimesheetDao" />
    <bean id="acmTimeDao" class="com.armedia.acm.services.timesheet.dao.AcmTimeDao" />
	
	<bean id="timesheetService" class="com.armedia.acm.services.timesheet.service.TimesheetServiceImpl">
		<property name="acmTimesheetDao" ref="acmTimesheetDao" />
		<property name="submissionStatusesMap">
			<map>
				<entry key="Save" value="DRAFT" />
				<entry key="Submit" value="IN_APPROVAL" />
			</map>
		</property>
		<property name="executeSolrQuery" ref="executeSolrQuery" />
	</bean>
	
	<bean id="timesheetToSolrTransformer" class="com.armedia.acm.services.timesheet.service.TimesheetToSolrTransformer">
		<property name="acmTimesheetDao" ref="acmTimesheetDao"/>
	</bean>

    <bean id="acmTimesheetPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Time Tracking Service Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="timesheetPrivilege"/>
                <ref bean="timesheetCreatePrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="timesheetUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/timesheet"/>
                    <property name="requiredPrivilege" ref="timesheetPrivilege"/>
                </bean>

                <bean id="timesheetWizardUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/timesheet/wizard"/>
                    <property name="requiredPrivilege" ref="timesheetCreatePrivilege"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="timesheetCreatePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-timesheet-create"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

    <bean id="timesheetPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-timesheet"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>

</beans>