<div ng-controller="TimeTracking.InfoController">
    <div class="clearfix">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">
                    {{objectInfo.container.containerObjectTitle || 'Unknown' | uppercase}}
                </div>
                <small class="text-muted">
                    <span translate>timeTracking.comp.info.lastModified.label</span>
                    {{objectInfo.modified | date: ('common.defaultDateUIFormat' | translate)}}
                </small>
            </div>
        </div>
    </div>
</div>