<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <!--*************************************************************************** -->
    <!-- ActiveMQ Configuration                                                     -->
    <!--*************************************************************************** -->

    <!-- import the entire configuration from the config folder... lets allow the admin to have complete control
         over the ActiveMQ config. -->
    <import resource="file:${user.home}/.arkcase/acm/activeMqSpringConfig.xml"/>

</beans>