<search-modal header="{{'document-repository.comp.addreference.title' | translate}}"
              cancel="{{'document-repository.comp.addreference.cancelButton' | translate}}"
              ok="{{'document-repository.comp.addreference.confirmButton' | translate}}"
              search-placeholder="{{'document-repository.comp.addreference.search.placeholder' | translate}}"
              search="{{'document-repository.comp.addreference.search.btn' | translate}}"
              filter="{{filter}}"
              config="config"
              modal-instance="modalInstance"
/>
