<div ng-controller="DocumentRepository.DetailsController">
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>document-repository.comp.details.title</span>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs" ng-click="saveDetails()"><i class="fa fa-lg fa-save"></i></button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <summernote config="options" ng-model="objectInfo.details"></summernote>
        </div>
    </div>

</div>
