<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="taskPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="Task Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="acmTaskCreatePrivilege"/>
                <ref bean="acmTaskSavePrivilege"/>
                <ref bean="acmTaskListPrivilege"/>
                <ref bean="acmTaskCompletePrivilege"/>
                <ref bean="acmTaskDeletePrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/task"/>
                    <property name="requiredPrivilege" ref="acmTaskCreatePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/task/save/{taskId}"/>
                    <property name="requiredPrivilege" ref="acmTaskCreatePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/task/wizard"/>
                    <property name="requiredPrivilege" ref="acmTaskCreatePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/task"/>
                    <property name="requiredPrivilege" ref="acmTaskListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/task/{taskId}"/>
                    <property name="requiredPrivilege" ref="acmTaskListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/task/forUser/{user}"/>
                    <property name="requiredPrivilege" ref="acmTaskListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property value="GET" name="httpMethod"/>
                    <property value="/api/{version}/plugin/task/list/{due}" name="url"/>
                    <property name="requiredPrivilege" ref="acmTaskListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/task/completeTask/{taskId}"/>
                    <property name="requiredPrivilege" ref="acmTaskCompletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/task/completeTask"/>
                    <property name="requiredPrivilege" ref="acmTaskCompletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/task/deleteTask/{taskId}"/>
                    <property name="requiredPrivilege" ref="acmTaskDeletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/task/adHocTask"/>
                    <property name="requiredPrivilege" ref="acmTaskCreatePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/task/byId/{taskId}"/>
                    <property name="requiredPrivilege" ref="acmTaskListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/task/history/{id}/{adhoc}"/>
                    <property name="requiredPrivilege" ref="acmTaskListPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>

</beans>