<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="eventRaisingActivitiProcessListener" class="com.armedia.acm.activiti.AcmProcessEventHandler">
        <property name="runtimeService" ref="activitiRuntimeService"/>
        <property name="historyService" ref="activitiHistoryService"/>
    </bean>

    <bean id="eventRaisingActivitiTaskListener" class="com.armedia.acm.activiti.AcmUserTaskEventHandler">
        <property name="runtimeService" ref="activitiRuntimeService"/>
    </bean>

    <bean id="acmActivitiListener_processStart" class="com.armedia.acm.activiti.AcmActivitiListener">
        <property name="event" value="start"/>
        <property name="implementationType" value="expression"/>
        <property name="implementation" value="eventRaisingActivitiProcessListener.handleProcessEvent(execution.eventName, execution)"/>
    </bean>
    <bean id="acmActivitiListener_processEnd" class="com.armedia.acm.activiti.AcmActivitiListener">
        <property name="event" value="end"/>
        <property name="implementationType" value="expression"/>
        <property name="implementation" value="eventRaisingActivitiProcessListener.handleProcessEvent(execution.eventName, execution)"/>
    </bean>

    <bean id="acmActivitiListener_taskCreate" class="com.armedia.acm.activiti.AcmActivitiListener">
        <property name="event" value="create"/>
        <property name="implementationType" value="expression"/>
        <property name="implementation" value="eventRaisingActivitiTaskListener.handleTaskEvent(task.eventName, task)"/>
    </bean>

    <bean id="acmActivitiListener_taskAssignment" class="com.armedia.acm.activiti.AcmActivitiListener">
        <property name="event" value="assignment"/>
        <property name="implementationType" value="expression"/>
        <property name="implementation" value="eventRaisingActivitiTaskListener.handleTaskEvent(task.eventName, task)"/>
    </bean>

    <bean id="acmActivitiListener_taskComplete" class="com.armedia.acm.activiti.AcmActivitiListener">
        <property name="event" value="complete"/>
        <property name="implementationType" value="expression"/>
        <property name="implementation" value="eventRaisingActivitiTaskListener.handleTaskEvent(task.eventName, task)"/>
    </bean>

    <bean id="acmActivitiListener_taskDelete" class="com.armedia.acm.activiti.AcmActivitiListener">
        <property name="event" value="delete"/>
        <property name="implementationType" value="expression"/>
        <property name="implementation" value="eventRaisingActivitiTaskListener.handleTaskEvent(task.eventName, task)"/>
    </bean>

    <bean id="acmActivitiProcessHandler" class="com.armedia.acm.activiti.ActivitiProcessParseHandler">
        <property name="listenersToAdd">
            <list>
                <ref bean="acmActivitiListener_processStart"/>
                <ref bean="acmActivitiListener_processEnd"/>
            </list>
        </property>
    </bean>

    <bean id="acmActivitiUserTaskHandler" class="com.armedia.acm.activiti.ActivitiUserTaskParseHandler">
        <property name="listenersToAdd">
            <list>
                <ref bean="acmActivitiListener_taskCreate"/>
                <ref bean="acmActivitiListener_taskAssignment"/>
                <ref bean="acmActivitiListener_taskComplete"/>
                <ref bean="acmActivitiListener_taskDelete"/>
            </list>
        </property>
    </bean>

    <bean id="activitiProcessEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration"
            depends-on="liquibase">
        <property name="dataSource" ref="acmDataSource" />
        <property name="transactionManager" ref="transactionManager" />
        <property name="databaseSchemaUpdate" value="true" />
        <property name="transactionsExternallyManaged" value="true"/>
        <property name="preBpmnParseHandlers">
            <list>
                <ref bean="acmActivitiProcessHandler"/>
                <ref bean="acmActivitiUserTaskHandler"/>
            </list>
        </property>
    </bean>

    <bean id="activitiProcessEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="activitiProcessEngineConfiguration" />
    </bean>

    <bean id="activitiRepositoryService" factory-bean="activitiProcessEngine" factory-method="getRepositoryService" />
    <bean id="activitiRuntimeService" factory-bean="activitiProcessEngine" factory-method="getRuntimeService" />
    <bean id="activitiTaskService" factory-bean="activitiProcessEngine" factory-method="getTaskService" />
    <bean id="activitiHistoryService" factory-bean="activitiProcessEngine" factory-method="getHistoryService" />

    <bean id="bpmnFileAddedMonitor" class="com.armedia.acm.activiti.BpmnFileAddedMonitor">
        <property name="repositoryService" ref="activitiRepositoryService"/>
    </bean>

    <bean id="deployFolder" class="java.io.File">
        <constructor-arg value="${user.home}/.acm/activiti"/>
    </bean>

    <bean id="activitiResourceExpression" class="java.lang.String">
        <constructor-arg value="classpath*:/activiti/*.bpmn20.xml"/>
    </bean>

    <bean id="activitiPathMatchingResolver" class="org.springframework.core.io.support.PathMatchingResourcePatternResolver"/>

    <bean id="activitiDeployer" class="com.armedia.acm.spring.SpringClasspathCopier" depends-on="bpmnFileAddedMonitor">
        <property name="resourcePattern" ref="activitiResourceExpression"/>
        <property name="deployFolder" ref="deployFolder"/>
        <property name="resolver" ref="activitiPathMatchingResolver"/>
    </bean>

</beans>