<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="calendarIntegrationExchangePrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="Calendar Integration Exchange Service"/>
        <property name="privileges">
            <list>
                <ref bean="acmCalendarAdminPrivilege"/>
            </list>
        </property>

        <property name="urlPrivileges">
            <list>

                <!-- Administration API privileges. -->
                <bean id="calendarAdminUrlGet" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/calendar/exchange/configure"/>
                    <property name="requiredPrivilege" ref="acmCalendarAdminPrivilege"/>
                </bean>
                <bean id="calendarAdminUrlPut" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/service/calendar/exchange/configure"/>
                    <property name="requiredPrivilege" ref="acmCalendarAdminPrivilege"/>
                </bean>

            </list>
        </property>
    </bean>

</beans>