<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="zylabIntegrationConfigService" class="com.armedia.acm.services.zylab.service.ZylabIntegrationConfigService">
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
        <property name="zylabIntegrationConfig" ref="zylabIntegrationConfig"/>
    </bean>

</beans>