<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- the file watcher depends on some beans we don't want or need to pull into our integration tests here. -->

    <!-- dummy bean for the activiti engine. -->
    <bean id="activitiProcessEngineConfiguration" class="java.lang.String">
        <constructor-arg value="This is a dummy bean.  Don't expect anything real in here."/>
    </bean>

    <bean id="exceptionResolver" class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver"/>

    <bean id="acmApplication" class="com.armedia.acm.core.AcmApplication"/>

    <bean id="configList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <bean class="com.armedia.acm.services.config.model.ConfigBean">
                    <property name="configName" value="languageSettings"/>
                    <property name="description" value="Language Setting"/>
                    <property name="config" ref="languageSettingsConfig"/>
                    <property name="jsonMarshaller" ref="jsonMarshaller"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>

    <bean id="objectConverter" class="com.armedia.acm.objectonverter.ObjectConverter" factory-method="createObjectConverterForTests"/>

    <bean id="auditEventConfig" class="com.armedia.acm.audit.model.AuditEventConfig">
        <property name="jsonUnmarshaller" ref="jsonUnmarshaller"/>
    </bean>

    <bean id="languageSettingsConfig" class="com.armedia.acm.core.LanguageSettingsConfig"/>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <constructor-arg index="0" ref="amqConnectionFactory"/>
        <property name="deliveryMode" value="2"/>
        <property name="receiveTimeout" value="500"/>
    </bean>
</beans>