<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="getPersonTypesAPIController" class="com.armedia.acm.plugins.person.web.api.GetPersonTypesAPIController">
        <property name="listOfValuesService" ref="listOfValuesService"/>
        <property name="typesDescriptor" ref="personTypeTable"/>
    </bean>
    
    <bean id="savePersonAPIController" class="com.armedia.acm.plugins.person.web.api.SavePersonAPIController">
        <property name="personTransaction" ref="savePersonTransaction"/>
        <property name="eventPublisher" ref="personEventPublisher"/>
    </bean>

    <bean id="findPersonAPIController" class="com.armedia.acm.plugins.person.web.api.FindPersonAPIController">
        <property name="personAssociationDao" ref="acmPersonAssociationDao"/>
    </bean>

</beans>