<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="acmPersonDao" class="com.armedia.acm.plugins.person.dao.PersonDao"/>
    <bean id="acmPersonAliasDao" class="com.armedia.acm.plugins.person.dao.PersonAliasDao"/>
    <bean id="acmPersonAssociationDao" class="com.armedia.acm.plugins.person.dao.PersonAssociationDao"/>
          
    <bean id="personTypeTable" class="com.armedia.acm.configuration.LookupTableDescriptor">
        <property name="tableName" value="acm_person_type_lu"/>
        <property name="description" value="Valid person types."/>
    </bean>
    
    <bean id="savePersonTransaction" class="com.armedia.acm.plugins.person.service.SavePersonTransaction">
        <property name="muleClient" ref="muleClient"/>
    </bean>
    
    <bean id="personEventPublisher" class="com.armedia.acm.plugins.person.service.PersonEventPublisher"/>
            
    <bean id ="personPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Person Plugin"/>
        <property name="privileges">            
            <list>
                <ref bean="acmPersonSavePrivilege"/>
            </list>
            
        </property>
        <property name="urlPrivileges">
            <list>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/person"/>
                    <property name="requiredPrivilege" ref="acmPersonSavePrivilege"/>
                        
                </bean>                
            </list>
        </property>
            
    </bean>
        
    <bean id="acmPersonSavePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-person-save"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>
</beans>