<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <!--
        Configure Spring Security.
    -->

    <!-- The login page itself, along with the JavaScript and images that
         appear on the login page, do not have to be protected.  -->
    <!--<http security="none" pattern="/login" />-->
    <!--<http security="none" pattern="/login.jsp" />-->
    <!--&lt;!&ndash;<http security="none" pattern="/login.jsp" />&ndash;&gt;-->
    <!--<http security="none" pattern="/assets/**" />-->
    <!--&lt;!&ndash;<http security="none" pattern="/directives/**" />&ndash;&gt;-->
    <!--<http security="none" pattern="/dist/**" />-->
    <!--<http security="none" pattern="/lib/**" />-->
    <!--&lt;!&ndash;<http security="none" pattern="/modules/**" />&ndash;&gt;-->
    <!--&lt;!&ndash;<http security="none" pattern="/services/**" />&ndash;&gt;-->
    <!--&lt;!&ndash;<http security="none" pattern="/application.js" />&ndash;&gt;-->
    <!--&lt;!&ndash;<http security="none" pattern="/config.js" />&ndash;&gt;-->
    <!--&lt;!&ndash;<http security="none" pattern="/home.html" />&ndash;&gt;-->
    <!--<http security="none" pattern="/resources/**" />-->
    <!--<http security="none" pattern="resources/lib/bootstrap/dist/css/**" />-->
    <http security="none" pattern="/**" />

    <!-- arkCaseAuthenticationProvider is defined in spring-library-surf-connector.xml -->

    <!--<http-->
            <!--auto-config="true">-->
        <!--<intercept-url pattern="/**" access="ROLE_USER_INTERFACE" />-->
        <!--<form-login-->
                <!--login-page="/login.jsp"-->
                <!--default-target-url="/home.html"-->
                <!--always-use-default-target="true"-->
                <!--authentication-failure-url="/login?login_error=1"/>-->
        <!--<logout-->
                <!--logout-url="/logout"-->
                <!--delete-cookies="JSESSIONID"-->
                <!--invalidate-session="true"/>-->
    <!--</http>-->

    <authentication-manager>
        <authentication-provider ref="arkCaseAuthenticationProvider" />
    </authentication-manager>

</beans:beans>