<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <!--
        Configure Spring Security.
    -->

    <!-- The login page itself, along with the JavaScript and images that
         appear on the login page, do not have to be protected.  -->
    <http security="none" pattern="/login" />
    <http security="none" pattern="/login.html" />
    <http security="none" pattern="/login.jsp" />

    <!-- arkCaseAuthenticationProvider is defined in spring-library-surf-connector.xml -->

    <http pattern="/proxy/**" auto-config="true" create-session="stateless">
        <intercept-url pattern="/proxy/**" access="ROLE_USER_INTERFACE" />
        <http-basic/>
        <logout
                logout-url="/logout"
                delete-cookies="JSESSIONID"
                invalidate-session="true"/>
    </http>

    <http auto-config="true">
        <intercept-url pattern="/**" access="ROLE_USER_INTERFACE" />
        <form-login
                login-page="/login"
                default-target-url="/home"
                always-use-default-target="true"
                authentication-failure-url="/login?login_error=1"/>
        <logout
                logout-url="/logout"
                delete-cookies="JSESSIONID"
                invalidate-session="true"/>
    </http>

    <authentication-manager>
        <authentication-provider ref="arkCaseAuthenticationProvider" />
    </authentication-manager>

</beans:beans>