<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" additivity="false">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] [%t] %c - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- INFO and above to console and log file; com.armedia debug and above to log file -->
        <Logger name="com.armedia" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>