<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="changeObjectStatusEventPublisher" class="com.armedia.acm.objectchangestatus.service.ChangeObjectStatusEventPublisher"/>
    
    <bean id="changeObjectStatusService" class="com.armedia.acm.objectchangestatus.service.ChangeObjectStatusServiceImpl">
    	<property name="changeObjectStatusEventPublisher" ref="changeObjectStatusEventPublisher" />
    </bean>
    
</beans>