<div class="modal-header">
    <h3>
        <span translate>common.addOrganization.title</span>
    </h3>
</div>
<div class="modal-body">
    <form name="addOrganizationForm">
        <div id="selectRadio row">
            <button type="button" class="btn btn-primary"
                    ng-click="addNewOrganization()" translate>
                common.addOrganization.addNew.label
            </button>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="organization"
                       translate>common.addOrganization.organization.label</label>
                <input id="organization" class="input-md form-control" type="text"
                       ng-model="organizationValue"
                       placeholder="{{common.addOrganization.selectExisting.label | translate}}"
                       ng-click="pickOrganization()" required>
            </div>
            <div class="col-sm-6 form-group">
                <label for="types" translate>common.addOrganization.type.label</label>
                <select class="input-md form-control" id="types"
                        ng-model="type"
                        ng-options="item.type as item.name for item in types"></select>
            </div>
        </div>
        <div class="row" ng-show="showDescription">
            <div class="col-sm-12 form-group">
                <label for="description" translate>common.addOrganization.description</label>
                <textarea id="description" class="input-md form-control" ng-model="description"></textarea>
            </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        <span translate>common.addOrganization.btnCancel.text</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()" ng-disabled="addOrganizationForm.$invalid">
        <span translate>common.addOrganization.btnOk.text</span>
    </button>
</div>