<div class="modal-header">
    <h3>
        <span translate>common.objectHistory.modal.title</span>
    </h3>
</div>
<div class="modal-body">
    <div ui-grid="gridOptions"
         ui-grid-resize-columns
         ui-grid-auto-resize
         ui-grid-pagination
         class="grid"></div>

</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-secondary" ng-click="close()">
            <span translate>common.objectHistory.modal.btn.close</span>
        </button>
    </div>
</div>