<div ng-controller="TimeTracking.InfoController">
    <div class="clearfix">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="h4 font-bold">
                    {{objectInfo.title || 'common.value.unknown' | translate | uppercase}}
                </div>
                <small class="text-muted">
                    <span translate>timeTracking.comp.info.lastModified.label</span>
                    {{objectInfo.modified | date: 'shortDate' }}
                </small>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="h4 font-bold">
                    {{objectInfo.status || 'common.value.unknown' | translate}}
                </div>
                <small class="text-muted">
                    <span translate>timeTracking.comp.info.state</span>
                </small>
            </div>

        </div>
    </div>
</div>