<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="muleContextManager" class="com.armedia.acm.muletools.mulecontextmanager.MuleContextManager"
          destroy-method="shutdownBean">
        <property name="specificConfigFiles">
            <list>
                <value>/flows/saveComplaintFlow.xml</value>
                <value>/flows/MuleCmisConnectorFlow.xml</value>
            </list>
        </property>
    </bean>

    <bean id="muleClient" factory-bean="muleContextManager" factory-method="getMuleClient" scope="prototype"/>

    <!-- need a saveCaseService bean to start the Spring app context, but it doesn't have to work -->
    <bean id="saveCaseService" class="com.armedia.acm.plugins.casefile.service.SaveCaseService"/>
    <!-- same for a case dao -->
    <bean id="caseFileDao" class="com.armedia.acm.plugins.casefile.dao.CaseFileDao"/>

</beans>