<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="onlyOfficeViewController"
          class="com.armedia.acm.plugins.onlyoffice.web.controllers.OnlyOfficeViewController">
        <property name="configService" ref="onlyOfficeConfigService"/>
        <property name="JWTSigningService" ref="signingServiceImpl"/>
        <property name="objectMapper" ref="sourceObjectMapper"/>
        <property name="objectLockingManager" ref="acmObjectLockingManager"/>
        <property name="authenticationTokenService" ref="authenticationTokenService"/>
        <property name="userDao" ref="userJpaDao"/>
    </bean>

    <bean id="onlyOfficeApiController"
          class="com.armedia.acm.plugins.onlyoffice.web.controllers.OnlyOfficeApiController">
        <property name="callbackService" ref="onlyOfficeCallbackService"/>
        <property name="documentHistoryManager" ref="historyFilesManager"/>
        <property name="configService" ref="onlyOfficeConfigService"/>
        <property name="objectMapper" ref="sourceObjectMapper"/>
        <property name="arkPermissionEvaluator" ref="arkPermissionEvaluator"/>
    </bean>

</beans>