<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="onlyOfficeEditorController"
        class="com.armedia.acm.plugins.onlyoffice.web.controllers.OnlyOfficeController">
        <property name="configService" ref="onlyOfficeConfigService"/>
        <property name="callbackService" ref="onlyOfficeCallbackService"/>
        <property name="JWTSigningService" ref="signingServiceImpl"/>
        <property name="objectMapper" ref="sourceObjectMapper"/>
        <property name="objectLockingManager" ref="acmObjectLockingManager"/>
    </bean>

</beans>