<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="onlyOfficeViewController"
          class="com.armedia.acm.plugins.onlyoffice.web.controllers.OnlyOfficeViewController" scope="refresh">
        <aop:scoped-proxy/>
        <property name="configService" ref="onlyOfficeConfigService"/>
        <property name="JWTSigningService" ref="signingServiceImpl"/>
        <property name="objectMapper" ref="sourceObjectMapper"/>
        <property name="objectLockingManager" ref="acmObjectLockingManager"/>
        <property name="authenticationTokenService" ref="authenticationTokenService"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="applicationConfig" ref="applicationProperties"/>
    </bean>

    <bean id="onlyOfficeApiController"
          class="com.armedia.acm.plugins.onlyoffice.web.controllers.OnlyOfficeApiController">
        <property name="callbackService" ref="onlyOfficeCallbackService"/>
        <property name="documentHistoryManager" ref="historyFilesManager"/>
        <property name="configService" ref="onlyOfficeConfigService"/>
        <property name="objectMapper" ref="sourceObjectMapper"/>
        <property name="arkPermissionEvaluator" ref="arkPermissionEvaluator"/>
    </bean>

</beans>