<div ng-controller="TimeTrackingController">
	<div class="module-content">
		<div class="left-sidebar scroll-body">
			<div class="module-header">
				<h3>{{'timeTracking.title' | translate}}</h3>
			</div>
			<div ng-include="'modules/time-tracking/views/time-tracking-list.client.view.html'" slimscroll=""/>
		</div>

		<section class="content-body" ng-show="timesheetInfo">
			<div class="module-header">
				<div ng-include="'modules/time-tracking/views/components/time-tracking-info.client.view.html'"></div>
			</div>
			<div class="clearfix well-sm">
				<div ng-include="'modules/time-tracking/views/components/time-tracking-actions.client.view.html'"></div>
			</div>

			<div class="well-sm">
				<div data-ui-view></div>
			</div>
		</section>

		<section class="content-body" ng-hide="timesheetInfo">
			<div>{{progressMsg}}</div>
		</section>
	</div>
</div>