<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="complaintClearanceDenied" class="com.armedia.acm.correspondence.model.CorrespondenceTemplate">
        <property name="templateFilename" value="ComplaintClearanceDenied.docx"/>
        <property name="documentType" value="Clearance Denied"/>
        <property name="dateFormatString" value="MM/dd/yyyy"/>
        <property name="numberFormatString" value="###,###,###"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
SELECT  au.fullName,
        cm.complaintNumber,
       	CURRENT_DATE
FROM    Complaint cm,
        AcmUser au
WHERE   cm.complaintId = ?1
AND     cm.creator = au.userId
                ]]>
            </value>
        </property>
        <property name="templateSubstitutionVariables">
            <list>
                <value>Employee Name</value>
                <value>Employee ID</value>
                <value>Date</value>
            </list>
        </property>
    </bean>

    <bean id="complaintClearanceGranted" class="com.armedia.acm.correspondence.model.CorrespondenceTemplate">
        <property name="templateFilename" value="ComplaintClearanceGranted.docx"/>
        <property name="documentType" value="Clearance Granted"/>
        <property name="dateFormatString" value="MM/dd/yyyy"/>
        <property name="numberFormatString" value="###,###,###"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
SELECT  au.fullName,
        cm.complaintNumber,
       	CURRENT_DATE
FROM    Complaint cm,
        AcmUser au
WHERE   cm.complaintId = ?1
AND     cm.creator = au.userId
                ]]>
            </value>
        </property>
        <property name="templateSubstitutionVariables">
            <list>
                <value>Employee Name</value>
                <value>Employee ID</value>
                <value>Date</value>
            </list>
        </property>
    </bean>

    <bean id="complaintGeneralRelease" class="com.armedia.acm.correspondence.model.CorrespondenceTemplate">
        <property name="templateFilename" value="ComplaintGeneralRelease.docx"/>
        <property name="documentType" value="General Release"/>
        <property name="dateFormatString" value="MM/dd/yyyy"/>
        <property name="numberFormatString" value="###,###,###"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
SELECT  au.fullName,
        cm.complaintNumber,
       	CURRENT_DATE
FROM    Complaint cm,
        AcmUser au
WHERE   cm.complaintId = ?1
AND     cm.creator = au.userId
                ]]>
            </value>
        </property>
        <property name="templateSubstitutionVariables">
            <list>
                <value>Employee Name</value>
                <value>Employee ID</value>
                <value>Date</value>
            </list>
        </property>
    </bean>

    <bean id="complaintMedicalRelease" class="com.armedia.acm.correspondence.model.CorrespondenceTemplate">
        <property name="templateFilename" value="ComplaintMedicalRelease.docx"/>
        <property name="documentType" value="Medical Release"/>
        <property name="dateFormatString" value="MM/dd/yyyy"/>
        <property name="numberFormatString" value="###,###,###"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
SELECT  au.fullName,
        cm.complaintNumber,
       	CURRENT_DATE
FROM    Complaint cm,
        AcmUser au
WHERE   cm.complaintId = ?1
AND     cm.creator = au.userId
                ]]>
            </value>
        </property>
        <property name="templateSubstitutionVariables">
            <list>
                <value>Employee Name</value>
                <value>Employee ID</value>
                <value>Date</value>
            </list>
        </property>
    </bean>

    <bean id="complaintNoticeofInvestigation" class="com.armedia.acm.correspondence.model.CorrespondenceTemplate">
        <property name="templateFilename" value="ComplaintNoticeofInvestigation.docx"/>
        <property name="documentType" value="Notice of Investigation"/>
        <property name="dateFormatString" value="MM/dd/yyyy"/>
        <property name="numberFormatString" value="###,###,###"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
SELECT  au.fullName,
       	CURRENT_DATE
FROM    Complaint cm,
        AcmUser au
WHERE   cm.complaintId = ?1
AND     cm.creator = au.userId
                ]]>
            </value>
        </property>
        <property name="templateSubstitutionVariables">
            <list>
                <value>Employee Name</value>
                <value>Date</value>
            </list>
        </property>
    </bean>

    <bean id="complaintApprovalLetter" class="com.armedia.acm.correspondence.model.CorrespondenceTemplate">
        <property name="templateFilename" value="ComplaintApprovalLetter.docx"/>
        <property name="documentType" value="Approval Letter"/>
        <property name="dateFormatString" value="MM/dd/yyyy"/>
        <property name="numberFormatString" value="###,###,###"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
SELECT  au.fullName,
       	CURRENT_DATE
FROM    Complaint cm,
        AcmUser au
WHERE   cm.complaintId = ?1
AND     cm.creator = au.userId
                ]]>
            </value>
        </property>
        <property name="templateSubstitutionVariables">
            <list>
                <value>Employee Name</value>
                <value>Date</value>
            </list>
        </property>
    </bean>

    <bean id="complaintWitnessInterviewRequest" class="com.armedia.acm.correspondence.model.CorrespondenceTemplate">
        <property name="templateFilename" value="ComplaintInterviewRequest.docx"/>
        <property name="documentType" value="Witness Interview Request"/>
        <property name="dateFormatString" value="MM/dd/yyyy"/>
        <property name="numberFormatString" value="###,###,###"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
SELECT  au.fullName,
       	CURRENT_DATE,
        cm.complaintNumber,
        cm.complaintTitle
FROM    Complaint cm,
        AcmUser au
WHERE   cm.complaintId = ?1
AND     cm.creator = au.userId
       	   		   ]]>
            </value>
        </property>
        <property name="templateSubstitutionVariables">
            <list>
                <value>Employee Name</value>
                <value>Date</value>
                <value>Case Number</value>
                <value>Case Title</value>
            </list>
        </property>
    </bean>
</beans>
