<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="phoneRegexController" class="com.armedia.acm.plugins.addressable.web.api.PhoneRegexAPIController">
        <property name="phoneRegexConfig" ref="phoneRegexConfig"/>
    </bean>

    <bean id="emailRegexController" class="com.armedia.acm.plugins.addressable.web.api.EmailRegexAPIController">
        <property name="emailRegexConfig" ref="emailRegexConfig"/>
    </bean>
</beans>