<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="contactMethodDao" class="com.armedia.acm.plugins.addressable.dao.ContactMethodDao"/>
    <bean id="postalAddressDao" class="com.armedia.acm.plugins.addressable.dao.PostalAddressDao"/>

    <bean id="contactMethodToSolrTransformer" class="com.armedia.acm.plugins.addressable.service.ContactMethodToSolrTransformer">
        <property name="contactMethodDao" ref="contactMethodDao"/>
        <property name="userDao" ref="userJpaDao"/>
    </bean>

    <bean id="postalAddressToSolrTransformer" class="com.armedia.acm.plugins.addressable.service.PostalAddressToSolrTransformer">
        <property name="postalAddressDao" ref="postalAddressDao"/>
        <property name="userDao" ref="userJpaDao"/>
    </bean>

    <bean id="phoneRegexConfig" class="com.armedia.acm.plugins.addressable.service.PhoneRegexConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>
    <bean id="emailRegexConfig" class="com.armedia.acm.plugins.addressable.service.EmailRegexConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>
</beans>