<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:property-placeholder
        properties-ref="taskPluginProperties"
        ignore-unresolvable="true"
        local-override="false"
        order="178"/>


    <bean id="taskPluginProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.acm/taskPlugin.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props/>
        </property>
    </bean>

    <!-- actions -->
    <bean id="sendTasksSolrAction" class="com.armedia.acm.event.AcmAction">
        <property name="actionId" value="SEND_TASKS_TO_SOLR"/>
        <property name="actionName" value="Send Tasks to SOLR"/>
        <property name="targetMuleEndpoint" value="jms://taskToSolr.in"/>
        <property name="parameters">
            <list/>
        </property>

    </bean>
    <bean id="sendActivitiTasksToSolrAction" class="com.armedia.acm.event.AcmAction">
        <property name="actionId" value="SEND_ACTIVITI_TASKS_TO_SOLR"/>
        <property name="actionName" value="Send Activiti Tasks to SOLR"/>
        <property name="targetMuleEndpoint" value="jms://activitiTaskToSolr.in"/>
        <property name="parameters">
            <list/>
        </property>

    </bean>

    <bean id="createTaskContainerFolder" class="com.armedia.acm.event.AcmAction">
        <property name="actionId" value="CREATE_TASK_CONTAINER_FOLDER"/>
        <property name="actionName" value="Create Task Container Folder"/>
        <property name="targetMuleEndpoint" value="jms://createTaskContainerFolder.in"/>
        <property name="parameters">
            <list/>
        </property>

    </bean>

    <!-- event handlers -->

    <!-- container folder handlers -->
    <bean id="activitiTaskCreatedFolderHandler" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.activiti.task.create"/>
        <property name="action" ref="createTaskContainerFolder"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <bean id="adHocTaskCreatedFolderHandler" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.app.task.create"/>
        <property name="action" ref="createTaskContainerFolder"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <!-- event handlers quick search-->

    <bean id="sendAdHocTaskCreateToSolrAction" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.app.task.create"/>
        <property name="action" ref="sendTasksSolrAction"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <bean id="sendAdHocTaskCompleteToSolrAction" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.app.task.complete"/>
        <property name="action" ref="sendTasksSolrAction"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <bean id="sendAdHocTaskDeleteToSolrAction" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.app.task.delete"/>
        <property name="action" ref="sendTasksSolrAction"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <bean id="sendAdHocTaskSaveToSolrAction" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.app.task.save"/>
        <property name="action" ref="sendTasksSolrAction"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <bean id="sendActivitiTaskCreateToSolrAction" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.activiti.task.create"/>
        <property name="action" ref="sendActivitiTasksToSolrAction"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <bean id="sendActivitiTaskCompleteToSolrAction" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.activiti.task.complete"/>
        <property name="action" ref="sendActivitiTasksToSolrAction"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <bean id="sendActivitiTaskDeleteToSolrAction" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.activiti.task.delete"/>
        <property name="action" ref="sendActivitiTasksToSolrAction"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <bean id="sendActivitiTaskSaveToSolrAction" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.activiti.task.save"/>
        <property name="action" ref="sendActivitiTasksToSolrAction"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <bean id="sendActivitiTaskAssignmentToSolrAction" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.activiti.task.assignment"/>
        <property name="action" ref="sendActivitiTasksToSolrAction"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <!-- lookup tables -->

    <bean id="taskPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Task Plugin"/>
        <property name="pluginProperties" ref="taskPluginProperties"/>
        <property name="privileges">
            <list>
                <ref bean="acmTaskCreatePrivilege"/>
                <ref bean="acmTaskSavePrivilege"/>
                <ref bean="acmTaskListPrivilege"/>
                <ref bean="acmTaskCompletePrivilege"/>
                <ref bean="acmTaskDeletePrivilege"/>
            </list>
        </property>
        <property name="suportedObjectTypesNames">
            <list>
                <value>TASK</value>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/task"/>
                    <property name="requiredPrivilege" ref="acmTaskCreatePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/task/save/{taskId}"/>
                    <property name="requiredPrivilege" ref="acmTaskCreatePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/task/wizard"/>
                    <property name="requiredPrivilege" ref="acmTaskCreatePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/task"/>
                    <property name="requiredPrivilege" ref="acmTaskListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/task/{taskId}"/>
                    <property name="requiredPrivilege" ref="acmTaskListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/task/forUser/{user}"/>
                    <property name="requiredPrivilege" ref="acmTaskListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property value="GET" name="httpMethod"/>
                    <property value="/api/{version}/plugin/task/list/{due}" name="url"/>
                    <property name="requiredPrivilege" ref="acmTaskListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/task/completeTask/{taskId}"/>
                    <property name="requiredPrivilege" ref="acmTaskCompletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/task/completeTask"/>
                    <property name="requiredPrivilege" ref="acmTaskCompletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/task/deleteTask/{taskId}"/>
                    <property name="requiredPrivilege" ref="acmTaskDeletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/task/adHocTask"/>
                    <property name="requiredPrivilege" ref="acmTaskCreatePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/task/byId/{taskId}"/>
                    <property name="requiredPrivilege" ref="acmTaskListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/task/history/{id}/{adhoc}"/>
                    <property name="requiredPrivilege" ref="acmTaskListPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="acmTaskListPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-task-list"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>
    <bean id="acmTaskSavePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-task-save"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_INVESTIGATOR</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
            </list>
        </property>
    </bean>

    <bean id="acmTaskCreatePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-task-create"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_INVESTIGATOR</value>
            </list>
        </property>
    </bean>

    <bean id="acmTaskCompletePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-task-complete"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_INVESTIGATOR</value>
            </list>
        </property>
    </bean>

    <bean id="acmTaskDeletePrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-task-delete"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_INVESTIGATOR_SUPERVISOR</value>
                <value>ROLE_CALLCENTER</value>
                <value>ROLE_ADMINISTRATOR</value>
                <value>ROLE_ANALYST</value>
                <value>ROLE_INVESTIGATOR</value>
            </list>
        </property>
    </bean>


    <bean id="acmTaskDao" class="com.armedia.acm.plugins.task.service.impl.ActivitiTaskDao">
        <property name="activitiTaskService" ref="activitiTaskService"/>
        <property name="activitiRepositoryService" ref="activitiRepositoryService"/>
        <property name="activitiHistoryService" ref="activitiHistoryService"/>
        <property name="userDao" ref="userJpaDao" />
        <property name="participantDao" ref="acmParticipantDao"/>
        <property name="dataAccessPrivilegeListener" ref="dataAccessPrivilegeListener"/>
        <property name="containerFolderDao" ref="acmContainerFolderDao"/>
        <property name="fileService" ref="ecmFileService"/>
        <property name="taskBusinessRule" ref="taskBusinessRule"/>
        <property name="taskExtractor" ref="extractAcmTaskFromEvent"/>
        <property name="priorityLevelToNumberMap">
            <map>
                <entry key="Low" value="10"/>
                <entry key="Medium" value="50"/>
                <entry key="High" value="70"/>
                <entry key="Expedite" value="90"/>
            </map>
        </property>
        <property name="requiredFieldsPerOutcomeMap">
            <map>
                <entry key="APPROVE">
                    <list/>
                </entry>
                <entry key="SEND_FOR_REWORK">
                    <list>
                        <value>reworkInstructions</value>
                    </list>
                </entry>
                <entry key="RESUBMIT">
                    <list/>
                </entry>
                <entry key="CANCEL_DOCUMENT">
                    <list/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="taskEventPublisher" class="com.armedia.acm.plugins.task.service.TaskEventPublisher"/>
    
    <bean id="extractAcmTaskFromEvent" class="com.armedia.acm.plugins.task.service.impl.ExtractAcmTaskFromEvent">
        <property name="dao" ref="acmTaskDao"/>
    </bean>

    <bean id="taskToSolrTransformer" class="com.armedia.acm.plugins.task.service.impl.TaskToSolrTransformer">
        <property name="taskDao" ref="acmTaskDao"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="searchAccessControlFields" ref="searchAccessControlFields"/>
    </bean>

	<bean id="taskHistoryListener" class="com.armedia.acm.plugins.task.service.TaskHistoryListener">
    	<property name="acmObjectHistoryService" ref="acmObjectHistoryService" />
    </bean>
    
    <bean id="taskAssigneeChangeChecker" class="com.armedia.acm.plugins.task.service.TaskAssigneeChangeChecker">
    	<property name="acmObjectHistoryDao" ref="acmObjectHistoryDao" />
    	<property name="eventPublisher" ref="acmObjectHistoryEventPublisher" />
    	<property name="acmAssignmentDao" ref="acmAssignmentDao" />
    </bean>

    <bean id="taskDataAccessUpdateLocator" class="com.armedia.acm.plugins.task.service.impl.TaskDataAccessUpdateLocator">
        <property name="taskDao" ref="acmTaskDao"/>
    </bean>

    <bean id="taskBusinessRule" class="com.armedia.acm.plugins.task.service.impl.TaskBusinessRule">
        <property name="ruleSpreadsheetFilename" value="drools-task-rules.xlsx"/>
    </bean>
</beans>