<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="taskPluginProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.arkcase/acm/taskPlugin.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props/>
        </property>
    </bean>

    <!-- actions -->

    <bean id="createTaskContainerFolder" class="com.armedia.acm.event.AcmAction">
        <property name="actionId" value="CREATE_TASK_CONTAINER_FOLDER"/>
        <property name="actionName" value="Create Task Container Folder"/>
        <property name="targetMuleEndpoint" value="jms://createTaskContainerFolder.in"/>
        <property name="parameters">
            <list/>
        </property>
    </bean>

    <!-- event handlers -->

    <!-- container folder handlers -->
    <bean id="activitiTaskCreatedFolderHandler" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.activiti.task.create"/>
        <property name="action" ref="createTaskContainerFolder"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <bean id="adHocTaskCreatedFolderHandler" class="com.armedia.acm.event.EventResponse">
        <property name="eventName" value="com.armedia.acm.app.task.create"/>
        <property name="action" ref="createTaskContainerFolder"/>
        <property name="enabled" value="true"/>
        <property name="parameters">
            <map/>
        </property>
        <property name="respondPredicate" ref="eventSucceededPredicate"/>
    </bean>

    <!-- lookup tables -->

    <bean id="taskPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Task Plugin"/>
        <property name="pluginProperties" ref="taskPluginProperties"/>
        <property name="suportedObjectTypesNames">
            <list>
                <value>TASK</value>
            </list>
        </property>
    </bean>

    <bean id="priorityLevelToNumberMap" class="java.util.HashMap">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="java.lang.Integer">
                <entry key="Low" value="10"/>
                <entry key="Medium" value="50"/>
                <entry key="High" value="70"/>
                <entry key="Expedite" value="90"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="taskChangeNotifier" class="com.armedia.acm.plugins.task.service.TaskChangeNotifier">
        <property name="acmObjectChangedNotifier" ref="acmObjectChangeNotifier"/>
    </bean>

    <bean id="acmTaskDao" class="com.armedia.acm.plugins.task.service.impl.ActivitiTaskDao">
        <property name="activitiRuntimeService" ref="activitiRuntimeService"/>
        <property name="activitiTaskService" ref="activitiTaskService"/>
        <property name="activitiRepositoryService" ref="activitiRepositoryService"/>
        <property name="activitiHistoryService" ref="activitiHistoryService"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="participantDao" ref="acmParticipantDao"/>
        <property name="dataAccessPrivilegeListener" ref="dataAccessPrivilegeListener"/>
        <property name="containerFolderDao" ref="acmContainerFolderDao"/>
        <property name="fileService" ref="ecmFileService"/>
        <property name="fileDao" ref="ecmFileDao"/>
        <property name="taskBusinessRule" ref="taskBusinessRule"/>
        <property name="taskExtractor" ref="extractAcmTaskFromEvent"/>
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
        <property name="priorityLevelToNumberMap" ref="priorityLevelToNumberMap"/>
        <property name="taskEventPublisher" ref="taskEventPublisher"/>
        <property name="requiredFieldsPerOutcomeMap">
            <map>
                <entry key="APPROVE">
                    <list/>
                </entry>
                <entry key="SEND_FOR_REWORK">
                    <list>
                        <value>reworkInstructions</value>
                    </list>
                </entry>
                <entry key="RESUBMIT">
                    <list/>
                </entry>
                <entry key="CANCEL_DOCUMENT">
                    <list/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="taskEventPublisher" class="com.armedia.acm.plugins.task.service.TaskEventPublisher"/>

    <bean id="acmApplicationTaskEventListener"
          class="com.armedia.acm.plugins.task.service.impl.AcmApplicationTaskEventListener">
        <property name="acmObjectHistoryService" ref="acmObjectHistoryService"/>
        <property name="acmObjectHistoryEventPublisher" ref="acmObjectHistoryEventPublisher"/>
        <property name="taskEventPublisher" ref="taskEventPublisher"/>
        <property name="acmAssignmentDao" ref="acmAssignmentDao"/>
    </bean>

    <bean id="extractAcmTaskFromEvent" class="com.armedia.acm.plugins.task.service.impl.ExtractAcmTaskFromEvent">
        <property name="dao" ref="acmTaskDao"/>
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
    </bean>

    <bean id="taskToSolrTransformer" class="com.armedia.acm.plugins.task.service.impl.TaskToSolrTransformer">
        <property name="taskDao" ref="acmTaskDao"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="searchAccessControlFields" ref="searchAccessControlFields"/>
    </bean>

    <bean id="taskHistoryListener" class="com.armedia.acm.plugins.task.service.TaskHistoryListener">
        <property name="acmObjectHistoryService" ref="acmObjectHistoryService"/>
    </bean>

    <bean id="activitiTaskHistoryListener"
          class="com.armedia.acm.plugins.task.service.ActivitiTaskHistoryListener">
        <property name="acmObjectHistoryService" ref="acmObjectHistoryService"/>
        <property name="activitiTaskDao" ref="acmTaskDao"/>
    </bean>

    <bean id="taskChangeStatusListener" class="com.armedia.acm.plugins.task.service.TaskChangeStatusListener">
        <property name="muleContextManager" ref="muleContextManager"/>
    </bean>

    <bean id="taskDataAccessUpdateLocator"
          class="com.armedia.acm.plugins.task.service.impl.TaskDataAccessUpdateLocator">
        <property name="taskDao" ref="acmTaskDao"/>
    </bean>

    <bean id="taskBusinessRule" class="com.armedia.acm.plugins.task.service.impl.TaskBusinessRule">
        <property name="ruleSpreadsheetFilename" value="drools-task-rules.xlsx"/>
    </bean>

    <bean id="acmTaskService" class="com.armedia.acm.plugins.task.service.impl.AcmTaskServiceImpl">
        <property name="executeSolrQuery" ref="executeSolrQuery"/>
        <property name="acmContainerDao" ref="acmContainerFolderDao"/>
        <property name="taskDao" ref="acmTaskDao"/>
        <property name="fileDao" ref="ecmFileDao"/>
        <property name="taskEventPublisher" ref="taskEventPublisher"/>
        <property name="acmFolderService" ref="acmFolderService"/>
        <property name="noteDao" ref="noteDao"/>
        <property name="ecmFileService" ref="ecmFileService"/>
        <property name="objectAssociationService" ref="objectAssociationService"/>
        <property name="objectAssociationEventPublisher" ref="objectAssociationEventPublisher"/>
    </bean>
    
    <bean id="acmApplicationTaskEventHandler" class="com.armedia.acm.plugins.task.service.impl.AcmApplicationTaskEventHandler">
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
        <property name="taskDao" ref="acmTaskDao"/>
        <property name="sendDocumentsToSolr" ref="sendDocumentsToSolr"/>
        <property name="taskToSolrTransformer" ref="taskToSolrTransformer"/>
        <property name="eventList">
             <list value-type="java.lang.String">
                 <value>create</value>
                 <value>complete</value>
                 <value>delete</value>
                 <value>save</value>
                 <value>assignment</value>
             </list>
         </property>
    </bean>
    
    <bean id="acmTaskActivitiEventHandler" class="com.armedia.acm.plugins.task.service.impl.AcmTaskActivitiEventHandler">
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
        <property name="taskDao" ref="acmTaskDao"/>
        <property name="dataAccessPrivilegeListener" ref="dataAccessPrivilegeListener"/>
        <property name="acmParticipantDao" ref="acmParticipantDao"/>
        <property name="sendDocumentsToSolr" ref="sendDocumentsToSolr"/>
        <property name="taskToSolrTransformer" ref="taskToSolrTransformer"/>
        <property name="eventList">
             <list value-type="java.lang.String">
                 <value>create</value>
                 <value>complete</value>
                 <value>delete</value>
                 <value>save</value>
                 <value>terminate</value>
             </list>
         </property>
    </bean>
</beans>