<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:property-placeholder
        properties-ref="adminPluginProperties"
        ignore-unresolvable="true"
        local-override="false"
        order="1"/>


    <!-- keeping this bean for now even though we are not using any properties yet.  -->
    <bean id="adminPluginProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.acm/adminPlugin.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
            </props>
        </property>
    </bean>

    
    <bean id="adminPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
         <property name="pluginName" value="Admin Plugin"/>
        <property name="pluginProperties" ref="adminPluginProperties"/>
        <property name="privileges">
            <list>
                <ref bean="adminPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/admin"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/admin/locks"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/admin/dashboard"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/admin/template"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/admin/template"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/admin/template/list"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/admin/labelconfiguration/resource"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/plugin/admin/labelconfiguration/resource"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/admin/labelconfiguration/languages"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/admin/labelconfiguration/namespaces"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>

            </list>
        </property>

    </bean>

    <bean id="adminPrivilege" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivilege">
        <property name="privilegeName" value="acm-admin"/>
        <property name="applicationRolesWithPrivilege">
            <list>
                <value>ROLE_ADMINISTRATOR</value>
            </list>
        </property>
    </bean>


</beans>