<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <bean id="addCorrespondenceTemplate" class="com.armedia.acm.plugins.admin.web.api.AddCorrespondenceTemplatesAPI">
    </bean>

    <bean id="downloadCorrespondenceTemplate" class="com.armedia.acm.plugins.admin.web.api.TemplateDownloadControllerAPI">
    </bean>

    <bean id="listCorrespondenceTemplates" class="com.armedia.acm.plugins.admin.web.api.ListAllTemplatesControllerAPI">
    </bean>

    <bean id="labelConfigurationRetrieveResource" class="com.armedia.acm.plugins.admin.web.api.LabelConfigurationRetrieveResource">
        <property name="resourcesFilesLocation" value="#{ systemProperties ['user.home'] }/.acm/labels/%s.%s.json"/>
    </bean>

    <bean id="labelConfigurationUpdateResource" class="com.armedia.acm.plugins.admin.web.api.LabelConfigurationUpdateResource">
        <property name="resourcesFilesLocation" value="#{ systemProperties ['user.home'] }/.acm/labels/%s.%s.json"/>
    </bean>

    <bean id="labelConfigurationRetrieveLanguages" class="com.armedia.acm.plugins.admin.web.api.LabelConfigurationRetrieveLanguages">
        <property name="languagesFileLocation" value="#{ systemProperties ['user.home'] }/.acm/labels/languages.json"/>
    </bean>

    <bean id="labelConfigurationRetrieveNamespaces" class="com.armedia.acm.plugins.admin.web.api.LabelConfigurationRetrieveNamespaces">
        <property name="namespacesFileLocation" value="#{ systemProperties ['user.home'] }/.acm/labels/namespaces.json"/>
    </bean>

    <bean id="labelConfigurationRetrieveSettings" class="com.armedia.acm.plugins.admin.web.api.LabelConfigurationRetrieveSettings">
        <property name="settingsFileLocation" value="#{ systemProperties ['user.home'] }/.acm/labels/settings.json"/>
    </bean>

    <bean id="labelConfigurationUpdateSettings" class="com.armedia.acm.plugins.admin.web.api.LabelConfigurationUpdateSettings">
        <property name="settingsFileLocation" value="#{ systemProperties ['user.home'] }/.acm/labels/settings.json"/>
    </bean>

    <bean id="templateUpload" class="com.armedia.acm.plugins.admin.model.TemplateUpload"/>

</beans>