<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="adminPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Admin Plugin"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
    </bean>

    <!-- LDAP configuration API -->
    <bean id="ldapConfigurationService" class="com.armedia.acm.plugins.admin.service.LdapConfigurationService">
        <property name="encryptablePropertyUtils" ref="acmEncryptablePropertyUtils"/>
        <property name="ldapDirectoryConfig" ref="ldapDirectoryConfig"/>
        <property name="templatesConfigMap">
            <map>
                <entry key="openldap" value-ref="openLdapTemplateConfig"/>
                <entry key="activedirectory" value-ref="adTemplateConfig"/>
            </map>
        </property>
        <property name="contextHolder" ref="acmContextHolder"/>
    </bean>

    <bean id="workflowConfigurationService" class="com.armedia.acm.plugins.admin.service.WorkflowConfigurationService">
        <property name="acmBpmnService" ref="processDefinitionManagementService"/>
        <property name="temporaryFolder" value="#{ systemProperties ['user.home'] }/.arkcase/acm/activiti/temp/"/>
    </bean>

    <bean id="linkFormsWorkflowsService" class="com.armedia.acm.plugins.admin.service.LinkFormsWorkflowsService">
        <property name="configurationLocation" value="#{ systemProperties ['user.home'] }/.arkcase/acm/rules/"/>
        <property name="configurationFile" value="drools-form-business-process-rules.xlsx"/>
        <property name="configurationFileBackupTemplate" value="drools-form-business-process-rules.xlsx.%s.backup"/>
        <property name="configurationFileBackupRegex" value="^drools[-d]form[-d]business[-d]process[-d]rules.xlsx.[0-9]+.backup$"/>
        <property name="acmBpmnService" ref="processDefinitionManagementService"/>
        <property name="acmFileTypesService" ref="acmFileTypesService"/>
    </bean>

    <bean id="customCssService" class="com.armedia.acm.plugins.admin.service.CustomCssService">
        <property name="customCssFile" value="#{ systemProperties ['user.home'] }/.arkcase/custom/branding/custom.css"/>
        <property name="fileConfigurationService" ref="fileConfigurationServiceImpl"/>
        <property name="customCssFileName" value="custom.css"/>
    </bean>

    <bean id="customLogoService" class="com.armedia.acm.plugins.admin.service.CustomLogoService">
        <property name="brandingFilesLocation" value="#{ systemProperties ['user.home'] }/.arkcase/custom/branding/"/>
        <property name="fileConfigurationService" ref="fileConfigurationServiceImpl"/>
        <property name="headerLogoFile" value="header-logo.png"/>
        <property name="loginLogoFile" value="login-logo.png"/>
        <property name="emailLogoFile" value="email-logo.png"/>
    </bean>

    <bean id="moduleConfigurationService" class="com.armedia.acm.plugins.admin.service.ModuleConfigurationService">
        <property name="configurationContainer" ref="configurationContainer"/>
    </bean>

    <bean id="googleAnalyticsConfigService" class="com.armedia.acm.plugins.admin.service.GoogleAnalyticsConfigService">
        <property name="config" ref="googleAnalyticsConfig"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
    </bean>

    <!-- Roles Privileges API-->
    <bean id="rolesPrivilegesService" class="com.armedia.acm.plugins.admin.service.RolesPrivilegesService">
        <property name="applicationRolesPrivilegesTemplatesLocation"
                  value="#{ systemProperties ['user.home'] }/.arkcase/acm/spring/roles-privileges-templates/"/>
        <property name="applicationRolesPrivilegesTemplateFile" value="spring-acm-global-privileges.xml.ftl"/>
        <property name="applicationRolesPrivilegesFile"
                  value="#{ systemProperties ['user.home'] }/.arkcase/acm/spring/spring-config-acm-plugins/spring-acm-global-privileges.xml"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="rolesConfig" ref="applicationRolesConfig"/>
        <property name="privilegesConfig" ref="applicationPrivilegesConfig"/>
        <property name="rolesToPrivilegesConfig" ref="rolesToPrivileges"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
        <property name="collectionPropertiesConfigurationService" ref="collectionPropertiesConfigurationService"/>
    </bean>

    <bean id="historyCleanJob" class="com.armedia.acm.plugins.admin.service.HistoryCleanService">
        <property name="applicationPropertiesManagementService" ref="applicationPropertiesManagementService"/>
        <property name="auditDao" ref="auditDao"/>
        <property name="notificationDao" ref="notificationDao"/>
        <property name="executeSolrQuery" ref="executeSolrQuery"/>
        <property name="applicationConfig" ref="applicationProperties"/>
    </bean>

    <bean id="cleanHistoryJobDescriptor" class="com.armedia.acm.plugins.admin.service.CleanHistoryJobDescriptor" parent="acmJobDescriptor">
        <property name="historyCleanService" ref="historyCleanJob"/>
    </bean>

    <bean id="ldapDirectoryConfig" class="com.armedia.acm.plugins.admin.model.LdapDirectoryConfig">
        <property name="ldapConfigurationTemplatesLocation"
                  value="#{ systemProperties ['user.home'] }/.arkcase/acm/spring/ldap-config-templates/"/>
        <property name="ldapTemplateFile" value="spring-config-ldap.xml.ftl"/>
        <property name="ldapTemplatePropertiesFile" value="spring-config-ldap.properties.ftl"/>
        <property name="ldapConfigurationLocation" value="#{ systemProperties ['user.home'] }/.arkcase/acm/spring/"/>
        <property name="ldapFile" value="spring-config-%s-ldap.xml"/>
        <property name="ldapPropertiesFile" value="spring-config-%s-ldap.properties"/>
        <property name="ldapPropertiesFileRegex" value="^spring[-d]config[-d][a-zA-Z0-9._]+[-d]ldap.properties$"/>
        <property name="ldapUserPropertiesFile" ref="ldapAddUserPropertiesFile"/>
        <property name="ldapUserPropertiesFileRegex" value="^spring[-d]config[-d]user[-d][a-zA-Z0-9-._]+.properties$"/>
        <property name="ldapUserFileRegex" value="^spring[-d]config[-d]user[-d][a-zA-Z0-9-._]+.xml$"/>
        <property name="ldapGroupPropertiesFile" ref="ldapAddGroupPropertiesFile"/>
        <property name="ldapGroupPropertiesFileRegex" value="^spring[-d]config[-d]group[-d][a-zA-Z0-9-._]+.properties$"/>
        <property name="ldapGroupFileRegex" value="^spring[-d]config[-d]group[-d][a-zA-Z0-9-._]+.xml$"/>
    </bean>

    <bean id="openLdapTemplateConfig" class="com.armedia.acm.plugins.admin.model.LdapTemplateConfig">
        <property name="userPropertiesTemplate" value="spring-config-user-openldap.properties.ftl"/>
        <property name="userPropertiesTemplateName" value="spring-config-user-%s-openldap.properties"/>
        <property name="userFileTemplate" value="spring-config-user-openldap.xml.ftl"/>
        <property name="userFileTemplateName" value="spring-config-user-%s-openldap.xml"/>
        <property name="groupPropertiesTemplate" value="spring-config-group-openldap.properties.ftl"/>
        <property name="groupPropertiesTemplateName" value="spring-config-group-%s-openldap.properties"/>
        <property name="groupFileTemplate" value="spring-config-group-openldap.xml.ftl"/>
        <property name="groupFileTemplateName" value="spring-config-group-%s-openldap.xml"/>
    </bean>

    <bean id="adTemplateConfig" class="com.armedia.acm.plugins.admin.model.LdapTemplateConfig">
        <property name="userPropertiesTemplate" value="spring-config-user-ad.properties.ftl"/>
        <property name="userFileTemplate" value="spring-config-user-ad.xml.ftl"/>
        <property name="userPropertiesTemplateName" value="spring-config-user-%s-ad.properties"/>
        <property name="userFileTemplateName" value="spring-config-user-%s-ad.xml"/>
        <property name="groupPropertiesTemplate" value="spring-config-group-ad.properties.ftl"/>
        <property name="groupFileTemplate" value="spring-config-group-ad.xml.ftl"/>
        <property name="groupPropertiesTemplateName" value="spring-config-group-%s-ad.properties"/>
        <property name="groupFileTemplateName" value="spring-config-group-%s-ad.xml"/>
    </bean>
    <bean id="cmisConfigurationService" class="com.armedia.acm.plugins.admin.service.CmisConfigurationService">
        <property name="encryptablePropertyUtils" ref="acmEncryptablePropertyUtils"/>
        <property name="cmisConfigurationTemplatesLocation" value="${user.home}/.arkcase/acm/cmis/cmis-config-templates/"/>
        <property name="cmisTemplatePropertiesFile" value="camel-config-cmis.properties.ftl"/>
        <property name="cmisConfigurationLocation" value="${user.home}/.arkcase/acm/cmis/"/>
        <property name="cmisPropertiesFile" value="camel-config-%s-cmis.properties"/>
        <property name="cmisIdPattern" ref="cmisIdPattern"/>
        <property name="cmisPropertiesPattern" ref="cmisPropertiesPattern"/>
        <property name="camelContextManager" ref="camelContextManager"/>
    </bean>

    <bean id="cmisPropertiesPattern" class="java.util.regex.Pattern" factory-method="compile">
        <constructor-arg value="^camel[-d]config[-d][a-zA-Z0-9]+[-d]cmis.properties$"/>
    </bean>
    <bean id="cmisIdPattern" class="java.util.regex.Pattern" factory-method="compile">
        <constructor-arg value="^[a-zA-Z0-9.]+$"/>
    </bean>

    <bean id="cmisConfigurationPropertiesService" class="com.armedia.acm.plugins.admin.service.CmisConfigurationPropertiesService">
        <property name="cmisConfigurationService" ref="cmisConfigurationService"/>
        <property name="propertyNamesForIntegerValues">
            <list value-type="java.lang.String">
                <value>cmis.maxIdle</value>
                <value>cmis.maxActive</value>
                <value>cmis.maxWait</value>
                <value>cmis.Count</value>
                <value>cmis.reconnectFrequency</value>
                <value>cmis.minEvictionMillis</value>
                <value>cmis.reconnectCount</value>
                <value>cmis.evictionCheckIntervalMillis</value>
            </list>
        </property>
    </bean>

    <bean id="pdfConversionConfigurationService" class="com.armedia.acm.plugins.admin.service.PDFConversionConfigurationService">
        <property name="pdfConversionConfig" ref="pdfConversionConfig"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
    </bean>

    <bean id="documentUploadPolicyConfigurationService" class="com.armedia.acm.plugins.admin.service.DocumentUploadPolicyConfigurationService">
        <property name="documentUploadPolicyConfig" ref="documentUploadPolicyConfig"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
    </bean>

    <bean id="pdfConversionConfig" class="com.armedia.acm.plugins.admin.model.PdfConversionConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>

    <bean id="documentUploadPolicyConfig" class="com.armedia.acm.plugins.admin.model.DocumentUploadPolicyConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>

    <bean id="googleAnalyticsConfig" class="com.armedia.acm.plugins.admin.model.GoogleAnalyticsConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>

    <bean id="applicationPropertiesManagementService" class="com.armedia.acm.plugins.admin.service.ApplicationPropertiesManagementService">
        <property name="confApplicationConfig" ref="applicationProperties"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
    </bean>

</beans>
