<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
    xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">

    <!-- keeping this bean for now even though we are not using any properties yet.  -->
    <bean id="adminPluginProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.arkcase/acm/adminPlugin.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props></props>
        </property>
    </bean>

    <bean id="adminPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Admin Plugin"/>
        <property name="pluginProperties" ref="adminPluginProperties"/>
    </bean>

    <!-- LDAP configuration API -->
    <bean id="ldapConfigurationService" class="com.armedia.acm.plugins.admin.service.LdapConfigurationService">
        <property name="encryptablePropertyUtils" ref="acmEncryptablePropertyUtils"/>
        <property name="ldapDirectoryConfig" ref="ldapDirectoryConfig"/>
        <property name="templatesConfigMap">
            <map>
                <entry key="openldap" value-ref="openLdapTemplateConfig"/>
                <entry key="activedirectory" value-ref="adTemplateConfig"/>
            </map>
        </property>
        <property name="contextHolder" ref="acmContextHolder"/>
    </bean>

    <bean id="workflowConfigurationService" class="com.armedia.acm.plugins.admin.service.WorkflowConfigurationService">
        <property name="acmBpmnService" ref="processDefinitionManagementService"/>
        <property name="temporaryFolder" value="#{ systemProperties ['user.home'] }/.arkcase/acm/activiti/temp/"/>
    </bean>

    <bean id="linkFormsWorkflowsService" class="com.armedia.acm.plugins.admin.service.LinkFormsWorkflowsService">
        <property name="configurationLocation" value="#{ systemProperties ['user.home'] }/.arkcase/acm/rules/"/>
        <property name="configurationFile" value="drools-form-business-process-rules.xlsx"/>
        <property name="configurationFileBackupTemplate" value="drools-form-business-process-rules.xlsx.%s.backup"/>
        <property name="configurationFileBackupRegex" value="^drools[-d]form[-d]business[-d]process[-d]rules.xlsx.[0-9]+.backup$"/>

        <property name="acmBpmnService" ref="processDefinitionManagementService"/>
        <property name="acmFileTypesService" ref="acmFileTypesService"/>
    </bean>

    <bean id="customCssService" class="com.armedia.acm.plugins.admin.service.CustomCssService">
        <property name="customCssFile" value="#{ systemProperties ['user.home'] }/.arkcase/acm/branding/custom.css"/>
    </bean>

    <bean id="customLogoService" class="com.armedia.acm.plugins.admin.service.CustomLogoService">
        <property name="brandingFilesLocation" value="#{ systemProperties ['user.home'] }/.arkcase/acm/branding/"/>
        <property name="headerLogoFile" value="header-logo.png"/>
        <property name="loginLogoFile" value="login-logo.png"/>
        <property name="emailLogoFile" value="email-logo.png"/>
    </bean>

    <bean id="moduleConfigurationService" class="com.armedia.acm.plugins.admin.service.ModuleConfigurationService">
        <property name="appConfigPropertiesFile" value="#{ systemProperties ['user.home'] }/.arkcase/acm/app-config.properties/"/>
    </bean>

    <bean id="googleAnalyticsConfigurationFile" class="java.io.File">
        <constructor-arg value="${user.home}/.arkcase/acm/googleAnalytics.properties"/>
    </bean>

    <bean id="googleAnalyticsConfigService" class="com.armedia.acm.plugins.admin.service.GoogleAnalyticsConfigService">
        <property name="configFile" ref="googleAnalyticsConfigurationFile"/>
    </bean>

    <bean id="ocrConfigurationPropertiesService" class="com.armedia.acm.plugins.admin.service.OCRConfigurationPropertiesService">
        <property name="propertyFileManager" ref="propertyFileManager"/>
    </bean>

    <bean id="arkCaseOCRService" class="com.armedia.acm.plugins.admin.service.ArkCaseOCRServiceImpl">
        <property name="OCRConfigurationPropertiesService" ref="ocrConfigurationPropertiesService"/>
    </bean>

    <bean id="angularPropertiesManagementService" class="com.armedia.acm.plugins.admin.service.JsonPropertiesManagementService">
        <property name="propertiesFileLocation" value="#{ systemProperties ['user.home'] }/.arkcase/acm/app-properties/properties.json"/>
    </bean>

    <!-- Roles Privileges API-->
    <bean id="rolesPrivilegesService" class="com.armedia.acm.plugins.admin.service.RolesPrivilegesService">
        <property name="applicationRolesFile" value="#{ systemProperties ['user.home'] }/.arkcase/acm/applicationRoles.properties"/>
        <property name="applicationPrivilegesFile"
            value="#{ systemProperties ['user.home'] }/.arkcase/acm/applicationPrivileges.properties"/>
        <property name="applicationRolesPrivilegesPropertiesFile"
            value="#{ systemProperties ['user.home'] }/.arkcase/acm/applicationRolesPrivileges.properties"/>
        <property name="applicationRolesPrivilegesTemplatesLocation"
            value="#{ systemProperties ['user.home'] }/.arkcase/acm/spring/roles-privileges-templates/"/>
        <property name="applicationRolesPrivilegesTemplateFile" value="spring-acm-global-privileges.xml.ftl"/>
        <property name="applicationRolesPrivilegesFile"
            value="#{ systemProperties ['user.home'] }/.arkcase/acm/spring/spring-config-acm-plugins/spring-acm-global-privileges.xml"/>
        <property name="userDao" ref="userJpaDao"/>
    </bean>

    <task:scheduler id="historyCleanScheduler" pool-size="1"/>

    <!-- How often to purge older history events. -->
    <task:scheduled-tasks scheduler="historyCleanScheduler">
        <task:scheduled ref="historyCleanJob" method="cleanHistory" cron="0 0 0/6 * * *"/>
    </task:scheduled-tasks>

    <bean id="historyCleanJob" class="com.armedia.acm.plugins.admin.service.HistoryCleanService">
        <property name="jsonPropertiesManagementService" ref="angularPropertiesManagementService"/>
        <property name="auditDao" ref="auditDao"/>
        <property name="notificationDao" ref="notificationDao"/>
        <property name="executeSolrQuery" ref="executeSolrQuery"/>
    </bean>

    <bean id="ldapDirectoryConfig" class="com.armedia.acm.plugins.admin.model.LdapDirectoryConfig">
        <property name="ldapConfigurationTemplatesLocation"
            value="#{ systemProperties ['user.home'] }/.arkcase/acm/spring/ldap-config-templates/"/>
        <property name="ldapTemplateFile" value="spring-config-ldap.xml.ftl"/>
        <property name="ldapTemplatePropertiesFile" value="spring-config-ldap.properties.ftl"/>
        <property name="ldapConfigurationLocation" value="#{ systemProperties ['user.home'] }/.arkcase/acm/spring/"/>
        <property name="ldapFile" value="spring-config-%s-ldap.xml"/>
        <property name="ldapPropertiesFile" value="spring-config-%s-ldap.properties"/>
        <property name="ldapPropertiesFileRegex" value="^spring[-d]config[-d][a-zA-Z0-9.]+[-d]ldap.properties$"/>
        <property name="ldapUserPropertiesFile" ref="ldapAddUserPropertiesFile"/>
        <property name="ldapUserPropertiesFileRegex" value="^spring[-d]config[-d]user[-d][a-zA-Z0-9-.]+.properties$"/>
        <property name="ldapUserFileRegex" value="^spring[-d]config[-d]user[-d][a-zA-Z0-9-.]+.xml$"/>
        <property name="ldapGroupPropertiesFile" ref="ldapAddGroupPropertiesFile"/>
        <property name="ldapGroupPropertiesFileRegex" value="^spring[-d]config[-d]group[-d][a-zA-Z0-9-.]+.properties$"/>
        <property name="ldapGroupFileRegex" value="^spring[-d]config[-d]group[-d][a-zA-Z0-9-.]+.xml$"/>
    </bean>

    <bean id="openLdapTemplateConfig" class="com.armedia.acm.plugins.admin.model.LdapTemplateConfig">
        <property name="userPropertiesTemplate" value="spring-config-user-openldap.properties.ftl"/>
        <property name="userPropertiesTemplateName" value="spring-config-user-%s-openldap.properties"/>
        <property name="userFileTemplate" value="spring-config-user-openldap.xml.ftl"/>
        <property name="userFileTemplateName" value="spring-config-user-%s-openldap.xml"/>
        <property name="groupPropertiesTemplate" value="spring-config-group-openldap.properties.ftl"/>
        <property name="groupPropertiesTemplateName" value="spring-config-group-%s-openldap.properties"/>
        <property name="groupFileTemplate" value="spring-config-group-openldap.xml.ftl"/>
        <property name="groupFileTemplateName" value="spring-config-group-%s-openldap.xml"/>
    </bean>

    <bean id="adTemplateConfig" class="com.armedia.acm.plugins.admin.model.LdapTemplateConfig">
        <property name="userPropertiesTemplate" value="spring-config-user-ad.properties.ftl"/>
        <property name="userFileTemplate" value="spring-config-user-ad.xml.ftl"/>
        <property name="userPropertiesTemplateName" value="spring-config-user-%s-ad.properties"/>
        <property name="userFileTemplateName" value="spring-config-user-%s-ad.xml"/>
        <property name="groupPropertiesTemplate" value="spring-config-group-ad.properties.ftl"/>
        <property name="groupFileTemplate" value="spring-config-group-ad.xml.ftl"/>
        <property name="groupPropertiesTemplateName" value="spring-config-group-%s-ad.properties"/>
        <property name="groupFileTemplateName" value="spring-config-group-%s-ad.xml"/>
    </bean>
    <bean id="cmisConfigurationService" class="com.armedia.acm.plugins.admin.service.CmisConfigurationService">
        <property name="encryptablePropertyUtils" ref="acmEncryptablePropertyUtils"/>
        <property name="cmisConfigurationTemplatesLocation" value="${user.home}/.arkcase/acm/cmis/cmis-config-templates/"/>
        <property name="cmisTemplateXmlFile" value="mule-config-cmis.xml.ftl"/>
        <property name="cmisTemplatePropertiesFile" value="mule-config-cmis.properties.ftl"/>
        <property name="cmisConfigurationLocation" value="${user.home}/.arkcase/acm/cmis/"/>
        <property name="cmisFile" value="mule-config-%s-cmis.xml"/>
        <property name="cmisPropertiesFile" value="mule-config-%s-cmis.properties"/>
        <property name="cmisIdPattern" ref="cmisIdPattern"/>
        <property name="cmisPropertiesPattern" ref="cmisPropertiesPattern"/>
    </bean>

    <bean id="cmisPropertiesPattern" class="java.util.regex.Pattern" factory-method="compile">
        <constructor-arg value="^mule[-d]config[-d][a-zA-Z0-9]+[-d]cmis.properties$"/>
    </bean>
    <bean id="cmisIdPattern" class="java.util.regex.Pattern" factory-method="compile">
        <constructor-arg value="^[a-zA-Z0-9.]+$"/>
    </bean>

    <bean id="cmisConfigurationPropertiesService" class="com.armedia.acm.plugins.admin.service.CmisConfigurationPropertiesService">
        <property name="cmisConfigurationService" ref="cmisConfigurationService"/>
        <property name="propertyNamesForIntegerValues">
            <list value-type="java.lang.String">
                <value>cmis.maxIdle</value>
                <value>cmis.maxActive</value>
                <value>cmis.maxWait</value>
                <value>cmis.Count</value>
                <value>cmis.reconnectFrequency</value>
                <value>cmis.minEvictionMillis</value>
                <value>cmis.reconnectCount</value>
                <value>cmis.evictionCheckIntervalMillis</value>
            </list>
        </property>
    </bean>

    <bean id="holidayConfigurationService" class="com.armedia.acm.plugins.admin.service.HolidayConfigurationService">
        <property name="holidayFile" value="file:${user.home}/.arkcase/acm/holidayFile.json"/>
        <property name="objectConverter" ref="objectConverter"/>
    </bean>

    <bean id="pdfConversionConfigurationService" class="com.armedia.acm.plugins.admin.service.PDFConversionConfigurationService" init-method="initBean">
        <property name="propertiesFile" value="#{ systemProperties ['user.home'] }/.arkcase/acm/pdfConversionProperties.properties"/>
        <property name="propertyFileManager" ref="propertyFileManager"/>
    </bean>
</beans>