<div ng-controller="Search.FacetsController">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">{{'search.comp.facets.title' | translate}}</div>
        </div>

        <div class="panel-body">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> {{'search.comp.facets.people' | translate}}
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> {{'search.comp.facets.contacts' | translate}}
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> {{'search.comp.facets.city' | translate}}
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> {{'search.comp.facets.phone' | translate}}
                </label>
            </div>
        </div>
    </div>
</div>