<div ng-controller="SearchFacetsController">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">{{'search.comp.facets.title' | translate}}</div>
        </div>

        <div>
            <input type="checkbox">
            <label>People</label><br>
            <input type="checkbox">
            <label>Contacts</label><br>
            <input type="checkbox">
            <label>City</label><br>
            <input type="checkbox">
            <label>Phone</label><br>
        </div>
    </div>
</div>