<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-cmis-1.14.1.jar" contributionJavaDocs="mule-module-cmis-1.14.1-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-cmis-1.14.1.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/cmis" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/cmis/1.1/mule-cmis.xsd" contributionNamespacePrefix="cmis" contributionSources="mule-module-cmis-1.14.1-src.jar" contributionType="cloud-connector" contributionVersion="1.14.1" minimumVersion="3.4" name="CMIS" path="editors.xml" version="1.1"/></extension></plugin>