<div class="modal-header">
    <h3 ng-hide="isEdit">
        <span translate>admin.correspondenceManagement.templates.addTemplate</span>
    </h3>

    <h3 ng-show="isEdit">
        <span translate>admin.correspondenceManagement.templates.editTemplate</span>
    </h3>

</div>
<div class="modal-body">
    <div class="well-sm">
        <div class="row">
            <label class="control-label">{{ 'admin.correspondenceManagement.templates.modal.objectTypes.label' |
                translate
                }}
                <select ng-model="selectedObjectType"
                        ng-options="objectType.id as objectType.name for objectType in objectTypes"
                        ng-change="clearQueryAndFieldNames()"
                        class="form-control input-md">
                </select>
            </label>
        </div>

        <div class="row">
            <label for="querySelect_{{::$id}}"><span translate>admin.correspondenceManagement.templates.modal.querySelect.label</span>
                <span class="required-asterisk">*</span></label>
            <input id="querySelect_{{::$id}}" class="form-control" type="text"
                   ng-model="query.beanId"
                   ng-click="pickQuerySelect()" required>
            </input>
        </div>
        <div ng-show="query.fieldNames.length>0">
            <div class="row"><span translate>admin.correspondenceManagement.templates.fieldNames.label</span></div>

            <div ng-repeat="item in query.fieldNames">
                <div class="row">
                    <div class="col-xs-3"><label>{{item}}</label></div>
                    <div class="col-xs-6"><input type="text" ng-model="fieldValues[$index]"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        <span translate>admin.correspondenceManagement.templates.modal.btnCancel.text</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()" ng-disabled="templateForm.$invalid">
        <span translate>admin.correspondenceManagement.templates.modal.btnOk.text</span>
    </button>
</div>