<div data-ng-controller="Admin.ApplicationVersionController">
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>admin.application.version.config.title</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <p>Product Version: {{applicationVersion}}</p>
                    <p ng-if="extensionVersion">Extension Version: {{extensionVersion}}</p>
                    <p>Date Last Installed: {{buildTime}}</p>
                </div>
            </div>
        </div>
    </div>
</div>