<div>
    <div class="modal-header">
        <div class="panel-title">
            <span translate>admin.application.sequenceManagementReset.title</span>
            <div class="pull-right">
                <button class="btn btn-default btn-xs" data-ng-click="onClickCancel()">
                    <i class="fa fa-lg fa-close"></i></button>
            </div>
        </div>
    </div>
    <div class="model-body">
        <fieldset ng-disabled="viewMode">
             <div class="row" style="margin: 15px;">
                <div class="form-group">
                    <label translate>admin.application.sequenceManagementReset.detailsModal.resetStartDate</label>
                    <date-time-picker data="resetStartDate" date-picker-id="resetStartDate"></date-time-picker>
                </div>
                <div class="form-group">
                    <input type="checkbox" ng-model="resetRepeatableFlag">
                    <label translate>admin.application.sequenceManagementReset.detailsModal.repeatReset</label>
                </div>
                <div class="form-group">
                    <label translate>admin.application.sequenceManagementReset.detailsModal.repeatResetPeriod</label>
                    <input type="number" ng-model="resetRepeatablePeriod">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="onClickSave()" ng-hide="viewMode">
            <span translate>admin.application.sequenceManagementReset.saveBtn</span>
        </button>
        <button class="btn btn-secondary" ng-click="onClickCancel()" ng-hide="viewMode">
            <span translate>admin.application.sequenceManagementReset.cancelBtn</span>
        </button>
    </div>
</div>