<panel-view header="{{'admin.application.login.config.title' | translate}}" collapsible="false">
    <div ng-controller="Admin.LoginConfigController" class="well-sm">
        <form>
            <div class="text">
                <label class="control-label" for="idleLimit">
                    <span translate>admin.application.login.config.idleLimit.label</span>
                </label>
                <input ng-model="idleLimit"
                       class="form-control input-sm"
                       type="number"
                       id="idleLimit"
                />
            </div>
            <br/>

            <div class="form-group">
                <button ng-click="applyChanges()" class="btn btn-sm btn-primary" translate>
                    admin.application.login.config.apply.label
                </button>
            </div>
        </form>
    </div>
</panel-view>