<panel-view header="{{'admin.application.labels.config.title' | translate}}" collapsible="false">
    <div ng-controller="Admin.LabelsConfigController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <select ng-model="selectedNamespace" class="form-control input-sm"
                                    ng-options="option.name for option in namespacesDropdownOptions" ng-change="reloadGrid()"
                                    ng-disabled="disabledInputs">
                            </select>
                        </div>
                        <div class="form-group">
                            <select ng-model="selectedLocale" class="form-control input-sm"
                                    ng-options="item as item.native for item in languagesDropdownOptions track by item.code"
                                    ng-change="reloadGrid()" ng-disabled="disabledInputs">
                            </select>
                        </div>
                    </form>

                    <span class="navbar-form navbar-left" translate
                            ng-show="disabledInputs">admin.application.labels.config.progressMessage</span>

                    <form class="navbar-form navbar-right ">
                        <button class="btn btn-sm btn-danger" ng-click="resetToDefault()" ng-disabled="disabledInputs"
                                title="{{'admin.application.labels.config.btnReset.title' | translate}}">
                            <i class="fa fa-refresh"></i>
                            <span translate>admin.application.labels.config.btnReset.label</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection adjust-table-height="gridOptions.data.length" ui-grid-pagination
                ui-grid-auto-resize class="grid"></div>
    </div>
</panel-view>
