<div ng-controller="Admin.NestedLookupSubLookupController">
    <span>&nbsp;</span>
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span>{{ selectedParentLookupValue.key ? "Sub lookup for key: " + selectedParentLookupValue.key : "&ltSelect key from the parent lookup&gt"}}</span>
                <div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs" ng-click="addNew()"><i class="fa fa-lg fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
	    <div ui-grid="gridOptions"
	         ui-grid-resize-columns
	         ui-grid-selection
	         adjust-table-height="gridOptions.data.length"
	         ui-grid-auto-resize
	         class="grid">
	    </div>
    </div>
</div>