<div class="modal-header">
    <h3>
        <span translate>admin.application.labels.config.setToDefault.dialog.title</span>
    </h3>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div id="labelSetting">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <select multiple size="23" ng-model="selectedNamespaces" class="form-control"
                                ng-options="option.name for option in namespacesDropdownOptions">
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select multiple size="20" ng-model="selectedLocales" class="form-control"
                                ng-options="item as item.native for item in languagesDropdownOptions track by item.code">
                        </select>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()"
            title="{{'admin.application.labels.config.setToDefault.btnCancel.title' | translate}}">
        <span translate>admin.application.labels.config.setToDefault.btnCancel.label</span>
    </button>
    <button class="btn btn-danger" ng-bootbox-confirm-action="onClickOk()"
            ng-bootbox-confirm="<i class='fa fa-exclamation-triangle text-danger'></i> {{'admin.application.labels.config.setToDefault.resetCustom.confirm' | translate}}"
            title="{{'admin.application.labels.config.setToDefault.btnReset.title' | translate}}">
        <i class="fa fa-trash-o"></i>
        <span translate>admin.application.labels.config.setToDefault.btnReset.label</span>
    </button>
</div>