<div ng-controller="Admin.LookupsConfigController">
    <panel-view header= "{{'admin.application.lookups.config.title' | translate}}" collapsible="false">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-3 b-r">
                    <label>{{'admin.application.lookups.config.choose' | translate}}</label>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs" ng-click="addLookup()"><i class="fa fa-lg fa-plus"></i>
                        </button>
                        <button class="btn btn-default btn-xs" ng-click="deleteLookUpsConfirm()">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    <select ng-model="selectedLookupDef" ng-change="selectLookupDef()" class="form-control"
                            ng-options="lookupDef.name for lookupDef in lookupsDefs | orderObjectBy:'name'" name="" size={{lookupsDefs.length}} style="height: 70vh">
                    </select>
                </div>
                <div class="col-xs-9 b-r">
                    <div ng-include="view"></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </panel-view>
</div>