<panel-view header="{{'admin.application.labels.config.title' | translate}}" collapsible="false">
    <div ng-controller="Admin.LabelsConfigController">
        <div class="row well-sm">
            <div class="col-sm-2">
                <select ng-model="selectedNamespace" class="form-control input-sm"
                        ng-options="option.name for option in namespacesDropdownOptions"
                        ng-change="reloadGrid()"
                        ng-disabled="disabledInputs">
                </select>
            </div>
            <div class="col-sm-2">
                 <select ng-model="selectedLanguage" class="form-control input-sm"
                         ng-options="lang for lang in languagesDropdownOptions"
                         ng-change="reloadGrid()"
                         ng-disabled="disabledInputs">
                </select>
            </div>

            <div class="col-sm-4">
                <div class="col-sm-4">
                    <label translate>admin.application.labels.config.defaultLabel</label>
                </div>
                <div class="col-sm-4">
                    <select ng-model="selectedDefaultLanguage" class="form-control input-sm"
                            ng-options="lang for lang in languagesDropdownOptions"
                            ng-disabled="disabledInputs">
                    </select>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-sm btn-default" ng-click="changeDefaultLng(selectedDefaultLanguage)" ng-disabled="disabledInputs">
                        <span translate>admin.application.labels.config.applyBtn</span>
                    </button>
                </div>
            </div>

            <div class="col-sm-2">
                <button class="btn btn-sm btn-default" ng-click="resetCurrentModuleResources()" ng-disabled="disabledInputs">
                    <span translate>admin.application.labels.config.resetlModule</span>
                </button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-sm btn-info" ng-click="refreshAllResources()" ng-disabled="disabledInputs" title="{{'admin.application.labels.config.refreshAll.title' | translate}}">
                    <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-sm btn-danger pull-right" ng-click="resetAllResources()" ng-disabled="disabledInputs" title="{{'admin.application.labels.config.resetAll.title' | translate}}">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>

        <div class="row">
            <div ui-grid="gridOptions"
                 ui-grid-resize-columns
                 ui-grid-selection
                 adjust-table-height="gridOptions.data.length"
                 ui-grid-auto-resize
                 class="grid">
            </div>
        </div>
    </div>
</panel-view>
