<div ng-controller="Admin.CMMergeFieldsController">
    <div class="pull-right well">
        <select ng-model="mergingType" ng-options="objectType.key as objectType.value | translate for objectType in correspondenceObjectTypes"
                ng-change="changeType()"
                required>
        </select>
        <button class="btn btn-default btn-xs addMergeFieldButton" ng-click="addNewMergeField()">
            <i class="fa fa-lg fa-plus"></i>
        </button>
    </div>
    <panel-view header="{{'admin.correspondenceManagement.mergefields' | translate}}" collapsible="false">
        <div ui-grid="gridOptions" ui-grid-resize-columns adjust-table-height="gridOptions.data.length" ui-grid-auto-resize
                ui-grid-pagination class="grid"></div>
    </panel-view>
</div>