<div ng-controller="Admin.DashboardConfigController">
    <panel-view header="{{'admin.dashboard.title' | translate}}" collapsible="false">
        <div class="row">
            <object-authorization-roles data="widgetsData" show-filter="showFilter" object-display-name="name"
                    on-object-selected="onObjSelect" role-display-name="name" on-auth-role-change="onAuthRoleSelected"
                    object-title="{{'admin.dashboard.widgets' | translate}}" filter-data-control="filterData"
                    pagination-data-control="scrollLoadData" filter-data-control="filterData"
                    selected-object="lastSelectedRole" />
        </div>
    </panel-view>
</div>
