<panel-view header="{{'admin.documentManagement.deDuplication.title' | translate}}" collapsible="false">
    <div ng-controller="Admin.DeDuplicationController" class="well-sm">
        <form>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="deDuplication.enableDeDuplication">
                    <span translate>admin.documentManagement.deDuplication.enableDeDuplication</span>
                </label>
            </div>
            <div class="form-group">
                <button ng-click="applyChanges()" class="btn btn-sm btn-primary" translate>
                    admin.documentManagement.deDuplication.apply
                </button>
            </div>
        </form>
    </div>
</panel-view>
