<panel-view header="{{'admin.documentManagement.fileUploader.title' | translate}}" collapsible="false">
    <div ng-controller="Admin.FileUploaderController" class="well-sm">
        <form>
            <div class="text">
                <label class="control-label" for="uploadFileSizeLimit">
                    <span translate>admin.documentManagement.fileUploader.uploadFileSizeLimit.label</span>
                </label>
                <input ng-model="uploadFileSizeLimit" class="form-control input-sm" id="uploadFileSizeLimit" />
            </div>
            <br />

            <div class="form-group">
                <button ng-click="applyChanges()" class="btn btn-sm btn-primary" translate>
                    admin.documentManagement.fileUploader.apply.label
                </button>
            </div>
        </form>
    </div>
</panel-view>
