<div ng-controller="Admin.FormWorkflowsLinkController">
	<div class="pull-right well">
		<button class="btn btn-sm btn-default" ng-click="undoChanges()"><i
		        class="fa fa-undo"/>
		    <span translate>admin.formWorkflows.link.undo</span>
		</button>
		<button class="btn btn-sm btn-default" ng-click="saveChanges()"><i
		        class="fa fa-save"/>
		    <span translate>admin.formWorkflows.link.saveChanges</span>
		</button>
	</div>	
    <panel-view header="{{'admin.formWorkflows.link' | translate}}" collapsible="false">
            <hot-table
                    hot-id="formWorkflowsLink"
                    col-widths="columnsWidths"
                    col-headers="true"
                    row-headers="true"
                    fill-handle="false"
                    context-meny="false"
                    manual-column-resize="true"
                    datarows="tableValues"
                    cells="cells"
                    height="750"
                    >
            </hot-table>
    </panel-view>
</div>