<panel-view header="{{'admin.forms.config' | translate}}" collapsible="false">
<div class="pull-right well">
	<select ng-model="selectedTarget"
	        ng-options="option.id as option.name for option in formsDropdownOptions"
	        ng-change="change()">
	    <option value="" translate>admin.forms.defaultValue</option>
	</select>
    <div class="btn-group">
        <a ng-disabled="selectedTarget == null" class="btn btn-sm btn-link"
           ng-disabled="disabledSelectButton" ui-sref="frevvo.new-plainform(openNewFrevvoFormParams)">
            <i class="glyphicon glyphicon-plus-sign"></i>
            <span translate>admin.forms.addForm</span>
        </a>
    </div>
</div>
    <div ng-controller="Admin.FormsConfigController">
            <div ui-grid="gridOptions"
                 ui-grid-resize-columns
                 ui-grid-selection
                 adjust-table-height="gridOptions.data.length"
                 ui-grid-auto-resize
                 class="grid">
            </div>
    </div>
</panel-view>
