<div data-ng-controller="Admin.PortalsController">
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>admin.portals.portalsConfiguration.title</span>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs" ng-click="addNew()">
                        <i class="fa fa-lg fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination
                 adjust-table-height="gridOptions.data.length" class="grid"></div>
        </div>
    </div>
    <panel-view header="{{'admin.portals.portalSettings.title' | translate}}" collapsible="false">
        <div class="row form-group">
            <div class="col-lg-12">
                <form>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="portalConfigDataModel['portal.authenticatedMode']">
                            <span translate>admin.portals.portalSettings.authenticatedMode</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <button ng-click="savePortalConfig()" class="btn btn-sm btn-primary" translate>
                            admin.portals.portalSettings.applyBtn
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </panel-view>
</div>
