<form name="ldapConfigForm" novalidate ng-submit="ok()">
    <div class="modal-header">
        <h3>
            <span translate>Add User Ldap Attributes Template</span>
        </h3>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label>Choose LDAP template type</label>
            <select class="form-control" name="templateType" ng-model="templateType">
                <option value="openLdap">Open LDAP</option>
                <option value="activeDirectory">Active Directory</option>
            </select>
        </div>

        <!--<ul class="list-group">
            <li class="list-group-item active">LDAP attributes</li>
            <li class="list-group-item" ng-repeat="att in attributes">{{ att }}</li>
        </ul>-->

        <div class="form-group" ng-if="templateType == 'openLdap'">
            <label for="shadowMax">Shadow Max</label>
            <input type="number" class="form-control" id="shadowMax"
                   placeholder="Max number of days for which the user password remains valid"
                   ng-model="template.shadowMax">
        </div>

        <div class="form-group" ng-if="templateType == 'openLdap'">
            <label for="shadowWarning">Shadow Warning</label>
            <input type="number" class="form-control" id="shadowWarning"
                   placeholder=" Num of days of advance warning for password expiration"
                   ng-model="template.shadowWarning">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" ng-click="cancel()">
            <span translate>admin.security.ldapConfig.dialog.cancel</span>
        </button>
        <button class="btn btn-primary" type="submit" ng-disabled="ldapConfigForm.$invalid">
            <span translate>admin.security.ldapConfig.dialog.ok</span>
        </button>
    </div>
</form>

