<form name="ldapConfigForm">
    <div class="modal-header">
        <h3 ng-hide="isEdit">
            <span translate>admin.security.ldapConfig.data.addNewDirectory</span>
        </h3>

        <h3 ng-show="isEdit">
            <span translate>admin.security.ldapConfig.data.editRecord</span>
        </h3>
    </div>

    <div class="modal-body">
        <div ng-hide="isEdit">
            <span translate>admin.security.ldapConfig.data.id</span>
        </div>
        <input type="text" ng-model="dir.id" ng-hide="isEdit" required ng-pattern="/^[a-zA-Z0-9]*$/">

        <div>
            <span translate>admin.security.ldapConfig.data.name</span>
        </div>
        <input type="text" ng-model="dir.name" required>

        <div>
            <span translate>admin.security.ldapConfig.data.ldapUrl</span>
        </div>
        <input type="text" ng-model="dir.ldapUrl">

        <div>
            <span translate>admin.security.ldapConfig.data.base</span>
        </div>
        <input type="text" ng-model="dir.base">

        <div>
            <span translate>admin.security.ldapConfig.data.directoryName</span>
        </div>
        <input type="text" ng-model="dir.directoryName">

        <div>
            <span translate>admin.security.ldapConfig.data.authUserDn</span>
        </div>
        <input type="text" ng-model="dir.authUserDn">

        <div>
            <span translate>admin.security.ldapConfig.data.authUserPassword</span>
        </div>
        <input type="text" ng-model="dir.authUserPassword">

        <div>
            <span translate>admin.security.ldapConfig.data.userSearchBase</span>
        </div>
        <input type="text" ng-model="dir.userSearchBase">

        <div>
            <span translate>admin.security.ldapConfig.data.userSearchFilter</span>
        </div>
        <input type="text" ng-model="dir.userSearchFilter">

        <div>
            <span translate>admin.security.ldapConfig.data.allUsersFilter</span>
        </div>
        <input type="text" ng-model="dir.allUsersFilter">

        <div>
            <span translate>admin.security.ldapConfig.data.allUsersPageFilter</span>
        </div>
        <input type="text" ng-model="dir.allUsersPageFilter">

        <div>
            <span translate>admin.security.ldapConfig.data.allUsersSearchBase</span>
        </div>
        <input type="text" ng-model="dir.allUsersSearchBase">

        <div>
            <span translate>admin.security.ldapConfig.data.groupSearchBase</span>
        </div>
        <input type="text" ng-model="dir.groupSearchBase">

        <div>
            <span translate>admin.security.ldapConfig.data.groupSearchFilterForUser</span>
        </div>
        <input type="text" ng-model="dir.groupSearchFilterForUser">

        <div>
            <span translate>admin.security.ldapConfig.data.userIdAttributeName</span>
        </div>
        <input type="text" ng-model="dir.userIdAttributeName">

        <div>
            <span translate>admin.security.ldapConfig.data.userDomain</span>
            <i>
                <small><span translate>admin.security.ldapConfig.data.userDomainNote</span></small>
            </i>
        </div>
        <input type="text" ng-model="dir.userDomain">

        <div>
            <span translate>admin.security.ldapConfig.data.syncPageSize</span>
        </div>
        <input type="text" ng-model="dir.syncPageSize">

        <div>
            <span translate>admin.security.ldapConfig.data.groupSearchFilter</span>
        </div>
        <input type="text" ng-model="dir.groupSearchFilter">

        <div>
            <span translate>admin.security.ldapConfig.data.groupSearchPageFilter</span>
        </div>
        <input type="text" ng-model="dir.groupSearchPageFilter">

    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" ng-click="cancel()">
            <span translate>admin.security.ldapConfig.dialog.cancel</span>
        </button>
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="ldapConfigForm.$invalid">
            <span translate>admin.security.ldapConfig.dialog.ok</span>
        </button>
    </div>
</form>

