<form name="ldapChangePasswordConfigForm" novalidate ng-submit="ok()">
    <div class="modal-header">
        <h3 ng-show="isEdit">
            <span translate>admin.security.ldapConfig.data.editRecord</span>
        </h3>
    </div>

    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error' : errorMessage}">
            <label for="newPass">{{ 'admin.security.ldapConfig.data.authUserPassword' | translate }}</label>
            <input id="newPass" class="form-control" type="password" ng-model="dir.authUserPassword" class="form-control"
                   placeholder="{{ 'admin.security.ldapConfig.data.placeholders.authUserPassword' | translate }}" name="newPassword"
                   required>
            <p class="help-block" ng-bind-html="errorMessage"></p>
        </div>
        <div class="form-group">
            <label for="confirmNewPass">{{ 'admin.security.ldapConfig.data.confirmAuthUserPassword' | translate }}</label>
            <input id="confirmNewPass" class="form-control" type="password" ng-model="confirmNewPassword"
                   placeholder="{{ 'admin.security.ldapConfig.data.placeholders.confirmAuthUserPassword' | translate }}"
                   name="confirmNewPassword" password-check new-password="dir.authUserPassword" confirm-new-password="confirmNewPassword"
                   error-messages="passwordErrorMessages" new-password-validation="newPassword"
                   confirm-new-password-validation="confirmNewPassword" required>
            <p class="help-block" ng-show="ldapChangePasswordConfigForm.newPassword.$error.notSamePasswords">
                <span class="text-danger" translate>{{passwordErrorMessages.notSamePasswordsMessage}}</span>
            </p>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" ng-click="cancel()">
            <span translate>admin.security.ldapConfig.dialog.cancel</span>
        </button>
        <button class="btn btn-primary" type="submit" ng-disabled="ldapChangePasswordConfigForm.$invalid">
            <span translate>admin.security.ldapConfig.dialog.ok</span>
        </button>
    </div>
</form>

