<div ng-controller="Admin.LdapUserManagementController">
    <div class="pull-right well">
        <select ng-model="directoryName"
                ng-options="directory for directory in directories" ng-change="selectDirectory(directoryName)"></select>
        </select>
        <div class="btn-group">
            <button class="btn btn-xs btn-link" ng-click="cloneUser()">
                <i class="fa fa-clone"></i>
                <span translate>admin.security.ldap.user.management.cloneButton</span>
            </button>
            <button class="btn btn-xs btn-link" ng-click="deleteUserConfirm()">
                <i class="fa fa-trash"></i>
                <span translate>admin.security.ldap.user.management.deleteUserBtn</span>
            </button>
        </div>
    </div>
    <panel-view header="{{'admin.security.ldap.user.management.title' | translate}}" collapsible="false">
        <div class="row">
            <object-authorization data="userData" object-display-name="name" on-object-selected="onObjSelect"
                    role-display-name="name" on-auth-role-change="onAuthRoleSelected"
                    object-title="{{'admin.security.ldap.user.management.user' | translate}}" pagination-data-control="scrollLoadData"
                    filter-data-control="filterData" selected-object="lastSelectedUser" object-type="!role" />
        </div>
    </panel-view>
</div>
