<div ng-controller="Admin.LdapConfigController">
	<div class="pull-right well">
	    <div class="btn-group">
	        <button class="btn btn-sm btn-default" ng-click="showModal()">
	            <i class="glyphicon glyphicon-plus-sign"></i>
	            <span translate>admin.security.ldapConfig.addNewDirectory</span>
	        </button>
	    </div>
	</div>
    <panel-view header="{{'admin.security.ldapConfig' | translate}}" collapsible="false">
      		<div ui-grid="gridOptions"
                 ui-grid-resize-columns
                 ui-grid-selection
                 adjust-table-height="gridOptions.data.length"
                 ui-grid-auto-resize
                 class="grid">
            </div>

    </panel-view>
</div>