<search-modal header="{{'admin.security.organizationalHierarchy.addMembers.title' | translate}}"
        search="{{'admin.security.organizationalHierarchy.addMembers.btn.search' | translate}}"
        cancel="{{'admin.security.organizationalHierarchy.addMembers.btn.cancel' | translate}}"
        ok="{{'admin.security.organizationalHierarchy.addMembers.btn.ok' | translate}}"
        search-placeholder="{{'admin.security.organizationalHierarchy.addMembers.btn.searchPlaceholder' | translate}}" filter="{{filter}}"
        multi-select="false" config="config" modal-instance="modalInstance" />
