<div class="modal-header">
    <h4 class="modal-title">
        <span translate>admin.security.calendarCredentialsConfiguration.modal.title</span>
    </h4>
</div>
<div class="modal-body">
    <span translate>admin.security.calendarCredentialsConfiguration.modal.message</span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="cancel()">
        <span translate>admin.security.calendarCredentialsConfiguration.modal.cancel.button</span>
    </button>
    <button type="button" class="btn btn-primary" ng-click="confirm()">
        <span translate>admin.security.calendarCredentialsConfiguration.modal.confirm.button</span>
    </button>
</div>