<div ng-controller="Admin.SecurityEmailSenderConfigurationController">
    <ng-form name="securityEmailConfigurationForm">
        <div class="pull-right well">
            <div class="btn-group">
                <button class="btn btn-xs btn-link" ng-click="save()">
                    <i class="fa fa-save"></i>
                    <span translate>
                        admin.security.emailConfiguration.emailConfigForm.save.button
                    </span>
                </button>
            </div>
        </div>
        <panel-view header="{{'admin.security.emailConfiguration.title' | translate}}" collapsible="false">
            <div class="row">
                <div class="col-lg-12">
                    <label translate>
                        admin.security.emailConfiguration.emailConfigForm.deliveryMethods.label
                    </label>
                </div>
                <div class="well-sm">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="emailSenderConfigDataModel.allowSending">
                                    <span translate>
                                        admin.security.emailConfiguration.emailConfigForm.enableDocumentEmail.checkbox
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="emailSenderConfigDataModel.allowAttachments" ng-disabled="!emailSenderConfigDataModel.allowSending">
                                    <span translate>
                                        admin.security.emailConfiguration.emailConfigForm.enableDocumentAttach.checkbox
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="emailSenderConfigDataModel.allowHyperlinks" ng-disabled="!emailSenderConfigDataModel.allowSending">
                                    <span translate>
                                        admin.security.emailConfiguration.emailConfigForm.enableDocumentHyperlink.checkbox
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label translate>
                        admin.security.emailConfiguration.emailConfigForm.serverSettings.label
                    </label>
                </div>
                <div class="well-sm">
                    <div class="row">
                    <div class="col-lg-4 form-group">
                        <select name="serverType" class="form-control" ng-model="emailSenderConfigDataModel.type">
                            <option value="" disabled selected hidden translate>
                                admin.security.emailConfiguration.emailConfigForm.serverType.placeholder
                            </option>
                            <option ng-repeat="option in serverTypeSelectOptions" value="{{option.value}}" translate>
                                {{option.label}}
                            </option>
                        </select>
                        <span class="text-success" ng-if="emailSenderConfigDataModel.type === 'outlook'">
                            <i class="fa fa-check"></i>
                            <span translate>
                                admin.security.emailConfiguration.emailConfigForm.serverType.configuredExchange.label
                            </span>
                        </span>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <label for="server" translate>
                                admin.security.emailConfiguration.emailConfigForm.server.label
                            </label>
                            <input type="text" name="server" placeholder="{{'admin.security.emailConfiguration.emailConfigForm.server.placeholder' | translate}}" ng-model="emailSenderConfigDataModel.host" class="form-control" ng-disabled="emailSenderConfigDataModel.type !== 'smtp'">
                        </div>
                        <div class="col-lg-2 form-group">
                            <label for="port" translate>
                                admin.security.emailConfiguration.emailConfigForm.port.label
                            </label>
                            <input type="text" name="port" placeholder="{{'admin.security.emailConfiguration.emailConfigForm.port.placeholder' | translate}}" ng-model="emailSenderConfigDataModel.port" class="form-control" ng-disabled="emailSenderConfigDataModel.type !== 'smtp'">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="encryption" translate>
                                admin.security.emailConfiguration.emailConfigForm.encryption.label
                            </label>
                            <select name="encryption" class="form-control" ng-model="emailSenderConfigDataModel.encryption" ng-disabled="emailSenderConfigDataModel.type !== 'smtp'">
                                <option value="" disabled selected hidden translate>
                                    admin.security.emailConfiguration.emailConfigForm.encryption.placeholder
                                </option>
                                <option ng-repeat="option in encryptionSelectOptions" value="{{option.value}}" translate>
                                    {{option.label}}
                                </option>
                            </select>
                        </div>                                    
                    </div>        
                    <div class="row">
                        <div class="col-lg-3 form-group">
                            <label for="username" translate>
                                admin.security.emailConfiguration.emailConfigForm.username.label
                            </label>
                            <input type="text" name="username" placeholder="{{'admin.security.emailConfiguration.emailConfigForm.username.placeholder' | translate}}" ng-model="emailSenderConfigDataModel.username" class="form-control" ng-disabled="emailSenderConfigDataModel.type !== 'smtp'">
<!--                             <span class="text-danger">
                                <i class="fa fa-times"></i>
                                <span translate>
                                    admin.security.emailConfiguration.emailConfigForm.smtpNotValid
                                </span>
                            </span>
                            <span class="text-success">
                                <i class="fa fa-check"></i>
                                <span translate>
                                    admin.security.emailConfiguration.emailConfigForm.smtpValid
                                </span>
                            </span> -->
                        </div>
                        <div class="col-lg-3 form-group">
                            <label for="password" translate>
                                admin.security.emailConfiguration.emailConfigForm.password.label
                            </label>
                            <input name="password" type="password" placeholder="{{'admin.security.emailConfiguration.emailConfigForm.password.placeholder' | translate}}" ng-model="emailSenderConfigDataModel.password" class="form-control" ng-disabled="emailSenderConfigDataModel.type !== 'smtp'"/>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="userFrom" translate>
                                admin.security.emailConfiguration.emailConfigForm.userFrom.label
                            </label>
                            <input name="userFrom" type="text" placeholder="{{'admin.security.emailConfiguration.emailConfigForm.userFrom.placeholder' | translate}}" ng-model="emailSenderConfigDataModel.userFrom" class="form-control" ng-disabled="emailSenderConfigDataModel.type !== 'smtp'"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 form-group">
                            <button class="btn btn-sm btn-primary form-control" name="validate" ng-disabled="emailSenderConfigDataModel.type !== 'smtp'">
                                <span translate>
                                    admin.security.emailConfiguration.emailConfigForm.validate.button
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </panel-view>
    </ng-form>
</div>