<form ng-submit="ok()" novalidate name="userForm">
    <div class="modal-header">
        <h4 class="modal-title">
            <span>{{ header | translate }}</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error' : error }" ng-if="addUser">
            <label for="username">{{"admin.security.organizationalHierarchy.createUserDialog.username" |
                translate}}</label>
            <input type="text" class="form-control" id="username"
                   placeholder="{{admin.security.organizationalHierarchy.addLdapMember.username | translate}}"
                   ng-model="user.userId" required>
            <p class="help-block" ng-show="error">
                {{ error }}
            </p>
        </div>
        <div class="form-group">
            <label for="firstName">{{"admin.security.organizationalHierarchy.createUserDialog.firstName" |
                translate}}</label>
            <input type="text" class="form-control" id="firstName"
                   placeholder="{{admin.security.organizationalHierarchy.addLdapMember.firstName | translate}}"
                   ng-model="user.firstName" required>
        </div>
        <div class="form-group">
            <label for="lastName">{{"admin.security.organizationalHierarchy.createUserDialog.lastName" |
                translate}}</label>
            <input type="text" class="form-control" id="lastName" name="lastName"
                   placeholder="{{admin.security.organizationalHierarchy.addLdapMember.lastName | translate}}"
                   ng-model="user.lastName" required>
        </div>
        <div class="form-group">
            <label for="email">{{"admin.security.organizationalHierarchy.createUserDialog.email" | translate}}</label>
            <input type="email" class="form-control" id="email"
                   placeholder="{{admin.security.organizationalHierarchy.addLdapMember.email | translate}}"
                   ng-model="user.mail" required>
        </div>
        <div class="form-group" ng-if="addUser">
            <label for="password">{{"admin.security.organizationalHierarchy.createUserDialog.password" |
                translate}}</label>
            <input type="password" class="form-control" id="password"
                   placeholder="{{admin.security.organizationalHierarchy.addLdapMember.password | translate}}"
                   ng-model="data.password" required>
        </div>
    </div>
    <div class=" modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="$dismiss()">
            {{ cancelBtn | translate }}
        </button>
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">
            {{ okBtn | translate }}
        </button>
    </div>
</form>