<form name="ldapSyncForm" novalidate ng-submit="ok()">
    <div class="modal-header">
        <h3>
            <span translate>admin.security.ldapConfig.data.sync.dialog.header</span>
        </h3>
    </div>

    <div class="modal-body">
        <div class="form-check">
            <input class="form-check-input" type="radio" id="differentialSync" ng-model="sync" value="PARTIAL_SYNC">
            <label class="form-check-label" for="differentialSync" translate>
                admin.security.ldapConfig.data.sync.dialog.type.partial
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="fullSync" ng-model="sync" value="FULL_SYNC">
            <label class="form-check-label" for="fullSync" translate>
                admin.security.ldapConfig.data.sync.dialog.type.full
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" ng-click="cancel()">
            <span translate>admin.security.ldapConfig.dialog.cancel</span>
        </button>
        <button class="btn btn-primary" type="submit">
            <span translate>admin.security.ldapConfig.dialog.ok</span>
        </button>
    </div>
</form>

