<panel-view header="{{'admin.branding.logo' | translate}}" collapsible="false">
    <div ng-controller="Admin.StateOfArkcaseController">
        <div class="clearfix">
            <div class="col-lg-6">
                <h4 translate>admin.state-of-arkcase.header.title</h4>
                <div>
                    <button class="btn btn-sm btn-default">
                        <i class="fa fa-file"></i>
                        <span translate>admin.state-of-arkcase.btn.download</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</panel-view>
