<div class="modal-header">
    <h3>
        <span translate>admin.workflows.config.showHistory.dialog.title</span>
    </h3>
</div>

<div class="modal-body">
    <div>
        <span translate>admin.workflows.config.showHistory.dialog.body</span>
    </div>
    <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection adjust-table-height="gridOptions.data.length" ui-grid-auto-resize
            class="grid"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="cancel()">
        <span translate>admin.workflows.config.showHistory.dialog.cancel</span>
    </button>
    <button class="btn btn-primary" ng-click="activate()" ng-disabled="activateBtnDisabled">
        <span translate>admin.workflows.config.showHistory.dialog.activate</span>
    </button>
</div>