<div class="col-xs-12">
    <div class="col-xs-3 b-r" ng-hide="firstSelectHide">
        <label>{{'common.directive.objectAuthorization.choose' | translate}}&nbsp;{{objectTitle}}</label>
        <select ng-model="selectedObject" ng-change="selectObject()"
                ng-options="d[objectDisplayName] | translate for d in data.chooseObject track by d.key" name="" size="15"
                class="form-control" pagination-on-scroll load-more="paginationDataControl.loadObjectsScroll()">
        </select>
        <object-authorization-roles-filter filter="filterDataControl.objectsFilter(data)" ng-hide="hideFilter" />
    </div>
    <div class="col-xs-4 b-r"><label>{{member ? 'common.directive.objectAuthorization.not_member' :
        'common.directive.objectAuthorization.not_authorized' | translate}}</label>
        <select ng-model="selectedNotAuthorized"
                ng-options="na[roleDisplayName] for na in data.selectedNotAuthorized | filter:'{{objectType}}'" name="" size="15" multiple
                class="form-control" pagination-on-scroll load-more="paginationDataControl.loadUnauthorizedScroll()"
                reset-scroll-px="resetScrollOnSelect" id="selectedNotAuthorized" ng-mouseover="showTooltipFunction()">
        </select>
        <object-authorization-roles-filter filter="filterDataControl.unauthorizedFilter(data)" ng-hide="hideFilter" />
    </div>
    <div class="col-xs-1 b-r" style="text-align:center;"><br /><br /><br /><br />
        <button class="btn btn-rounded btn-sm" data-toggle="tooltip"
                data-title="{{'common.directive.objectAuthorization.move_right' | translate}}" ng-click="authorize()"><i
                class="fa fa-angle-double-right"></i>
        </button>
        <br /><br />
        <button class="btn btn-rounded btn-sm" data-toggle="tooltip"
                data-title="{{'common.directive.objectAuthorization.move_left' | translate}}" ng-click="unAuthorize()"><i
                class="fa fa-angle-double-left"></i>
        </button>
        <br /><br /><br /><br /><br />
    </div>
    <div class="col-xs-4 b-r"><label>{{member ? 'common.directive.objectAuthorization.member' :
        'common.directive.objectAuthorization.authorized' | translate}}</label>
        <select ng-model="selectedAuthorized" ng-options="a[roleDisplayName] for a in data.selectedAuthorized | filter:'{{objectType}}'"
                size="15" multiple class="form-control" pagination-on-scroll load-more="paginationDataControl.loadAuthorizedScroll()"
                reset-scroll-px="resetScrollOnSelect" id="selectedAuthorized" ng-mouseover="showTooltipFunction()">
        </select>
        <object-authorization-roles-filter filter="filterDataControl.authorizedFilter(data)" ng-hide="hideFilter" />
    </div>
</div>
