<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">


    <bean id="osProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="frontEndCommandSuffix">
                    #{ systemProperties['os.name'].startsWith('Windows') ? '.cmd' : '' }
                </prop>
                <prop key="frontEndCommandPrefix">
                    #{ systemProperties['os.name'].startsWith('Windows') ? 'cmd /C ' : '' }
                </prop>
                <prop key="frontEndCommandPath">
                    #{ 'true'.equals(systemProperties['arkcase.external.bower-grunt']) ? ''
                      : systemProperties['os.name'].startsWith('Windows') ? 'node_modules\\.bin\\' : 'node_modules/.bin/' }
                </prop>
            </props>
        </property>
    </bean>
    <bean id="angularResourceCopierProperties"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" ref="osProperties"/>
    </bean>

    <bean id="angularResourceCopier" class="com.armedia.acm.userinterface.angular.AngularResourceCopier">
        <property name="tempFolderPath" value="#{ systemProperties ['user.home'] }/.arkcase/tmp"/>
        <property name="deployFolderPath" value="#{ systemProperties ['user.home'] }/.arkcase/custom"/>
        <property name="oldDeployFoldersToBeRemovedBeforeBuild">
            <list>
                <value>/modules_config/config</value>
                <value>/directives</value>
                <value>/modules</value>
                <value>/services</value>
                <value>/templates</value>
                <value>/filters</value>
            </list>
        </property>
        <property name="frontEndCommandsToBeExecuted">
            <list>
                <value>${frontEndCommandPrefix}npm${frontEndCommandSuffix} --no-color install</value>
                <value>${frontEndCommandPrefix}${frontEndCommandPath}bower${frontEndCommandSuffix} --no-color -q
                    --config.interactive=false install
                </value>
                <value>${frontEndCommandPrefix}${frontEndCommandPath}grunt${frontEndCommandSuffix} --no-color</value>
            </list>
        </property>
        <property name="resourceFoldersToCopyFromArchive">
            <list>
                <value>assets</value>
                <value>config</value>
                <value>directives</value>
                <value>modules</value>
                <value>modules_config</value>
                <value>scss</value>
                <value>services</value>
                <value>templates</value>
                <value>filters</value>
            </list>
        </property>
        <property name="assembledFoldersToCopyToDeployment">
            <list>
                <value>assets</value>
                <value>directives</value>
                <value>lib</value>
                <value>modules</value>
                <value>modules_config</value>
                <value>services</value>
                <value>filters</value>
            </list>
        </property>
        <property name="filesToCopyFromArchive">
            <list>
                <value>.bowerrc</value>
                <value>.csslintrc</value>
                <value>.jshintrc</value>
                <value>application.js</value>
                <value>bower.json</value>
                <value>config.js</value>
                <value>Gruntfile.js</value>
                <value>package.json</value>
            </list>
        </property>
        <property name="assembledFilesToCopyToDeployment">
            <list>
                <value>home.html</value>
                <value>application.js</value>
                <value>config.js</value>
            </list>
        </property>


    </bean>
</beans>