<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="acmPluginController" class="com.armedia.acm.pluginmanager.web.AcmPluginController">
        <property name="configurablePluginsManager" ref="acmConfigurablePluginsManager"/>
    </bean>

    <bean id="acmPluginRoleBasedAccessInterceptor" class="com.armedia.acm.pluginmanager.web.AcmPluginRoleBasedAccessInterceptor">
        <property name="pluginPrivilegesConfig" ref="appPluginPrivileges"/>
        <property name="authenticationTokenService" ref="authenticationTokenService"/>
    </bean>
</beans>
