<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="acmPluginManager" class="com.armedia.acm.pluginmanager.service.AcmPluginManager">
    </bean>

    <bean id="acmPluginResourceExpression" class="java.lang.String">
        <constructor-arg value="classpath*:/acm-plugin/*.xml"/>
    </bean>

    <bean id="acmPluginPathMatchingResolver" class="org.springframework.core.io.support.PathMatchingResourcePatternResolver"/>

    <bean id="acmConfigurablePluginsManager" class="com.armedia.acm.pluginmanager.service.AcmConfigurablePluginsManager">
        <property name="contextHolder" ref="acmContextHolder"/>
    </bean>

    <bean id="appPluginPrivileges" class="com.armedia.acm.pluginmanager.model.ApplicationPluginPrivilegesConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>

</beans>
