<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="sequenceConfiguration" class="java.io.File">
        <constructor-arg value="${user.home}/.arkcase/acm/acmSequenceConfiguration.json"/>
    </bean>

    <bean id="acmSequenceHandler" class="com.armedia.acm.services.sequence.listener.AcmSequenceHandler">
        <property name="acmSequenceAnnotationReader" ref="acmSequenceAnnotationReader"/>
        <property name="acmSequenceGenerator" ref="acmSequenceGenerator"/>
    </bean>

    <bean id="acmSequenceDatabaseHandler" class="com.armedia.acm.services.sequence.listener.AcmSequenceDatabaseChangeHandler">
        <property name="acmSequenceAnnotationReader" ref="acmSequenceAnnotationReader"/>
        <property name="sequenceService" ref="acmSequenceService"/>
    </bean>

    <bean id="acmSequenceDatabaseRollbackHandler" class="com.armedia.acm.services.sequence.listener.AcmSequenceDatabaseRollbackChangesHandler">
        <property name="acmSequenceAnnotationReader" ref="acmSequenceAnnotationReader"/>
        <property name="sequenceService" ref="acmSequenceService"/>
    </bean>

    <bean id="acmSequenceGenerator" class="com.armedia.acm.services.sequence.generator.AcmSequenceGenerator" init-method="initSequenceMap">
        <property name="sequenceConfiguration" ref="sequenceConfiguration"/>
        <property name="objectConverter" ref="objectConverter"/>
        <property name="sequenceService" ref="acmSequenceService"/>
    </bean>

    <bean id="acmSequenceDao" class="com.armedia.acm.services.sequence.dao.AcmSequenceDao"/>
    
    <bean id="acmSequenceRegistryDao" class="com.armedia.acm.services.sequence.dao.AcmSequenceRegistryDao"/>
    
    <bean id="acmSequenceResetDao" class="com.armedia.acm.services.sequence.dao.AcmSequenceResetDao"/>
    
    <bean id="acmSequenceAnnotationReader" class="com.armedia.acm.services.sequence.annotation.AcmSequenceAnnotationReader"/>
    
    <bean id="acmSequenceService" class="com.armedia.acm.services.sequence.service.AcmSequenceServiceImpl">
        <property name="sequenceDao" ref="acmSequenceDao"/>
        <property name="sequenceRegistryDao" ref="acmSequenceRegistryDao"/>
        <property name="sequenceResetDao" ref="acmSequenceResetDao"/>
    </bean>
    
</beans>