<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="handleSequenceConfiguration" class="com.armedia.acm.services.sequence.web.api.SequenceConfigurationAPIController">
        <property name="sequenceConfigurationService" ref="acmSequenceConfigurationService"/>
        <property name="sequenceService" ref="acmSequenceService"/>
    </bean>

    <bean id="handleSequenceReset" class="com.armedia.acm.services.sequence.web.api.SequenceResetAPIController">
        <property name="sequenceService" ref="acmSequenceService"/>
    </bean>

    <bean id="sequenceRegistryAPIController" class="com.armedia.acm.services.sequence.web.api.SequenceRegistryAPIController">
        <property name="sequenceService" ref="acmSequenceService"/>
    </bean>

</beans>