<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="fileLockingProvider" class="com.armedia.acm.plugins.ecm.service.lock.FileLockingProvider">
        <property name="objectLockService" ref="objectLockService"/>
        <property name="expiryTimeInMilliseconds" value="600000"/>
    </bean>

    <bean id="folderLockingProvider" class="com.armedia.acm.plugins.ecm.service.lock.FolderLockingProvider">
        <property name="objectLockService" ref="objectLockService"/>
        <property name="folderService" ref="acmFolderService"/>
        <property name="fileLockingProvider" ref="fileLockingProvider"/>
        <property name="expiryTimeInMilliseconds" value="600000"/>
    </bean>

    <bean id="containerLockingProvider" class="com.armedia.acm.plugins.ecm.service.lock.ContainerLockingProvider">
        <property name="objectLockService" ref="objectLockService"/>
        <property name="containerDao" ref="acmContainerFolderDao"/>
        <property name="folderLockingProvider" ref="folderLockingProvider"/>
        <property name="expiryTimeInMilliseconds" value="600000"/>
    </bean>
</beans>