<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- simple logging handler -->
    <bean id="ecmEventHandler" class="com.armedia.acm.plugins.ecm.service.sync.impl.EcmEventHandler"/>

    <bean id="ecmFolderCreatedEventHandler" class="com.armedia.acm.plugins.ecm.service.sync.impl.EcmFolderCreatedEventHandler">
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
        <property name="folderDao" ref="acmFolderDao"/>
        <property name="folderService" ref="acmFolderService"/>
        <property name="fileParticipantService" ref="fileParticipantService"/>
    </bean>

    <bean id="ecmFileCreatedEventHandler" class="com.armedia.acm.plugins.ecm.service.sync.impl.EcmFileCreatedEventHandler">
        <property name="folderService" ref="acmFolderService"/>
        <property name="folderDao" ref="acmFolderDao"/>
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
        <property name="fileDao" ref="ecmFileDao"/>
        <property name="fileService" ref="ecmFileService"/>
    </bean>

    <bean id="ecmFileMovedEventHandler" class="com.armedia.acm.plugins.ecm.service.sync.impl.EcmFileMovedEventHandler">
        <property name="folderService" ref="acmFolderService"/>
        <property name="folderDao" ref="acmFolderDao"/>
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
        <property name="fileDao" ref="ecmFileDao"/>
        <property name="fileService" ref="ecmFileService"/>
        <property name="folderAndFilesUtils" ref="folderAndFilesUtils"/>
    </bean>

</beans>