<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ecmTikaFileService" class="com.armedia.acm.plugins.ecm.service.impl.EcmTikaFileServiceImpl">
        <property name="tikaMetadataToFilePropertiesMap">
            <map>
                <entry key="Content-Type" value="contentType"/>
                <entry key="GPS-Coordinates-Readable" value="gpsReadable"/>
                <entry key="GPS-Coordinates-ISO6709" value="gpsIso6709"/>
                <entry key="tiff:Make" value="deviceMake"/>
                <entry key="tiff:Model" value="deviceModel"/>
                <entry key="tiff:ImageLength" value="heightPixels"/>
                <entry key="tiff:ImageWidth" value="widthPixels"/>
                <entry key="GPS-Coordinates-Longitude" value="gpsLongitudeDegrees"/>
                <entry key="GPS-Coordinates-Latitude" value="gpsLatitudeDegrees"/>
                <entry key="File-Name-Extension" value="nameExtension"/>
                <entry key="Creation-Date-Local" value="created"/>
                <entry key="xmpDM:duration" value="durationSeconds"/>
            </map>
        </property>
        <property name="contentTypeFixes">
            <map>
                <entry key="audio/vnd.wave" value="audio/wav"/>
                <entry key="audio/mpeg" value="audio/mp3"/>
                <entry key="audio/x-flac" value="audio/flac"/>
                <entry key="video/quicktime" value="audio/mp3"/>
            </map>
        </property>
        <property name="nameExtensionFixes">
            <map>
                <entry key=".mpga" value=".mp3"/>
                <entry key=".qt" value=".mp3"/>
            </map>
        </property>
    </bean>

</beans>