<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">


    <bean id="ecmFileServiceProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.arkcase/acm/ecmFileService.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
                <prop key="ecm.defaultBasePath">/Sites/acm/documentLibrary</prop>
                <prop key="ecm.defaultPath.COMPLAINT">/Complaints</prop>
                <prop key="ecm.defaultPath.TASK">/Tasks</prop>
                <prop key="ecm.defaultPath.CASE_FILE">/Case Files</prop>
            </props>
        </property>
    </bean>

    <bean id="ecmFileDao" class="com.armedia.acm.plugins.ecm.dao.EcmFileDao"/>
    <bean id="acmContainerFolderDao" class="com.armedia.acm.plugins.ecm.dao.AcmContainerDao"/>
    <bean id="acmFolderDao" class="com.armedia.acm.plugins.ecm.dao.AcmFolderDao"/>

    <bean id="folderDataAccessUpdateLocator"
          class="com.armedia.acm.plugins.ecm.service.impl.FolderDataAccessUpdateLocator">
        <property name="folderDao" ref="acmFolderDao"/>
    </bean>

    <!-- Bactes Capture folder handler to drop non-pdf files to the Ephesoft shared hot folder -->
    <bean id="captureFolderHandler" class="com.armedia.acm.plugins.ecm.service.impl.SendForPdfConversionImpl">
        <property name="captureFolderToWatch" value="${capture.sendForPdfConversionFolder}"/>
    </bean>

    <!-- Mule Utility Bean for downloading, updating, adding files -->
    <bean id="ecmFileMuleUtils" class="com.armedia.acm.plugins.ecm.utils.EcmFileMuleUtils">
        <property name="muleContextManager" ref="muleContextManager"/>
    </bean>

    <!-- Bactes specific pipeline pre save handlers -->
    <bean id="ecmFileMergeHandler" class="com.armedia.acm.plugins.ecm.pipeline.presave.EcmFileMergeHandler">
        <property name="fileFormatsToMerge" value="${capture.fileFormatsToMerge}"/>
        <property name="fileTypesToMerge" value="${capture.fileTypesToMerge}"/>
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="folderAndFilesUtils" ref="folderAndFilesUtils"/>
        <property name="ecmFileMuleUtils" ref="ecmFileMuleUtils"/>
    </bean>
    <bean id="ecmFileMergedContentHandler"
          class="com.armedia.acm.plugins.ecm.pipeline.presave.EcmFileMergeContentHandler">
        <property name="ecmFileMuleUtils" ref="ecmFileMuleUtils"/>
    </bean>
    <bean id="ecmFileNewContentHandler" class="com.armedia.acm.plugins.ecm.pipeline.presave.EcmFileNewContentHandler">
        <property name="ecmFileMuleUtils" ref="ecmFileMuleUtils"/>
    </bean>
    <bean id="ecmFileNewMetadataHandler" class="com.armedia.acm.plugins.ecm.pipeline.presave.EcmFileNewMetadataHandler">
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="folderDao" ref="acmFolderDao"/>
    </bean>
    <bean id="ecmFileMergedMetadataHandler"
          class="com.armedia.acm.plugins.ecm.pipeline.presave.EcmFileMergedMetadataHandler">
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="folderDao" ref="acmFolderDao"/>
    </bean>
    <bean id="ecmFileSendForPdfConversionHandler"
          class="com.armedia.acm.plugins.ecm.pipeline.presave.EcmFileSendForPdfConversionHandler">
        <property name="captureFolderService" ref="captureFolderHandler"/>
        <property name="fileTypesToBeConvertedToPDF" value="${capture.fileTypesToBeConvertedToPDF}"/>
        <property name="fileFormatsToBeConvertedToPDF" value="${capture.fileFormatsToBeConvertedToPDF}"/>
    </bean>
    <bean id="ecmFileUpdateContentHandler" class="com.armedia.acm.plugins.ecm.pipeline.presave.EcmFileUpdateContentHandler">
        <property name="ecmFileMuleUtils" ref="ecmFileMuleUtils"/>
    </bean>
    <bean id="ecmFileUpdateMetadataHandler" class="com.armedia.acm.plugins.ecm.pipeline.presave.EcmFileUpdateMetadataHandler">
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="folderDao" ref="acmFolderDao"/>
    </bean>
    <!-- This pipeline uploads document content to Alfresco and the metadata to the acm3 database -->
    <bean id="ecmFileUploadPipelineManager" class="com.armedia.acm.services.pipeline.PipelineManager">
        <property name="preSaveHandlers">
            <list>
                <!--<ref bean="ecmFileMergeHandler"/>-->
                <!--<ref bean="ecmFileMergedContentHandler"/>-->
                <ref bean="ecmFileNewContentHandler"/>
                <ref bean="ecmFileNewMetadataHandler"/>
                <!--<ref bean="ecmFileMergedMetadataHandler"/>-->
                <!--<ref bean="ecmFileSendForPdfConversionHandler"/>-->
            </list>
        </property>
        <property name="postSaveHandlers">
            <list>
            </list>
        </property>
    </bean>

    <!-- This pipeline updates document content to Alfresco and the metadata to the acm3 database -->
    <bean id="ecmFileUpdatePipelineManager" class="com.armedia.acm.services.pipeline.PipelineManager">
        <property name="preSaveHandlers">
            <list>
                <ref bean="ecmFileUpdateContentHandler"/>
                <ref bean="ecmFileUpdateMetadataHandler"/>
            </list>
        </property>
        <property name="postSaveHandlers">
            <list>
            </list>
        </property>
    </bean>

    <bean id="ecmFileTransaction" class="com.armedia.acm.plugins.ecm.service.impl.EcmFileTransactionImpl">
        <property name="muleContextManager" ref="muleContextManager"/>
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="folderDao" ref="acmFolderDao"/>
        <property name="folderAndFilesUtils" ref="folderAndFilesUtils"/>
        <property name="fileEventPublisher" ref="fileEventPublisher"/>
        <property name="springContextHolder" ref="acmContextHolder"/>
    </bean>

    <bean id="ecmFileService" class="com.armedia.acm.plugins.ecm.service.impl.EcmFileServiceImpl">
        <property name="ecmFileTransaction" ref="ecmFileTransaction"/>
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="containerFolderDao" ref="acmContainerFolderDao"/>
        <property name="ecmFileServiceProperties" ref="ecmFileServiceProperties"/>
        <property name="muleContextManager" ref="muleContextManager"/>
        <property name="solrQuery" ref="executeSolrQuery"/>
        <property name="searchResults" ref="searchResults"/>
        <property name="sortParameterNameToCmisFieldName">
            <map>
                <entry key="name" value="name_lcs"/>
                <entry key="type" value="type_s"/>
                <entry key="created" value="create_tdt"/>
                <entry key="author" value="author"/>
                <entry key="version" value="version_s"/>
                <entry key="modified" value="last_modified_tdt"/>
                <entry key="creator" value="author"/>
                <entry key="modifier" value="modifier_s"/>
                <entry key="category" value="category_s"/>
            </map>
        </property>
        <property name="solrObjectTypeToAcmType">
            <map>
                <entry key="FILE" value="file"/>
                <entry key="FOLDER" value="folder"/>
            </map>
        </property>
        <property name="categoryMap">
            <map>
                <entry key="document" value="Document"/>
                <entry key="correspondence" value="Correspondence"/>
            </map>
        </property>
        <property name="folderDao" ref="acmFolderDao"/>
        <property name="folderAndFilesUtils" ref="folderAndFilesUtils"/>
    </bean>


    <bean id="ecmFileToSolrTrasnformer" class="com.armedia.acm.plugins.ecm.service.EcmFileToSolrTransformer">
        <property name="ecmFileDao" ref="ecmFileDao"/>
        <property name="enableContentFileIndexing" value="${solr.enableContentFileIndexing}"/>
        <property name="userDao" ref="userJpaDao"/>
    </bean>

    <bean id="acmContainerToSolrTransformer" class="com.armedia.acm.plugins.ecm.service.AcmContainerToSolrTransformer">
        <property name="dao" ref="acmContainerFolderDao"/>
    </bean>

    <bean id="acmFolderToSolrTransformer" class="com.armedia.acm.plugins.ecm.service.AcmFolderToSolrTransformer">
        <property name="dao" ref="acmFolderDao"/>
        <property name="searchAccessControlFields" ref="searchAccessControlFields"/>
    </bean>

    <bean id="fileWorkflowBusinessRule" class="com.armedia.acm.plugins.ecm.service.impl.FileWorkflowBusinessRule">
        <property name="ruleSpreadsheetFilename" value="drools-form-business-process-rules.xlsx"/>
    </bean>

    <!--<bean id="ecmFileTagChangeListener" class="com.armedia.acm.plugins.ecm.service.EcmFileAssociatedTagChangeListener">-->
    <!--<property name="ecmFileDao" ref="ecmFileDao"/>-->
    <!--</bean>-->

    <bean id="acmFolderService" class="com.armedia.acm.plugins.ecm.service.impl.AcmFolderServiceImpl">
        <property name="folderDao" ref="acmFolderDao"/>
        <property name="containerDao" ref="acmContainerFolderDao"/>
        <property name="muleContextManager" ref="muleContextManager"/>
        <property name="fileDao" ref="ecmFileDao"/>
        <property name="fileService" ref="ecmFileService"/>
        <property name="folderAndFilesUtils" ref="folderAndFilesUtils"/>
        <property name="ecmFileServiceProperties" ref="ecmFileServiceProperties"/>
        <property name="participantDao" ref="acmParticipantDao"/>
    </bean>

    <bean id="folderAndFilesUtils" class="com.armedia.acm.plugins.ecm.utils.FolderAndFilesUtils"/>

    <bean id="fileEventPublisher" class="com.armedia.acm.plugins.ecm.service.FileEventPublisher"/>

    <bean id="folderEventPublisher" class="com.armedia.acm.plugins.ecm.service.FolderEventPublisher"/>

    <bean id="ecmFilePlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="ECM File Plugin"/>
    </bean>

    <bean id="acmFileTypesService" class="com.armedia.acm.plugins.ecm.service.impl.AcmFileTypesServiceImpl">
        <property name="propertyFileManager" ref="propertyFileManager" />

        <property name="propertiesLocation" value="${user.home}/.arkcase/acm/"></property>
        <property name="acmFormsPlainPropertiesFile" value="acm-forms-plain.properties"></property>
        <property name="acmFormsAcmPropertiesFile" value="acm-forms.properties"></property>
        <property name="propertyFiles">
            <list>
                <value>caseFilePlugin.properties</value>
                <value>complaintPlugin.properties</value>
                <value>taskPlugin.properties</value>
            </list>
        </property>
    </bean>
</beans>