@import "variables";

html {
  height: 100%;
}

body {
  height: 100%;
  color: $text-color;
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
}


h1 {
  font-size: $font-size-h1;
  color: $font-color-h1;
}

h2 {
  font-size: $font-size-h2;
  color: $font-color-h2;
}

h3 {
  font-size: $font-size-h3;
  color: $font-color-h3;
}

h4 {
  font-size: $font-size-h4;
  color: $font-color-h4;
}

h5 {
  font-size: $font-size-h5;
  color: $font-color-h5;
}

h6 {
  font-size: $font-size-h6;
  color: $font-color-h6;
}