@import "../mixins/shadows";
.no-border {
  border-color: transparent;
  border-width: 0;
  -webkit-box-shadow: none; //TODO: change to mixin
  box-shadow: none;
}

.table-row {
  display: table-row;
  width: 100%;
  height: 100%;
}