<div class="module-content">
    <div class="left-sidebar">
        <div class="module-header">
            <h3>{{header}}</h3>
        </div>
        <div class="scroll-body">
            <ul class="list-unstyled">
                <li ng-repeat="facet in facets" ng-if="facet.fields.length && facet.name != filterName"><strong>{{facet.name}}</strong>
                    <ul class="list-unstyled">
                        <li ng-repeat="field in facet.fields">
                            <div class="checkbox" ng-if="field.count > 0">
                                <label><input type="checkbox"
                                              ng-model="currentFacetSelection[field.name.nameValue + '|' + facet.name]"
                                              ng-click="selectFacet($event.target.checked, facet.name, field.name.nameValue)"/>
                                    {{field.name.nameFiltered | mapKeyValue: customization.labels}}
                                    <span class="pull-right label label-info">{{field.count}}</span></label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-body">
        <div class="module-header">
            <div class="input-group">
                <input
                        type="text"
                        autofocus
                        class="form-control input-md"
                        ng-keyup="keyUp($event)"
                        ng-model="searchQuery"
                        is-selected="isSelected"
                        contenteditable="true"
                        typeahead="result for result in queryTypeahead($viewValue) | limitTo:10 "
                        placeholder="{{searchPlaceholder}}"
                        typeahead-on-select="onSelect($item, $model, $label)"
                        typeahead-loading="loadingResults"
                        typeahead-no-results="noResults"
                        typeahead-focus-first="false"
                        typeahead-min-length="2"
                >
                <span class="input-group-btn">
                    <button class="btn btn-md btn-primary" type="button"
                            ng-click="queryExistingItems()">{{searchBtn}}</button>
                </span>
            </div>
        </div>
        <div class="well-sm">
            <div class="panel panel-success panel-grid" ng-if="gridOptions.data">
                <div class="panel-heading">
                    <div class="panel-title">{{gridOptions.data.length > 0 ? 'Results' : 'No Results'}}
                        <div class="pull-right" ng-if="gridOptions.data.length > 0">
                            <a class="btn btn-xs btn-default" type="button" ng-href="{{exportUrl}}">{{ exportBtn }}</a>
                        </div>
                    </div>
                </div>
                <div ui-grid="gridOptions"
                     ng-if="gridOptions.data.length"
                     adjust-table-height="gridOptions.data.length"
                     ui-grid-resize-columns
                     ui-grid-pagination
                     ui-grid-selection
                     ui-grid-auto-resize
                     ui-grid-exporter
                     class="grid">
                </div>
            </div>
        </div>
    </div>
</div>
