<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="acmBuiltinPathMatchingResolver"
          class="org.springframework.core.io.support.PathMatchingResourcePatternResolver"/>

    <!-- copy to this directory -->
    <bean id="acmBuiltinFolder" class="java.io.File">
        <constructor-arg value="${user.home}/.acm/custom/spring-builtin-configuration"/>
    </bean>

    <!-- copy (even if they already exist) all Spring configuration files that match this pattern -->
    <bean id="acmSpringLibraryCopier" class="com.armedia.acm.spring.SpringClasspathCopier">
        <property name="resolver" ref="acmBuiltinPathMatchingResolver"/>
        <property name="deployFolder" ref="acmBuiltinFolder"/>
        <property name="resourcePattern" value="classpath*:/spring/spring-library-*.xml"/>
        <property name="forceCopy" value="true"/>
    </bean>
    <bean id="acmSpringWebCopier" class="com.armedia.acm.spring.SpringClasspathCopier">
        <property name="resolver" ref="acmBuiltinPathMatchingResolver"/>
        <property name="deployFolder" ref="acmBuiltinFolder"/>
        <property name="resourcePattern" value="classpath*:/spring/spring-web-*.xml"/>
        <property name="forceCopy" value="true"/>
    </bean>

    <!-- compare if there are some customizations and create diff files -->
    <bean id="acmCustomFolder" class="java.io.File">
        <constructor-arg value="${user.home}/.acm/custom/spring"/>
    </bean>
    <bean id="acmConfigurationComparator" class="com.armedia.acm.services.pipeline.diff.ConfigurationComparator">
        <property name="customFolder" ref="acmCustomFolder"/>
        <property name="builtinFolder" ref="acmBuiltinFolder"/>
        <property name="resourcePattern" value="file:${user.home}/.acm/custom/spring/spring-library-*-pipeline.xml"/>
        <property name="resolver" ref="acmBuiltinPathMatchingResolver"/>
    </bean>

</beans>