<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pipelineCaseFileContext" class="com.armedia.acm.services.pipeline.PipelineContext">
        <!--property name="caseFileDao" ref="caseFileDao"/-->
    </bean>

    <!-- pre-save handlers -->
    <bean id="caseFilePreSaveHandler"
          class="com.armedia.acm.services.pipeline.handler.casefile.CaseFilePreSaveHandler"/>
    <!-- post-save handlers -->
    <bean id="caseFilePostSaveHandler"
          class="com.armedia.acm.services.pipeline.handler.casefile.CaseFilePostSaveHandler"/>

    <!-- case file pipeline manager -->
    <bean id="caseFilePipelineManager" class="com.armedia.acm.services.pipeline.PipelineManager">
        <property name="pipelineContext" ref="pipelineCaseFileContext"/>
        <property name="preSaveHandlers">
            <list>
                <ref bean="caseFilePreSaveHandler"/>
            </list>
        </property>
        <property name="postSaveHandlers">
            <list>
                <ref bean="caseFilePostSaveHandler"/>
            </list>
        </property>
    </bean>
</beans>