<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pipelineCompliantContext" class="com.armedia.acm.services.pipeline.PipelineContext">
        <!--property name="complaintDao" ref="complaintDao"/-->
    </bean>

    <!-- pre-save handlers -->
    <bean id="complaintPreSaveHandler"
          class="com.armedia.acm.services.pipeline.handler.complaint.ComplaintPreSaveHandler"/>
    <!-- post-save handlers -->
    <bean id="complaintPostSaveHandler"
          class="com.armedia.acm.services.pipeline.handler.complaint.ComplaintPostSaveHandler"/>
    <bean id="complaintPostSaveHandler2"
          class="com.armedia.acm.services.pipeline.handler.complaint.ComplaintPostSaveHandler"/>

    <!-- complaint pipeline manager -->
    <bean id="complaintPipelineManager" class="com.armedia.acm.services.pipeline.PipelineManager">
        <property name="pipelineContext" ref="pipelineCompliantContext"/>
        <property name="preSaveHandlers">
            <list>
                <ref bean="complaintPreSaveHandler"/>
            </list>
        </property>
        <property name="postSaveHandlers">
            <list>
                <ref bean="complaintPostSaveHandler"/>
                <ref bean="complaintPostSaveHandler2"/>
            </list>
        </property>
    </bean>
</beans>