<div class="modal-header">
    <h3 ng-hide="isEdit">
        <span translate>common.directive.coreParticipantsCreateNewObjectForm.modal.addParticipant.label</span>
    </h3>

    <h3 ng-show="isEdit">
        <span translate>common.directive.coreParticipantsCreateNewObjectForm.modal.editParticipant.label</span>
    </h3>

</div>
<div class="modal-body">
    <form name="participantsForm">
        <div>
            <label for="participantType"><span
                    translate>common.directive.coreParticipantsCreateNewObjectForm.modal.participantType.label</span><span
                    class="required-asterisk">*</span></label>
            <select id="participantType" class="form-control" ng-model="participant.participantType"
                    ng-disabled="participant.editableType === false" required
                    ng-options="item.key as item.value | translate for item in participant.participantTypes"></select>
        </div>
        <div>
            <label for="participantName"><span
                    translate>common.directive.coreParticipantsCreateNewObjectForm.modal.participantName.label</span>
                <span class="required-asterisk">*</span></label>
            <input id="participantName" class="form-control" type="text" ng-model="participant.participantLdapId"
                    ng-disabled="participant.editableUser === false"
                    ng-click="pickParticipant()" required>

            </input>
        </div>
        <div class="text-right" ng-show="showReplaceChildrenParticipants">
            <input id="replaceChildrenParticipant" type="checkbox" ng-checked="true" ng-model="participant.replaceChildrenParticipant"
                    ng-true-value="true">
            <label for="replaceChildrenParticipant">
                <span translate>common.directive.coreParticipantsCreateNewObjectForm.modal.replaceChildrenParticipant</span>
            </label>
            <br/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        <span translate>common.directive.coreParticipantsCreateNewObjectForm.modal.btnCancel.text</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()" ng-disabled="participantsForm.$invalid">
        <span translate>common.directive.coreParticipantsCreateNewObjectForm.modal.btnOk.text</span>
    </button>
</div>