<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">

    <bean id="folderCompressor" class="com.armedia.acm.compressfolder.DefaultFolderCompressor">
        <property name="folderService" ref="acmFolderService"/>
        <property name="fileService" ref="ecmFileService"/>
        <property name="compressedFileNameFormat" value="${compressor.fileNameFormat}"/>
    </bean>

</beans>