<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="folderCompressor" class="com.armedia.acm.compressfolder.DefaultFolderCompressor">
        <property name="folderService" ref="acmFolderService"/>
        <property name="fileService" ref="ecmFileService"/>
        <property name="compressedFileNameFormat" value="#{compressorServiceConfig.fileNameFormat}"/>
        <property name="acmFolderDao" ref="acmFolderDao"/>
    </bean>

    <bean id="compressorServiceConfig" class="com.armedia.acm.compressfolder.model.CompressorServiceConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>
</beans>