<section>
    <div class="well-small">
        <div ng-controller="Profile.PicController" class="row profile">
            <div class="col-xs-4 text-center">
                <div>
                    <img id="picLoading" class="img-circle img-responsive"  ng-src="{{imgSrc}}" fallback-err-src="modules/profile/img/nopic.png">
                    <div>
                        <a id="lnkChangePicture" data-ui-sref="profile" ng-click="changePic()"><u>
                            <span translate>profile.picture.title</span>
                        </u></a>
                    </div>
                    <button ngf-select ng-model="userPicture"  id="file" 
                    		ngf-pattern="'image/*'" ngf-accept="'image/*'" 
                    		class="btn btn-sm btn-default hidden" ngf-change="submit()" ></button>
                </div>
            </div>
            <div class="col-xs-8">
                <h4 id="fullName">{{profilePicFullName|| 'Unknown'}}</h4>
                <h4>  <a href="#"  editable-text="profilePicTitle" onaftersave="update()">{{ profilePicTitle || 'profile.unknown' | translate}}</a></h4>
                <h4 id="email">{{ profilePicEmail || 'Unknown'}}</h4>
                <small>
                    <span translate>profile.picture.email</span>
                </small>
            </div>
        </div>
    </div>
</section>
