<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="acmParticipantDao" class="com.armedia.acm.services.participants.dao.AcmParticipantDao"/>

    <bean id="acmParticipantService" class="com.armedia.acm.services.participants.service.AcmParticipantService" init-method="init">
        <property name="participantDao" ref="acmParticipantDao"/>
        <property name="participantsBusinessRule" ref="participantsBusinessRule"/>
        <property name="acmParticipantEventPublisher" ref="acmParticipantEventPublisher"/>
    </bean>

    <bean id="acmParticipantEventPublisher" class="com.armedia.acm.services.participants.service.AcmParticipantEventPublisher"/>

    <bean id="participantPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Participant Plugin"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
    </bean>

    <bean id="participantToSolrTransformer" class="com.armedia.acm.services.participants.service.ParticipantToSolrTransformer">
        <property name="acmParticipantDao" ref="acmParticipantDao"/>
        <property name="userDao" ref="userJpaDao"/>
    </bean>

    <bean id="participantsBusinessRule" class="com.armedia.acm.services.participants.service.ParticipantsBusinessRule"
          parent="simpleStatelessSingleObjectRuleManager">
        <property name="ruleSpreadsheetFilename" value="drools-participant-assignment-rules.xlsx"/>
    </bean>
</beans>