<div ng-controller="CasesController">
    <div class="module-content">
        <div class="left-sidebar">
            <div class="module-header">
                <h3>{{'cases.title' | translate}}</h3>
            </div>

            <div class="scroll-body" slimscroll="{height: '800px'}"
                 ng-include="'modules/cases/views/cases-list.client.view.html'">
            </div>
        </div>

        <section class="content-body" ng-show="caseData">
            <div class="module-header">
                <div ng-include="'modules/cases/views/components/case-info.client.view.html'"></div>
            </div>
            <div class="clearfix well-sm">
                <div class="col-xs-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> {{'cases.restrict' | translate}}
                        </label>
                    </div>
                </div>

                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-sm btn-default"><i class="fa fa-archive"></i> {{'cases.close.button' | translate}}</button>
                        <button class="btn btn-sm btn-default"><i class="fa fa-bell-o"></i> {{'cases.subscribe.button' | translate}}</button>
                    </div>
                </div>
            </div>

            <div class="well-sm">
                <div data-ui-view></div>
            </div>
        </section>

        <section class="content-body" ng-hide="caseData">
            <div>{{'cases.noCase' | translate}}</div>
        </section>
    </div>
</div>
