<div ng-controller="CasesController">
    <div class="module-content">
        <div class="left-sidebar">
            <div class="module-header">
                <h3>{{'cases.title' | translate}}</h3>
            </div>

            <div class="scroll-body" slimscroll="{height: '800px'}"
                 ng-include="'modules/cases/views/cases-list.client.view.html'">
            </div>
        </div>

        <section class="content-body" ng-show="caseInfo">
            <div class="module-header">
                <div ng-include="'modules/cases/views/components/case-info.client.view.html'"></div>
            </div>
            <div class="clearfix well-sm">
                <div ng-include="'modules/cases/views/components/case-actions.client.view.html'"></div>
            </div>

            <!--<div class="clearfix well-sm">-->
            <!--<div class="col-xs-4">-->
            <!--<div class="checkbox">-->
            <!--<label>-->
            <!--<input type="checkbox"> {{'cases.restrict' | translate}}-->
            <!--</label>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="pull-right">-->
            <!--<div class="btn-group">-->
            <!--<button class="btn btn-sm btn-default" ng-click="loadNewCaseFrevvoForm()"><i-->
            <!--class="fa fa-edit"></i> {{'cases.new.button' | translate}}-->
            <!--</button>-->
            <!--<button class="btn btn-sm btn-default"><i class="fa fa-edit"></i> {{'cases.edit.button' |-->
            <!--translate}}-->
            <!--</button>-->
            <!--<button class="btn btn-sm btn-default" ng-click="loadChangeCaseStatusFrevvoForm(caseData)"><i-->
            <!--class="fa fa-edit"></i> {{'cases.status.button' | translate}}-->
            <!--</button>-->
            <!--<button class="btn btn-sm btn-default"><i class="fa fa-reply"></i>-->
            <!--{{'cases.reinvestigate.button' | translate}}-->
            <!--</button>-->
            <!--<button class="btn btn-sm btn-default"><i class="fa fa-bullhorn"></i> {{'cases.subscribe.button'-->
            <!--| translate}}-->
            <!--</button>-->
            <!--<button class="btn btn-sm btn-default"><i class="fa fa-random"></i> {{'cases.merge.button' |-->
            <!--translate}}-->
            <!--</button>-->
            <!--<button class="btn btn-sm btn-default"><i class="fa fa-code-fork"></i> {{'cases.split.button' |-->
            <!--translate}}-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <div class="well-sm">
                <div data-ui-view></div>
            </div>
        </section>

        <section class="content-body" ng-hide="caseInfo">
            <div>{{progressMsg}}</div>
        </section>
    </div>
</div>
