<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


    <!-- keeping this bean for now even though we are not using any properties yet.  -->
    <bean id="dashboardPluginProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
        <!-- note: must leave "file:" at the start of the file name for spring
        to be able to read the file; otherwise it will try to read from the
        classpath -->
        <property name="location" value="file:${user.home}/.acm/dashboardPlugin.properties"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="false"/>
        <property name="properties">
            <props>
            </props>
        </property>
    </bean>


    <bean id="acmDashboardDao" class="com.armedia.acm.plugins.dashboard.dao.DashboardDao"/>

    <bean id="acmWidgetDao" class="com.armedia.acm.plugins.dashboard.dao.WidgetDao"/>

    <bean id="acmUserDao" class="com.armedia.acm.services.users.dao.ldap.UserDao"/>

    <bean id="dashboardPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Dashboard Plugin"/>
        <property name="pluginProperties" ref="dashboardPluginProperties"/>
    </bean>

  <bean id="dashboardEventPublisher" class="com.armedia.acm.plugins.dashboard.service.DashboardEventPublisher"/>
  <bean id="widgetEventPublisher" class="com.armedia.acm.plugins.dashboard.service.WidgetEventPublisher"/>

</beans>