<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="getDashboardSettings"  class="com.armedia.acm.plugins.dashboard.web.api.GetDashboardConfigAPIController">
        <property name="dashboardDao" ref="acmDashboardDao"/>
        <property name="dashboardPlugin" ref="dashboardPlugin"/>
        <property name="userDao" ref="acmUserDao"/>
        <property name="eventPublisher" ref="dashboardEventPublisher"/>
    </bean>

    <bean id="setDashboardSettings"  class="com.armedia.acm.plugins.dashboard.web.api.SetDashboardConfigAPIController">
        <property name="dashboardDao" ref="acmDashboardDao"/>
        <property name="userDao" ref="acmUserDao"/>
        <property name="eventPublisher" ref="dashboardEventPublisher"/>
    </bean>

    <bean id="getWidgetsByUserRoles"  class="com.armedia.acm.plugins.dashboard.web.api.GetWidgetsByUserRolesAPIController">
        <property name="widgetDao" ref="acmWidgetDao"/>
        <property name="dashboardPlugin" ref="dashboardPlugin"/>
        <property name="userDao" ref="acmUserDao"/>
        <property name="eventPublisher" ref="widgetEventPublisher"/>
    </bean>

    <bean id="getRolesByWidgets"  class="com.armedia.acm.plugins.dashboard.web.api.GetRolesByWidgetsAPIController">
        <property name="widgetDao" ref="acmWidgetDao"/>
        <property name="eventPublisher" ref="widgetEventPublisher"/>
        <property name="userDao" ref="acmUserDao"/>
    </bean>

    <bean id="setAuthorizedWidgetRoles"  class="com.armedia.acm.plugins.dashboard.web.api.SetAuthorizedWidgetRolesAPIController">
        <property name="widgetDao" ref="acmWidgetDao"/>
        <property name="eventPublisher" ref="widgetEventPublisher"/>
        <property name="userDao" ref="acmUserDao"/>
    </bean>
</beans>