<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="acmDashboardDao" class="com.armedia.acm.plugins.dashboard.dao.DashboardDao"/>

    <bean id="acmWidgetDao" class="com.armedia.acm.plugins.dashboard.dao.WidgetDao"/>

    <bean id="moduleDao" class="com.armedia.acm.plugins.dashboard.dao.ModuleDao"/>

    <bean id="userPreferenceDao" class="com.armedia.acm.plugins.dashboard.dao.UserPreferenceDao"/>

    <bean id="siteDao" class="com.armedia.acm.plugins.dashboard.site.dao.SiteDao"/>

    <bean id="dashboardPlugin" class="com.armedia.acm.pluginmanager.model.AcmPlugin">
        <property name="pluginName" value="Dashboard Plugin"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
    </bean>

    <bean id="dashboardEventPublisher" class="com.armedia.acm.plugins.dashboard.service.DashboardEventPublisher"/>

    <bean id="widgetEventPublisher" class="com.armedia.acm.plugins.dashboard.service.WidgetEventPublisher"/>

    <bean id="userPreferenceEventPublisher" class="com.armedia.acm.plugins.dashboard.service.UserPreferenceEventPublisher"/>

    <bean id="moduleEventPublisher" class="com.armedia.acm.plugins.dashboard.service.ModuleEventPublisher"/>

    <bean id="dashboardConfig" class="com.armedia.acm.plugins.dashboard.model.DashboardConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>
</beans>