<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
        
    <bean id="getApplicationRolesAPIController" class="com.armedia.acm.services.functionalaccess.web.api.GetApplicationRolesAPIController">
		<property name="functionalAccessService" ref="functionalAccessService"/>
	</bean>
	
	<bean id="getApplicationRolesToGroupsAPIController" class="com.armedia.acm.services.functionalaccess.web.api.GetApplicationRolesToGroupsAPIController">
		<property name="functionalAccessService" ref="functionalAccessService"/>
	</bean>
	
	<bean id="saveApplicationRolesToGroupsAPIController" class="com.armedia.acm.services.functionalaccess.web.api.SaveApplicationRolesToGroupsAPIController">
		<property name="functionalAccessService" ref="functionalAccessService"/>
	</bean>
	
	<bean id="getGroupsByPrivilegeAPIController" class="com.armedia.acm.services.functionalaccess.web.api.GetGroupsByPrivilegeAPIController">
		<property name="pluginManager" ref="acmPluginManager"/>
        <property name="userDao" ref="userJpaDao"/>
		<property name="functionalAccessService" ref="functionalAccessService"/>
	</bean>
	
	<bean id="getUsersByPrivilegeAndGroupAPIController" class="com.armedia.acm.services.functionalaccess.web.api.GetUsersByPrivilegeAndGroupAPIController">
		<property name="pluginManager" ref="acmPluginManager"/>
		<property name="functionalAccessService" ref="functionalAccessService"/>
	</bean>
    
</beans>