<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="functionalAccessEventPublisher" class="com.armedia.acm.services.functionalaccess.service.FunctionalAccessEventPublisher"/>

    <bean id="functionalAccessService" class="com.armedia.acm.services.functionalaccess.service.FunctionalAccessServiceImpl">
        <property name="eventPublisher" ref="functionalAccessEventPublisher"/>
        <property name="acmGroupDao" ref="groupDao"/>
        <property name="userDao" ref="userJpaDao"/>
        <property name="executeSolrQuery" ref="executeSolrQuery"/>
        <property name="roleToGroupMapping" ref="acmRoleToGroupConfig"/>
        <property name="configurationPropertyService" ref="configurationPropertyService"/>
        <property name="rolesConfig" ref="applicationRolesConfig"/>
        <property name="rolesToGroupsConfig" ref="rolesToGroupsConfig"/>
        <property name="collectionPropertiesConfigurationService" ref="collectionPropertiesConfigurationService"/>
        <property name="rolesToPrivilegesConfig" ref="rolesToPrivileges"/>
    </bean>

</beans>