<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/mail http://www.springframework.org/schema/integration/mail/spring-integration-mail.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       xmlns:int="http://www.springframework.org/schema/integration" xmlns:int-mail="http://www.springframework.org/schema/integration/mail"
       xmlns:util="http://www.springframework.org/schema/util">

    <!-- if we add task executor in publish-subscribe-channel than all mail processing will be done async,
    that would be needed if we are dealing with lot of incoming mails-->
    <int:publish-subscribe-channel id="mailChannelCaseFile"/>

    <int-mail:inbound-channel-adapter id="emailReceiverAdapter"
                                      store-uri="imaps://#{emailReceiverConfig.caseFileUser}:#{emailReceiverConfig.caseFilePassword}@#{emailReceiverConfig.host}:#{emailReceiverConfig.port}/#{emailReceiverConfig.fetchFolder}"
                                      channel="mailChannelCaseFile"
                                      auto-startup="true" should-delete-messages="#{emailReceiverConfig.shouldDeleteMessages}"
                                      should-mark-messages-as-read="#{emailReceiverConfig.shouldMarkMessagesAsRead}"
                                      java-mail-properties="javaMailPropertiesCaseFile" max-fetch-size="1">
        <int:poller max-messages-per-poll="#{emailReceiverConfig.maxMessagesPerPoll}" fixed-rate="#{emailReceiverConfig.fixedRate}"
                    error-channel="mailErrorChannelCaseFile"/>
    </int-mail:inbound-channel-adapter>

    <bean id="loggingHandlerCaseFile" class="org.springframework.integration.handler.LoggingHandler">
        <constructor-arg value="ERROR"/>
        <property name="expression" value="payload.message"/>
    </bean>

    <int:chain input-channel="mailErrorChannelCaseFile">
        <int:service-activator ref="loggingHandlerCaseFile" method="handleMessage"/>
    </int:chain>

    <util:properties id="javaMailPropertiesCaseFile">
        <prop key="mail.imap.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
        <prop key="mail.imap.socketFactory.fallback">false</prop>
        <prop key="mail.store.protocol">#{emailReceiverConfig.protocol}</prop>
        <prop key="mail.debug">#{emailReceiverConfig.debug}</prop>
    </util:properties>

    <!-- Complaint mail channel -->
    <int:publish-subscribe-channel id="mailChannelComplaint"/>

    <int-mail:inbound-channel-adapter id="emailReceiverAdapterComplaint"
                                      store-uri="imaps://#{emailReceiverConfig.complaintUser}:#{emailReceiverConfig.complaintPassword}@#{emailReceiverConfig.host}:#{emailReceiverConfig.port}/#{emailReceiverConfig.fetchFolder}"
                                      channel="mailChannelComplaint"
                                      auto-startup="true" should-delete-messages="#{emailReceiverConfig.shouldDeleteMessages}"
                                      should-mark-messages-as-read="#{emailReceiverConfig.shouldMarkMessagesAsRead}"
                                      java-mail-properties="javaMailPropertiesComplaint" max-fetch-size="1">
        <int:poller max-messages-per-poll="#{emailReceiverConfig.maxMessagesPerPoll}" fixed-rate="#{emailReceiverConfig.fixedRate}"
                    error-channel="mailErrorChannelComplaint"/>
    </int-mail:inbound-channel-adapter>

    <bean id="loggingHandlerComplaint" class="org.springframework.integration.handler.LoggingHandler">
        <constructor-arg value="ERROR"/>
        <property name="expression" value="payload.message"/>
    </bean>

    <int:chain input-channel="mailErrorChannelComplaint">
        <int:service-activator ref="loggingHandlerCaseFile" method="handleMessage"/>
    </int:chain>

    <util:properties id="javaMailPropertiesComplaint">
        <prop key="mail.imap.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
        <prop key="mail.imap.socketFactory.fallback">false</prop>
        <prop key="mail.store.protocol">#{emailReceiverConfig.protocol}</prop>
        <prop key="mail.debug">#{emailReceiverConfig.debug}</prop>
    </util:properties>

    <bean id="emailReceiverConfig" class="com.armedia.acm.email.model.EmailReceiverConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>

    <bean id="emailSenderConfig" class="com.armedia.acm.email.model.EmailSenderConfig" scope="refresh">
        <aop:scoped-proxy/>
    </bean>
</beans>