<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="listBillingItems" class="com.armedia.acm.services.billing.web.api.ListBillingItemsAPIController">
        <property name="billingService" ref="billingService"/>
    </bean>

    <bean id="createBillingItem" class="com.armedia.acm.services.billing.web.api.CreateBillingItemAPIController">
        <property name="billingService" ref="billingService"/>
    </bean>

    <bean id="listBillingInvoices" class="com.armedia.acm.services.billing.web.api.ListBillingInvoicesAPIController">
        <property name="billingService" ref="billingService"/>
    </bean>
    
    <bean id="createBillingInvoice" class="com.armedia.acm.services.billing.web.api.CreateBillingInvoiceAPIController">
        <property name="billingService" ref="billingService"/>
    </bean>

    <bean id="touchNet" class="com.armedia.acm.services.billing.web.api.TouchNetAPIController">
        <property name="touchNetService" ref="touchNetService"/>
        <property name="billingService" ref="billingService"/>
        <property name="acmDataService" ref="acmDataService"/>
        <property name="notificationService" ref="notificationService"/>
        <property name="acmParticipantService" ref="acmParticipantService"/>
        <property name="personAssociationDao" ref="acmPersonAssociationDao"/>
        <property name="billingEventPublisher" ref="billingEventPublisher"/>
        <property name="billingInvoiceDao" ref="billingInvoiceDao"/>
        <property name="userInfoHelper" ref="userInfoHelper"/>
        <property name="templateManager" ref="correspondenceTemplateManager"/>
        <property name="auditPropertyEntityAdapter" ref="auditPropertyEntityAdapter"/>
    </bean>

</beans>