<div ng-controller="UploadManagerController">
    <div class="arkcase-snackbar" ng-show="!hideUploadSnackbar">
        <ul class="nav nav-main">
            <li>
                <i class="navigation-icon fa fa-refresh fa-spin fa-fw"></i>
                <span style="margin: 34px;" translate>Uploading...</span>
                <button class="btn btn-secondary color: #000000;" ng-click="onClickViewDetailsModal()">
                    <span translate>core.progressBar.viewDetails</span>
                </button>
            </li>
        </ul>
    </div>
</div>