<div class="user-info" ng-controller="UserInfoController">
    <div>
        <div class="user-pic pull-left">
            <img ng-src="{{imgSrc}}" fallback-err-src="modules/profile/img/nopic.png">
        </div>

        <div dropdown class="user-menu">
            <a href="#" dropdown-toggle>
                <strong>
                    <span class="fullname">
                        <user-name user="user"/>
                    </span>
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                </strong>
            </a>

            <ul class="dropdown-menu animated fadeInRight">
                <li ng-repeat="item in menu.items  | orderBy: 'position' ">
                    <a data-ui-sref="{{item.link}}" title="{{item.title | translate}}" class="auto" translate>
                        {{item.title}}
                    </a>
                </li>

                <li><a href="{{helpUrl}}" target="_blank" translate>core.userInfo.addedMenu.help</a></li>
                <li><a href="" ng-click="onClickLogout()" translate>core.userInfo.addedMenu.logout</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
