<div class="modal-header">
</div>
<div class="modal-body">
    <form name="warningForm">
        <div ng-bind-html="message"></div>
        <div class="checkbox">
            <label for="checkbox_warning"><input type="checkbox" id="checkbox_warning" required ng-model="temp"/>{{'core.loginWarning.checkbox_warning.label'
                | translate }}</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        <span translate>core.loginWarning.btnCancel.text</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()" ng-disabled="warningForm.$invalid">
        <span translate>core.loginWarning.btnOK.text</span>
    </button>
</div>
