<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="resetPasswordUiController" class="com.armedia.acm.auth.web.ResetPasswordUIController">
        <property name="ldapUserService" ref="ldapUserService"/>
        <property name="acmContextHolder" ref="acmContextHolder"/>
        <property name="passwordValidationService" ref="passwordValidationService"/>
    </bean>

    <bean id="forgotUsernamePasswordUiController" class="com.armedia.acm.auth.web.ForgotUsernamePasswordUIController">
        <property name="userDao" ref="userJpaDao"/>
    </bean>

    <bean id="getAuthProfileAPIController" class="com.armedia.acm.auth.okta.web.api.GetAuthProfileAPIController"/>

</beans>