<div class="modal-header">
    <h3 ng-hide="isEdit">
        <span translate>common.directive.corePeople.addresses.modal.addAddress</span>
    </h3>

    <h3 ng-show="isEdit">
        <span translate>common.directive.corePeople.addresses.modal.editAddress</span>
    </h3>

</div>
<div class="modal-body">
    <form name="addressesForm">
        <div>
            <label for="addressTypes" translate>common.directive.corePeople.addresses.modal.addressTypes.label</label>
        </div>
        <select id="addressTypes"
                ng-model="address.addressType"
                ng-options="item.type as item.name for item in address.addressTypes"></select>

        <div>
            <label for="streetAddress" translate>common.directive.corePeople.addresses.modal.street.label</label>
        </div>
        <input type="text" id="streetAddress" ng-model="address.streetAddress">

        <div>
            <label for="city" translate>common.directive.corePeople.addresses.modal.city.label</label>
        </div>
        <input type="text" id="city" ng-model="address.city">

        <div>
            <label for="state" translate>common.directive.corePeople.addresses.modal.state.label</label>
        </div>
        <input id="state" type="text" ng-model="address.state">

        <div>
            <label for="zip" translate>common.directive.corePeople.addresses.modal.zip.label</label>
        </div>
        <input id="zip" type="text" ng-model="address.zip">

        <div>
            <label for="country" translate>common.directive.corePeople.addresses.modal.country.label</label>
        </div>
        <input id="country" type="text" ng-model="address.country">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="onClickCancel()">
        <span translate>common.directive.corePeople.addresses.modal.btnCancel.text</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()" ng-disabled="addressesForm.$invalid">
        <span translate>common.directive.corePeople.addresses.modal.btnOk.text</span>
    </button>
</div>