<div class="modal-header">
    <h3 ng-hide="isEdit">
        <span translate>common.directive.corePeople.people.modal.addPeople</span>
    </h3>

    <h3 ng-show="isEdit">
        <span translate>common.directive.corePeople.people.modal.editPeople</span>
    </h3>

</div>
<div class="modal-body">
    <form name="peopleForm">
        <div>
            <label for="personTypes_{{::$id}}" translate>common.directive.corePeople.people.modal.personTypes.label</label>
        </div>
        <select ng-hide="isInitiator"
                id="personTypes_{{::$id}}"
                ng-model="person.personType"
                ng-options="item.type as item.name for item in person.personTypes"></select>

        <div>
            <label for="givenName_{{::$id}}" translate>common.directive.corePeople.people.modal.givenName.label</label>
        </div>
        <input id="givenName_{{::$id}}" type="text" ng-model="person.givenName">

        <div>
            <label for="familyName_{{::$id}}" translate>common.directive.corePeople.people.modal.familyName.label</label>
        </div>
        <input id="familyName_{{::$id}}" type="text" ng-model="person.familyName">

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        <span translate>common.directive.corePeople.people.modal.btnCancel.text</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()" ng-disabled="peopleForm.$invalid">
        <span translate>common.directive.corePeople.people.modal.btnOk.text</span>
    </button>
</div>