<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="getCostsheetAPIController" class="com.armedia.acm.services.costsheet.web.GetCostsheetAPIController">
		<property name="costsheetService" ref="costsheetService"/>
	</bean>
	
	<bean id="getCostsheetsAPIController" class="com.armedia.acm.services.costsheet.web.GetCostsheetsAPIController">
		<property name="costsheetService" ref="costsheetService"/>
	</bean>
	
	<bean id="getCostsheetsForUserAPIController" class="com.armedia.acm.services.costsheet.web.GetCostsheetsForUserAPIController">
		<property name="costsheetService" ref="costsheetService"/>
	</bean>
	
	<bean id="getCostsheetsForObjectIdAndTypeAPIController" class="com.armedia.acm.services.costsheet.web.GetCostsheetsForObjectIdAndTypeAPIController">
		<property name="costsheetService" ref="costsheetService"/>
	</bean>
	
	<bean id="saveCostsheetAPIController" class="com.armedia.acm.services.costsheet.web.SaveCostsheetAPIController">
		<property name="costsheetService" ref="costsheetService"/>
	</bean>

</beans>