<div ng-controller="Tasks.ParentInfoController">
    <div class="clearfix" ng-show="'CASE_FILE' == objectInfo.parentObjectType">
        <div class="row">
            <div class="col-xs-6">
                <h4><a ng-click="onClickTitle()">{{parentCaseInfo.title || "Unknown"}}</a> ({{parentCaseInfo.status}})
                </h4></div>
            <div class="col-xs-6  text-right">
                <h4>
                    <span>{{parentCaseInfo.caseNumber || 'common.value.unknown' | translate}}</span>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">{{parentCaseInfo.caseType || 'common.value.unknown' | translate}}</div>
                <small class="text-muted">
                    <span translate>tasks.comp.parentinfo.case.subjectType.label</span>
                </small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">{{parentCaseInfo.created | date: 'shortDate' }}</div>
                <small class="text-muted">
                    <span translate>tasks.comp.parentinfo.case.incidentDate.label</span>
                </small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">{{parentCaseInfo.priority || 'common.value.unknown' | translate}}</div>
                <small class="text-muted">
                    <span translate>tasks.comp.parentinfo.case.priority.label</span>
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <!--<div class="h4 font-bold">{{parentCaseInfo.creator || 'common.value.unknown' | translate}}</div>-->
                <div class="h4 font-bold">{{assignee | mapKeyValue: assignableUsers:'object_id_s':'name' ||
                    'Unknown'}}
                </div>
                <small class="text-muted">
                    <span translate>tasks.comp.parentinfo.case.assignee.label</span>
                </small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">{{owningGroup || 'common.value.unknown' | translate}}</div>
                <small class="text-muted">
                    <span translate>tasks.comp.parentinfo.case.owningGroup.label</span>
                </small>
            </div>
        </div>
    </div>

    <div class="clearfix" ng-show="'COMPLAINT' == objectInfo.parentObjectType">
        <div class="row">
            <div class="col-xs-6">
                <h4><a ng-click="onClickTitle()">{{parentComplaintInfo.complaintTitle || "Unknown"}}</a>
                    ({{parentComplaintInfo.status}})
                </h4>
            </div>
            <div class="col-xs-6  text-right">
                <h4>{{parentComplaintInfo.complaintNumber}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">{{parentComplaintInfo.complaintType || 'common.value.unknown' | translate}}</div>
                <small class="text-muted">
                    <span translate>tasks.comp.parentinfo.complaint.subjectType.label</span>
                </small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">{{parentComplaintInfo.incidentDate | date: 'shortDate' }}</div>
                <small class="text-muted">
                    <span translate>tasks.comp.parentinfo.complaint.incidentDate.label</span>
                </small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">{{parentComplaintInfo.priority || 'common.value.unknown' | translate}}</div>
                <small class="text-muted">
                    <span translate>tasks.comp.parentinfo.complaint.priority.label</span>
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <!--<div class="h4 font-bold">{{parentComplaintInfo.creator || 'common.value.unknown' | translate}}</div>-->
                <div class="h4 font-bold">{{assignee || 'common.value.unknown' | translate}}</div>
                <small class="text-muted">
                    <span translate>tasks.comp.parentinfo.complaint.assignee.label</span>
                </small>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="h4 font-bold">{{owningGroup || 'common.value.unknown' | translate}}</div>
                <small class="text-muted">
                    <span translate>tasks.comp.parentinfo.complaint.owningGroup.label</span>
                </small>
            </div>
        </div>
    </div>
    <div class="clearfix" ng-show="'COSTSHEET' == objectInfo.parentObjectType">
        <div class="row">
            <div class="col-xs-12">
                <h4><a ng-click="onClickTitle()">{{parentCostsheetInfo.title || "Unknown"}}</a>
                    ({{parentCostsheetInfo.status}})
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h4 class="font-bold"><small class="text-muted"><span translate>tasks.comp.parentinfo.costsheet.approver.label</span>
                </small> {{costsheetApprover || "Unknown"}}</h4>
            </div>
        </div>
    </div>

    <div class="clearfix" ng-show="'TIMESHEET' == objectInfo.parentObjectType">
        <div class="row">
            <div class="col-xs-6">
                <h4><a ng-click="onClickTitle()">{{parentTimesheetInfo.title || "Unknown"}}</a>
                    ({{parentTimesheetInfo.status}})
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h4 class="font-bold"><small class="text-muted"><span translate>tasks.comp.parentinfo.timesheet.approver.label</span>
                </small> {{timesheetApprover || "Unknown"}}</h4>
            </div>
        </div>
    </div>
</div>
</div>
