<search-modal header="{{'tasks.objectSearch.title' | translate}}"
              cancel="{{'tasks.objectSearch.cancelButton' | translate}}"
              ok="{{'tasks.objectSearch.confirmButton' | translate}}"
              search-placeholder="{{'tasks.objectSearch.search.placeholder' | translate}}"
              search="{{'tasks.objectSearch.search.btn' | translate}}"
              filter="{{filter}}"
              config="config"
              customization="customization"
              modal-instance="modalInstance"
/>
