<search-modal header="{{'tasks.comp.addreference.title' | translate}}"
              cancel="{{'tasks.comp.addreference.cancelButton' | translate}}"
              ok="{{'tasks.comp.addreference.confirmButton' | translate}}"
              search-placeholder="{{'tasks.comp.addreference.search.placeholder' | translate}}"
              search="{{'tasks.comp.addreference.search.btn' | translate}}"
              filter="{{filter}}"
              config="config"
              modal-instance="modalInstance"
/>
