<div ng-controller="Tasks.PastApprovalRoutingController">
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span> {{'tasks.comp.pastApprovals.title' | translate}}</span>
            </div>
        </div>
        <div class="panel-body">
            <div ui-grid="pastApprovers.GridOptions"
                 ui-grid-resize-columns
                 ui-grid-auto-resize
                 ui-grid-pagination
                 ui-grid-edit
                 ui-grid-cell-nav
                 adjust-table-height="pastApprovers.GridOptions.data.length"
                 class="grid">
            </div>
        </div>
    </div>
</div>