
<search-modal header="{{'tasks.userOrGroupSearch.title' | translate}}"
              cancel="{{'tasks.userOrGroupSearch.cancelButton' | translate}}"
              ok="{{'tasks.userOrGroupSearch.confirmButton' | translate}}"
              search-placeholder="{{'tasks.userOrGroupSearch.search.placeholder' | translate}}"
              search="{{'tasks.userOrGroupSearch.search.btn' | translate}}"
              filter="{{filter}}"
              extra-filter="{{extraFilter}}"
              config="config"
              modal-instance="modalInstance"
/>


