
<search-modal header="{{'tasks.owningGroupSearch.title' | translate}}"
              cancel="{{'tasks.owningGroupSearch.cancelButton' | translate}}"
              ok="{{'tasks.owningGroupSearch.confirmButton' | translate}}"
              search-placeholder="{{searchValue}}"
              search-query="{{searchValue}}"
              find-groups="{{findOwningGroups}}"
              search="{{'tasks.owningGroupSearch.search.btn' | translate}}"
              filter="{{filter}}"
              config="config"
              modal-instance="modalInstance"
/>


