<div ng-controller="People.ActionsController">
    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-sm btn-default" ng-click="export()">
                <span translate>people.comp.actions.export.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="import()">
                <span translate>people.comp.actions.import.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="delete()">
                <span translate>people.comp.actions.delete.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="activate()">
                <span translate>people.comp.actions.activate.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="deactivate()">
                <span translate>people.comp.actions.deactivate.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="merge()">
                <span translate>people.comp.actions.merge.button</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="refresh()">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
</div>
