<div class="modal-header">
    <h3 ng-hide="isEdit">
        <span translate>people.comp.related.modal.addAddress</span>
    </h3>

    <h3 ng-show="isEdit">
        <span translate>people.comp.related.modal.editAddress</span>
    </h3>
</div>
<div class="modal-body">
    <form name="addressForm">
        <div>
            <label for="addressTypes_{{::$id}}"
                   translate>people.comp.related.modal.type.label</label>
        </div>
        <select id="addressTypes_{{::$id}}"
                ng-model="address.type"
                ng-options="item.type as item.name for item in addressTypes"></select>
        <div>
            <label for="addressTypes_{{::$id}}"
                   translate>people.comp.related.modal.value.label</label>
        </div>
        <input id="phones_{{::$id}}" type="text" ng-model="address.value">
        <div>
            <p translate>people.comp.related.modal.setPrimary</p>
            <input type="radio" ng-model="isDefault" ng-value="true">
            <translate>people.comp.related.modal.yes</translate>
            <input type="radio" ng-model="isDefault" ng-value="false">
            <translate>people.comp.related.modal.no</translate>
        </div>
        <label for="addressDescription"/>
        <textarea id="addressDescription" ng-model="address.description"></textarea>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        <span translate>people.comp.related.modal.btnCancel.text</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()" ng-disabled="addressForm.$invalid">
        <span translate>people.comp.related.modal.btnOk.text</span>
    </button>
</div>