<div class="modal-header">
    <h3 ng-hide="isEdit">
        <span translate>people.comp.aliases.modal.addAlias</span>
    </h3>

    <h3 ng-show="isEdit">
        <span translate>people.comp.aliases.modal.editAlias</span>
    </h3>
</div>
<div class="modal-body">
    <form name="aliasForm">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="aliasValue" translate>people.comp.aliases.modal.aliasValue</label><span class="required-asterisk">*</span>
                <input id="aliasValue" class="input-md form-control" ng-model="alias.aliasValue" required="required"
                        placeholder="{{ 'people.comp.aliases.modal.value.placeholder' | translate }}">
            </div>
            <div class="col-sm-6 form-group">
                <label for="aliasType" translate>people.comp.aliases.modal.type</label><span class="required-asterisk">*</span>
                <select id="aliasType" class="input-md form-control" ng-model="alias.aliasType" required="required">
                    <option ng-repeat="option in aliasTypes" value="{{option.key}}">{{option.value | translate }}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label translate>people.comp.aliases.modal.setPrimary</label><span class="required-asterisk">*</span><br />
                <label>
                    <input type="radio" ng-model="isDefault" ng-value="true">
                    <translate>people.comp.aliases.modal.yes</translate>
                </label>
                <label ng-hide="hideNoField">
                    <input type="radio" ng-model="isDefault" ng-value="false">
                    <translate>people.comp.aliases.modal.no</translate>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="aliasDescription" translate>people.comp.aliases.modal.description</label>
                <textarea mentio mentio-typed-text="typedTerm" mentio-items="people | filter:label:typedTerm"
                          mentio-select="getMentionedUsers(item)" id="aliasDescription" class="input-md form-control" ng-model="alias.description"></textarea>

            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="onClickCancel()">
        <span translate>people.comp.aliases.modal.btnCancel.text</span>
    </button>
    <button class="btn btn-primary" ng-click="onClickOk()" ng-disabled="aliasForm.$invalid">
        <span translate>people.comp.aliases.modal.btnOk.text</span>
    </button>
</div>
