<div ng-controller="People.NewPersonController" class="module-content">
    <div class="content-body">
        <form name="personForm" ng-submit="save()">
            <div class="module-header">
                <h3><span translate>people.comp.editPerson.title</span></h3>
            </div>
            <div class="well-sm">
                <div class="row">
                    <div class="well-sm">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="submit" ng-disabled="personForm.$invalid || saved"
                                        class="btn btn-primary btn-sm" data-toggle="tooltip"
                                        id="saveButton" data-title="Save">
                                    <i class="fa fa-floppy-o"></i>
                                    <span translate> people.comp.editPerson.saveButton</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row well-sm">
                <div class="col-sm-4 form-group">
                    <label for="familyName" translate> people.comp.editPerson.familyName </label>
                    <input type="text" id="familyName" ng-model="person.familyName"
                           class="input-md form-control"
                           placeholder="{{ 'people.comp.editPerson.familyName.placeholder' | translate }}"
                           style="background-color: white;">
                </div>
                <div class="col-sm-4">
                    <label for="middleName" class="control-label">{{ 'people.comp.editPerson.middleName'
                        |
                        translate}}</label>
                    <input type="text" id="middleName" ng-model="person.middleName"
                           class="input-md form-control"
                           placeholder="{{ 'people.comp.editPerson.middleName.placeholder' | translate }}"
                           style="background-color: white;">
                </div>
                <div class="col-sm-4">
                    <label for="givenName" class="control-label">{{ 'people.comp.editPerson.givenName' |
                        translate}}</label>
                    <input type="text" id="givenName" ng-model="person.givenName"
                           class="input-md form-control"
                           placeholder="{{ 'people.comp.editPerson.givenName.placeholder' | translate }}">
                </div>
            </div>
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseIdentification" translate>
                                people.comp.editPerson.identification.title</a>
                        </h4>
                    </div>
                    <div id="collapseIdentification" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label translate> people.comp.editPerson.identification.identificationID</label>
                                    <input type="text" ng-model="person.defaultIdentification.identificationID"
                                           class="input-md form-control"
                                           placeholder="{{ 'people.comp.editPerson.identification.identificationID.placeholder' | translate }}">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label translate>
                                        people.comp.editPerson.identification.identificationNumber</label>
                                    <input type="text" ng-model="person.defaultIdentification.identificationNumber"
                                           class="input-md form-control"
                                           placeholder="{{ 'people.comp.editPerson.identification.identificationNumber.placeholder' | translate }}">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label translate>people.comp.editPerson.identification.identificationType</label>
                                    <select class="form-control"
                                            ng-model="person.defaultIdentification.identificationType">
                                        <option ng-repeat="option in identificationTypes" value="{{option.type}}">
                                            {{option.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label translate>
                                        people.comp.editPerson.identification.identificationIssuer</label>
                                    <input type="text" ng-model="person.defaultIdentification.identificationIssuer"
                                           class="input-md form-control"
                                           placeholder="{{ 'people.comp.editPerson.identification.identificationIssuer.placeholder' | translate }}">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label translate>
                                        people.comp.editPerson.identification.identificationYearIssued</label>
                                    <input type="text"
                                           ng-model="person.defaultIdentification.identificationYearIssued"
                                           class="input-md form-control"
                                           placeholder="{{ 'people.comp.editPerson.identification.identificationYearIssued.placeholder' | translate }}">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <div class="pull-left">
                                        <label class="control-label">&nbsp;</label>
                                        <button type="button" class="btn btn-link form-control"
                                                ng-click="addIdentification();"
                                                ng-show="person.identifications.length < 1">
                                            <i class="fa fa-plus text-success"></i><span
                                                translate>people.comp.editPerson.addAnother</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div ng-repeat="identification in person.identifications">
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <label translate> people.comp.editPerson.identification.identificationID</label>
                                        <input type="text" ng-model="identification.identificationID"
                                               class="input-md form-control"
                                               placeholder="{{ 'people.comp.editPerson.identification.identificationID.placeholder' | translate }}">
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label translate>
                                            people.comp.editPerson.identification.identificationNumber</label>
                                        <input type="text" ng-model="identification.identificationNumber"
                                               class="input-md form-control"
                                               placeholder="{{ 'people.comp.editPerson.identification.identificationNumber.placeholder' | translate }}">
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label translate>
                                            people.comp.editPerson.identification.identificationType</label>
                                        <input type="text" ng-model="identification.identificationType"
                                               class="input-md form-control"
                                               placeholder="{{ 'people.comp.editPerson.identification.identificationType.placeholder' | translate }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <label translate>
                                            people.comp.editPerson.identification.identificationIssuer</label>
                                        <input type="text" ng-model="identification.identificationIssuer"
                                               class="input-md form-control"
                                               placeholder="{{ 'people.comp.editPerson.identification.identificationIssuer.placeholder' | translate }}">
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <div>
                                            <label translate>
                                                people.comp.editPerson.identification.identificationYearIssued</label>
                                            <input type="text"
                                                   ng-model="identification.identificationYearIssued"
                                                   class="input-md form-control"
                                                   placeholder="{{ 'people.comp.editPerson.identification.identificationYearIssued.placeholder' | translate }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <div class="pull-left">
                                            <label class="control-label">&nbsp;</label>
                                            <button type="button" class="btn btn-link form-control"
                                                    ng-click="removeIdentification(identification)">
                                                <i class="fa fa-minus text-danger"></i><span translate>people.comp.editPerson.communicationAccounts.removeContactMethod</span>
                                            </button>
                                        </div>
                                        <div class="pull-left">
                                            <label class="control-label">&nbsp;</label>
                                            <button type="button" class="btn btn-link form-control"
                                                    ng-click="addIdentification();"
                                                    ng-show="$last">
                                                <i class="fa fa-plus text-success"></i><span
                                                    translate>people.comp.editPerson.addAnother</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapsePicture" translate>people.comp.editPerson.picture.title</a>
                    </h4>
                </div>
                <div id="collapsePicture" class="panel-collapse collapse">
                    <div class="panel-body">

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOrganizations" translate>people.comp.editPerson.organizations.title</a>
                    </h4>
                </div>
                <div id="collapseOrganizations" class="panel-collapse collapse">
                    <div class="panel-body">

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseLocations" translate>people.comp.editPerson.locations.title</a>
                    </h4>
                </div>
                <div id="collapseLocations" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label translate> people.comp.editPerson.locations.country</label>
                                <select class="form-control"
                                        ng-model="person.defaultAddress.country">
                                    <option ng-repeat="option in countries" value="{{option.code}}">
                                        {{option.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label translate> people.comp.editPerson.locations.type</label>
                                <select class="form-control"
                                        ng-model="person.defaultAddress.type">
                                    <option ng-repeat="option in addressTypes" value="{{option.type}}">
                                        {{option.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label translate>
                                    people.comp.editPerson.locations.streetAddress</label>
                                <input type="text" ng-model="person.defaultAddress.streetAddress"
                                       class="input-md form-control"
                                       placeholder="{{ 'people.comp.editPerson.locations.streetAddress.placeholder' | translate }}">
                            </div>
                            <div class="col-sm-4 form-group">
                                <label translate>
                                    people.comp.editPerson.locations.streetAddress2</label>
                                <input type="text" ng-model="person.defaultAddress.streetAddress2"
                                       class="input-md form-control"
                                       placeholder="{{ 'people.comp.editPerson.locations.streetAddress2.placeholder' | translate }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label translate>
                                    people.comp.editPerson.locations.city</label>
                                <input type="text" ng-model="person.defaultAddress.city"
                                       class="input-md form-control"
                                       placeholder="{{ 'people.comp.editPerson.locations.city.placeholder' | translate }}">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label translate>
                                    people.comp.editPerson.locations.state</label>
                                <input type="text" ng-model="person.defaultAddress.state"
                                       class="input-md form-control"
                                       placeholder="{{ 'people.comp.editPerson.locations.state.placeholder' | translate }}">
                            </div>
                            <div class="col-sm-1 form-group">
                                <label translate>
                                    people.comp.editPerson.locations.zip</label>
                                <input type="text" ng-model="person.defaultAddress.zip"
                                       class="input-md form-control"
                                       placeholder="{{ 'people.comp.editPerson.locations.zip.placeholder' | translate }}">
                            </div>
                            <div class="col-sm-4 form-group">
                                <div class="pull-left">
                                    <label class="control-label">&nbsp;</label>
                                    <button type="button" class="btn btn-link form-control"
                                            ng-click="addAddress();"
                                            ng-show="person.addresses.length < 1">
                                        <i class="fa fa-plus text-success"></i><span
                                            translate>people.comp.editPerson.addAnother</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div ng-repeat="address in person.addresses">
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label translate> people.comp.editPerson.locations.country</label>
                                    <select class="form-control"
                                            ng-model="address.country">
                                        <option ng-repeat="option in countries" value="{{option.code}}">
                                            {{option.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label translate> people.comp.editPerson.locations.type</label>
                                    <select class="form-control" ng-model="address.type">
                                        <option ng-repeat="option in addressTypes" value="{{option.type}}">
                                            {{option.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label translate>
                                        people.comp.editPerson.locations.streetAddress</label>
                                    <input type="text" ng-model="address.streetAddress"
                                           class="input-md form-control"
                                           placeholder="{{ 'people.comp.editPerson.locations.streetAddress.placeholder' | translate }}">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label translate>
                                        people.comp.editPerson.locations.streetAddress2</label>
                                    <input type="text" ng-model="address.streetAddress2"
                                           class="input-md form-control"
                                           placeholder="{{ 'people.comp.editPerson.locations.streetAddress2.placeholder' | translate }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label translate>
                                        people.comp.editPerson.locations.city</label>
                                    <input type="text" ng-model="address.city"
                                           class="input-md form-control"
                                           placeholder="{{ 'people.comp.editPerson.locations.city.placeholder' | translate }}">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label translate>
                                        people.comp.editPerson.locations.state</label>
                                    <input type="text" ng-model="address.state"
                                           class="input-md form-control"
                                           placeholder="{{ 'people.comp.editPerson.locations.state.placeholder' | translate }}">
                                </div>
                                <div class="col-sm-1 form-group">
                                    <label translate>
                                        people.comp.editPerson.locations.zip</label>
                                    <input type="text" ng-model="address.zip"
                                           class="input-md form-control"
                                           placeholder="{{ 'people.comp.editPerson.locations.zip.placeholder' | translate }}">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <div class="pull-left">
                                        <label class="control-label">&nbsp;</label>
                                        <button type="button" class="btn btn-link form-control"
                                                ng-click="removeAddress(address)">
                                            <i class="fa fa-minus text-danger"></i><span translate>people.comp.editPerson.remove</span>
                                        </button>
                                    </div>
                                    <div class="pull-left">
                                        <label class="control-label">&nbsp;</label>
                                        <button type="button" class="btn btn-link form-control"
                                                ng-click="addAddress();"
                                                ng-show="$last">
                                            <i class="fa fa-plus text-success"></i><span
                                                translate>people.comp.editPerson.addAnother</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseCommunicationAccounts"
                           translate>people.comp.editPerson.communicationAccounts.title</a>
                    </h4>
                </div>
                <div id="collapseCommunicationAccounts" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div ng-repeat="caType in communicationAccountsTypes">
                            <div id="defaultPhone" class="row">
                                <div class="col-sm-4">
                                    <label>
                                        {{'people.comp.editPerson.communicationAccounts.' + caType |
                                        translate}} </label>
                                    <input type="text"
                                           ng-model="person['default'+capitalizeFirstLetter(caType)].value"
                                           class="input-md form-control"
                                           placeholder="{{ 'people.comp.editPerson.communicationAccounts.' + caType + '.placeholder' | translate }}">
                                </div>
                                <div class="col-sm-4">
                                    <label for="defaultPhoneSubType" class="control-label">{{'people.comp.editPerson.communicationAccounts.'
                                        + caType + 'Type' | translate}}</label>
                                    <select id="defaultPhoneSubType" class="form-control"
                                            ng-model="person['default'+capitalizeFirstLetter(caType)].subType">
                                        <option ng-repeat="option in cmTypes[caType].subTypes" value="{{option.type}}">
                                            {{option.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <div class="pull-left">
                                        <label class="control-label">&nbsp;</label>
                                        <button type="button" class="btn btn-link form-control"
                                                ng-click="addContactMethod(caType);"
                                                ng-show="showAddAnotherContactMethod(caType)">
                                            <i class="fa fa-plus text-success"></i><span
                                                translate>people.comp.editPerson.addAnother</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="contactMethod in person.contactMethods | filter: {type:caType}"
                                 class="row">
                                <div class="col-sm-4">
                                    <label>
                                        {{'people.comp.editPerson.communicationAccounts.' + caType |
                                        translate}} </label>
                                    <input type="text" ng-model="contactMethod.value"
                                           class="input-md form-control"
                                           placeholder="{{ 'people.comp.editPerson.communicationAccounts.'+ caType +'.placeholder' | translate }}">
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">{{'people.comp.editPerson.communicationAccounts.' +
                                        caType + 'Type' | translate}}</label>
                                    <select ng-model="contactMethod.subType" class="form-control">
                                        <option ng-repeat="option in cmTypes[caType].subTypes" value="{{option.type}}">
                                            {{option.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <div class="pull-left">
                                        <label class="control-label">&nbsp;</label>
                                        <button type="button" class="btn btn-link form-control"
                                                ng-click="removeContactMethod(contactMethod)">
                                            <i class="fa fa-minus text-danger"></i><span translate>people.comp.editPerson.communicationAccounts.removeContactMethod</span>
                                        </button>
                                    </div>
                                    <div class="pull-left">
                                        <label class="control-label">&nbsp;</label>
                                        <button type="button" class="btn btn-link form-control"
                                                ng-click="addContactMethod(caType)"
                                                ng-show="$last">
                                            <i class="fa fa-plus text-success"></i><span
                                                translate>people.comp.editPerson.addAnother</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>