<div ng-controller="People.InfoController">
    <div class="clearfix">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img alt="Image" ng-src='api/latest/plugin/ecm/download?ecmFileId={{objectInfo.defaultPictureId}}'
                     ng-style="{ width : 200, height : 100 }">
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="row">
                    <div class="col-xs-6">
                        <h4><a href="#" editable-text="objectInfo.givenName" onaftersave="savePerson()"
                               permission="editCase" permission-properties="objectInfo" permission-action="disable">
                            {{objectInfo.givenName || "Unknown"}}</a>
                            ,<a href="#" editable-text="objectInfo.familyName" onaftersave="savePerson()"
                                permission="editCase" permission-properties="objectInfo" permission-action="disable">
                                {{objectInfo.familyName || "Unknown"}}</a></h4></div>
                    <div class="col-xs-6  text-right">
                        <h4>{{objectInfo.id}}</h4>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="h4 font-bold" ng-show="objectInfo.defaultPhone">
                            {{objectInfo.defaultPhone.value}}({{objectInfo.defaultPhone.subType}})
                        </div>
                        <small class="text-muted"><span translate>people.comp.info.phone.label</span></small>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="h4 font-bold">
                            {{objectInfo.organizations[0].name}}
                        </div>
                        <small class="text-muted"><span translate>people.comp.info.organization.label</span></small>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="h4 font-bold">
                            {{objectInfo.defaultIdentification.identificationNumber}}
                        </div>
                        <small class="text-muted"><span translate>people.comp.info.identification.label</span></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="h4 font-bold" ng-show="objectInfo.defaultEmail">
                            {{objectInfo.defaultEmail.value}}({{objectInfo.defaultEmail.subType}})
                        </div>
                        <small class="text-muted"><span translate>people.comp.info.email.label</span></small>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="h4 font-bold">
                            {{objectInfo.status}}
                        </div>
                        <small class="text-muted"><span translate>people.comp.info.status.label</span></small>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
