<div ng-controller="Person.PicturesController">
    <div class="row">
        <div class="btn-group pull-right">
            <button class="btn btn-sm btn-default" ng-disabled="disableBtnDelete()" ng-click="delete()">
                <i class="fa fa-bullhorn"></i>
                <span translate>people.comp.pictures.actions.delete</span>
            </button>
            <button class="btn btn-sm btn-default" ng-disabled="disableBtnSetPrimary()" ng-click="setPrimary()">
                <i class="fa fa-bullhorn"></i>
                <span translate>people.comp.pictures.actions.setPrimary</span>
            </button>
            <button class="btn btn-sm btn-default" ng-click="upload()">
                <i class="fa fa-bullhorn"></i>
                <span translate>people.comp.pictures.actions.upload</span>
            </button>
        </div>
    </div>
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span> {{'people.comp.pictures.title' | translate}}</span>
            </div>
        </div>
        <div class="panel-body">
            <div ui-grid="gridOptions"
                 ui-grid-resize-columns
                 ui-grid-auto-resize
                 ui-grid-pagination
                 ui-grid-edit
                 ui-grid-cell-nav
                 adjust-table-height="gridOptions.data.length"
                 ng-hide="gridOptions.noData"
                 class="grid">
            </div>
            <div class="alert" ng-if="gridOptions.noData">
                <p class="text-center">
                    <span>{{noDataMessage}}</span>
                </p>
            </div>
        </div>
    </div>
</div>