<div ng-controller="People.RelatedController">
    <div class="panel panel-success panel-grid">
        <div class="row">
            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" ng-click="delete()">
                    <span translate>people.comp.related.actions.delete</span>
                </button>
                <button class="btn btn-sm btn-default" ng-click="addPerson()">
                    <span translate>people.comp.related.actions.addPerson</span>
                </button>
            </div>
        </div>
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>people.comp.related.title</span>
            </div>
        </div>
        <div class="panel-body">
            <div ui-grid="gridOptions"
                 ui-grid-resize-columns
                 ui-grid-auto-resize
                 ui-grid-pagination
                 adjust-table-height="gridOptions.data.length"
                 class="grid">
            </div>
        </div>
    </div>
</div>
