<div ng-controller="Person.AliasesController">
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span> {{'people.comp.aliases.title' | translate}}</span>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs" ng-hide="isReadOnly(objectInfo)" ng-click="addNew()">
                        <i class="fa fa-lg fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div ui-grid="gridOptions"
                 ui-grid-resize-columns
                 ui-grid-auto-resize
                 ui-grid-pagination
                 adjust-table-height="gridOptions.data.length"
                 ng-hide="gridOptions.noData"
                 class="grid">
            </div>
        </div>
    </div>
</div>