<div class="modal-header">
    <h3 translate>common.directive.docTree.dndDialog.title</h3>
</div>
<div class="modal-body">
    <div>
        <label translate>common.directive.docTree.dndDialog.selFileTypes.label</label>
        <select ng-model="result.fileType" ng-options="item.key as item.value | translate for item in fileTypes">
            <option value="" translate>common.directive.docTree.dndDialog.optFileType.prompt</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="onClickCancel()" translate>
        common.directive.docTree.dndDialog.btnCancel.text
    </button>
    <button type="button" class="btn btn-primary" ng-click="onClickOk()" ng-disabled="disableOk()" translate>
        common.directive.docTree.dndDialog.btnOk.text
    </button>
</div>






