<div class="modal-header">
    <h3 translate>common.directive.docTree.emailDialog.title</h3>
</div>

<div>
    <search-modal config="config"
                  filter='"Object Type": USER'
                  search-control="searchControl"
                  on-items-selected="onItemsSelected"
            />
</div>

<div class="modal-footer">
    <label class="pull-left">
        <span translate>common.directive.docTree.emailDialog.recipients</span>
    </label>
    <textarea class="form-control input-md" ng-model="recipientsStr" ng-change="onChangeRecipients()"></textarea>
    <br/>
    <button type="button" class="btn btn-secondary" ng-click="onClickCancel()" translate>
        common.directive.docTree.emailDialog.btnCancel.text
    </button>
    <button type="button" class="btn btn-primary" ng-click="onClickOk()" ng-disabled="disableOk()" translate>
        common.directive.docTree.emailDialog.btnOk.text
    </button>
</div>

