<div class="modal-header">
    <h3 translate>common.directive.docTree.comment.title</h3>
</div>

<div class="modal-body">
    <!--<div>-->
        <!--<div class="form-group">-->
            <!--<button ngf-select="selectFiles($files)" translate-->
                    <!--class="btn btn-sm btn-default">common.directive.docTree.comment.chooseFiles-->
            <!--</button>-->
        <!--</div>-->
        <!--<ul>-->
            <!--<li ng-if="selectedFiles.length == 0" translate>common.directive.docTree.comment.noFiles</li>-->
            <!--<li ng-repeat="file in selectedFiles">{{file.name}}</li>-->
        <!--</ul>-->
    <!--</div>-->
    <form name="notesForm">
        <div>
            <span translate>common.directive.docTree.comment.addComent</span>
            <textarea ng-model="note.note" ng-required="isNoteRequired" class="form-control">

            </textarea>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="onClickCancel()" translate>
        common.directive.docTree.comment.btnCancel.text
    </button>
    <button type="button" class="btn btn-primary" ng-click="onClickOk()" translate
            ng-disabled="notesForm.$invalid">
        common.directive.docTree.comment.btnOk.text
    </button>
    <!--ng-disabled="notesForm.$invalid || selectedFiles.length == 0">-->
</div>

